<nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-1 addnewruleset_menu">
    <div class="navbar-header pull-left">
        <a class="navbar-brand" ng-click="noop()" title="RPGSmith">
            <span ng-click="gohome()" class="rpgs-navbar-brand"></span>
        </a>
    </div>


    <div class="navbar-header pull-right">
        <span>
            {{navService.topNav.header}}
        </span>
        <div class="btn-group" uib-dropdown is-open="status.isopen">

            <button id="single-button" type="button" class="btn btn-default" uib-dropdown-toggle ng-disabled="disabled">
                Account Settings
                <span class="fa fa-cog"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                <li role="menuitem">
                    <a href="#">
                        <img ng-src="{{data.ProfileImage}}" ng-style="newstyles(data)" class="img-resposive ng-pristine ng-untouched ng-valid ng-empty" ng-click="EditData()">
                        <span class="name" ng-click="EditData()"> <i class="fa fa-user"></i> {{data.Email}}</span>
                        <!--<div class="pull-left edit-character-portrait"><img id="characterImage" ng-model="character.file" alt="Character Image" ngf-thumbnail="getThumbNail()" ngf-resize="{width: 120, height: 120}" class="ng-pristine ng-untouched ng-valid ng-empty"></div>-->
                    </a>
                </li>
                <!--<li><a><div class="btn-group" data-toggle=""><label class="btn btn-primary"><input type="radio" ng-model="" value="On" />On</label> <label class="btn btn-default"><input type="radio" ng-model="" value="Off" />Off</label></div></a></li>-->
                <li class="divider"></li>
                <li role="menuitem"><a href="#" ng-click="ReSetPassword()"><i class="fa fa-key"></i> Change Password  </a></li>
                <li role="menuitem"><a href="#"><i class="fa fa-cc-diners-club"></i>Show Virtual Dice</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a href="#" ng-click="signout()"><i class="fa fa-sign-out"></i>Sign Out</a></li>
            </ul>
        </div>
       

    </div>

    <!--<p class="text-center email"><span class="">{{data.Email}}</span></p>-->
</nav>