<div class="page-characters">
    <header class="site-header">
        <div class="container-fluid">
            <div class="site-header-wrapper">
                <div class="site-header-left-section">
                    <!-- Logo -->
                    <div class="site-header-logo">
                        <div class="site-header-logo-small">
                            <img src="/wwwroot/css/assets/images/logo-small.svg" ng-click="gohome()" alt="Logo">
                        </div>
                        <div class="site-header-logo-full">
                            <img src="/wwwroot/css/assets/images/logo-full.svg" ng-click="gohome()" alt="Logo">
                        </div>
                    </div>
                    <!-- End of logo -->
                </div>

                <div class="site-header-right-section">
					<div class="site-header-user">
						<!-- Search -->
						<form class="site-header-search" action="./search-result.html">
							<i class="icon icon-search"></i>
							<input type="search" placeholder="Search items">
						</form>
						<!-- User -->
						<div class="site-header-user">
							<div class="site-header-user-avatar">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 102 102">
									<path d="M0,0V102H102V0ZM95,76,51,101,7,76V26L51,1,95,26Z"></path>
								</svg>
								<img style="border: none" ng-src="{{data.ProfileImage?data.ProfileImage:'http://www.advacto.com/images/user.jpg'}}" onerror="this.src='http://www.advacto.com/images/user.jpg'" />
							</div>
							<div ng-bind="data.UserName" class="site-header-user-name"></div>
						</div>
						<!--class="site-header-user-name"-->
						<!-- End of user -->
						<!-- Site navigation -->
						<nav class="site-header-navigation">
							<div class="dropdown hide" ng-click="siteNavigationMenuToggle($event)">
								<div class="dropdown-toggle" id="siteNavigationToggle" data-toggle="dropdown" ng-click="CharacterRulesetCount()">
									<div class="icon"></div>
								</div>
								<div class="dropdown-menu dropdown-menu-right hide" aria-labelledby="siteNavigationToggle">
									<ul class="dropdown-menu-list dropdown-menu-item-contain-links">
										<li class="dropdown-menu-item" ng-class="{active : activeMenu === 'Characters'}">
											<a class="dropdown-menu-item-link" href="./characters.html">
												<span class="dropdown-menu-item-title">Characters</span>
												<span class="dropdown-menu-item-count">{{HeaderContents.TotalCharactersCount}}</span>
											</a>
										</li>
										<li class="dropdown-menu-item" ng-class="{active : activeMenu === 'Rulesets'}">
											<a class="dropdown-menu-item-link" id="GetAllRuleSet" href="./RuleSets">
												<span class="dropdown-menu-item-title">Rulesets</span>
												<span class="dropdown-menu-item-count">{{HeaderContents.TotalRuleSetCount}}</span>
											</a>
										</li>
										<li class="dropdown-menu-item" ng-class="{active : activeMenu === 'AccountSettings'}" ng-click="AccountSettings()">
											<a class="dropdown-menu-item-link" href="#">
												<span class="dropdown-menu-item-title">Account Settings</span>
											</a>
										</li>
										<li class="dropdown-menu-item" ng-click="signout()">
											<a class="dropdown-menu-item-link" href="#">
												<span class="dropdown-menu-item-title">Logout</span>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
            </div>
        </div>
			</div>
    </header>
</div>

