<script type="text/ng-template" id="pageslide-menu-item.html">
        
    <span ng-if="!menu.divider && menu.header" style="color: white;"><!--
        --><i class="fa {{menu.icon}}" aria-hidden="true"></i>{{menu.name}}</span>

    <a ng-if="!menu.divider && !menu.header && !hasMenus(menu)" ng-click="onItemClick(menu)"><!--
        --><i class="fa {{menu.icon}}" aria-hidden="true"></i>{{menu.name}}</a>

    <a ng-if="!menu.divider && !menu.header && hasMenus(menu)" class="dropdown-toggle" uib-dropdown-toggle><!--
        --><i class="fa {{menu.icon}}" aria-hidden="true"></i>{{menu.name}} <b class="caret"></b></a>
    <ul class="dropdown-menu" uib-dropdown-menu ng-if="hasMenus(menu)"><!--
        --><li ng-repeat="menu in menu.menus" uib-dropdown ng-include="'pageslide-menu-item.html'"></li>
    </ul>

</script>

<div class="pageslide-left">
    <div class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li ng-repeat="menu in menus"
                uib-dropdown
                ng-class="{'dropdown-header': menu.header, 'divider': menu.divider}"
                ng-include="'pageslide-menu-item.html'"></li>
        </ul>
    </div>
</div>