<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1000000000" />
      </webServices>
    </scripting>
  </system.web.extensions>-->

  <configSections>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="owin:AutomaticAppStartup" value="true" />
    <add key="owin:appStartup" value="RPGSmith.Startup" />

    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="WebsiteDomain" value="http://rpgsmithapp.azurewebsites.net" />
    <add key="UserName" value="admin@RPGSmith.com" />
    <add key="TestEmail" value="gurraman.gill@hotmail.com" />
    <add key="mailServer" value="mail.privateemail.com" />
    
    <add key="mailAccount" value="admin@RPGSmith.com" />
    <add key="mailPassword" value="3verFullK3g" />
    <add key="GmailClientId" value="1081135792991-d1571hf385jpuhohsspc4jf4sej4ngn9.apps.googleusercontent.com" />
    <add key="GmailClientSecret" value="3K9lpPi8e6-b50g8uHxRnJOY" />
    <add key="FBClientId" value="123451961676055" />
    <add key="FBClientSecret" value="e4217d74b5dc872fe2030b3cab8cc52b" />
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.2" />
    <httpRuntime requestValidationMode="2.0" targetFramework="4.6.2" maxRequestLength="32768" executionTimeout="180" />
     <pages validateRequest="false">  </pages>
   </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <!--<add name="RPGSmithContext" connectionString="metadata=res://*/RPGSmith.csdl|res://*/RPGSmith.ssdl|res://*/RPGSmith.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=183.82.108.99;initial catalog=RPGSmith_Prod;User ID=sa;Password=Softroopa(*);MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionStrin--><!--g="data source=183.82.108.99;initial catalog=RPGSmith_Prod;persist security info=True;user id=sa;password=Softroopa(*);  Timeout=2000;" providerName="System.Data.SqlClient" />-->
    <!--<add name="RPGSmithContext" connectionString="metadata=res://*/RPGSmith.csdl|res://*/RPGSmith.ssdl|res://*/RPGSmith.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=183.82.108.99,49000;initial catalog=RPGSmith;User ID=sa;Password=Roopasoft1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
    <!--<add name="DefaultConnection" connectionString="data source=183.82.108.99,49000;initial catalog=RPGSmith;persist security info=True;user id=sa;password=Roopasoft1234;  Timeout=200;" providerName="System.Data.SqlClient" />-->
   
    <add name="RPGSmithContext" connectionString="metadata=res://*/RPGSmith.csdl|res://*/RPGSmith.ssdl|res://*/RPGSmith.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:rpgsmithsql.database.windows.net;initial catalog=RPGSmith;User ID=rpgsmithsa;Password=nh6t8OcDe5AYLj;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="data source=tcp:rpgsmithsql.database.windows.net;initial catalog=RPGSmith;User ID=rpgsmithsa;Password=nh6t8OcDe5AYLj;  Timeout=2000;" providerName="System.Data.SqlClient" />
   
    <!--
    <add name="RPGSmithContext" connectionString="metadata=res://*/RPGSmith.csdl|res://*/RPGSmith.ssdl|res://*/RPGSmith.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost\sqlexpress;initial catalog=RPGSmith;Trusted_Connection=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="data source=localhost\sqlexpress;initial catalog=RPGSmith;Trusted_Connection=True;Timeout=2000;" providerName="System.Data.SqlClient" />
     -->
    <!--<add name="DefaultConnection" connectionString="data source=183.82.108.99,49000;initial catalog=RPGSmith;persist security info=True;user id=sa;password=Roopasoft1234;  Timeout=200;" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
      <mimeMap fileExtension="pdf" mimeType="application/pdf" />
    </staticContent>
  <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800"></requestLimits>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="UrlRoutingHandler"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="RewriteRules" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            <add input="{REQUEST_URI}" pattern="^/(api)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>

  </system.webServer>
  
<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="52428800"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>