<div class="container-fluid login_page">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center rpgs-login">
                <div class="logo">
                    <img [src]="LogoImage" alt="logo">
                </div>
                <div class="login-form-1">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <form class="text-left" name="resetPasswordForm" #f="ngForm" 
                                (ngSubmit)="f.form.valid && resetPasswordModel.newPassword == resetPasswordModel.confirmPassword ? resetPassword() :
                                (!newpassword.valid && showErrorAlert('Password is required', 'Please enter a valid password'));
                                (!cpassword.valid && showErrorAlert('Confirm password is required', 'Please enter a valid password'));
                                ((cpassword.valid && resetPasswordModel.newPassword != resetPasswordModel.confirmPassword) && showErrorAlert('Confirm password mismatched', 'Please enter same as password'))">
                                <div class="main-login-form">
                                    <h4><i class="fa fa-pencil-square-o p-10"></i>&nbsp; Reset Password</h4>
                                    <div class="login-group">
                                        <div class="form-group has-feedback login-input">
                                            <div class="form-group has-feedback login-input" [ngClass]="{'has-success': f.submitted && newpassword.valid, 'has-error' : f.submitted && !newpassword.valid}">
                                                <input type="password" id="newpassword" name="newpassword" placeholder="Enter new password" class="form-control" [autofocus] [(ngModel)]="resetPasswordModel.newPassword" #newpassword="ngModel" required />
                                                <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': newpassword.valid, 'glyphicon-remove' : !newpassword.valid}" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                        <div class="form-group has-feedback login-input">
                                            <div class="form-group has-feedback login-input" [ngClass]="{'has-success': f.submitted && ((cpassword.valid || resetPasswordModel.newPassword == resetPasswordModel.confirmPassword)), 'has-error': f.submitted && (!cpassword.valid || resetPasswordModel.newPassword != resetPasswordModel.confirmPassword)}">
                                                <input class="form-control" type="password" id="cpassword" name="cpassword" placeholder="Enter confirm password"  [(ngModel)]="resetPasswordModel.confirmPassword" #cpassword="ngModel" required />
                                                <span *ngIf="(resetPasswordModel.confirmPassword != null) || f.submitted" class="glyphicon form-control-feedback" 
                                                [ngClass]="{'glyphicon-ok ': (cpassword.valid || resetPasswordModel.newPassword == resetPasswordModel.confirmPassword),
                                                    'glyphicon-remove' : (!cpassword.valid || resetPasswordModel.newPassword != resetPasswordModel.confirmPassword)}" 
                                                    aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="col-md-12 col-sm-12 btn-group-vertical">
                                    <button [routerLink]="['/login']" class="btn btn-block back-button pull-right">&nbsp;CANCEL</button>
                                    <button [disabled]="isLoading" class="btn btn-block update-button pull-right">&nbsp;UPDATE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

