<!DOCTYPE html>
<html>
<body>
    <div>
        <img src="http://demo.rpgsmith.com/images/logo.png">
    </div>
    <div style="box-shadow: 1px 1px 1px 1px #ecbaa0;padding:10px;margin-top:20px">
        <h1 style="margin-bottom:20px;margin-top:20px;color:#d25d23">Success!!</h1>
        <p>Email Confirmed Successfully! Now you can login to your account.</p>

        </p>
        <button type="button" style="width: 150px;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;background-color: #d35e3f;"><a href="www.google.com" style="text-decoration:none;color:#fff">Click here to login</a></button>
    </div>


</body>
</html>