.rpgs-login .login-input {
    visibility: visible;
    /*max-height: 30px;*/
}

.rpgs-login .login-form-1 .login-button {
    position: absolute;
    right: -25px;
    top: 50%;
    background: #ffffff;
    color: #999999;
    padding: 11px 0;
    width: 50px;
    height: 50px;
    margin-top: -25px;
    border: 5px solid #efefef;
    border-radius: 50%;
    transition: all ease-in-out 500ms;
    outline: 0;
    cursor:pointer;
}

.rpgs-login .main-login-form .fa {
    padding-right: 0px;
}

.rpgs-login .login-form-forgot {
    color: #919191;
    padding: 10px 0px;
}

.rpgs-login .login-form-forgot p {
    margin-bottom: 5px;
    display: block;
}

.rpgs-login .login-form-forgot p a {
    color: #aaaaaa;
    transition: all ease-in-out 200ms;
    cursor: pointer;
}

.rpgs-login .login-form-1 .form-control{
    border: 1px solid #fff;
    border-radius: 0.2em;
    background: #fff;
    padding: 7px;
}

.btn-group-vertical {
    width: 100%;
    display: block;
    height: auto;
}

/* Update */
.update-button {
    background-color: #da7c47;
    background-image: linear-gradient(#da7c47, #da7c47);
    text-shadow: 0 -1px 0 #da7c47;
    width: auto;
    font-size: 13px;
    text-align: -webkit-center;
    font-family: inherit;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 5px;
}

.update-button:hover,
.update-button:focus {
    background-color: #da611d;
    background-image: linear-gradient(#da611d, #da611d);
}

/* Update */
.back-button {
    background-color: #cccccc;
    background-image: linear-gradient(#cccccc, #cccccc);
    text-shadow: 0 -1px 0 #cccccc;
    width: auto;
    font-size: 13px;
    text-align: -webkit-center;
    font-family: inherit;
    color: #000000;
    border-radius: 5px;
    margin-right: 5px;
}

.back-button:hover,
.back-button:focus {
    background-color: #a5a2a2;
    background-image: linear-gradient(#a5a2a2, #a5a2a2);
}

.loginBtn {
    padding: 0 1px 0 1px;
}

.rpgs-login .etc-login-form p {
    display: block;
}

.rpgs-login a {
    color: #aaaaaa;
    transition: all ease-in-out 200ms;
}

.rpgs-login a:hover {
    color: #333333;
    text-decoration: none;
}

.rpgs-login .etc-login-form {
    color: #919191;
    padding: 10px 0px;
}

.rpgs-login .etc-login-form p {
    margin-bottom: 5px;
}

.rpgs-login .login-form-1 {
    max-width: 375px;
    width: 100%;
    border-radius: 3px;
    display: inline-block;
}

.rpgs-login .main-login-form {
    position: relative;
}

.rpgs-login .main-login-form .fa {
    padding-right: 0px;
}

.rpgs-login .login-form-1 .form-control {
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
    background: transparent;
    color: #555555;
    padding: 7px 0;
    font-weight: bold;
    height: auto;
}

.rpgs-login .login-form-1 .form-control::-webkit-input-placeholder {
    color: #999999;
}

.rpgs-login .login-form-1 .form-control:-moz-placeholder,
.rpgs-login .login-form-1 .form-control::-moz-placeholder,
.rpgs-login .login-form-1 .form-control:-ms-input-placeholder {
    color: #999999;
}

.rpgs-login .register {
    visibility: hidden;
    overflow: hidden;
    max-height: 0;
    transition: max-height 500ms linear;
}

.rpgs-login .register.open {
    visibility: visible;
    max-height: 30px;
    /* approximate max height */
}

.rpgs-login .login-form-1 .form-group {
    margin-bottom: 0px;
    padding-right: 20px;
    position: relative;
    border-bottom: 2px solid #efefef;
}

.rpgs-login .login-form-1 .form-group:last-child {
    border-bottom: 0;
}

.rpgs-login .login-form-1 .state-3 .form-group {
    border-bottom: none;
}

.rpgs-login .login-form-1 .state-3 .register.open {
    max-height: 25px;
}

.rpgs-login .login-group {
    background: #ffffff;
    color: #999999;
    border-radius: 8px;
    padding: 10px 20px;
}


.rpgs-login label.form-invalid {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    display: block;
    margin-top: -25px;
    padding: 7px 9px;
    background: #777777;
    color: #ffffff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 11px;
}

.rpgs-login label.form-invalid:after {
    top: 100%;
    right: 10px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-top-color: #777777;
    border-width: 6px;
}

.rpgs-login .login-form-main-message {
    background: #ffffff;
    color: #999999;
    border-left: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 8px;
    font-weight: bold;
    height: 0;
    padding: 0 20px 0 17px;
    opacity: 0;
    transition: all ease-in-out 200ms;
}

.rpgs-login .login-form-main-message.show {
    height: auto;
    opacity: 1;
    padding: 10px 20px 10px 17px;
}

.rpgs-login .login-form-main-message.success {
    border-left-color: #2ecc71;
}

.rpgs-login .login-form-main-message.error {
    border-left-color: #e74c3c;
}

/* Shared */
.main-login-form .pt-20 {
    padding-top: 20px;
}

.main-login-form .forgot_button {
    position: relative;
    right: 29%;
    top: -28px;
}

.main-login-form .pt-20 button {
    box-shadow: 1px 1px 1px #ccc;
}

.main-login-form .socialicons .fa {
    color: #fff;
    float: left;
    font-size: 16px;
    margin-top: 0px;
    padding-top: 3px;
}

.main-login-form .account_image.open {
    max-height: 100% !important;
}

.main-login-form .account_image.open a {
    float: left;
}

.main-login-form .socialicons button {
    width: 49%;
}

.main-login-form .mt-20 {
    margin-top: 20px;
}
/*--------------------------------------------------------------------------*/
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.modal-title{
    font-size: 1.5em;
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-bottom-right-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
