<form name="tileForm" #f="ngForm" (ngSubmit)="f.form.valid && submitForm()">

  <div class="modal-header">
    <h5 class="modal-title" id="newNoteTilePopupTitle"> {{title}} </h5>
    <a href="https://rpgsmith.com/helpb/#b5i" class=" help-icon  icon icon-Gen-Help crsr-pointer" target="_blank"></a>
    <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close" (click)="close()"></button>
  </div>
  <div class="modal-body" *ngIf="!isLoading">

    <div class="form-row">
      <div class="col-12">
        <div class="form-group">
          <label for="newCommandTitle">Title</label>
          <input type="text" id="newCommandTitle" class="form-control" placeholder="Enter toggle title" [(ngModel)]="toggleTileFormModal.title" name="title">
        </div>
        <!-- End of command tile color -->
      </div>
      <div class="col-12">
        <!-- toggle tile -->
        <div class="form-row">
          <div class="col-12">
            <label class="labelcharstat" triggers="hover">Toggle</label>
          </div>
        </div>
        <div class="form-row mb-3">
          <div class="col-12 text-center">
            <div class="checkbox-design">
              <div class="toggle-checkbox">
                <label>
                  <!--<input type="radio" />-->
                  <input type="radio" id="display-yn" name="toggle" (click)="selectedToggle(tileToggleViewModel,'display')"
                         [checked]="tileToggleViewModel.display" />
                  <span></span>
                </label>
                <label>
                  <input [disabled]="true" type="radio" name="display" [checked]="true" (change)="setShowCheckbox(true)" />
                  <span class="display-option"></span>
                </label>
                <label>
                  <input [disabled]="true" type="radio" name="display" [checked]="false" (change)="setShowCheckbox(false)" />
                  <span class="display-option"></span>
                </label>
              </div>
              <label class="pl-2">
                <!--<input type="checkbox" />-->
                <input type="radio" id="yesno" name="toggle" (click)="selectedToggle(tileToggleViewModel,'yesno')"
                       [checked]="tileToggleViewModel.yesNo" />
                <span>&nbsp; Yes/No</span>
              </label>
              <label class="pl-2">
                <!--<input type="checkbox" />-->
                <input type="radio" id="onoffTile" name="toggle" (click)="selectedToggle(tileToggleViewModel,'onoff')"
                       [checked]="tileToggleViewModel.onOff" />
                <span>&nbsp; On/Off</span>
              </label>
              <label class="pl-2" (click)="showHidecustomFields()">
                <input type="radio" id="CustomInputField" name="toggle" (click)="selectedToggle(tileToggleViewModel,'custom')"
                       [checked]="tileToggleViewModel.isCustom" />
                <!--<input type="checkbox" />-->
                <span>&nbsp; Custom</span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-row justify-content-center" *ngIf="tileToggleViewModel.isCustom">
          <div class="col-12 col-sm-10 col-md-7">
            <div class="form-group input-counter">
              <div class="row" *ngFor="let ctoggle of tileToggleViewModel?.tileCustomToggles; let m=index">

                <div class="col-12 form-row form-group">
                  <div class="col-8">
                    <input type="text" [id]="'toggleText-'+m" [name]="'toggleText-'+m" class="form-control" placeholder="Add Text"
                           [(ngModel)]="ctoggle.toggleText" #toggleText="ngModel" [readonly]="ctoggle.image!==''">
                  </div>
                  <div class="col-4" style="display: inline-flex;">
                    <button *ngIf="!ctoggle.image" class="btn icon icon-Gen-Image btn-default big-icon" type="button" (click)="addToggleImage(ctoggle)"></button>
                    <img *ngIf="ctoggle.image" [src]="ctoggle.image" width="42" height="40" (click)="addToggleImage(ctoggle)" />
                    &nbsp;<button class="btn icon icon-Gen-Trash btn-default text-orange" *ngIf="m>1" type="button" (click)="removeToggle(ctoggle)"></button>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-row justify-content-center">
              <div class="col-12">
                <button type="button" class="btn btn-accent" (click)="addToggle(tileToggleViewModel.tileCustomToggles)">ADD TOGGLE</button>
              </div>
            </div>
          </div>
        </div>
        <!-- End of toggletile -->
      </div>
    </div>

    <!--Start Font Control-->
    <div class="form-group">
      <fieldset class="form-group input-switch input-switch-dual">
        <div class="row">
          <div class="col-12 col-sm-5 col-md-6">
            <legend>Font Size</legend>
            <ul class="input-switch-items">
              <li class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="show" [checked]="!isManual" (change)="setFontSizeType(false)" [value]="showTitle">
                  <span>Automatic</span>
                </label>
              </li>
              <li class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="show" [checked]="isManual" (change)="setFontSizeType(true)" [value]="!showTitle">
                  <span>Manual</span>
                </label>
              </li>
            </ul>
          </div>
          <div *ngIf="isManual" class="col-12 col-sm-6 mt-3 mt-sm-0 align-self-end">
            <div class="row font-control-wrap">
              <div class="d-flex font-size-width col-6 pl-0">
                <span class="mt-1 title-span">Title</span>
                <angular2-multiselect [id]="fontSizeTitle" [data]="fontOptions" [(ngModel)]="selectedFontSizeTitle" name="fontStyleTitle" [settings]="fontSettingsTitle">
                  <c-item id="Records">
                    <ng-template let-item="item">
                      <span class="associate-label-name">{{item.value}}</span>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
              </div>
              <div class="d-flex font-size-width col-6 pl-0">
                <span class="mt-1 body-span">Body</span>
                <angular2-multiselect [id]="fontSize" [data]="fontOptions" [(ngModel)]="selectedFontSize" name="fontStyle" [settings]="fontSettings">
                  <c-item id="Records">
                    <ng-template let-item="item">
                      <span class="associate-label-name">{{item.value}}</span>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <!--End Font Control-->

    <div class="form-row align-items-center">
      <div class="col-8 col-sm-8 col-lg-10 col-md-8">
        <fieldset class="form-group input-color w-100 mt-2 mb-1">
          <legend class="mb-0">Color</legend>
          <div class="row align-items-center">

            <div class="col-12 col-sm-9 col-md-8 col-lg-12">
              <ul class="input-color-items">
                <li class="form-check" *ngFor="let color of defaultColorList;let i = index">
                  <label class="form-check-label">
                    <input class="form-check-input" [checked]="color.selected" (click)="setdefaultColor(color,i)" id="color" name="color" type="checkbox">
                    <i class="icon" [ngStyle]="{'background-color': color.bodyBgColor, 'color': (color.bodyBgColor == '#FFFFFF') ? '#000000' : '#ffffff'}"
                       [ngClass]="(color.bodyBgColor == '#FFFFFF') ?'black-check':''"></i>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-group input-color w-100 mb-1">
          <div class="row align-items-center">
            <div class="col-12 col-sm-3 col-md-4">
              <legend class="mb-0"><small>Last Used</small></legend>
            </div>
            <div class="col-12 col-sm-9 col-md-8 col-lg-8">
              <ul class="input-color-items">
                <li class="form-check" *ngFor="let color of colorList;let i = index">
                  <label class="form-check-label">
                    <input type="checkbox" [checked]="color.selected" class="form-check-input" name="tilePresetColor" id="favColor" (click)="setColor(color,i)">
                    <i class="icon" [ngStyle]="{'background-color': color.bodyBgColor}"
                       [ngClass]="(color.bodyBgColor == '#FFFFFF') ?'black-check':''"></i>
                  </label>
                </li>


              </ul>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-4 col-sm-4 col-lg-2 col-md-4">
        <ul class="input-color-items mb-2">
          <li [ngClass]="shapeClass" class="d-block m-auto">
            <div class="tile">
              <span *ngIf="toggleTileFormModal.title" [ngStyle]="{'color': colorModel.titleTextColor, 'background-color': colorModel.titleBgColor,'border-bottom': (colorModel.titleBgColor==colorModel.bodyBgColor) ? '1px solid rgba(255,255,255,.5)':''}"
                    class="tile-title wraptext">Title Text</span>
              <div class="tile-body">
                <div [style.background-color]="colorModel.bodyBgColor">
                  <div class="d-block h-100 w-100" [ngStyle]="{'background-color': (selectedStatType==2 || tile==1)?'#fff':colorModel.bodyBgColor}">
                    <p class="" [ngStyle]="{'color': (selectedStatType==2 || tile==1)?'#000':colorModel.bodyTextColor}">
                      Body Text
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 mb-3">
        <div class="input-extend">
          <button type="button" class="btn btn-link-primary btn-underline" (click)="showMoreColorFields()"><span>{{showMoreLessColorText}}</span></button>
        </div>
      </div>
    </div>
    <div class="form-row" *ngIf="!showMoreLessColorToggle">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="titleBackgroundColor">Title Background</label>
          <span class="input-group-btn">
            <label class="form-check-label">
              <i class="icon input-color-custom" role="button" title="Select Color" data-toggle="tooltip"></i>
            </label>
            <button type="button" title="Select Color" data-toggle="tooltip" class="btn icon icon-color-picker btn-simple-primary">
              <input class="icon input-color-custom" type="color" [(ngModel)]="colorModel.titleBgColor" name="titleBgColor" id="titleBgColor" (change)="setColor(colorModel)" />
            </button>
          </span>
          <input type="text" id="titleBackgroundColor" class="form-control" placeholder="Select color" [(ngModel)]="colorModel.titleBgColor" name="titleBgColor" (change)="setColor(colorModel)">
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="titleTextColor">Title Text</label>
          <span class="input-group-btn">
            <button type="button" title="Select Color" data-toggle="tooltip" class="btn icon icon-color-picker btn-simple-primary">
              <input class="icon input-color-custom" type="color" [(ngModel)]="colorModel.titleTextColor" name="titleTextColor" id="titleTextColor" (change)="setColor(colorModel)" />
            </button>
          </span>
          <input type="text" id="titleTextColor" class="form-control" placeholder="Select color" [(ngModel)]="colorModel.titleTextColor" name="titleTextColor" (change)="setColor(colorModel)">
        </div>
      </div>
    </div>
    <div class="form-row" *ngIf="!showMoreLessColorToggle">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="bodyBackgroundColor">Body Background</label>
          <span class="input-group-btn">
            <button type="button" title="Select Color" data-toggle="tooltip" class="btn icon icon-color-picker btn-simple-primary">
              <input class="icon input-color-custom" type="color" [(ngModel)]="colorModel.bodyBgColor" name="bodyBgColor" id="bodyBgColor" (change)="setColor(colorModel)" />
            </button>
          </span>
          <input type="text" id="bodyBackgroundColor" class="form-control" placeholder="Select color" [(ngModel)]="colorModel.bodyBgColor" name="bodyBgColor" (change)="setColor(colorModel)">
        </div>
      </div>

      <div class="col-12 col-md-6" *ngIf="tile!==1">
        <div class="form-group">
          <label for="bodyTextColor">Body Text</label>
          <span class="input-group-btn">
            <button type="button" title="Select Color" data-toggle="tooltip" class="btn icon icon-color-picker btn-simple-primary">
              <input class="icon input-color-custom" type="color" [(ngModel)]="colorModel.bodyTextColor" name="bodyTextColor" id="bodyTextColor" (change)="setColor(colorModel)" />
            </button>
          </span>
          <input type="text" id="bodyTextColor" class="form-control" placeholder="Select color" [(ngModel)]="colorModel.bodyTextColor" name="bodyTextColor" (change)="setColor(colorModel)">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset class="form-group input-switch input-switch-dual">
          <legend>Shape</legend>
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" (change)="setShape(0)" [checked]="toggleTileFormModal.shape===0">
                <span>SQUARE</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" (change)="setShape(50)" [checked]="toggleTileFormModal.shape===50">
                <span>ROUNDED</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" (change)="setShape(100)" [checked]="toggleTileFormModal.shape===100">
                <span>CIRCLE</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </div>

    </div>

  </div>

  <app-loader [isLoading]="isLoading"></app-loader>

  <div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-simple-accent" (click)="close()">Cancel</button>
    <button type="submit" [disabled]="isLoading" class="btn btn-accent">Save</button>
  </div>
</form>
