<div class="page-characters">
    <div class="page-toolbar">
        <div class="container">
            <div class="page-toolbar-wrapper">
                <div class="page-toolbar-title">
                    <h1>Characters</h1>
                </div>
                <ul class="page-toolbar-actions">
                    <li>
                        <button type="button" class="btn icon icon-with-text icon-plus btn-primary" ng-click="newCharacter()">New Character</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End of toolbar -->
    <div class="characters">
        <!-- Character cards -->
        <div class="cards">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-2" ng-repeat="c in characters | orderBy: 'Name' track by $index">
                        <div class="card-wrapper">
                            <div class="card">
                                <div class="card-image">
                                    <img class="card-img-top" ng-src="{{c.Portrait?c.Portrait:'/wwwroot/images/not-available.jpg'}}" onerror="this.src='/wwwroot/images/not-available.jpg'" alt="{{c.Name}}" ng-click="selectCharacter(c)" />
                                    <div class="card-actions hide">
                                        <button type="button" title="Edit" data-toggle="tooltip"  data-action="edit" class="btn icon icon-pencil btn-simple-primary"  ng-click="editCharacter(c)"></button>
                                        <button type="button" title="Duplicate" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary" ng-click="copyCharacter(c)"></button>
                                        <button type="button" title="Delete" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary" ng-click="characterDelete(c)"></button>
                                        <button type="button" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary" ng-click="hideContextMenu($event)"></button>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h4 class="card-title" ng-click="selectCharacter(c)">{{c.Name}}</h4>
                                    <div class="card-actions-trigger">
                                        <button type="button" title="Manage" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary hide" ng-click="showContextMenu($event)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of character cards -->
    </div>

   
</div>

<toaster-container class="toaster_align" toaster-options="{'time-out':1000}"></toaster-container>

