<div class="container character_new">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span>{{character.Heading}}</span>
                    </h4>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="col-md-offset-3">
                <ng-form name="dlg" novalidate role="form">
                    <!--<div class="form-group input-group-lg">
                        <span class="help-block">Character Name</span>
                        <input type="hidden" value="character.id" ng-model="character.id" />
                        <input type="text" class="form-control" name="name" id="name" ng-model="character.name" required maxlength="20">
                    </div>-->
                    <div class="form-group">
                        <span class="help-block">Character Name <span class="errorColor">*</span></span>
                        <input type="text" class="form-control" name="name" id="name" ng-disabled="character.DisableCharacterName" ng-model="character.name" ng-class="{red: dlg.name.$dirty && dlg.name.$error.required}" required>
                    </div>
                    <div class="form-group input-group-lg">
                        <span class="help-block">Character Portrait</span>
                        <div class="clearfix">
                            <div class="pull-left edit-character-portrait"><img id="characterImage" ng-src="{{character.file}}" ng-model="character.file" alt="Character Image" ngf-thumbnail="getThumbNail()" ngf-resize="{width: 120, height: 120}" /></div>
                            <div class="profile_image"><span>Select</span><input type="file" onchange="angular.element(this).scope().characterImageUpload(this)" accept="x-png,gif,jpeg" ng-disabled="character.DisableImage" /> </div>
                            <!--<div class="profile_image">
                                <span>Select</span>
                                <input type="file" onchange="angular.element(this).scope().characterImageUpload(this)" ngf-pattern="'image/*'"  ngf-select   ngf-resize="{width: 120, height: 120, quality: 0.8, centerCrop: true}" ngf-fix-orientation="true" accept="x-png,gif,jpeg"  ng-model="file" />
                            </div>-->
                            <!--<div class="pull-left btn btn-default edit-character-portrait-button"
                            name="file"
                            ng-model="file"
                            ngf-select
                            ngf-resize="{width: 120, height: 120, quality: 0.8, centerCrop: true}"
                            ngf-fix-orientation="true"
                            ngf-pattern="'image/*'"
                            ngf-accept="'image/*'">Select</div>-->
                        </div>
                        <span class="help-block">120px by 120px</span>
                    </div>
                    <!--<div class="form-group">
                        <span class="help-block">Select RuleSet</span>
                        <div class="character_add">
                            <select class="form-control" ng-model="character.RulesetID" ng-options="item.Id as item.Name for item in RuleSets">
                                <option value="">Select RuleSet</option>
                            </select>
                            <span>Or</span>
                            <div class="add">
                                <a ng-click="addNewRuleSet()" ng-disabled="character.Button" class="btn btn-primary">Add RuleSet</a>
                            </div>
                        </div>
                    </div>-->
                    <div class="form-group">
                        <span class="help-block">Select RuleSet <span class="errorColor">*</span></span>
                        <div class="character_add">
                            <select name="ruleset" class="form-control" ng-disabled="character.DisableRulesetDdl" ng-model="character.RulesetID" ng-options="item.Id as item.Name for item in RuleSets" ng-class="{red: dlg.ruleset.$dirty && dlg.ruleset.$error.required}" required>
                                <option value="">Select RuleSet</option>
                            </select>
                            <span>Or</span>
                            <div class="add">
                                <a ng-click="addNewRuleSet()" ng-disabled="character.Button" class="btn btn-primary">Add RuleSet</a>
                            </div>
                        </div>
                    </div>
                </ng-form>
            </div>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <!--<button type="button" class="btn btn-primary" ng-click="save()">Save</button>-->
    <button type="button" class="btn btn-primary" ng-click="save()" ng-disabled="(dlg.$dirty && dlg.$invalid) || dlg.$pristine">Save</button>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-right'}" style=" left: 50%; position: fixed;"></toaster-container>
