<div class="page-character-dashboard" data-ng-init="onloadFun()">
    <div class="page-toolbar">
        <div class="container">
            <div ng-class="{'page-toolbar-wrapper-toggle-trigger' : true, 'd-none' : state.useOrEditMode}">
                <button type="button" id="showAction" class="btn icon icon-with-text icon-arrow-down btn-accent" ng-click="ToggleMenu($event)">Show actions</button>
            </div>
            <div ng-class="{'page-toolbar-wrapper' : true,'initial':true,'hide':true, 'd-none' : state.useOrEditMode}">
                <div class="page-toolbar-dropdowns">
                    <!-- Layout dropdown -->
                    <div class="dropdown">
                        <div class="dropdown-toggle" id="pageLayoutNavigationToggle" data-toggle="dropdown">
                            <span>Layout <em>{{selectedLayoutName}}</em></span>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="pageLayoutNavigationToggle">
                            <div class="dropdown-menu-add-item-trigger">
                                <button type="button" class="btn btn-accent btn-block" ng-click="layoutAdd()">New Layout</button>
                            </div>
                            <ul class="dropdown-menu-list dropdown-menu-item-contain-actions">
                                <li class="dropdown-menu-item active" ng-repeat="layout in Layouts">
                                    <span class="dropdown-menu-item-title" ng-click="layoutLoad(layout)">{{layout.Name}}</span>
                                    <div class="dropdown-menu-item-actions">
                                        <button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-simple-primary" ng-click="layoutRename($index,layout)"></button>
                                        <button type="button" title="Duplicate" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary" ng-click="layoutCopy($index,layout)"></button>
                                        <button type="button" title="Delete" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary" ng-click="layoutDelete($index,layout)"></button>
                                        <button type="button" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary"></button>
                                    </div>
                                    <div class="dropdown-menu-item-actions-trigger">
                                        <button type="button" title="Manage" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary" ng-click="showContextMenu($event)"></button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End of layout dropdown -->
                    <!-- Page dropdown -->
                    <div class="dropdown">
                        <div class="dropdown-toggle" id="pageLayoutNavigationToggle" data-toggle="dropdown">
                            <span>Page <em>{{selectedPageName}}</em></span>
                        </div>
                        <div class="dropdown-menu" aria-labelledby="pageLayoutNavigationToggle">
                            <div class="dropdown-menu-add-item-trigger">
                                <button type="button" class="btn btn-accent btn-block" ng-click="AddNewtab()">New Page</button>
                            </div>
                            <ul class="dropdown-menu-list dropdown-menu-item-contain-actions">
                                <li class="dropdown-menu-item" ng-repeat="tab in NewLayout.TabList track by $index" index="$index" ng-click="onTabSelected(tab,$index)">
                                    <span class="dropdown-menu-item-title">{{tab.TabName}}</span>
                                    <div class="dropdown-menu-item-actions">
                                        <button type="button" title="Edit" data-toggle="tooltip" ng-click="EditTab(tab)" class="btn icon icon-pencil btn-simple-primary"></button>
                                        <button type="button" title="Duplicate" data-toggle="tooltip" ng-click="CopyTab(tab)" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
                                        <button type="button" title="Delete" data-toggle="tooltip" ng-click="DeleteTab(tab)" class="btn icon icon-trash btn-simple-primary"></button>
                                        <button type="button" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary"></button>
                                    </div>
                                    <div class="dropdown-menu-item-actions-trigger">
                                        <button type="button" title="Manage" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary" ng-click="showContextMenu($event)"></button>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- End of page dropdown -->
                </div>

                <!-- Toolbar links -->
                <ul class="page-toolbar-links">
                    <li>
                        <a href="#" class="btn btn-link-primary" ng-click="ItemInventory()">Items</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-link-primary" ng-click="SpellInventory()">Spells</a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-link-primary" ng-click="AbilityInventory()">Abilities</a>
                    </li>
                </ul>
                <!-- End of toolbar links -->
                <!-- Toolbar actions -->
                <ul class="page-toolbar-actions">
                    <li>
                        <button type="button" id="manageTilesTrigger" class="btn btn-outline-primary" ng-click="ManageTiles()">Manage Tiles</button>
                    </li>
                    <li>
                        <button type="button" data-toggle="modal" data-target="#manageCoreStatsPopup" class="btn btn-outline-primary" ng-click="AddCorestatvalues()">Manage Core Stats</button>
                    </li>
                    <li>
                        <button type="button" data-toggle="modal" data-target="#dicePopup" class="btn icon icon-with-text icon-dice icon-rsi btn-primary" ng-click="ShowDice()">Dice</button>
                    </li>
                </ul>
                <!-- End of toolbar actions -->
            </div>

            <div ng-class="{'page-toolbar-wrapper' : true, 'manage' : true,'d-flex' : state.useOrEditMode}">
                <div class="page-toolbar-title">
                    <h1>Manage Tiles</h1>
                </div>


                <ul class="page-toolbar-actions">
                 
                    <li class="popup-new-tile-trigger tile-bubble-add" title="Add a new tile"
                         ng-class="{'show-bubble': state.tilesEditing && !state.tileDragging}" ng-click="ShowTiles()">
                        <i class="btn icon icon-plus btn-primary" aria-hidden="true"></i>
                    </li>
					<li class="popup-edit-ruleset remove tile-bubble-remove" title="Remove Page" droppable ng-class="{'show-bubble': state.tileDragging}"
						on-droppable-drop="onDeleteDrop(event,ui)"
						on-droppable-over="onDeleteOver(event,ui)" on-droppable-out="onDeleteOut(event)">
						<button type="button" data-toggle="modal" class="btn btn-primary" ng-class="{'show-bubble': state.tileDragging}" on-droppable-drop="onDeleteDrop(event,ui)" on-droppable-over="onDeleteOver(event,ui)" on-droppable-out="onDeleteOut(event)"></button>
						<i class="fa fa-trash-o fa-2x"></i>

					</li>
                    <!--<li class="tile-bubble-save" title="Save changes"
                         ng-class="{'show-bubble': state.tilesEditing}" ng-click="SaveLayout(NewLayout)">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                    </li>-->
                    <!--    <li class="popup-new-tile-trigger">
                           <button type="button" data-toggle="modal" class="btn icon icon-plus btn-primary" ng-class="{'show-bubble': state.tilesEditing && !state.tileDragging}" ng-click="ShowTiles()"></button>
                       </li>
                    <li class="popup-new-tile-trigger save">
                           <button type="button" data-toggle="modal" class="btn btn-primary" ng-class="{'show-bubble': state.tilesEditing && !state.tileDragging}" ng-click="SaveLayout(NewLayout)">
                               <i class="fa fa-floppy-o fa-2x"></i>
                           </button>
                       </li>
                       
                       <<li class="popup-new-tile-trigger remove">
                           <button type="button" data-toggle="modal" class="btn btn-primary" ng-class="{'show-bubble': state.tileDragging}" on-droppable-drop="onDeleteDrop(event,ui)" on-droppable-over="onDeleteOver(event,ui)" on-droppable-out="onDeleteOut(event)"></button>
                           <i class="fa fa-trash-o fa-2x"></i>

                       </li>-->
                    <li>
                        <button type="button" id="manageTilesDoneTrigger" class="btn btn-accent" ng-click="ManageTilesCompleted();SaveLayout(NewLayout);">Done</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
	
	
	<!--<div gridstack class="grid-stack">
		<div gridstack-item class="grid-stack-item"
			 data-gs-x="0" data-gs-y="0"
			 data-gs-width="4" data-gs-height="2">
			<div gridstack-item-content class="grid-stack-item-content"></div>
		</div>
		<div gridstack-item class="grid-stack-item"
			 data-gs-x="4" data-gs-y="0"
			 data-gs-width="4" data-gs-height="4">
			<div gridstack-item-content class="grid-stack-item-content"></div>
		</div>
	</div>-->


	<div class="container-fluid" tile-picker="tilePickerApi">
		<!--<div ng-repeat="tabs in NewLayout.TabList track by $index" ng-show="tabSet.index === $index">-->

		<div gridstack class="grid-stack" gs-lock-tiles="true" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
			<div gridstack-item style="overflow-y: hidden" ng-repeat="tab in NewLayout.TabList[selectedPageIndex].TileList track by $index"   ng-switch on="tab.TileTypeName" gs-item-id="tab.ClientObjectId"  class="grid-stack-item" gs-item-x="tab.X" gs-item-y="tab.Y" gs-item-width="tab.Width" gs-item-height="tab.Height">
				<div gridstack-item-content class="grid-stack-item-content" style="overflow-y: hidden">

				
				<!--<div  ng-click="EditNoteTile()"  ng-switch="Note" style="background-color: {{tab.Styles.titlebackgroundcolor}}; color:{{tab.Styles.titletextcolor}};">
					<span class="text_design"> 
					<span style="color:{{tab.Styles.titletextcolor}};">{{ tab.Value.Note.Name }}</span>
					</span>
				</div>
				<div style="color:black;" ng-switch="Note"  ng-bind-html="tab.Value.Note.Text" ng-click="ShowContent()">
				</div>
				
				<div ng-click="EditCounterTile()"  ng-switch="Counter" style="background-color: {{tab.Styles.titlebackgroundcolor}}; color:{{tab.Styles.titletextcolor}};">
					<span class="text_design">
						<span style="color:{{tab.Styles.titletextcolor}};">{{tab.Value.Counter.Name}}</span>
					
					</span>
				</div> 
				<div class="text_align" ng-switch="Counter">
					<p ng-click="ShowCounterValue()">{{ tab.Value.Counter.Value }}</p> 
					<div class="counter">
						<span><i class="fa fa-minus fa-2x" ng-click="Decrement()"></i></span>
						<span><i class="fa fa fa-refresh fa-2x" ng-click="Reset()"></i></span>
						<span><i class="fa fa-plus fa-2x" ng-click="Increment()"></i></span>
					</div>
				</div>
					<div class="btn"  ng-click="EditLinkTile()" ng-switch="Link" style="background-color: {{tab.Styles.titlebackgroundcolor}}"> 
					<span style="color:{{tab.Styles.titletextcolor}};">{{tab.Value.Link.Title}}</span>
					</div>
					<div class="text_align" style="text-align:center" ng-switch="Link"> 
					<img src="{{tab.Value.Link.SelectedPropertyValueImage}}" ng-style="newstyles()" class="img-resposive ng-pristine ng-untouched ng-valid ng-empty" ng-click="ShowAllContent()">
					</div>
					
					
					<div ng-click="EditNoteTile()" class="NoteTile" ng-switch="Command" style="background-color: {{tab.Styles.titlebackgroundcolor}}; color:{{tab.Styles.titletextcolor}};">
						<span class="text_design">
							<span style="color:{{tab.Styles.titletextcolor}};">{{ tab.Value.Command.Name }}</span>
						</span>
					</div>
					<div style="color:black;" ng-switch="Command" ng-bind-html="tab.Value.Command.Text" ng-click="ShowContent()">
					</div>

					<div ng-click="EditNoteTile()" class="NoteTile" ng-switch="Image" style="background-color: {{tab.Styles.titlebackgroundcolor}}; color:{{tab.Styles.titletextcolor}};">
						<span class="text_design">
							<span style="color:{{tab.Styles.titletextcolor}};">{{ tab.Value.Image.Name }}</span>
						</span>
					</div>
					<div style="color:black;" ng-switch="Image" ng-bind-html="tab.Value.Image.Text" ng-click="ShowContent()">
					</div>-->
						<rpgsmithnotetype gridstack-item-content ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: gray;color: white;box-shadow:{{tab.Styles.shadow}};" info="tab" useoredit=0 class="form_inline grid-stack-item-content"  ng-switch-when='Note' data-method="ctrlFn"></rpgsmithnotetype>

		<rpgsmithcountertype gridstack-item-content ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}};border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.bodybackgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" useoredit=0 class="form_inline grid-stack-item-content" ng-switch-when='Counter'></rpgsmithcountertype>
		<rpgsmithattributetype gridstack-item-content ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.bodybackgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" useoredit=0 class="form_inline grid-stack-item-content" ng-switch-when='Attribute'></rpgsmithattributetype>
		<rpgsmithlinktype gridstack-item-content ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.bodybackgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" useoredit=0 class="form_inline grid-stack-item-content" ng-switch-when='Link' fullscope="LinkExecuteTileContent"></rpgsmithlinktype>
		<rpgsmithexecutetype gridstack-item-content ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.bodybackgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" useoredit=0 class="form_inline grid-stack-item-content" ng-switch-when='Execute' fullscope="LinkExecuteTileContent"></rpgsmithexecutetype>
		<rpgsmithcommandtype gridstack-item-content ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.bodybackgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" useoredit=0 class="form_inline grid-stack-item-content" ng-switch-when='Command'></rpgsmithcommandtype>
		<rpgsmithimagetype gridstack-item-content ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.bodybackgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" useoredit=0 class="form_inline grid-stack-item-content" ng-switch-when='Image' fullscope="tabs.TileList"></rpgsmithimagetype>
					</div>
		</div>
		</div>
		
		<!--<div class="tile-bubble-remove" title="Remove Page" droppable
			 ng-class="{'show-bubble': state.tileDragging && state.tilesEditing}"
			 on-droppable-drop="onDeleteDrop(event,ui)"
			 on-droppable-over="onDeleteOver(event,ui)" on-droppable-out="onDeleteOut(event)">
			<i class="btn icon icon-trash btn-primary" aria-hidden="true"></i>
		</div>-->

	 </div>  
	<!-- End of tiles -->
</div>
<toaster-container class="toaster_align" toaster-options="{'time-out':5000}"></toaster-container>