<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .mt-20 {
            margin-top: 50px; 
            margin-bottom: 50px;
        }
        .mb-20 {
            margin-bottom: 20px;
        }
        .mt-20 {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="lead">Existing RuleSet</h4>
                </div>
                <div class="panel-body">
                        <a ng-href="http://localhost:5000/NewRuleSet" class="pull-right btn btn-primary btn-md">Add Rule Set</a>
                        <!--<button type="button" class="pull-right btn btn-primary btn-md" data-toggle="modal" data-target="#myModal"><i style="color:#fff;" class="fa fa-plus" ></i>&nbsp;Add RuleSet</button>-->
                        <div class="mt-20">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>SNO</th>
                                        <th>Name</th>
                                        <th>Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>---- No coreset Selected----</td>
                                        <td>---- No coreset Selected----</td>
                                    </tr>
                                </tbody>
                            </table>
                            <button type="button" class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Add New RuleSet</h4>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="text-center mt-20">Add RuleSet</h2>
                                        <div class="">
                                            <div class="form-group">

                                                <label class="control-label col-md-4">
                                                    Default Dice
                                                </label>
                                                <div class="col-md-8 mb-20">
                                                    <select class="form-control">
                                                        <option>Dice 1</option>
                                                        <option>Dice 2</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Weight Metric Label
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="number" min="0" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                        <h2 class="text-center">Core Stats</h2>
                                        <button type="button" class="col-md-offset-8 btn btn-primary btn-md" data-toggle="modal" data-target="#myModal"><i style="color:#fff;" class="fa fa-plus"></i>&nbsp;Add New CoreStats</button>
                                        <div class="col-md-12 mt-20">
                                            <p class="lead text-center">No CoreStats Available..</p>
                                            <table class="table table-bordered" style="display:none;">
                                                <thead>
                                                    <tr>
                                                        <th>SNO</th>
                                                        <th>Name</th>
                                                        <th>Type</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>---- No coreset Selected----</td>
                                                        <td>---- No coreset Selected----</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <button type="button" class="btn btn-default pull-right" ng-click="cancel()">Cancel</button>
                                        </div>
                                    </div>


                                </div>
                            </div>

                            <div class="modal fade" id="myModal" role="dialog">
                                <div class="modal-dialog">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add New CoreState</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Name
                                                </label>
                                                <div class="col-md-8 mb-20">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-4">
                                                    Type
                                                </label>
                                                <div class="col-md-8 mb-20">
                                                    <input type="text" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer" style="border-top:1px solid #fff;">
                                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--<div class="form-group">
                            <label class="control-label col-md-4">
                                Name
                            </label>
                            <div class="col-md-8 mb-20">
                                <input type="text" class="form-control" />
                            </div>
                        </div>-->
                            <div class="form-group">
                                <label class="control-label col-md-4">
                                    Type
                                </label>
                                <div class="col-md-8 mb-20">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer" style="border-top:1px solid #fff;">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>
</body>
</html>