

<div class="page-inventory itemproperty" ng-init="onloadFun()">
    <div class="page-toolbar">
        <div class="container">
			<div class="page-toolbar-wrapper">
				<div class="page-toolbar-title">
					<h1>Character Inventory</h1>
				</div>
				<button type="button" id="newItemTrigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn icon icon-with-text icon-plus btn-primary dropdown-toggle">New Item</button>
				<div class="dropdown-menu" aria-labelledby="siteNavigationToggle">
					<!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger">
				<ul class="dropdown-menu-list">
					<li class="dropdown-menu-item">
						<button type="button" data-toggle="modal" data-target="#addItemPopup" class="btn btn-accent">Add Item</button>
					</li>
					<li class="dropdown-menu-item">
						<button type="button" data-toggle="modal" data-target="#createItemPopup" class="btn btn-accent">Create Item</button>
					</li>
				</ul>
			</div>-->
					<ul class="dropdown-menu-list">
						<li class="dropdown-menu-item" ng-hide="true">

						</li>
						<li class="dropdown-menu-item">
							<button type="button" data-toggle="modal" style="width: 100%"  data-target="#createItemPopup" ng-click="AddRulesetItems()" class="btn btn-accent">Add Item</button>
						</li>
						<li class="dropdown-menu-item">
							<button type="button" data-toggle="modal" style="width: 100%" data-target="#addItemPopup" ng-click="CreateCharacterItem()" class="btn btn-accent">Create Item</button>
						</li>

					</ul>
				</div>

			</div>
        </div>
    </div>
    <!-- End of toolbar -->
    <!-- Inventory cards -->
    <div class="cards cards-inventory">
        <div class="container">

            <div ng-show="ShowItems">
                <div class="col-md-12">
                    <h3 class="text-center">No Items Added</h3>
                </div>
            </div>

            <div class="card-list" ng-show="ShowItem">
                <div class="card-wrapper" ng-repeat="item in NewItemInventory.CharacterItems">
                    <div class="card" data-href="#">
                        <div class="card-image">
                            <img class="card-img-top" ng-click="ShowAllItemProperties(item,$index)" ng-src="{{item.CharacterItemsProperties[1].Value.Image.image?item.CharacterItemsProperties[1].Value.Image.image:'/wwwroot/images/not-available.jpg'}}" alt="{{item.CharacterItemsProperties[0].Value.Text.value}}">
                            <div class="card-actions">
                                <button type="button" title="Edit" ng-click="EditItem(item,$index,1)" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-simple-primary"></button>
                                <button type="button" title="Duplicate" ng-click="CopyItem(item,$index,1)" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
                                <button type="button" title="Delete" ng-click="Removeitem(item,$index,1)" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary"></button>
                                <button type="button" title="Close" ng-click="hideConteextMenu($event)" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary"></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" ng-click="ShowAllItemProperties(item,$index)">{{item.CharacterItemsProperties[0].Value.Text.value}}</h4>
                            <div class="card-actions-trigger">
                                <button type="button" title="Manage" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary" ng-click="showContextMenu($event)"></button>
                            </div>
                            <ul class="item-properties">
                                <li class="item-property item-property-text rarity highlight" ng-if="(item.CharacterItemsProperties[6].Value.Choices.selectedchoice != undefined) && (item.CharacterItemsProperties[6].Value.Choices.selectedchoice != null) && (item.CharacterItemsProperties[6].Value.Choices.selectedchoice != '')">{{item.CharacterItemsProperties[6].Value.Choices.selectedchoice}} </li>
                                <li class="item-property item-property-text weight" ng-if="(item.CharacterItemsProperties[4].Value.Weight.value != undefined) && (item.CharacterItemsProperties[4].Value.Weight.value != null) && (item.CharacterItemsProperties[4].Value.Weight.value != '')">{{item.CharacterItemsProperties[4].Value.Weight.value}} {{item.CharacterItemsProperties[4].Value.Weight.units.selectedUnit}}</li>

                                <li ng-repeat="item in item.CharacterItemsProperties" ng-if="(item.TypeId==3 && item.Value.OnorOff.value == 'Yes') || ( item.TypeId == 4 && item.Value.YesOrNo.value == 'Yes')" class="item-property item-property-icon icon icon-rsi" ng-class="'icon-' + item.Name.toLowerCase()" title="{{item.Name}}" data-toggle="tooltip"></li>

                                <!--<li class="item-property item-property-icon icon icon-magical icon-rsi" title="Magical" data-toggle="tooltip"></li>
                                <li class="item-property item-property-icon icon icon-consumable icon-rsi" title="Consumable" data-toggle="tooltip"></li>-->

                            </ul>
                            <div class="item-stats">{{item.CharacterItemsProperties[2].Value.Text.value}}</div>
                            <div class="item-actions">
                                <!--<button type="button" class="btn btn-accent" ng-click="Removeitem(item,$index,1)">Drop</button>

                                <button type="button" class="btn btn-accent">Use</button>

                                <rpgsmithcontenttype info="value" ng-repeat="value in item.CharacterItemsProperties"></rpgsmithcontenttype>-->

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<toaster-container class="toaster_align" toaster-options="{'time-out':1000}"></toaster-container>
