<div gridstack class="grid-stack" options="stackOptions" on-change="onChange(event,ui)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
    <div gridstack-item ng-repeat="item in RulesetContent" ng-click="tileSelect(tab)" ng-class="getTileClass(tab)" ng-switch on="item.Name" class="grid-stack-item" gs-item="tile" gs-item-id="item.Id" gs-item-x="5" gs-item-y="5" data-gs-x="1" data-gs-y="1"
         gs-item-autopos="1"
         data-gs-width="4" data-gs-height="2" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">
       
                    <img ng-src="{{RulesetContent[1].Value.Image.image}}" class="img-resposive grid-stack-item-content" width="120" height="120" ng-switch-when='Image' />
                    <p class="form_inline grid-stack-item-content" ng-switch-when='Name'>{{item.Value.Text.value}}</p>
                    <p class="form_inline grid-stack-item-content" ng-switch-when='Stats'>Stats :{{item.Value.Text.value}}</p>
                    <p class="form_inline grid-stack-item-content" ng-switch-when='Visible Description'>Discription:{{item.Value.Text.value}}</p>
                    <p class="form_inline grid-stack-item-content" ng-switch-when='Weight'>Weight:{{item.Value.Weight.value}}</p>
                    <p class="form_inline grid-stack-item-content" ng-switch-when='Volume'>Volume:{{item.Value.Volume.depthvalue}} {{item.Value.Volume.heightvalue}} {{item.Value.Volume.lenghtvalue}}</p>
                    <p class="form_inline grid-stack-item-content" ng-switch-when='Rarity'>Rarity:{{item.Value.Choices.selectedchoice}}</p>
                    <p class="form_inline grid-stack-item-content" ng-switch-when='Tags'>Tags:{{item.Value.Text.value}}</p>
                </div>
                <!--<div class="grid-stack-item" ng-repeat="item in RulesetContent" gs-item-x="5" gs-item-y="5" data-gs-x="5" data-gs-y="5"data-gs-width="5" data-gs-height="5" gs-item-width="7" gs-item-height="7" gs-item-autopos="1" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)">

                        <p class="form_inline grid-stack-item-content">{{item.Value.Text.value}}</p>
                </div>-->

            </div>
<div class="buttons-align">
    <button class="btn btn-warning" style="width:100%;" ng-click="ShowTiles(RulesetContent)">
        <i class="fa fa-plus" aria-hidden="true"></i>
        ADD TILE
    </button>

</div>


<div gridstack class="grid-stack" options="stackOptions" on-change="onChange(event,ui)" on-drag-start="onDragStart(event,ui)" on-drag-stop="onDragStop(event,ui)" on-resize-start="onResizeStart(event,ui)" on-resize-stop="onResizeStop(event,ui)">
    <div gridstack-item ng-repeat="tab in RulesetContent" ng-click="tileSelect(tab)" ng-class="getTileClass(tab)" ng-switch on="tab.TileTypeName" class="grid-stack-item" gs-item="tile" gs-item-id="tab.TileId" gs-item-x="tab.X" gs-item-y="tab.Y"
         gs-item-width="tab.Width" gs-item-height="tab.Height" gs-item-autopos="1" on-item-added="onItemAdded(item)" on-item-removed="onItemRemoved(item)"
         data-gs-width="4" data-gs-height="2">
        <rpgsmithnotetype ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.backgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" class="form_inline grid-stack-item-content" ng-switch-when='Note' fullscope="tabs.TileList"></rpgsmithnotetype>
        <rpgsmithcountertype ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}};border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.backgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" class="form_inline grid-stack-item-content" ng-switch-when='Counter'></rpgsmithcountertype>
        <rpgsmithattributetype ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.backgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" class="form_inline grid-stack-item-content" ng-switch-when='Attribute'></rpgsmithattributetype>
        <rpgsmithlinktype ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.backgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" class="form_inline grid-stack-item-content" ng-switch-when='Link'></rpgsmithlinktype>
        <rpgsmithexecutetype ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.backgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" class="form_inline grid-stack-item-content" ng-switch-when='Execute' fullscope="tabs.TileList"></rpgsmithexecutetype>
        <rpgsmithcommandtype ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.backgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" class="form_inline grid-stack-item-content" ng-switch-when='Command'></rpgsmithcommandtype>
        <rpgsmithimagetype ng-style="" style="border: {{tab.Styles.width}} {{tab.Styles.style}} {{tab.Styles.color}}; border-radius: {{tab.Styles.radius}};background-color: {{tab.Styles.backgroundColor}};box-shadow:{{tab.Styles.shadow}};" info="tab" class="form_inline grid-stack-item-content" ng-switch-when='Image'></rpgsmithimagetype>
    </div>

</div>
<div class="tile-bubble-remove" title="Remove Page" droppable
    
     on-droppable-drop="onDeleteDrop(event,ui)"
     on-droppable-over="onDeleteOver(event,ui)" on-droppable-out="onDeleteOut(event)">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
</div>
<div class="tile-bubble-add" title="Add a new tile"
     ng-click="ShowTiles()">
    <i class="fa fa-plus" aria-hidden="true"></i>
</div>
<div class="tile-bubble-save" title="Save changes"
      ng-click="SaveLayout(NewLayout)">
    <i class="fa fa-floppy-o" aria-hidden="true"></i>
</div>
            <!--<script type="text/javascript">
                $(function () {
                    $('.grid-stack').gridstack();
                });
            </script>-->
