
<div class="page-inventory">
    <div class="page-toolbar">
        <div class="container">


            <div class="page-toolbar-wrapper">
                <div class="page-toolbar-title">
                    <h1>Ruleset Items</h1>
                </div>
                <ul class="page-toolbar-actions">
                    <li class="view-switch">
                        <div class="btn-group" role="group">
                            <button type="button" id="gridViewTrigger" class="btn icon icon-grid btn-primary selected" ng-click="GridViewTrigger($event)"></button>
                            <button type="button" id="listViewTrigger" class="btn icon icon-list btn-primary" ng-click="ListViewTrigger($event)"></button>
                        </div>
                    </li>
                    <!--<li>
                        <button type="button" ng-click="BackItem()" class="btn icon icon-with-text btn-primary">Back</button>
                    </li>-->
                    <li>
						<!--<div class="dropdown dropdown-buttons show" ng-click="CreateItem($event)">
							<div class="dropdown-toggle btn  btn-primary" id="siteNavigationToggle" data-toggle="dropdown" style="width:100%">
								<span class="icon icon-with-text icon-plus">CREATE ITEM</span>
							</div>
							
						</div>-->
						<button type="button" ng-click="CreateItem()" class="btn icon icon-with-text icon-plus btn-primary">Create Item</button>
                        <!--<button type="button" ng-click="CreateItem()" class="btn icon icon-with-text icon-plus btn-primary">New Item</button>-->
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="Itemlist">
        <div class="col-md-12">
            <h3 class="text-center">No Items Added</h3>
        </div>
    </div>
    <div class="cards cards-inventory" ng-show="list">
        <div class="container">
            <div class="card-list">
                <div class="card-wrapper" ng-repeat="item in RulesetItems">
                    <div class="card" data-href="#">
                        <div class="card-image">
							<img style="display: block" class="card-img-top" ng-click="ShowAllItemProperties($index)"  ng-src="{{item.ItemProperties[1].Value.Image.image?item.ItemProperties[1].Value.Image.image:'/wwwroot/images/not-available.jpg'}}" alt="{{item.ItemProperties[0].Value.Text.Value}}">
                            <div class="card-actions hide">
                                <button type="button" title="" data-toggle="tooltip" ng-click="EditItem(item,$index)" class="btn icon icon-pencil btn-simple-primary" data-original-title="Edit"></button>
                                <button type="button" title="" data-toggle="tooltip" ng-click="CopyItem(item,$index)" class="btn icon icon-copy icon-rsi btn-simple-primary" data-original-title="Duplicate"></button>
                                <button type="button" title="" data-toggle="tooltip" ng-click="Removeitem(item,$index)" class="btn icon icon-trash btn-simple-primary" data-original-title="Delete"></button>
                                <button type="button" title="" data-toggle="tooltip" class="btn icon icon-cross btn-simple-primary" data-original-title="Close" ng-click="hideConteextMenu($event)"></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" ng-click="ShowAllItemProperties($index)">{{item.ItemProperties[0].Value.Text.value}}</h4> 
                            <div class="card-actions-trigger">
                                <button type="button" title="" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary" data-original-title="Manage" ng-click="showContextMenu($event)"></button>
                            </div>
                            <ul class="item-properties">
                                <li class="item-property item-property-text rarity highlight">{{item.ItemProperties[2].Value.Text.value}}</li>
                                <li class="item-property item-property-text weight">{{item.ItemProperties[3].Value.Number.value}}</li>
                                <li class="item-property item-property-icon icon icon-magical icon-rsi" title="" data-toggle="tooltip" data-original-title="Magical"></li>
                                <li class="item-property item-property-icon icon icon-consumable icon-rsi" title="" data-toggle="tooltip" data-original-title="Consumable"></li>
                            </ul>
                            <div class="item-stats">{{item.ItemProperties[6].Value.Text.value}}</div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</div>
<toaster-container class="toaster_align" toaster-options="{'time-out':1000}"></toaster-container>