<!--<div class="container item_properties">
    <div class="row">
        <div class="well well-sm">
            <div class="">

                <button type="button" class="glyphicon glyphicon-th-list btn btn-default btn-sm" ng-click="showlist()">List</button>

                <button type="button" class="glyphicon glyphicon-th btn btn-default btn-sm" ng-click="showgrid()">Grid</button>
                <button type="button" class="btn btn-primary back" ng-click="BackItem()">Back</button>
                <button type="button" class="btn btn-primary" ng-click="CreateItem()">Create Item</button>

            </div>
        </div>
    </div>
    <div ng-show="Itemlist">
        <div class="col-md-12">
            <h3 class="text-center">No Items Added</h3>
        </div>
    </div>-->
<!--<div class="row" id="listview" ng-show="list">
    <div class="col-md-12 col-sm-12 table-responsive">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>IMAGE</th>
                    <th>NAME</th>
                    <th>Stats</th>
                    <th>DESCRIPTION</th>
                    <th>Quantity</th>
                    <th>ATTRIBUTES</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in RulesetItems">
                    <td ng-click="ShowAllItemProperties($index)">{{$index + 1}}</td>
                    <td ng-click="ShowAllItemProperties($index)"><img ng-src="{{item.ItemProperties[1].Value.Image.image}}" class="img-resposive" width="120" height="120" /></td>
                    <td ng-click="ShowAllItemProperties($index)">{{item.ItemProperties[0].Value.Text.value}}</td>
                    <td ng-click="ShowAllItemProperties($index)">{{item.ItemProperties[2].Value.Text.value}}</td>
                    <td ng-click="ShowAllItemProperties($index)">{{item.ItemProperties[9].Value.Text.value}}</td>
                    <td ng-click="ShowAllItemProperties($index)">{{item.ItemProperties[3].Value.Number.value}}</td>
                    <td ng-click="ShowAllItemProperties($index)">
                        <div class="icon_box">
                            <p style="width:104px;">
                                <span>{{item.ItemProperties[13].Name | limitTo: 2}}</span>
                                <span> {{item.ItemProperties[13].Value.YesOrNo.value | limitTo: 3}}</span>
                            </p>
                        </div>
                        <div class="icon_box"><span>{{item.ItemProperties[17].Value.YesOrNo.value | limitTo: 1}}</span></div>
                        <div class="icon_box"><span>M</span></div>

                    </td>

                    <td>
                        <div class="row items_button">
                            <button type="button" class="btn btn-primary" ng-click="EditItem(item,$index)"><i class="fa fa-edit"></i> EDIT</button>
                            <button type="button" class="btn btn-info" ng-click="CopyItem(item,$index)"><i class="fa fa-copy"></i>COPY</button>

                            <!--<img src="/wwwroot/images/brain.png" class="img_inline" />
                            <img src="/wwwroot/images/hand.png" class="img_inline" />-->
<!--<button type="button" class="btn btn-danger" ng-click="Removeitem(item)"><i class="fa fa-remove"></i>REMOVE</button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
</div>-->
<!--<div class="row" id="gridview" ng-show="grid">
    <div class="col-md-3 col-sm-6" ng-repeat="item in NewRuleSet.Items" ng-click="ShowAllItemProperties(item,$index)">
        <div class="card hovercard">
            <div class="" ng-click="ShowAllItemProperties(item,$index)">
                <img ng-src="{{item.ItemProperties[1].Value.Image.image}}" class="img-resposive" width="240" height="240" />
            </div>

            <div class="info">
                <div class="title">
                    <a target="_blank" href="#">{{item.ItemProperties[0].Value.Text.value}}</a>
                </div>
                <div class="desc">
                    {{item.ItemProperties[9].Value.Text.value}}
                </div>
            </div>

            <div class="bottom">

                    {{item.ItemProperties[13].Value.YesOrNo.value}}

                <a class="btn btn-danger btn-sm" rel="publisher"
                   href="#">
                    <i class="fa fa-google-plus"></i>
                    {{item.ItemProperties[17].Value.YesOrNo.value}}
                </a>
                <a class="btn btn-primary btn-sm" rel="publisher"
                   href="#">
                    <i class="fa fa-facebook"></i>
                    {{item.ItemProperties[13].Value.YesOrNo.value}}
                </a>-->
<!--<a class="btn btn-primary btn-xs" ng-click="EditItem(item,$index)">
                <i class="fa fa-edit"></i>
                <i class="fa fa-edit"></i>
                Edit
            </a>
            <a class="btn btn-info  btn-xs" ng-click="CopyItem(item,$index)">
                <i class="fa fa-copy"></i>
                Copy
            </a>
            <a class="btn btn-danger  btn-xs" ng-click="Removeitem(item)">
                <i class="fa fa-remove"></i>
                Remove
            </a>

        </div>
    </div>
</div>-->
<!--</div>-->

<!--<toaster-container></toaster-container>-->






<div class="page-inventory">
    <div class="page-toolbar">
        <div class="container">


            <div class="page-toolbar-wrapper">
                <div class="page-toolbar-title">
                    <h1>Ruleset Spells</h1>
                </div>
                <ul class="page-toolbar-actions">
                    <li class="view-switch">
                        <div class="btn-group" role="group">
                            <button type="button" id="gridViewTrigger" class="btn icon icon-grid btn-primary selected" ng-click="GridViewTrigger($event)"></button>
                            <button type="button" id="listViewTrigger" class="btn icon icon-list btn-primary" ng-click="ListViewTrigger($event)"></button>
                        </div>
                    </li>
                    <!--<li>
                        <button type="button" ng-click="BackSpell()" class="btn icon icon-with-text btn-primary">Back</button>
                    </li>-->
                    <li>
                        <button type="button" ng-click="CreateSpell()" class="btn icon icon-with-text icon-plus btn-primary">CREATE SPELL</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-show="Itemlist">
        <div class="col-md-12">
            <h3 class="text-center">No Spells Added</h3>
        </div>
    </div>
    <div class="cards cards-inventory" ng-show="list">
        <div class="container">
            <div class="card-list">
                <div class="card-wrapper" ng-repeat="spell in RulesetSpells">
                    <div class="card" data-href="#">
                        <div class="card-image">
                            <img class="card-img-top" ng-click="ShowAllSpellsContent($index)" ng-src="{{spell.SpellProperties[1].Value.Image.image?spell.SpellProperties[1].Value.Image.image:'/wwwroot/images/not-available.jpg'}}" alt="{{spell.SpellProperties[0].Value.Text.Value}}">
                            <div class="card-actions hide">
                                <button type="button" title="" data-toggle="tooltip" ng-click="EditSpell(spell,$index)" class="btn icon icon-pencil btn-simple-primary" data-original-title="Edit"></button>
                                <button type="button" title="" data-toggle="tooltip" ng-click="CopySpell(spell,$index)" class="btn icon icon-copy icon-rsi btn-simple-primary" data-original-title="Duplicate"></button>
                                <button type="button" title="" data-toggle="tooltip" ng-click="RemoveSpell(spell,$index)" class="btn icon icon-trash btn-simple-primary" data-original-title="Delete"></button>
                                <button type="button" title="" data-toggle="tooltip" class="btn icon icon-cross btn-simple-primary" data-original-title="Close" ng-click="hideConteextMenu($event)"></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" ng-click="ShowAllSpellsContent($index)">{{spell.SpellProperties[0].Value.Text.value}}</h4>
                            <div class="card-actions-trigger">
                                <button type="button" title="" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary" data-original-title="Manage" ng-click="showContextMenu($event)"></button>
                            </div>
                            <ul class="item-properties">
                                <li class="item-property item-property-text rarity highlight">{{spell.SpellProperties[2].Value.Text.value}}</li>
                                <li class="item-property item-property-text weight">{{spell.SpellProperties[3].Value.Number.value}}</li>
                                <li class="item-property item-property-icon icon icon-magical icon-rsi" title="" data-toggle="tooltip" data-original-title="Magical"></li>
                                <li class="item-property item-property-icon icon icon-consumable icon-rsi" title="" data-toggle="tooltip" data-original-title="Consumable"></li>
                            </ul>
                            <div class="item-stats">{{spell.SpellProperties[18].Value.Text.value}}</div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<toaster-container class="toaster_align" toaster-options="{'time-out':1000}"></toaster-container>