
<div class="page-rulesets">

    <div class="page-toolbar">
        <div class="container">
            <div class="page-toolbar-wrapper">
                <div class="page-toolbar-title">
                    <h1>Rulesets</h1>
                </div>
                <ul class="page-toolbar-actions">
                    <!--<li>
                        <button type="button"  class="btn btn-primary pull-right" ng-click="ImportRuleSet()"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp;   Import Ruleset</button>
                    </li>-->
					<li>
                       <div class="dropdown dropdown-buttons show"  ng-click="siteNavigationMenuToggle($event)" >
							<div class="dropdown-toggle btn  btn-primary" id="siteNavigationToggle" data-toggle="dropdown" style="width:100%">
								<span class="icon icon-with-text icon-plus">NEW RULE SET</span>
							</div>
							<div class="dropdown-menu" aria-labelledby="siteNavigationToggle">
								<!--<div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger">
									<ul class="dropdown-menu-list">
										<li class="dropdown-menu-item">
											<button type="button" data-toggle="modal" data-target="#addItemPopup" class="btn btn-accent">Add Item</button>
										</li>
										<li class="dropdown-menu-item">
											<button type="button" data-toggle="modal" data-target="#createItemPopup" class="btn btn-accent">Create Item</button>
										</li>
									</ul>
								</div>-->
								<ul class="dropdown-menu-list">
									<li class="dropdown-menu-item" ng-hide="true">

									</li>
									<li class="dropdown-menu-item">
										<button type="button" data-toggle="modal" data-target="#createItemPopup"   class="btn btn-accent">Add Rule Set</button>
									</li>
									<li class="dropdown-menu-item">
										<button type="button" data-toggle="modal" data-target="#addItemPopup" ng-click="RulesetGeneralSettings()" class="btn btn-accent">Create Rule Set</button>
									</li>
									<li class="dropdown-menu-item">
										<button type="button" data-toggle="modal" data-target="#createItemPopup" class="btn btn-accent">Import Rule Set</button>
									</li>


									<!--<li class="dropdown-menu-item" ng-click="RulesetGeneralSettings()">
										<a class="dropdown-menu-item-link"  id="AddRuleSet" >
											<span class="dropdown-menu-item-title">Create Rule Set</span>
										</a>
									</li>
									<li class="dropdown-menu-item" style="margin-left:0px">
										<a class="dropdown-menu-item-link" id="CopyRuleSet" href="./RuleSets">
											<span class="dropdown-menu-item-title">Copy Rule Set</span>
										</a>
									</li>
									<li class="dropdown-menu-item" style="margin-left:0px">
										<a class="dropdown-menu-item-link" id="ImportRuleSet" href="./RuleSets">
											<span class="dropdown-menu-item-title">Import Rule Set</span>
										</a>
									</li>-->

								</ul>
							</div>
						</div>
					</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End of toolbar -->
	<div class="rulesets">
        <!-- Ruleset cards -->
        <div class="cards">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-md-4 col-lg-2" ng-repeat="ruleset in RuleSets">
                        <div class="card-wrapper">
                            <div class="card" data-href="#" >
                                <div class="card-image" style="vertical-align: central; height: 80%">

										<img style="display: block" class="card-img-top" ng-src="{{ruleset.Rulesetproperty[2].Value.Image.image?ruleset.Rulesetproperty[2].Value.Image.image:'/wwwroot/images/not-available.jpg'}}" onerror="this.src='/wwwroot/images/not-available.jpg'" alt="{{ruleset.Name}}" ng-click="ManageRuleset(ruleset.Id)" />
										<div class="card-actions">
											<button type="button" title="Edit" data-toggle="tooltip" ng-click="EditGeneralSettings(ruleset.Id)" class="btn icon icon-pencil btn-simple-primary"></button>
											<button type="button" title="Duplicate" data-toggle="tooltip" ng-click="CopyRuleSet(ruleset)" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
											<button type="button" title="Delete" data-toggle="tooltip" ng-click="deleteRuleSet(ruleset,$index);" class="btn icon icon-trash btn-simple-primary"></button>
											<button type="button" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary" ng-click="hideConteextMenu($event)"></button>
										</div>

                                </div>
                                <div class="card-body" >
                                    <h4 class="card-title">{{ruleset.Name}}</h4>
                                    <div class="card-actions-trigger">
                                        <button type="button" title="Manage" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary" ng-click="showContextMenu($event)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of ruleset cards -->
    </div>

    <!-- New ruleset popup -->

    <!-- End of new ruleset popup -->
    <!-- New ruleset manage popup -->
    <div class="modal fade popup-new-ruleset-manage" id="newRulesetManagePopup" tabindex="-1" role="dialog" aria-labelledby="newRulesetManagePopupTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newRulesetManagePopupTitle">New Ruleset</h5>
                    <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close"></button>
                </div>
                <div class="modal-body">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="btn icon icon-with-text icon-external btn-accent">Manage Character Stats</a>
                        </li>
                        <li>
                            <a href="#" class="btn icon icon-with-text icon-external btn-accent">Manage Items</a>
                        </li>
                        <li>
                            <a href="#" class="btn icon icon-with-text icon-external btn-accent">Manage Spells</a>
                        </li>
                        <li>
                            <a href="#" class="btn icon icon-with-text icon-external btn-accent">Manage Abilities</a>
                        </li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-outline-accent">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of new ruleset manage popup -->
    <!-- Edit ruleset popup -->
    <div class="modal fade popup-edit-ruleset" id="editRulesetPopup" tabindex="-1" role="dialog" aria-labelledby="editRulesetPopupTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editRulesetPopupTitle">Edit Ruleset</h5>
                    <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-row">
                            <div class="col">
                                <!-- Character name -->
                                <div class="form-group">
                                    <label for="editRulesetCharacterName">Name (required)</label>
                                    <input type="text" id="editRulesetCharacterName" class="form-control" placeholder="Rule Set Name" value="Apocalypse World">
                                </div>
                                <!-- End of character name -->
                            </div>
                        </div>
						<div class="form-row">
							<div class="col">
								<!-- Ruleset description -->
								<div class="form-group">
									<label for="editRulesetCharacterName">Description</label>
									<input type="text" id="editRulesetCharacterName" class="form-control" placeholder="Description" value="rulesetDesc">
								</div>
								<!-- End of character name -->
							</div>
						</div>
                        <div class="form-row">
                            <div class="col">
                                <!-- Ruleset dice -->
                                <div class="form-group">
                                    <label for="editRulesetDice">Default Dice</label>
                                    <span class="input-group-btn">
                                        <button type="button" title="Show dice" data-toggle="tooltip" class="btn icon icon-dice icon-rsi btn-simple-primary"></button>
                                    </span>
                                    <input type="text" id="editRulesetDice" class="form-control" placeholder="Select dice" value="4d6">
                                </div>
                                <!-- End of ruleset dice -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-12 col-md-6">
                                <!-- Ruleset currency -->
                                <div class="form-group">
                                    <label for="editRulesetCurrency">Currency Label</label>
                                    <input type="text" id="editRulesetCurrency" class="form-control" placeholder="Currency Label">
                                </div>
                                <!-- End of ruleset currency -->
                                <!-- Ruleset weight -->
                                <div class="form-group">
                                    <label for="editRulesetWeightMetric">Weight Metric Label</label>
                                    <input type="text" id="editRulesetWeightMetric" class="form-control" placeholder="Weight Metric Label">
                                </div>
                                <!-- End of ruleset weight -->
                                <!-- Ruleset distance -->
                                <div class="form-group">
                                    <label for="editRulesetDistanceMetric">Distance Metric Label</label>
                                    <input type="text" id="editRulesetDistanceMetric" class="form-control" placeholder="Distance Metric Label">
                                </div>
                                <!-- End of ruleset distance -->
                            </div>
                            <div class="col-12 col-md-6">
                                <!-- Ruleset image -->
                                <div class="form-group input-image input-image-edit">
                                    <label for="editRulesetImage">Image</label>
                                    <div class="input-image-control-wrapper">
                                        <div class="input-image-view">
                                            <img src="./assets/images/rulesets/apocalypse-world.jpg">
                                            <i class="icon icon-pencil"></i>
                                        </div>
                                        <input type="file" id="editRulesetImage" class="form-control-file">
                                    </div>
                                </div>
                                <!-- End of ruleset image -->
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <div class="icon icon-with-text icon-external">Manage <a href="#">Character Stats</a>, <a href="#">Items</a>, <a href="#">Spells</a> and <a href="#">Abilities</a>.</div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-simple-accent">Cancel</button>
                    <button type="button" class="btn btn-accent">Save</button>
                </div>
            </div>
        </div>
    </div>
    </div>
<toaster-container class="toaster_align" toaster-options="{'position-class': 'toast-top-center','time-out':'5000'}" style="top: 5%;left: -5%;opacity: 100 ;position: fixed;"></toaster-container>
