<!-- Mobile Search -->
<div class="container-fluid">
	<form class="site-phone-search" action="./search-result.html">
		<i class="icon icon-search"></i>
		<input type="search" placeholder="Search">
	</form>
</div>
<!-- End of mobile Search -->
<!-- Toolbar -->
<div class="page-toolbar">
	<div class="container">
		<div class="page-toolbar-wrapper">
			<div class="page-toolbar-title">
				<a href="./Items?RuleSetId={{RulesetContent.ItemProperties[1].Id}}" class="icon icon-back"></a>
				<h1>Item Details</h1>
			</div>
			<!-- Toolbar actions -->
			<ul class="page-toolbar-actions">
				<li>
					<button type="button" id="manageTilesTrigger" class="btn btn-outline-primary">Manage Tiles</button>
				</li>
				<li>
					<!-- Manage item -->
					<div class="dropdown dropdown-buttons">
						<button type="button" id="manageItemTrigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle">Manage Item</button>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger">
							<ul class="dropdown-menu-list">
								<li class="dropdown-menu-item">
									<button type="button" ng-click="EditItem(RulesetContent)" class="btn icon icon-with-text icon-pencil btn-accent">Edit</button>
								</li>
								<li class="dropdown-menu-item" >
									<button type="button" ng-click="CopyItem(RulesetContent)" class="btn icon icon-with-text icon-copy icon-rsi btn-accent">Duplicate</button>
								</li>
								<li class="dropdown-menu-item">
									<button type="button" ng-click="Removeitem(RulesetContent)" class="btn icon icon-with-text icon-trash btn-accent">Delete</button>
								</li>
							</ul>
						</div>
					</div>
					<!-- Manage item -->
				</li>
			</ul>
			<!-- End of toolbar actions -->
		</div>
	</div>
</div>
<!-- End of toolbar -->
<!-- Item info -->
<div class="page-item-details">
	<div class="container">
		<div class="item-info-wrapper">
			<div class="item-info-top-section">
				<div class="row">
					<div class="col">
						<div class="item-info-banner">
							<!-- Item image -->
							<div class="item-info-image">
								<img ng-src="{{RulesetContent.ItemProperties[1].Value.Image.image}}">
							</div>
							<!-- End of item image -->
							<!-- Item name -->
							<h2 class="item-info-name">
								{{RulesetContent.ItemProperties[0].Value.Text.value}}
							</h2>
							<!-- End of item name -->
							<div class="item-info-props-indics">
								<!-- Item properties -->
								<ul class="item-info-props">
									<li></li>
									<li>{{RulesetContent.ItemProperties[9].Value.Number.value}}</li>
									<li>{{RulesetContent.ItemProperties[4].Value.Weight.value + " "+RulesetContent.ItemProperties[4].Value.Weight.units.selectedUnit}}</li>
									<li>1.75 x 0.5 x 0.6 feet</li>
								</ul>
								<!-- End of item properties -->
								<!-- Item indicators -->
								<ul class="item-info-indics">
									<li>
										<i class="icon icon-rsi icon-visible"></i>
									</li>
									<li>
										<i class="icon icon-rsi icon-magical"></i>
									</li>
									<li>
										<i class="icon icon-rsi icon-consumable"></i>
									</li>
								</ul>
								<!-- End of item indicators -->
							</div>
						</div>
						<!-- Item actions -->
						<ul class="item-info-actions">
							<li>
								<button type="button" class="btn btn-accent">Equip</button>
							</li>
							<li>
								<button type="button" class="btn btn-accent">Drop</button>
							</li>
							<li>
								<button type="button" class="btn btn-accent">Use</button>
							</li>
						</ul>
						<!-- End of item actions -->
					</div>
				</div>
			</div>
			<div class="item-info-bottom-section">
				<div class="row">
					<div class="col-12 col-md-6">
						<!-- Item command -->
						<div class="item-info-command">
							<h3>Command</h3>
							<p>{{RulesetContent.ItemProperties[8].Value.DefaultDice.value}}</p>
						</div>
						<!-- End of item command -->
					</div>
					<div class="col-12 col-md-6">
						<!-- Item stats -->
						<div class="item-info-stats">
							<h3>Stats</h3>
							<p>{{RulesetContent.ItemProperties[2].Value.Text.value}}</p>
						</div>
						<!-- End of item stats -->
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<!-- Item description -->
						<div class="item-info-desc">
							<h3>Description</h3>
							<p>{{RulesetContent.ItemProperties[7].Value.Text.value}}</p>
						</div>
						<!-- End of item description -->
					</div>
					<div class="col-12 col-md-6">
						<!-- Item tags -->
						<div class="item-info-tags">
							<h3>Tags</h3>
							<p>{{RulesetContent.ItemProperties[16].Value.Text.value}}</p>
						</div>
						<!-- End of item tags -->
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-6">
						<!-- Item spells -->
						<div class="item-info-spells">
							<h3>Spells</h3>
							<div class="form-group output-list output-list-wrap">
								<ul class="output-list-items" ng-repeat="associatedSpell in RulesetContent.AssociatedSpells">
									<li class="output-list-item">
										<div>
											<img src="wwwroot/css/assets/images/spells/command.jpg" alt="Command">
											<span>{{associatedSpell.SpellProperties[0].Value.Text.value}}</span>
										</div>
									</li>
								</ul>
								<div class="input-extend" ng-show="RulesetContent.AssociatedSpells.length > 10">
									<button type="button" class="btn icon icon-with-text icon-arrow-down btn-link-primary"><span>Show more</span></button>
								</div>
							</div>
						</div>
						<!-- End of item spells -->
					</div>
					<div class="col-12 col-md-6">
						<!-- Item abilities -->
						<div class="item-info-abils">
							<h3>Abilities</h3>
							<div class="form-group output-list output-list-wrap">
								<ul class="output-list-items" ng-repeat="associatedAbility in RulesetContent.AssociatedAbilities">
									<li class="output-list-item">
										<div>
											<img src="{{associatedAbility.AbilityProperties[0].Value.Image.image}}" alt="{{associatedAbility.AbilityProperties[0].Value.Text.value}}">
											<span>{{associatedAbility.AbilityProperties[0].Value.Text.value}}</span>
										</div>
									</li>
									
								</ul>
								<div class="input-extend" ng-show="RulesetContent.AssociatedAbilities.length > 10">
									<button type="button" class="btn icon icon-with-text icon-arrow-down btn-link-primary"><span>Show more</span></button>
								</div>
							</div>
						</div>
						<!-- End of item abilities -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- End of item info -->
<!-- Item tiles -->
<div class="item-tiles">
	<div class="container">
		<div class="tiles">
			<!-- Apperance tile -->
			<div class="tile-group tile-group-apperance">
				<div class="tile tile-type-note tile-color-3">
					<h5 class="tile-title">Apperance</h5>
					<div class="tile-body">
						<div><p>Design is not just what it looks like and feels like. Design is how it works.</p><p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p><p>Pictures, abstract symbols, materials, and colors are among the ingredients with which a designer or engineer works. To design is to discover relationships and to make arrangements and rearrangements among these ingredients.</p><p>Design must be functional, and functionality must be translated into visual aesthetics without any reliance on gimmicks that have to be explained.</p></div>
					</div>
					<div class="tile-actions">
						<button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-primary"></button>
						<button type="button" title="Resize" data-toggle="tooltip" data-action="resize-left" class="btn icon icon-arrow-resize btn-primary"></button>
						<button type="button" title="Resize" data-toggle="tooltip" data-action="resize-right" class="btn icon icon-arrow-resize btn-primary"></button>
					</div>
				</div>
			</div>
			<!-- End of apperance tile -->
			<!-- Background Story tile -->
			<div class="tile-group tile-group-bg_story">
				<div class="tile tile-type-note tile-color-6">
					<h5 class="tile-title">Background Story</h5>
					<div class="tile-body">
						<div><p>Design is a way of life, a point of view. It involves the whole complex of visual communications: talent, creative ability, manual skill, and technical knowledge. Aesthetics and economics, technology and psychology are intrinsically related to the process.</p><p>The critical thing in developing software is not the program, it's the design. It is translating understanding of user needs into something that can be realized as a computer program.</p><p>To design is much more than simply to assemble, to order, or even to edit: it is to add value and meaning, to illuminate, to simplify, to clarify, to modify, to dignify, to dramatize, to persuade, and perhaps even to amuse.</p></div>
					</div>
					<div class="tile-actions">
						<button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-primary"></button>
						<button type="button" title="Resize" data-toggle="tooltip" data-action="resize-left" class="btn icon icon-arrow-resize btn-primary"></button>
						<button type="button" title="Resize" data-toggle="tooltip" data-action="resize-right" class="btn icon icon-arrow-resize btn-primary"></button>
					</div>
				</div>
			</div>
			<!-- End of background Story tile -->
			<!-- Hints tile -->
			<div class="tile-group tile-group-seen_in_game">
				<div class="tile tile-type-image tile-color-4">
					<h5 class="tile-title">Seen in the game</h5>
					<div class="tile-body">
						<img src="wwwroot/css/assets/images/tiles/clue.jpg" alt="Seen in the game">
					</div>
					<div class="tile-actions">
						<button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-primary"></button>
						<button type="button" title="Resize" data-toggle="tooltip" data-action="resize-left" class="btn icon icon-arrow-resize btn-primary"></button>
						<button type="button" title="Resize" data-toggle="tooltip" data-action="resize-right" class="btn icon icon-arrow-resize btn-primary"></button>
					</div>
				</div>
			</div>
			<!-- End of hints tile -->
		</div>
	</div>
</div>
<!-- End of item tiles -->
<!-- External JavaScript files -->
<script src="wwwroot/css/assets/js/jquery.js"></script>
<script src="wwwroot/css/assets/js/popper.js"></script>
<script src="wwwroot/css/assets/js/bootstrap.js"></script>
<script src="wwwroot/css/assets/js/script.js"></script>
<!-- End of external JavaScript files -->