<div class="">
	<div class="page-toolbar">
		<div class="container">
			<div class="page-toolbar-wrapper">
				<div class="page-toolbar-title">
					<h1>Character Stats</h1>
				</div>
				<button type="button" ng-click="addNewCoreStat()" class="btn icon icon-with-text icon-plus btn-primary">Add Character Stat</button>
			</div>
		</div>
	</div>

	<div ng-show="lists">
		<div class="col-md-12">
			<h3 class="text-center">No Character Stats added</h3>
		</div>
	</div>
	
			<!-- Character stat cards -->
			<div class="cards cards-inventory" >
				<div class="container">
					<div class="card-list" ng-repeat="corestat in Corestats">
						<div class="card-wrapper">
							<div class="card" style="flex-direction: row;padding: 20px;align-content: flex-start">
								<div class="card-icon icon icon-{{corestat.TypeName.toLowerCase()=='command'?'dice':(corestat.TypeName.toLowerCase()=='yes/no'?'yes-no':(corestat.TypeName.toLowerCase()=='value & sub-value'?'value-subval':(corestat.TypeName.toLowerCase()=='current & max value'?'slider':(corestat.TypeName.toLowerCase()=='on/off'?'on-off':corestat.TypeName.toLowerCase()))))}} icon-rsi"></div>
								<div class="card-order-trigger icon icon-list" ng-hide="true"></div>
								<div class="card-body">
									<h4 class="card-title">{{corestat.Name}}</h4>
									<div class="item-desc">{{corestat.Description}}</div>
									<div class="item-type">
										<span>{{corestat.TypeName}}</span>
									</div>
									<div class="card-actions-trigger">
										<button type="button" title="Manage" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary" ng-click="showActionBtns=true"></button>
									</div>
									<div ng-show="showActionBtns" style="flex-direction: row;padding: 20px;align-content: flex-start">
										<button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-simple-primary"></button>
										<button type="button" title="Duplicate" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
										<button type="button" title="Delete" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary"></button>
										<button type="button" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary" ng-click="showActionBtns=false"></button>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>

	</div>
			<toaster-container class="toaster_align" toaster-options="{'time-out':1000}"></toaster-container>
