
<div class="page-inventory itemproperty" ng-init="onloadFun()">
    <div class="page-toolbar">
        <div class="container">
            <div class="page-toolbar-wrapper">
				<div class="page-toolbar-title">
					<h1>Back to Inventory</h1>
				</div>
				<button type="button" id="newItemTrigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn icon icon-with-text icon-plus btn-primary dropdown-toggle">New Spell</button>
				<div class="dropdown-menu" aria-labelledby="siteNavigationToggle">
					<!--<ul class="page-toolbar-actions">
			<li class="view-switch">
				<div class="btn-group" role="group">
					<button type="button" id="gridViewTrigger" class="btn icon icon-grid btn-primary selected" ng-click="GridViewTrigger($event)"></button>
					<button type="button" id="listViewTrigger" class="btn icon icon-list btn-primary" ng-click="ListViewTrigger($event)"></button>
				</div>
			</li>
			<li>
				<button type="button" ng-click="CreateCharacterSpell()" class="btn icon icon-with-text icon-plus btn-primary">New Spell</button>
			</li>
			<li>
				<button type="button" ng-click="AddRulesetSpells()" class="btn icon icon-with-text icon-plus btn-primary">Add Spell From Ruleset</button>
			</li>
			<li>
				<button type="button" ng-click="BackToLayout()" class="btn icon icon-with-text glyphicon-backward btn-primary">Back</button>
			</li>
		</ul>-->
					<ul class="dropdown-menu-list">
						<li class="dropdown-menu-item" ng-hide="true">

						</li>
						<li class="dropdown-menu-item">
							<button type="button" data-toggle="modal" style="width: 100%" data-target="#createItemPopup" ng-click="AddRulesetSpell()" class="btn btn-accent">Add Spell</button>
						</li>
						<li class="dropdown-menu-item">
							<button type="button" data-toggle="modal" style="width: 100%" data-target="#addItemPopup" ng-click="CreateCharacterSpell()" class="btn btn-accent">Create Spell</button>
						</li>

					</ul>
				</div>
        </div>
    </div>
    <!-- End of toolbar -->
    <!-- Inventory cards -->
    <div class="cards cards-inventory">
        <div class="container">

            <div ng-show="ShowSpells">
                <div class="col-md-12">
                    <h3 class="text-center">No Spells Added</h3>
                </div>
            </div>

            <div class="card-list" ng-show="ShowSpell">
                <div class="card-wrapper" ng-repeat="spell in NewSpellInventory.CharacterSpells">
                    <div class="card" data-href="#">
                        <div class="card-image">
                            <img class="card-img-top" ng-click="ShowAllSpellProperties(spell,$index)" ng-src="{{spell.CharacterSpellsProperties[1].Value.Image.image?spell.CharacterSpellsProperties[1].Value.Image.image :'/wwwroot/images/not-available.jpg'}}" alt="{{spell.CharacterSpellsProperties[0].Value.Text.value}}">
                            <div class="card-actions">
                                <button type="button" title="Edit" ng-click="EditItem(spell,$index,2)" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-simple-primary"></button>
                                <button type="button" title="Duplicate" ng-click="CopyItem(spell,$index,2)" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
                                <button type="button" title="Delete" ng-click="Removeitem(spell,$index,2)" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary"></button>
                                <button type="button" title="Close" ng-click="hideConteextMenu($event)" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary"></button>
                            </div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title" ng-click="ShowAllItemProperties(item,$index)">{{spell.CharacterSpellsProperties[0].Value.Text.value}}</h4>
                            <div class="card-actions-trigger">
                                <button type="button" title="Manage" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary" ng-click="showContextMenu($event)"></button>
                            </div>
                            <ul class="item-properties">
                                <li class="item-property item-property-text rarity highlight" ng-if="(spell.CharacterSpellsProperties[6].Value.Choices.selectedchoice != undefined) && (spell.CharacterSpellsProperties[6].Value.Choices.selectedchoice != null) && (spell.CharacterSpellsProperties[6].Value.Choices.selectedchoice != '')">{{spell.CharacterSpellsProperties[6].Value.Choices.selectedchoice}} </li>
                                <li class="item-property item-property-text weight" ng-if="(spell.CharacterSpellsProperties[4].Value.Weight.value != undefined) && (spell.CharacterSpellsProperties[4].Value.Weight.value != null) && (spell.CharacterSpellsProperties[4].Value.Weight.value != '')">{{spell.CharacterSpellsProperties[4].Value.Weight.value}} {{spell.CharacterSpellsProperties[4].Value.Weight.units.selectedUnit}}</li>

                                <li ng-repeat="spell in spell.CharacterSpellsProperties" ng-if="(spell.TypeId==3 && spell.Value.OnorOff.value == 'Yes') || ( spell.TypeId == 4 && spell.Value.YesOrNo.value == 'Yes')" class="item-property item-property-icon icon icon-rsi" ng-class="'icon-' + spell.Name.toLowerCase()" title="Magical" data-toggle="tooltip"></li>

                                <!--<li class="item-property item-property-icon icon icon-magical icon-rsi" title="Magical" data-toggle="tooltip"></li>
                                <li class="item-property item-property-icon icon icon-consumable icon-rsi" title="Consumable" data-toggle="tooltip"></li>-->

                            </ul>
                            <div class="item-stats">{{spell.CharacterSpellsProperties[2].Value.Text.value}}</div>
                            <div class="item-actions">
                                <button type="button" class="btn btn-accent" ng-click="Removeitem(item,$index,2)">Drop</button>

                                <button type="button" class="btn btn-accent">Use</button>

                                <rpgsmithcontenttype info="value" ng-repeat="value in spell.CharacterSpellsProperties"></rpgsmithcontenttype>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<toaster-container class="toaster_align" toaster-options="{'time-out':1000}"></toaster-container>

