.dropdown-menu-item-count {
  float: right;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.site-header-logo img,
.site-header-user-avatar img,
.user-login-details span {
  cursor: pointer !important;
}

.user-login-details span:first-child {
  float: left;
  background: #dadada;
  margin-right:0px;
}

.user-login-details span:last-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis !important;
  float: left;
  display:-webkit-box
}
.user-login-details span:last-child {
  width: 100%;
  padding: 0px 10px;
  margin: 0px;
  line-height: 36px;
  background: #dadada;
}

.user-login-details {
  margin-left: 25px;
  display: inline-block;
  background: #dadada;
  padding-right: 5px;
  max-width: 117px;
  margin-right: 5px;
}

@media (max-width:991px) {
  .site-header-user-name {
    display: none !important;
  }
}

@media (min-width:1024px) {
  .user-login-details {
    max-width: 100% !important;
  }

  /*.user-login-details span:last-child {
    text-overflow: initial !important;
    width: calc(100% - 70px);
  }*/
}

@media (max-width:1200px) and (min-width:992px) {
  .user-login-details {
    max-width: 180px !important;
  }
}
@media(max-width:1023px) and (min-width:992px){
  .user-login-details{
    margin-right:0px;
    margin-left:15px;
  }
}
@media (max-width:991px) and (min-width:768px) {
  .site-header-search {
    margin-right: 1rem;
    /*width:100px;*/
  }
  .user-login-details{
    margin-left:15px;
  }
  .site-header-search input {
    width: 10.5rem
  }
}

  .body-manila {
    background: #f8f1d2;
    min-height: 100vh;
  }

.user-login-details {
  border: 3px solid transparent !important;
  padding: 4px;
  background: #fff;
  display: flex;
  justify-content: start;
}
.active-profile {
  border: 3px solid #24b24e !important;
}


  .rule-set-navigate-btn {
    background: #dadada;
    padding: 12px;
    cursor: pointer;
    border: 2px solid #afafaf !important;
  }

  .user-login-details > .btn {
    display: inline-flex;
    border-bottom-color: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 5px;
  }

  .user-login-details > .btn span {
    display: contents
  }
  /*.header-search {
  position: relative;
  align-items: center;
  display: flex;
  display: -webkit-box;
}

.header-search i {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  left: 10px;
}

.header-search .form-control {
  border: 0px;
  padding-left: 34px;
  width: 160px;
}

@media (max-width:767.5px) {
  .header-search i {
    position: initial;
    top: 0;
    transform: initial;
    left: 0;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
  }

  .header-search .form-control {
    border: 0px;
    padding-left: 34px;
    width: 160px;
    display: none;
    position: absolute;
  }
}*/
  @media (max-width:767px){
    .user-login-details{
      padding-right:4px !important;
      margin-right:0px !important;
    }
    .site-header-search{
      display:flex;
      align-items:center;
      margin-right:10px;
    }
    .site-header-search input{
      display:none
    }
    .site-header-search .icon{
      margin-right:0px;
    }
  }
  @media (max-width:575px){
    .user-login-details{
      margin-left:6px !important
    }
  }
  
@media (max-width:400px){
  .site-header-logo-small{
    display:none
  }
  .redirect-url{
    width:30px !important;
  }
  .site-header-navigation .dropdown{
    margin-left:.5rem
  }
}
@media screen and (min-width: 768px) {
  .site-header-logo-full {
    display: none !important;
  }
}

@media screen and (min-width: 768px) {
  .site-header-logo-small {
    display: block !important;
  }
}
@media screen and (min-width: 991.5px) {
  .site-header-logo-full {
    display: block !important;
  }
}

@media screen and (min-width: 991.5px) {
  .site-header-logo-small {
    display: none !important;
  }
}
