
<!--<div class="page-toolbar-title">
  <a [routerLink]="['/rulesets/campaigns']" class="icon icon-back"> <h1 class="d-inline-block">Campaign Details</h1></a>
</div>-->
<div class="campaign-details-page" *ngIf="!isLoading">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="campaign-image mb-3">
        <img [src]="rulesetModel.imageUrl"
             onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-rulesets/RS.png';" [alt]="rulesetModel?.ruleSetName" #imgref (click)="ViewImage(imgref)">
      </div>
      <ul class="list-unstyled">
        <li>
          <a class="btn icon icon-external btn-accent" (click)="generalSetting(rulesetModel)">GENERAL SETTING</a>
        </li>
        <li>
          <a class="btn icon icon-Gen-Controls btn-accent" (click)="playersControls()">PLAYER CONTROLS</a>
        </li>
        <li>
          <a class="btn icon  icon-Gen-CharStat btn-accent" (click)="characterStats(rulesetModel)">CHARACTER STATS</a>
          <span class="dropdown-menu-item-count pull-right ng-star-inserted" *ngIf="rulesetRecordCount.characterStatCount !== undefined">{{rulesetRecordCount.characterStatCount}}</span>
        </li>
        <li *ngIf="rulesetModel">
          <a class="btn icon icon-Gen-Tiles btn-accent" (click)="gotoDashboard(rulesetModel)">DEFAULT LAYOUTS</a>
          <span class="dropdown-menu-item-count pull-right ng-star-inserted" *ngIf="rulesetRecordCount.layoutCount !== undefined">{{rulesetRecordCount.layoutCount}}</span>
        </li>
        <li class="ng-star-inserted" *ngIf="rulesetModel.isAbilityEnabled">
          <a class="btn icon icon-Gen-Ability btn-accent" (click)="ability(rulesetModel)">ABILITIES</a>
          <span class="dropdown-menu-item-count pull-right ng-star-inserted" *ngIf="rulesetRecordCount.abilityCount !== undefined">{{rulesetRecordCount.abilityCount}}</span>
        </li>
        <li class="ng-star-inserted" *ngIf="rulesetModel.isSpellEnabled">
          <a class="btn icon icon-Rec-Magical btn-accent" (click)="spell(rulesetModel)">SPELLS</a>
          <span class="dropdown-menu-item-count pull-right ng-star-inserted" *ngIf="rulesetRecordCount.spellCount !== undefined">{{rulesetRecordCount.spellCount}}</span>
        </li>
        <li class="ng-star-inserted" *ngIf="rulesetModel.isItemEnabled">
          <a class="btn icon icon-Gen-Items btn-accent" (click)="item(rulesetModel)">ITEM TEMPLATES</a>
          <span class="dropdown-menu-item-count pull-right ng-star-inserted" *ngIf="rulesetRecordCount.itemMasterCount !== undefined">{{rulesetRecordCount.itemMasterCount}} </span>
        </li>
        <li class="ng-star-inserted">
          <a class="btn icon icon-Gen-Pouch btn-accent" (click)="loot(rulesetModel)">LOOT</a>
          <span class="dropdown-menu-item-count pull-right ng-star-inserted" *ngIf="rulesetRecordCount.lootCount !== undefined">{{rulesetRecordCount.lootCount}}</span>
          
        </li>
        <!--<li class="ng-star-inserted">
          <a class="btn icon icon-Gen-NPC btn-accent">GM CHARACTERS</a>
          <span class="dropdown-menu-item-count pull-right ng-star-inserted">0</span>
        </li>-->
        <li class="ng-star-inserted">
          <a class="btn icon icon-Gen-Handouts btn-accent"  (click)="handOuts(rulesetModel)">HANDOUTS</a>
          <!--<span class="dropdown-menu-item-count pull-right ng-star-inserted">0</span>-->
        </li>
        <li class="ng-star-inserted">
          <a class="btn icon icon-Gen-Tiles btn-accent">DASHBOARD</a>
          <!--<span class="dropdown-menu-item-count pull-right ng-star-inserted">0</span>-->
        </li>

      </ul>
    </div>
    <div class="col-12 col-md-8">
      <div class="campaign-title-outer  mb-3">
        <div class="campaign-title">
          <div class="row m-0 justify-content-between align-items-center">
            <div class="campaign-name">
              <h2>{{ruleset?.ruleSetName}}</h2>
              <!--<button (click)="Invitepopup()"> inivte</button>-->
            </div>
            <div class="campaign-players-number">
              <span>                
                PLAYERS <span>{{(invitedUsers?.length-GmCharacterSlotsCount)}}/{{playersSlots}}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="refresh-btn">
          <button type="button" (click)="refreshCampaign()" title="Refresh" class="btn btn-outline-primary icon icon-Gen-Refresh"></button>
        </div>
      </div>

      <div class="cards character-players">
        <div class="row">
          <!--<div class="col-12 col-sm-6 col-lg-3 mb-3">
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image thumbnail">
          <img class="card-img-top portrait" onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/MaleHuman.jpg';" src="https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/Dwarf.jpg" alt="dd">
          <div class="characters-description">
            <div class="characters-description-inner fr-view"></div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title" triggers="hover">dd</h4>
        </div>
        <span class="post-owner">
          <div class="site-header-user-avatar">
            <svg viewBox="0 0 102 102" xmlns="http://www.w3.org/2000/svg">
              <path d="M0,0V102H102V0ZM95,76,51,101,7,76V26L51,1,95,26Z"></path>
            </svg>
            <img onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-rulesets/RS.png';" src="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg" alt="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg">
          </div>
          <em class="">Core</em>
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mb-3">
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image thumbnail">
          <img class="card-img-top portrait" onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/MaleHuman.jpg';" src="https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/Dwarf.jpg" alt="dd">
          <div class="characters-description">
            <div class="characters-description-inner fr-view"></div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title" triggers="hover">dd</h4>
        </div>
        <span class="post-owner">
          <div class="site-header-user-avatar">
            <svg viewBox="0 0 102 102" xmlns="http://www.w3.org/2000/svg">
              <path d="M0,0V102H102V0ZM95,76,51,101,7,76V26L51,1,95,26Z"></path>
            </svg>
            <img onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-rulesets/RS.png';" src="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg" alt="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg">
          </div>
          <em class="">Core</em>
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mb-3">
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image thumbnail">
          <img class="card-img-top portrait" onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/MaleHuman.jpg';" src="https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/Dwarf.jpg" alt="dd">
          <div class="characters-description">
            <div class="characters-description-inner fr-view"></div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title" triggers="hover">dd</h4>
        </div>
        <span class="post-owner">
          <div class="site-header-user-avatar">
            <svg viewBox="0 0 102 102" xmlns="http://www.w3.org/2000/svg">
              <path d="M0,0V102H102V0ZM95,76,51,101,7,76V26L51,1,95,26Z"></path>
            </svg>
            <img onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-rulesets/RS.png';" src="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg" alt="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg">
          </div>
          <em class="">Core</em>
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mb-3">
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image thumbnail">
          <img class="card-img-top portrait" onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/MaleHuman.jpg';" src="https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/Dwarf.jpg" alt="dd">
          <div class="characters-description">
            <div class="characters-description-inner fr-view"></div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title" triggers="hover">dd</h4>
        </div>
        <span class="post-owner">
          <div class="site-header-user-avatar">
            <svg viewBox="0 0 102 102" xmlns="http://www.w3.org/2000/svg">
              <path d="M0,0V102H102V0ZM95,76,51,101,7,76V26L51,1,95,26Z"></path>
            </svg>
            <img onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-rulesets/RS.png';" src="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg" alt="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg">
          </div>
          <em class="">Core</em>
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mb-3">
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image thumbnail">
          <img class="card-img-top portrait" onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/MaleHuman.jpg';" src="https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/Dwarf.jpg" alt="dd">
          <div class="characters-description">
            <div class="characters-description-inner fr-view"></div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title" triggers="hover">dd</h4>
        </div>
        <span class="post-owner">
          <div class="site-header-user-avatar">
            <svg viewBox="0 0 102 102" xmlns="http://www.w3.org/2000/svg">
              <path d="M0,0V102H102V0ZM95,76,51,101,7,76V26L51,1,95,26Z"></path>
            </svg>
            <img onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-rulesets/RS.png';" src="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg" alt="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg">
          </div>
          <em class="">Core</em>
        </span>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-3 mb-3">
    <div class="card-wrapper">
      <div class="card">
        <div class="card-image thumbnail">
          <img class="card-img-top portrait" onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/MaleHuman.jpg';" src="https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/Dwarf.jpg" alt="dd">
          <div class="characters-description">
            <div class="characters-description-inner fr-view"></div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="card-title" triggers="hover">dd</h4>
        </div>
        <span class="post-owner">
          <div class="site-header-user-avatar">
            <svg viewBox="0 0 102 102" xmlns="http://www.w3.org/2000/svg">
              <path d="M0,0V102H102V0ZM95,76,51,101,7,76V26L51,1,95,26Z"></path>
            </svg>
            <img onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-rulesets/RS.png';" src="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg" alt="https://rpgsmithsa.blob.core.windows.net/user-a363c14c-ef58-4ffa-aea9-209f637aa5a6/488e8696-27b7-4f36-b5ea-14c35f9bc639.jpg">
          </div>
          <em class="">Core</em>
        </span>
      </div>
    </div>
  </div> -->
          <div class="col-12 col-sm-6 col-lg-3 mb-3" *ngFor="let invite of  invitedUsers; index as i">
            <div class="w-100 card-wrapper">
              <div class="card" *ngIf="!invite?.isAccepted">
                <div class="card-image thumbnail">
                  <img class="card-img-top portrait" onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/MaleHuman.jpg';" [src]="invite.playerCharacterImage" alt="dd">
                  <div class="player-character-detail">
                    <span>
                      Invite sent at<br />
                      {{invite.sendOn}} GMT
                    </span>
                  </div>
                  <div class="characters-description">
                    <div class="characters-description-inner fr-view"></div>
                  </div>
                  <div class="card-actions show" *ngIf="invite.showIcon">
                    <button type="button" (click)="cancleInvite(i,invite)" tooltip="Cancel Invite" class="btn icon  icon-Rec-Disable btn-simple-primary"></button>
                  </div>
                </div>
                <div class="card-body justify-content-between">
                  <h4 class="card-title" triggers="hover">Awaiting Reply</h4>

                  <div class="card-actions-trigger">
                    <button type="button" (click)="manageIcon(invite)" tooltip="Manage" class="btn icon icon-more btn-simple-primary"></button>
                  </div>
                </div>
                <span class="post-owner">
                  <div class="site-header-user-avatar">
                    <svg viewBox="0 0 102 102" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0,0V102H102V0ZM95,76,51,101,7,76V26L51,1,95,26Z"></path>
                    </svg>
                    <img onerror="this.src = '../assets/images/DefaultImages/AccountProfile.jpg';" [src]="invite.playerUserImage" alt="">
                  </div>
                  <em popover="{{invite.isSendToUserName? invite.playerUserName : invite.playerUserEmail}}" triggers="hover" class="">{{invite.isSendToUserName? invite.playerUserName : invite.playerUserEmail}}</em>
                </span>

              </div>
              <div class="card" *ngIf="invite?.isAccepted">
                <div class="card-image thumbnail" >
                  <img class="card-img-top portrait" onerror="this.src = 'https://rpgsmithsa.blob.core.windows.net/stock-defimg-chars/MaleHuman.jpg';"
                       [src]="invite.playerCharacterImage" alt="" (click)="goToCharacter(invite.playerCharacterId)">
                 
                  <div class="characters-description">
                    <div class="characters-description-inner fr-view"></div>
                  </div>
                  <div class="card-actions show" *ngIf="invite.showIcon">
                    <button type="button" (click)="removePlayerAndDeleteCharacter(i,invite)" tooltip="Remove Player from Campaign / Delete Character" class="btn icon  icon-Rec-Disable btn-simple-primary"></button>
                  </div>
                </div>
                <div class="card-body justify-content-between" >
                  <h4 class="card-title" popover="{{invite.playerCharacterName}}" triggers="hover" (click)="goToCharacter(invite.playerCharacterId)">{{invite.playerCharacterName}}</h4>

                  <div class="card-actions-trigger">
                    <button type="button" (click)="manageIcon(invite)" tooltip="Manage" class="btn icon icon-more btn-simple-primary"></button>
                  </div>
                </div>
                <span class="post-owner">
                  <div class="site-header-user-avatar">
                    <svg viewBox="0 0 102 102" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0,0V102H102V0ZM95,76,51,101,7,76V26L51,1,95,26Z"></path>
                    </svg>
                    <img onerror="this.src = '../assets/images/DefaultImages/AccountProfile.jpg';" [src]="invite.playerUserImage" alt="">
                  </div>
                  <em popover="{{invite.playerUserName}}" triggers="hover" class="">{{invite.playerUserName}}</em>
                </span>

              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-3" (click)="invitePlayer()" *ngIf="playersSlots>(invitedUsers?.length-GmCharacterSlotsCount)">
            <div class="w-100 card-wrapper">
              <div class="card">
                <div class="card-image thumbnail bg-white h-191">
                  <div class="addnew-icon">
                    <span class="icon icon-Gen-Plus"></span>
                  </div>
                </div>
                <div class="card-body btn-primary">
                  <h4 class="card-title text-white text-center">Send User Invite</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-sm-6 col-lg-3 mb-3" [ngClass]="marketplacelist?.length? '' : disable-div" (click)="BuyPlayerSlot()"  *ngIf="playersSlots<=(invitedUsers?.length-GmCharacterSlotsCount)">
            <div class="w-100 card-wrapper">
              <div class="card">
                <div class="card-image thumbnail bg-white h-191">
                  <div class="addnew-icon">
                    <span class="icon icon-Gen-Plus"></span>
                  </div>
                </div>
                <div class="card-body btn-primary">
                  <h4 class="card-title text-white text-center">+1 Player Slot</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader [isLoading]="isLoading"></app-loader>
