<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="colorSelectionPopupTitle">Player Controls</h5>
    <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close" (click)="close()"></button>
  </div>
</div>
<div class="modal-body players-component" *ngIf="!isLoading">
  <div class="row mb-3 align-items-center">
    <div class="col-12 col-sm-7 pr-sm-0">
      <label>Pause Game - Prevents Player Changes to Character Stats and Records</label>
    </div>
    <div class="col-12 col-sm-5">
      <div class="form-group">
        <fieldset class="form-group input-switch input-switch-dual">
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pausegame1"
                       [checked]="playerControls?.pauseGame"
                       (click)="setpauseGame(true)">
                <span>ON</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="pausegame2"
                       [checked]="!playerControls?.pauseGame"
                       (click)="setpauseGame(false)">
                <span>OFF</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-12 col-sm-7 pr-sm-0">
      <label>Allow Player Item Creations</label>
    </div>
    <div class="col-12 col-sm-5">
      <div class="form-group">
        <fieldset class="form-group input-switch input-switch-dual">
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="itemcreations1"
                       [checked]="!playerControls.pauseItemCreate"
                       (click)="AllowItemCreation(false)">
                <span>ON</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="itemcreations2"
                       [checked]="playerControls.pauseItemCreate"
                       (click)="AllowItemCreation(true)">
                <span>OFF</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-12 col-sm-7 pr-sm-0">
      <label>Allow Player Spell Creations</label>
    </div>
    <div class="col-12 col-sm-5">
      <div class="form-group">
        <fieldset class="form-group input-switch input-switch-dual">
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="spellcreations1"
                       [checked]="!playerControls.pauseSpellCreate"
                       (click)="AllowSpellcreation(false)" >
                <span>ON</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="spellcreations2"
                       [checked]="playerControls.pauseSpellCreate"
                       (click)="AllowSpellcreation(true)" >
                <span>OFF</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-12 col-sm-7 pr-sm-0">
      <label>Allow Player Ability Creations</label>
    </div>
    <div class="col-12 col-sm-5">
      <div class="form-group">
        <fieldset class="form-group input-switch input-switch-dual">
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="abilitycreations1"
                       [checked]="!playerControls.pauseAbilityCreate"
                       (click)="AllowAbilityCreation(false)">
                <span>ON</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="abilitycreations2"
                       [checked]="playerControls.pauseAbilityCreate"
                       (click)="AllowAbilityCreation(true)">
                <span>OFF</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-12 col-sm-7 pr-sm-0">
      <label>Allow Player Item Additions</label>
    </div>
    <div class="col-12 col-sm-5">
      <div class="form-group">
        <fieldset class="form-group input-switch input-switch-dual">
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="itemadditions1"
                       [checked]="!playerControls.pauseItemAdd"
                       (click)="AllowItemAdditions(false)">
                <span>ON</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="itemadditions2"
                       [checked]="playerControls.pauseItemAdd"
                       (click)="AllowItemAdditions(true)" >
                <span>OFF</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-12 col-sm-7 pr-sm-0">
      <label>Allow Player Spell Additions</label>
    </div>
    <div class="col-12 col-sm-5">
      <div class="form-group">
        <fieldset class="form-group input-switch input-switch-dual">
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="playerspelladditions1"
                       [checked]="!playerControls.pauseSpellAdd"
                       (click)="playerspellAdition(false)">
                <span>ON</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="playerspelladditions2"
                       [checked]="playerControls.pauseSpellAdd"
                     (click)="playerspellAdition(true)"  >
                <span>OFF</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row mb-3 align-items-center">
    <div class="col-12 col-sm-7 pr-sm-0">
      <label>Allow Player Ability Additions</label>
    </div>
    <div class="col-12 col-sm-5">
      <div class="form-group">
        <fieldset class="form-group input-switch input-switch-dual">
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="abilityadditions1"
                       [checked]="!playerControls.pauseAbilityAdd"
                    (click)="playerAbilityAdditions(false)">
                <span>ON</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="abilityadditions2"
                       [checked]="playerControls.pauseAbilityAdd"
                     (click)="playerAbilityAdditions(true)">
                <span>OFF</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer"  *ngIf="!isLoading">
  <button type="button" data-dismiss="modal" class="btn btn-simple-accent" (click)="close()">Cancel</button>
  <button type="button" [disabled]="!isloading" class="btn btn-accent" (click)="save()">Save</button>
</div>
<app-loader [isLoading]="isLoading"></app-loader>
