.manage-ruleset-header span:last-child {
  display: inline-block;
  width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 6px 0;
  float: right;
}
.manage-ruleset-header {
  float: none;
  position: relative;
  display: inline-block;
  left: 40%;
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin-left:0;
}
@media (max-width:767px) {
  .manage-ruleset-header span:last-child {
    width: 60px;
  }
}
