<!-- New character stat popup -->
<form name="characterStatsForm" #f="ngForm" (ngSubmit)="f.form.valid && submitForm(characterStatsFormModal)">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newStatPopupTitle">{{title}}</h5>
        <a href="https://rpgsmith.com/helpc/#c2a" class="help-icon icon icon-Gen-Help crsr-pointer" target="_blank"></a>
        <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary text-right close"
                (click)="close()"></button>
      </div>
        <div class="modal-body">
          <div class="form-row">
            <div class="col">
              <!-- Character stat name -->
              <div class="form-group" [ngClass]="{ 'has-success': f.submitted && newStatName.valid, 'has-error': f.submitted && !newStatName.valid }">
                <label for="newStatName">Name</label>

                <input type="text" id="newStatName" name="newStatName" class="form-control" placeholder="Character Stat Name" [ngStyle]="{'border-color': f.submitted && !newStatName.valid ? 'red' : '#d3cfce'}"
                       [autofocus] [(ngModel)]="characterStatsFormModal.statName" #newStatName="ngModel" required [readonly]="button=='UPDATE'">

                <!--<input *ngIf="characterStatsFormModal.view == 'edit'" type="text" id="newStatName" name="newStatName" class="form-control" placeholder="Character Stat Name" [ngStyle]="{'border-color': f.submitted && !newStatName.valid ? 'red' : '#d3cfce'}"
        [(ngModel)]="characterStatsFormModal.statName" #newStatName="ngModel" required [readonly]="button=='UPDATE'">-->

                <input type="hidden" id="characterStatId" name="characterStatId" [(ngModel)]="characterStatsFormModal.characterStatId" #characterStatId="ngModel">
                <input type="hidden" id="ruleSetId" name="ruleSetId" [(ngModel)]="characterStatsFormModal.ruleSetId" #ruleSetId="ngModel">
              </div>
              <!-- End of character stat name -->
            </div>
          </div>
          <div class="form-row form-group">
            <legend>Type</legend>
            <div class="col-md-6" *ngFor="let characterStatType of characterStatTypeList">
              <!-- Character stat type -->
              <fieldset class="form-group input-list stat-types">
                <ul class="input-list-items">
                  <li class="form-check" (click)="typeSelection(characterStatsFormModal, characterStatType)">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="newStatType" [checked]="characterStatType.characterStatTypeId === characterStatsFormModal.characterStatTypeId">
                      <span>
                        <em *ngIf="characterStatType.icon !== 'icon-CharStat-Text'" class="icon icon-with-text icon-rsi" [ngClass]="characterStatType.icon">&nbsp; {{characterStatType.statTypeName}}</em>
                        <em *ngIf="characterStatType.icon === 'icon-CharStat-Text'" class="icon icon-with-text icon-ico" [ngClass]="characterStatType.icon">&nbsp; {{characterStatType.statTypeName}}</em>
                        <i class="icon"></i>
                      </span>
                    </label>
                  </li>
                </ul>
              </fieldset>
              <!-- End of character stat type -->
            </div>
          </div>
          <div class="form-row form-group">
            <div class="col-md-6">
              <!-- Character stat description -->
              <div class="stat-type-fields stat-type-text" *ngFor="let characterStatType of characterStatTypeList">
                <div class="stat-type-desc" *ngIf="characterStatType.characterStatTypeId === characterStatsFormModal.characterStatTypeId">
                  <legend>{{characterStatType.statTypeName}}</legend>
                  <p>{{characterStatType.statTypeDesc}}</p>
                </div>
              </div>
              <!-- End of character stat description -->
            </div>
            <div class="col">
              <!-- Character stat name -->
              <div class="form-group">
                <label for="newStatDescription">Description (optional)</label>
                <textarea id="newStatDescription" name="newStatDescription" class="form-control" rows="5"
                          [(ngModel)]="characterStatsFormModal.statDesc" #newStatDescription="ngModel"></textarea>
              </div>
              <!-- End of character stat name -->
            </div>
          </div>
          <div class="form-row">
            <!-- Character choice section -->
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeName==='Choice'">
              <fieldset class="form-group input-list stat-types">
                <legend>Choices</legend>
                <ul class="input-switch-items">
                  <li class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="" [checked]="!characterStatsFormModal.isChoicesFromAnotherStat" (change)="defineChoices(true)">
                      <span>Define Choices Here</span>
                    </label>
                  </li>
                  <li class="form-check">
                    <label class="form-check-label" [ngClass]="IsThisStatAlreayAssignedtoOtherStat?'disabled':''" [title]="IsThisStatAlreayAssignedtoOtherStat?'This choice stat already assigned to other character stats':''">
                      <input class="form-check-input" [disabled]="IsThisStatAlreayAssignedtoOtherStat" type="radio" name="" [checked]="characterStatsFormModal.isChoicesFromAnotherStat" (change)="choicesfromOtherStat(true)">
                      <span>Get Choices From Another Stat</span>
                    </label>
                  </li>
                </ul>
              </fieldset>
              <fieldset *ngIf="!characterStatsFormModal.isChoicesFromAnotherStat">
                <ul class="input-list-items">
                  <li class="form-check" *ngFor="let choice of characterStatsFormModal.characterStatChoicesViewModels;let i = index;"
                      [ngClass]="{ 'has-success': f.submitted && newStatChoice.valid, 'has-error': f.submitted && !newStatChoice.valid &&
                        characterStatsFormModal.characterStatTypeName==='Choice'}">
                    <label class="form-check-label">
                      <input type="text" [id]="'newStatChoice-'+i" [name]="'newStatChoice'+i" class="form-control" [ngStyle]="{'border-color': f.submitted && !newStatChoice.valid ? 'red' : '#d3cfce'}"
                             placeholder="Enter Choice" [(ngModel)]="choice.statChoiceValue" #newStatChoice="ngModel"
                             [required]="characterStatsFormModal.characterStatTypeName==='Choice' && i==0">
                      <span>
                        <button type="button" *ngIf="i!==0" (click)="removeChoice(choice)" tooltip="Remove"
                                class="btn icon icon-trash btn-simple-primary pull-right"></button>
                      </span>
                    </label>
                  </li>
                </ul>
                <div class="form-group justify-content-between align-content-center input-check">
                  <div class="row m-0 mt-3 justify-content-between align-items-center">
                    <button type="button" class="btn btn-accent btn-choice" (click)="addChoice(characterStatsFormModal.characterStatChoicesViewModels)">Add Choice</button>
                    <div class="input-check-items">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" id="newStatChoiceMultiSelect" type="checkbox" [checked]="characterStatsFormModal.isMultiSelect"
                                 [value]="characterStatsFormModal.isMultiSelect" (change)="checkMultipleChoice($event)">
                          <span>
                            <i class="icon"></i>
                            <em>Enable multi-select</em>
                          </span>
                        </label>
                      </div>
                    </div>
                  </div>

                </div>
              </fieldset>
              <ng-container *ngIf="characterStatsFormModal.isChoicesFromAnotherStat">
                <div class="form-row form-group">
                  <div class="col-md-6" *ngFor="let choicelist of choiceList">
                    <fieldset class="form-group input-list stat-types">
                      <ul class="input-list-items">
                        <li class="form-check">
                          <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="options"
                                   [checked]="choicelist.selected"
                                   (change)="updateCheckedOptions(choicelist, $event)" />
                            <span>
                              <em class="icon icon-with-text icon-rsi">&nbsp; {{choicelist.statName}}</em>
                              <i class="icon" style="border-radius: 0.75rem;"></i>
                            </span>
                          </label>
                        </li>
                      </ul>
                    </fieldset>
                  </div>
                  <!--<div class="col-md-6" *ngIf="!choicelist?.length">
            <p class="text-center">No Other Choice Fields Currently Exist on this Rule Set </p>
          </div>-->
                </div>
                <div class="form-group input-check">
                  <div class="input-check-items" style="float:right;margin-top: -20px;">
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input" id="newStatChoiceMultiSelect" type="checkbox" [checked]="characterStatsFormModal.isMultiSelect"
                               [value]="characterStatsFormModal.isMultiSelect" (change)="checkMultipleChoice($event)">
                        <span>
                          <i class="icon"></i>
                          <em>Enable multi-select</em>
                        </span>
                      </label>
                    </div>
                  </div>
                </div>
              </ng-container>
              <!-- <div class="form-group">
          <label for="choices">Choices</label>
          <div class="form-group input-choice" *ngFor="let choice of characterStatsFormModal.characterStatChoicesViewModels;let i = index;"
              [ngClass]="{ 'has-success': f.submitted && newStatChoice.valid, 'has-error': f.submitted && !newStatChoice.valid && characterStatsFormModal.characterStatTypeName==='Choice'}">
              <input type="text" [id]="'newStatChoice-'+i" [name]="'newStatChoice'+i" class="form-control" placeholder="Enter Choice"
                  [(ngModel)]="choice.statChoiceValue" #newStatChoice="ngModel" [required]="characterStatsFormModal.characterStatTypeName==='Choice'">
              <button type="button" *ngIf="i!==0" (click)="removeChoice(choice)" tooltip="Remove" class="btn icon icon-trash btn-simple-primary"></button>
          </div>
      </div> -->
            </div>
            <!-- End of character choice section -->
            <!-- Character calculation section -->
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeName==='Calculation'">
              <div class="form-group">
                <label>Formula</label>
                <div class="form-row">
                  <div class="col-9">
                    <div class="input-core-stat">
                      <select class='form-control' (change)='onSelect($event)'>
                        <option>Select character stat</option>
                        <option *ngFor='let type of typeOptions' [value]="type.characterStatId">{{type.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-insert btn-primary" (click)="onInsert(characterStatsFormModal.characterStatTypeName)">Insert</button>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 input-choice">
                  <div class="form-group" [ngClass]="{ 'has-success': f.submitted && characterStatCals.valid, 'has-error': f.submitted && !characterStatCals.valid && characterStatsFormModal.characterStatTypeName==='Calculation'}">
                    <input type="text" id="characterStatCals" name="characterStatCals" class="form-control" placeholder="Enter formula" [ngStyle]="{'border-color': f.submitted && !characterStatCals.valid ? 'red' : '#d3cfce'}"
                           [(ngModel)]="characterStatsFormModal.characterStatCalculation" #characterStatCals="ngModel" [required]="characterStatsFormModal.characterStatTypeName==='Calculation'">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12">
                  <div class="form-group">
                    <span class="custom-checkbox">
                      <input type="checkbox" name="addToModScreen" id="addToModScreen" #addToModScreen="ngModel" [(ngModel)]="characterStatsFormModal.addToModScreen" /> <span>Add this stat to the dice 'ADD MOD' screen</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of character calculation section -->
            <!-- Character command section -->
            <div class="col" *ngIf="false">
              <div class="form-group">
                <label>Formula</label>
                <div class="form-row">
                  <div class="col-9">
                    <div class="input-core-stat">
                      <select class='form-control' (change)='onSelect($event)'>
                        <option>Select character stat</option>
                        <option *ngFor='let type of typeOptions' [value]="type.name">{{type.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-3">
                    <button type="button" class="btn btn-insert btn-primary" (click)="onInsert(characterStatsFormModal.characterStatTypeName)">Insert</button>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="col-12 input-choice">
                  <div class="form-group" [ngClass]="{ 'has-success': f.submitted && characterStatCommand.valid, 'has-error': f.submitted && !characterStatCommand.valid && characterStatsFormModal.characterStatTypeName==='Command'}">
                    <input type="text" id="characterStatCommand" name="characterStatCommand" class="form-control" placeholder="Enter formula" [ngStyle]="{'border-color': f.submitted && !characterStatCommand.valid ? 'red' : '#d3cfce'}"
                           [(ngModel)]="characterStatsFormModal.characterStatCommand" #characterStatCommand="ngModel" [required]="characterStatsFormModal.characterStatTypeName==='Command'">
                    <span class="pull-right">
                      <button type="button" title="Show dice" tooltip="Show dice" class="btn icon icon-dice icon-rsi btn-simple-primary"></button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <!-- End of character command section -->
          </div>
          <div class="form-row">
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.Toggle">
              <div class="form-row">
                <div class="col-12">
                  <h2 class="formfiled-heading">Display</h2>
                  <div class="row">
                    <div class="col-6 col-sm-3">

                      <ul class="display-check">
                        <!--<li><span style="display:none;"></span></li>-->
                        <li class="display-yn">
                          <input type="radio" id="display-yn" name="toggle" (click)="selectedToggle(characterStatsFormModal.characterStatToggleViewModel,'display')"
                                 [checked]="characterStatsFormModal.characterStatToggleViewModel.display" /><span></span>
                        </li>
                        <li><input [disabled]="true" type="radio" name="display" [checked]="true" (change)="setShowCheckbox(true)" /><span></span></li>
                        <li><input [disabled]="true" type="radio" name="display" [checked]="false" (change)="setShowCheckbox(false)" /><span></span></li>
                      </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                      <ul class="display-yesno">
                        <li for="yesno">
                          <input type="radio" id="yesno" name="toggle" (click)="selectedToggle(characterStatsFormModal.characterStatToggleViewModel,'yesno')"
                                 [checked]="characterStatsFormModal.characterStatToggleViewModel.yesNo" /><span></span> Yes/No
                        </li>
                        <li></li>
                      </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                      <ul class="display-yesno">
                        <li for="onoffTile">
                          <input type="radio" id="onoffTile" name="toggle" (click)="selectedToggle(characterStatsFormModal.characterStatToggleViewModel,'onoff')"
                                 [checked]="characterStatsFormModal.characterStatToggleViewModel.onOff" /><span></span> On/Off
                        </li>
                        <li></li>
                      </ul>
                    </div>
                    <div class="col-6 col-sm-3">
                      <ul class="display-yesno" (click)="showHidecustomFields()">
                        <li for="CustomInputField">
                          <input type="radio" id="CustomInputField" name="toggle" (click)="selectedToggle(characterStatsFormModal.characterStatToggleViewModel,'custom')"
                                 [checked]="characterStatsFormModal.characterStatToggleViewModel.isCustom" /><span></span> Custom
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12" *ngIf="characterStatsFormModal.characterStatToggleViewModel.isCustom">
                <div class="form-row">
                  <div class="col-12">
                    <div class="form-group input-command">
                      <div class="row" *ngFor="let ctoggle of characterStatsFormModal.characterStatToggleViewModel.customToggles; let m=index">
                        <div class="col-12 form-row form-group">
                          <div class="col-8">
                            <input type="text" [id]="'toggleText-'+m" [name]="'toggleText-'+m" class="form-control" placeholder="Add Text"
                                   [(ngModel)]="ctoggle.toggleText" #toggleText="ngModel" [readonly]="ctoggle.image!==''">
                          </div>
                          <div class="col-4" style="display: inline-flex;">
                            <button *ngIf="!ctoggle.image" class="btn icon icon-Gen-Image btn-default big-icon" type="button" (click)="addToggleImage(ctoggle)"></button>
                            <img *ngIf="ctoggle.image" [src]="ctoggle.image" width="42" height="40" (click)="addToggleImage(ctoggle)" />
                            &nbsp;<button class="btn icon icon-Gen-Trash btn-default text-orange" *ngIf="m>1" type="button" (click)="removeToggle(ctoggle)"></button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-12">
                    <button type="button" class="btn btn-accent" (click)="addToggle(characterStatsFormModal.characterStatToggleViewModel.customToggles)">ADD TOGGLE</button>
                  </div>
                </div>
              </div>
            </div>


          </div>

          <!-- Below section is for #382 Default Value for stats -->
          <div class="form-row" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.CurrentMax
                 || characterStatsFormModal.characterStatTypeId===STAT.ValueSubValue
                 || characterStatsFormModal.characterStatTypeId===STAT.Number
                 || characterStatsFormModal.characterStatTypeId===STAT.Command
                 || characterStatsFormModal.characterStatTypeId===STAT.Text
                 || characterStatsFormModal.characterStatTypeId===STAT.RichText
                 || characterStatsFormModal.characterStatTypeId===STAT.Combo
                 || characterStatsFormModal.characterStatTypeId===STAT.Choice">
            <div class="col-12 mb-3">
              <div class="input-extend">
                <button type="button" class="btn btn-link-primary btn-underline" (click)="showAdvancedFeatures()"><span>{{showAdvancedFeaturesText}}</span></button>
              </div>
            </div>
          </div>
          <div class="form-row" *ngIf="showAdvancedFeaturesToggle">
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.Choice">
              <div class="form-row">
                <div class="col-12">
                  <div class="form-group">
                    <span class="custom-checkbox">
                      <input type="checkbox" name="addNumericvalue" id="addNumericvalue" #addNumericvalue="ngModel" [(ngModel)]="characterStatsFormModal.isChoiceNumeric" /> <span>Add Numeric Value to stat</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="form-row" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.Choice && characterStatsFormModal.isChoiceNumeric">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="Minimum">Minimum  Value (optional)</label>
                    <input type="text" id="minimum" name="minimum" class="form-control" placeholder="Minimum Value"
                           [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].minimum" #Minimum="ngModel">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="Maximum">Maximum  Value (optional)</label>
                    <input type="text" id="maximum" name="maximum" class="form-control" placeholder="Maximum Value"
                           [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].maximum" #Maximum="ngModel">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="default">Default  Value (optional)</label>
                    <input type="text" id="default" name="default" class="form-control" placeholder="Default Value"
                           [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].defaultValue" #default="ngModel">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>&nbsp;</label><br />
                    <span class="custom-checkbox">
                      <input type="checkbox" name="addToModScreen" id="addToModScreen" #addToModScreen="ngModel" [(ngModel)]="characterStatsFormModal.addToModScreen" /> <span>Add this stat to the dice 'ADD MOD' screen</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.Combo">
              <div class="form-row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="Minimum">Minimum Number Value (optional)</label>
                    <input type="text" id="minimum" name="minimum" class="form-control" placeholder="Minimum Value"
                           [(ngModel)]="characterStatsFormModal.characterStatComboViewModel.minimum" #Minimum="ngModel">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="Maximum">Maximum Number Value (optional)</label>
                    <input type="text" id="maximum" name="maximum" class="form-control" placeholder="Maximum Value"
                           [(ngModel)]="characterStatsFormModal.characterStatComboViewModel.maximum" #Maximum="ngModel">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="default">Default Number Value (optional)</label>
                    <input type="text" id="default" name="default" class="form-control" placeholder="Default Value"
                           [(ngModel)]="characterStatsFormModal.characterStatComboViewModel.defaultValue" #default="ngModel">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label for="default">Default Text Value (optional)</label>
                    <input type="text" id="default" name="defaultText" class="form-control" placeholder="Default Value"
                           [(ngModel)]="characterStatsFormModal.characterStatComboViewModel.defaultText" #default="ngModel">
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <span class="custom-checkbox">
                      <input type="checkbox" name="addToModScreen" id="addToModScreen" #addToModScreen="ngModel" [(ngModel)]="characterStatsFormModal.addToModScreen" /> <span>Add this stat to the dice 'ADD MOD' screen</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.CurrentMax">
              <div class="form-row">
                <div class="col-12 col-sm-6">
                  <!-- Character stat name -->
                  <h2 class="formfiled-heading">CURRENT</h2>
                  <div class="form-group">
                    <label>Minimum Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Minimum Value" name="MinimumMinText" id="MinimumMinText" #MinimumMinText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].minimum">
                  </div>
                  <div class="form-group">
                    <label>Maximum Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Maximum Value" name="MinimumMaxText" id="MinimumMaxText" #MinimumMaxText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].maximum">
                  </div>
                  <div class="form-group">
                    <label>Default Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Default Value" name="MinimumdefaultText" id="MinimumdefaultText" #MinimumdefaultText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].defaultValue">
                  </div>
                  <!-- End of character stat name -->
                </div>
                <div class="col-12 col-sm-6">
                  <!-- Character stat name -->
                  <h2 class="formfiled-heading">MAX</h2>
                  <div class="form-group">
                    <label>Minimum Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Minimum Value" name="MaximumMinText" id="MaximumMinText" #MaximumMinText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[1].minimum">
                  </div>
                  <div class="form-group">
                    <label>Maximum Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Maximum Value" name="MaximumMaxText" id="MaximumMaxText" #MaximumMaxText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[1].maximum">
                  </div>
                  <div class="form-group">
                    <label>Default Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Default Value" name="MaximumdefaultText" id="MaximumdefaultText" #MaximumdefaultText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[1].defaultValue">
                  </div>
                  <!-- End of character stat name -->
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <span class="custom-checkbox">
                      <input type="checkbox" name="addToModScreen" id="addToModScreen" #addToModScreen="ngModel" [(ngModel)]="characterStatsFormModal.addToModScreen" /> <span>Add this stat to the dice 'ADD MOD' screen</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.ValueSubValue">
              <div class="form-row">
                <div class="col-12 col-sm-6">
                  <!-- Character stat name -->
                  <h2 class="formfiled-heading">Value</h2>
                  <div class="form-group">
                    <label>Minimum Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Minimum Value" name="ValueMinText" id="ValueMinText" #ValueMinText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].minimum">
                  </div>
                  <div class="form-group">
                    <label>Maximum Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Maximum Value" name="ValueMaxText" id="ValueMaxText" #ValueMaxText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].maximum">
                  </div>
                  <div class="form-group">
                    <label>Default Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Default Value" name="ValuedefaultText" id="ValuedefaultText" #ValuedefaultText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].defaultValue">
                  </div>
                  <!-- End of character stat name -->
                </div>
                <div class="col-12 col-sm-6">
                  <!-- Character stat name -->
                  <h2 class="formfiled-heading">Sub-Value</h2>
                  <div class="form-group">
                    <label>Minimum Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Minimum Value" name="SubMinText" id="SubMinText" #SubMinText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[1].minimum">
                  </div>
                  <div class="form-group">
                    <label>Maximum Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Maximum Value" name="SubMaxText" id="SubMaxText" #SubMaxText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[1].maximum">
                  </div>
                  <div class="form-group">
                    <label>Default Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Default Value" name="SubdefaultText" id="SubdefaultText" #SubdefaultText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[1].defaultValue">
                  </div>
                  <!-- End of character stat name -->
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <span class="custom-checkbox">
                      <input type="checkbox" name="addToModScreen" id="addToModScreen" #addToModScreen="ngModel" [(ngModel)]="characterStatsFormModal.addToModScreen" /> <span>Add this stat to the dice 'ADD MOD' screen</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.Number">
              <div class="form-row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Minimum Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Minimum Value" name="NumberMinText" id="NumberMinText" #NumberMinText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].minimum">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Maximum Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Maximum Value" name="NumberMaxText" id="NumberMaxText" #NumberMaxText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].maximum">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Default Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Default Value" name="NumberdefaultText" id="NumberdefaultText" #NumberdefaultText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].defaultValue">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>&nbsp;</label><br />
                    <span class="custom-checkbox">
                      <input type="checkbox" name="addToModScreen" id="addToModScreen" #addToModScreen="ngModel" [(ngModel)]="characterStatsFormModal.addToModScreen" /> <span>Add this stat to the dice 'ADD MOD' screen</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.Command">
              <!--<div class="form-row">
          <div class="col-12 col-sm-6">
              <label>Standard Attack</label>
          </div>
      </div>-->
              <div class="form-row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Default Value (optional)</label>
                    <span class="input-group-btn">
                      <button type="button" title="Show dice" tooltip="Show dice" class="btn icon icon-dice icon-rsi btn-simple-primary" (click)="openDiceModal(-1,characterStatsFormModal.characterStatDefaultValueViewModel[0].defaultValue)"></button>
                    </span>
                    <input type="text" class="form-control" placeholder="Default Value" name="defaultCommand" id="defaultCommand" #defaultCommand="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].defaultValue">
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>&nbsp;</label><br />
                    <span class="custom-checkbox">
                      <input type="checkbox" name="addToModScreen" id="addToModScreen" #addToModScreen="ngModel" [(ngModel)]="characterStatsFormModal.addToModScreen" /> <span>Add this stat to the dice 'ADD MOD' screen</span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.Text">
              <div class="form-row">
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Default Value (optional)</label>
                    <input type="text" class="form-control" placeholder="Default Value" name="TextdefaultText" id="TextdefaultText" #TextdefaultText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].defaultValue">
                  </div>
                </div>
              </div>
            </div>
            <div class="col" *ngIf="characterStatsFormModal.characterStatTypeId===STAT.RichText">
              <div class="form-row">
                <div class="col-12 col-sm-12">
                  <div class="form-group">
                    <label>Default Value (optional)</label>
                    <div id="eg-royal-theme" [froalaEditor]="options('Description')" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].defaultValue" name="RichTextdefaultText"></div>
                    <!--<input type="text" class="form-control" placeholder="Default Value" name="RichTextdefaultText" id="RichTextdefaultText" #RichTextdefaultText="ngModel" [(ngModel)]="characterStatsFormModal.characterStatDefaultValueViewModel[0].defaultValue">-->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Condition Character Stat-->
          <ng-container *ngIf="characterStatsFormModal.characterStatTypeId===STAT.Condition">
            <div class="form-row">
              <div class="col">
                <fieldset class="form-group input-list stat-types">
                  <legend>Conditions</legend>
                  <ul class="input-list-items">
                    <li class="form-check mb-0" *ngFor="let condition of characterStatsFormModal?.characterStatConditionViewModel;let i = index;">
                      <ng-container *ngIf="(!(characterStatsFormModal?.characterStatConditionViewModel?.length==condition.sortOrder && condition.ifClauseStatId == null)) && condition.sortOrder==1">
                        <div class="form-row">
                          <div class="col-3 col-sm-1 mb-2">
                            <span class="col-form-label pull-right">IF</span>
                          </div>
                          <div class="col-9 col-sm-4 mb-2">
                            <!--<select class="form-control" [name]="'ifClauseStatId'+i" (change)="conditionStatChanged($event,condition)">
                      <option value="0">Select character stat</option>
                      <ng-container *ngFor="let stat of characterStatsForConditions;let i_c = index;">
                          <option [value]="stat?.tempCharacterStatId" [selected]="IsStatSelected(stat,condition)">
                              {{stat?.statName}}
                          </option>
                      </ng-container>

                  </select>-->
                            <input class="form-control" type="text" placeholder="Character stat" [(ngModel)]="condition.ifClauseStatText" [name]="'ifClauseStatText'+i" (change)="ifClauseStatTextChanged(condition)" [ngClass]="(condition.compareValue_isNumeric == condition.ifClauseStatText_isNumeric && condition.ifClauseStatText_isValid)?'':'textbox-error'" />
                          </div>
                          <div class="col-6 col-sm-3 mb-2">
                            <select class="form-control" [(ngModel)]="condition.conditionOperatorID" [name]="'conditionOperatorID'+i">
                              <ng-container *ngFor="let operator of ConditionOperators;let i_o = index;">
                                <!--<option [value]="operator?.conditionOperatorId">
                          {{operator?.name}}
                      </option>-->
                                <option *ngIf="!(condition.isNumeric && condition.ifClauseStatText_isNumeric && condition.compareValue_isNumeric) && !operator.isNumeric" [value]="operator?.conditionOperatorId">
                                  {{operator?.name}}
                                </option>
                                <option *ngIf="(condition.isNumeric && condition.ifClauseStatText_isNumeric && condition.compareValue_isNumeric)" [value]="operator?.conditionOperatorId">
                                  {{operator?.name}}
                                </option>
                              </ng-container>

                            </select>
                          </div>
                          <div class="col-6 col-sm-4 mb-2">
                            <!--<input *ngIf="condition.isNumeric" class="form-control" type="number" placeholder="value" [(ngModel)]="condition.compareValue" [name]="'compareValue'+i" pattern="^-?[0-9]\d*(\\d+)?$" (input)="checkNum($event)" />
                               <input *ngIf="!condition.isNumeric" class="form-control" type="text" placeholder="value" [(ngModel)]="condition.compareValue" [name]="'compareValue1'+i" />-->
                            <input class="form-control" type="text" placeholder="value" [(ngModel)]="condition.compareValue" [name]="'compareValue_'+i" (change)="CompareValueTextChanged(condition)" [ngClass]="(condition.compareValue_isNumeric == condition.ifClauseStatText_isNumeric && condition.compareValue_isValid)?'':'textbox-error'" />
                           
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-4 col-sm-5">
                            <!--<span>||{{condition.ifClauseStatText_isNumeric}},{{condition.compareValue_isNumeric}},{{condition.isNumeric}}||</span>-->
                            <span class="col-form-label pull-right">THEN</span>
                          </div>
                          <div class="col-8 col-sm-7">
                            <input class="form-control" type="text" placeholder="State" [(ngModel)]="condition.result" [name]="'result'+i" />
                          </div>
                        </div>
                      </ng-container>

                      <ng-container *ngIf="(!(characterStatsFormModal?.characterStatConditionViewModel?.length==condition.sortOrder && condition.ifClauseStatId == null)) && condition.sortOrder!=1">
                        <hr />
                        <div class="form-row">
                          <div class="col-4 col-sm-2 mb-2">
                            <span class="col-form-label pull-right">ELSE IF</span>
                          </div>
                          <div class="col-8 col-sm-4 mb-2">
                            <!--<select class="form-control" [name]="'ifClauseStatId'+i" (change)="conditionStatChanged($event,condition)">
                      <option value="0">Select character stat</option>
                      <ng-container *ngFor="let stat of characterStatsForConditions;let i_c = index;">
                          <option [value]="stat?.tempCharacterStatId" [selected]="IsStatSelected(stat,condition)">
                              {{stat?.statName}}
                          </option>
                      </ng-container>

                  </select>-->
                            <input class="form-control" type="text" placeholder="Character stat" [(ngModel)]="condition.ifClauseStatText" [name]="'ifClauseStatText'+i" (change)="ifClauseStatTextChanged(condition)" [ngClass]="(condition.compareValue_isNumeric == condition.ifClauseStatText_isNumeric && condition.ifClauseStatText_isValid)?'':'textbox-error'" />
                          </div>
                          <div class="col-6 col-sm-3 mb-2">
                            <select class="form-control" [(ngModel)]="condition.conditionOperatorID" [name]="'conditionOperatorID'+i">
                              <ng-container *ngFor="let operator of ConditionOperators;let i_o = index;">
                                <!--<option [value]="operator?.conditionOperatorId">
                          {{operator?.name}}
                      </option>-->
                                <option *ngIf="!(condition.isNumeric && condition.ifClauseStatText_isNumeric && condition.compareValue_isNumeric) && !operator.isNumeric" [value]="operator?.conditionOperatorId">
                                  {{operator?.name}}
                                </option>
                                <option *ngIf="(condition.isNumeric && condition.ifClauseStatText_isNumeric && condition.compareValue_isNumeric)" [value]="operator?.conditionOperatorId">
                                  {{operator?.name}}
                                </option>
                              </ng-container>
                            </select>
                          </div>
                          <div class="col-6 col-sm-3 mb-2">
                            <!--<input *ngIf="condition.isNumeric" class="form-control" type="number" placeholder="value" [(ngModel)]="condition.compareValue" [name]="'compareValue'+i" pattern="^-?[0-9]\d*(\\d+)?$" (input)="checkNum($event)" />
  <input *ngIf="!condition.isNumeric" class="form-control" type="text" placeholder="value" [(ngModel)]="condition.compareValue" [name]="'compareValue'+i" />-->
                            <input class="form-control" type="text" placeholder="value" [(ngModel)]="condition.compareValue" [name]="'compareValue'+i" (change)="CompareValueTextChanged(condition)" [ngClass]="(condition.compareValue_isNumeric == condition.ifClauseStatText_isNumeric && condition.compareValue_isValid)?'':'textbox-error'" />
                            
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col-4 col-sm-5">
                            <!--<span>||{{condition.ifClauseStatText_isNumeric}},{{condition.compareValue_isNumeric}},{{condition.isNumeric}}||</span>-->
                            <span class="col-form-label pull-right">THEN</span>
                          </div>
                          <div class="col-8 col-sm-7">
                            <label class="form-check-label">
                              <input class="form-control" type="text" placeholder="State" [(ngModel)]="condition.result" [name]="'result'+i" />
                              <span>
                                <button type="button" (click)="removeCondition(i,characterStatsFormModal?.characterStatConditionViewModel)" tooltip="Remove"
                                        class="btn icon icon-trash btn-simple-primary pull-right"></button>
                              </span>
                            </label>
                          </div>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="characterStatsFormModal?.characterStatConditionViewModel?.length==condition.sortOrder && condition.ifClauseStatId == null">
                        <hr />
                        <div class="form-row">
                          <div class="col-3 col-sm-2 mb-2">
                            <span class="col-form-label pull-right">ELSE</span>
                          </div>
                          <div class="col-9 col-sm-6 mb-2">
                            <input class="form-control" type="text" placeholder="Default State" [(ngModel)]="condition.result" [name]="'result1'+i" />
                          </div>
                          <div class="col-12 col-sm-4 mb-2">
                            <!--<button *ngIf="characterStatsFormModal?.characterStatConditionViewModel?.length<=10" type="button" class="btn btn-accent btn-block" (click)="AddElseIfCondition(i)">ADD CONDITION</button>-->
                            <button *ngIf="characterStatsFormModal?.characterStatConditionViewModel?.length" type="button" class="btn btn-accent btn-block" (click)="AddElseIfCondition(i)">ADD CONDITION</button>
                          </div>
                        </div>
                      </ng-container>
                    </li>
                  </ul>
                </fieldset>
              </div>

            </div>
            <div class="form-row">
              <div class="col-12">
                <div class="form-group">
                  <span class="custom-checkbox">
                    <input type="checkbox" name="addToModScreen" id="addToModScreen" #addToModScreen="ngModel" [(ngModel)]="characterStatsFormModal.addToModScreen" /> <span>Add this stat to the dice 'ADD MOD' screen</span>
                  </span>
                </div>
              </div>
              <div class="col-12" *ngIf="isGM">
                <div class="form-group">
                  <span class="custom-checkbox">
                    <input type="checkbox" name="alertPlayer" id="alertPlayer" #Player="ngModel" [(ngModel)]="characterStatsFormModal.alertPlayer" /> <span>Alert Player when this value changes</span>
                  </span>
                </div>
              </div>
              <div class="col-12" *ngIf="isGM">
                <div class="form-group">
                  <span class="custom-checkbox">
                    <input type="checkbox" name="alertGM" id="alertGM" #GM="ngModel" [(ngModel)]="characterStatsFormModal.alertGM" /> <span>Alert GM when this value changes</span>
                  </span>
                </div>
              </div>
            </div>
          </ng-container>
          <!-- End of Condition Character Stat-->
        </div>
            <div class="modal-footer">
                <span *ngIf="!CheckConditionsAreValid()" class="text-danger" style="font-size:12px;">
                    <span *ngIf="!erMessage">                        
                        Both text fields must conains result of same type either numeric or non-numeric.
                    </span>
                    <span *ngIf="erMessage">
                        {{erMessage}}
                    </span>
                   
                </span>
                <button type="button" data-dismiss="modal" class="btn btn-simple-accent" (click)="close()">Cancel</button>
                <button type="submit" [disabled]="isLoading || !CheckConditionsAreValid()" class="btn btn-accent">{{button}}</button>
            </div>
        </div>
</form>
<!-- End of new character stat popup -->
