
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title wraptext" id="viewImagePopupTitle">{{title}}</h5>
    <a href="https://rpgsmith.com/helpb/#b5h" class="help-icon  icon icon-Gen-Help crsr-pointer" target="_blank"></a>
    <button type="button" class="btn icon icon-cross btn-simple-primary close" (click)="close()"></button>
  </div>

    <div class="modal-body">


        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="newItemStats">Name</label><br />
                    <span class="">{{executeTile?.name}}</span>
                </div>
                <div class="form-group">
                    <label for="newItemStats">Description</label><br />
                    <span class="">{{executeTile?.description}}</span>
                </div>
                <div class="form-group">
                    <label for="newItemStats">Command</label><br />
                    <span class="">{{executeTile?.command}}</span>
                </div>
                <div class="form-group">
                    <label for="newItemStats">Metatags</label><br />
                    <span class="">{{executeTile?.metatags}}</span>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center">
                <div class="image-box">
                    <img *ngIf="imageUrl !== '' && imageUrl !== null && imageUrl !== undefined"
                         [src]="imageUrl" [alt]="title">
                </div>

            </div>
        </div>

    </div>

    <div class="modal-footer flexcol">

        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-edit hide float-left" (click)="edit()">Edit</button>
                <button type="button" class="btn btn-outline-accent float-right" (click)="close()">Close</button>
            </div>
        </div>

    </div>
</div>

