.form-check{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.indicators .input-list-items .form-check-label span em:before {
    padding-right: 8px;
    float: left;
}
.modal-footer {
    padding: 12px 15px 10px;
    border-top: 1px solid #dedbda;
}

.modal-footer .btn {
    margin-top: 0px !important;
}
.input-box{
  width: auto !important;
  display: inline-block !important;
  /* min-width: 10px; */
  max-width: 65px;
  padding: 3px;
  background: #fff;
  border-left: 0px !important;
  height: 28px !important;
  border-top: 0px !important;
  border-bottom: 0px !important;
  margin-right: 4px !important;
}

.input-box input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
i.icon.monster-icon {
  width: 40px !important;
  height: 22px !important;
}
span.input-box {
  border-right: 0px !important;
}
.modal-title {
  
  line-height: 2.5;
}

.manage-ruleset-header span:first-child {
  display: inline-block;
  margin-right: 10px;
}

.modal-title span.manage-ruleset-header {
  float: right;
  position: relative;
  display: inline-block;
  /*background: #fff;*/
  padding: 4px;
  /*border: 1px solid #999;*/
  font-size: 12px;
  margin-right: 10px;
  max-width: 220px !important;
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.modal-title span.manage-ruleset-header img {
  width: 27px;
  height: 27px;
}

.modal-title span.manage-ruleset-header {
  font-size: 12px;
}

