<form name="itemMasterForm" #f="ngForm" (ngSubmit)="f.form.valid && submitForm(abilityFormModal)">
  <div class="modal-header">
    <h5 class="modal-title" id="createItemPopupTitle">{{title}}</h5>
    <a href="https://rpgsmith.com/helpe/#e4b" class="help-icon icon icon-Gen-Help crsr-pointer" target="_blank"></a>
    <button type="button" (click)="close()" class="btn icon icon-cross btn-simple-primary close"></button>
  </div>
  <div class="modal-body" *ngIf="!isLoading">

    <div class="form-row">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="newAbilityName">Name</label>
          <input *ngIf="abilityFormModal.view != 'edit'" type="text" id="newAbilityName" name="newAbilityName" class="form-control" placeholder="Name" [autofocus] [ngStyle]="{'border-color': f.submitted && !newAbilityName.valid ? 'red' : '#d3cfce'}"
                 [(ngModel)]="abilityFormModal.name" #newAbilityName="ngModel" required />
          <input *ngIf="abilityFormModal.view == 'edit'" type="text" id="newAbilityName" name="newAbilityName" class="form-control" placeholder="Name" [ngStyle]="{'border-color': f.submitted && !newAbilityName.valid ? 'red' : '#d3cfce'}"
                 [(ngModel)]="abilityFormModal.name" #newAbilityName="ngModel" required />
        </div>

        <div class="form-group">
          <label for="level">Level</label>
          <tag-input name="level" [(ngModel)]='level' separatorKeyCodes="[9]" editable="true" placeholder="Level(s), [Tab] Separated" secondaryPlaceholder="Level(s), [Tab] Separated"
                     inputId="level" inputClass="form-control metatags-field" class="form-control">
            <ng-template let-item="item" let-index="index">
              <delete-icon class="tagdeleteicon" (click)="removeTag(level,item,index)"></delete-icon>
              <span *ngIf="item.value;else other"> {{item.value}} </span>
              <ng-template #other> {{item}} </ng-template>
            </ng-template>
          </tag-input>
          <!--<rl-tag-input name="level" class="form-control" [(ngModel)]="level" placeholder="Level"></rl-tag-input>-->
        </div>

        <div class="form-group">
          <label for="newAbilityTags">Tag(s)</label>
          <tag-input name="metatags" [(ngModel)]='metatags' separatorKeyCodes="[9]" editable="true" placeholder="Tags, [Tab] Separated" secondaryPlaceholder="Tags, [Tab] Separated"
                     inputId="metatags" inputClass="form-control metatags-field" class="form-control">
            <ng-template let-item="item" let-index="index">
              <delete-icon class="tagdeleteicon" (click)="removeTag(metatags,item,index)"></delete-icon>
              <span *ngIf="item.value;else other"> {{item.value}} </span>
              <ng-template #other> {{item}} </ng-template>
            </ng-template>
          </tag-input>
          <!--<rl-tag-input name="metatags" class="form-control" [(ngModel)]="metatags" placeholder="Tags"></rl-tag-input>-->
        </div>
      </div>
      <div class="col-12 col-md-6">
        <!-- Image file -->
        <div class="form-group input-image input-image-alt">
          <label for="newItemImageFile">Image (optional)</label>
          <div class="input-image-control input-image-note input-image-trigger" (click)="cropImage(null,true,'VIEW.ADD')"
               *ngIf="((abilityFormModal.abilityId === undefined || abilityFormModal.abilityId === 0)
                            && !showWebButtons && abilityFormModal.imageUrl === undefined)
                            || (!showWebButtons && (abilityFormModal.imageUrl === undefined || abilityFormModal.imageUrl === null))">
            <div class="icon icon-upload"><span>Click here to upload.</span><small>(320 x 320 px)</small></div>
          </div>
          <div class="form-group input-image-note input-image-trigger" (click)="cropImage(abilityFormModal.imageUrl,true,'VIEW.EDIT')"
               *ngIf="(!showWebButtons && abilityFormModal.imageUrl !== undefined && abilityFormModal.imageUrl !== null)">
            <img class="spell-img" [src]="abilityFormModal.imageUrl"
                 onerror="this.src='../assets/images/DefaultImages/ability.jpg';" />
          </div>
          <div class="input-image-control input-image-note input-image-buttons show" *ngIf="showWebButtons">
            <img [src]="abilityFormModal.imageUrl" class="bg-image" />
          </div>
          <input type="file" id="newItemImagePortrait" class="form-control-file">
        </div>
        <!-- End of image file -->
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="newAbilityMaxUses">Max Numbers of Uses</label>
          <input type="number" [pattern]="numberRegex" id="newAbilityMaxUses" name="newAbilityMaxUses" class="form-control" placeholder="Max"
                 [ngStyle]="{'border-color': f.submitted && !newAbilityMaxUses.valid ? 'red' : '#d3cfce'}"
                 [(ngModel)]="abilityFormModal.maxNumberOfUses" #newAbilityMaxUses="ngModel" />

          <small style="color:#a94442;" [hidden]="newAbilityMaxUses.valid || (newAbilityMaxUses.pristine && !f.submitted)">
            Only valid numbers are allowed.
          </small>
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="newAbilityCurrUses">Current Number of Uses</label>
          <input *ngIf="isFromCharacter" type="number" [pattern]="numberRegex" id="newAbilityCurrUses" name="newAbilityCurrUses" class="form-control" placeholder="Current"
                 [ngStyle]="{'border-color': f.submitted && !newAbilityCurrUses.valid ? 'red' : '#d3cfce'}"
                 [(ngModel)]="abilityFormModal.currentNumberOfUses" #newAbilityCurrUses="ngModel" />
          <input *ngIf="!isFromCharacter" type="number" [pattern]="numberRegex" id="newAbilityCurrUser\s1" name="newAbilityCurrUses1" class="form-control" placeholder="Current"
                 [ngStyle]="{'border-color': f.submitted && !newAbilityCurrUses1.valid ? 'red' : '#d3cfce'}"
                 [(ngModel)]="abilityFormModal.currentNumberOfUses" #newAbilityCurrUses1="ngModel" />
          <!--<small style="color:#a94442;" [hidden]="newAbilityCurrUses1.valid || (newAbilityCurrUses1.pristine && !f.submitted)">
              Only valid numbers are allowed.
          </small>-->
        </div>
      </div>

    </div>

    <div class="form-row">
      <div class="col-12">
        <div class="form-group input-command">
          <label for="newAbilityCommand">Command</label>
          <div class="row">
            <!--<div class="form-group col-11 mb-1" *ngIf="abilityFormModal.abilityCommandVM?.length == 0">
              <span class="input-group-btn command-dice">
                <button type="button" title="Show dice" tooltip="Show dice" (click)="openDiceModal(-1, abilityFormModal.command)" class="btn icon icon-dice icon-rsi btn-simple-primary"></button>
              </span>
              <input type="text" id="newAbilityCommand" name="newAbilityCommand" class="form-control mr-1" placeholder="Select Dice"
                     [(ngModel)]="abilityFormModal.command" #newAbilityCommand="ngModel" />
            </div>-->
            <!--<div class="form-group col-6 mb-1" *ngIf="abilityFormModal.abilityCommandVM?.length >= 1">-->
            <div class="form-group col-6 mb-1">
              <span class="input-group-btn command-dice">
                <button type="button" title="Show dice" tooltip="Show dice" (click)="openDiceModal(-1, abilityFormModal.command)" class="btn icon icon-dice icon-rsi btn-simple-primary"></button>
              </span>
              <input type="text" id="newAbilityCommand" name="newAbilityCommand" class="form-control mr-1" placeholder="Select Dice"
                     [(ngModel)]="abilityFormModal.command" #newAbilityCommand="ngModel" />
            </div>
            <!--<div class="form-group col-5 mb-1 command-name" *ngIf="abilityFormModal.abilityCommandVM?.length >= 1">-->
            <div class="form-group col-5 mb-1 command-name">
              <input type="text" [id]="newAbilityName1" [name]="newAbilityName1" class="form-control mr-1" placeholder="Name"
                     [(ngModel)]="abilityFormModal.commandName" #newAbilityName1="ngModel" />
            </div>
            <div class="form-group pull-right add-command">
              <button class="btn icon icon-plus btn-primary" type="button" (click)="addCommand(abilityFormModal.abilityCommandVM)"></button>
            </div>
          </div>
          <!-- <div class="input-group mb-1" *ngFor="let command of abilityFormModal.abilityCommandVM;let i = index;">
              <input type="text" [id]="'newAbilityCommand'+i" [name]="'newAbilityCommand'+i" class="form-control mr-1" placeholder="Select dice"
                     [(ngModel)]="command.command" />

              <input type="text" [id]="'newAbilityCommand'+i" [name]="'newAbilityCommand'+i" class="form-control mr-1" placeholder="Name"
                     [(ngModel)]="command.name" />

              <span class="pull-right">
                  <button class="btn icon icon-trash btn-primary pull-right" type="button" (click)="removeCommand(command)"></button>
              </span>
          </div> -->
          <div class="row" *ngFor="let command of abilityFormModal.abilityCommandVM;let i = index;">
            <div class="form-group col-6 mb-1">
              <span class="input-group-btn command-dice">
                <button type="button" title="Show dice" tooltip="Show dice" (click)="openDiceModal(i, command.command)" class="btn icon icon-dice icon-rsi btn-simple-primary"></button>
              </span>
              <input type="text" [id]="'newAbilityCommand'+i" [name]="'newAbilityCommand'+i" class="form-control mr-1" placeholder="Select dice"
                     [(ngModel)]="command.command" />
            </div>
            <div class="form-group col-5 mb-1 command-name">
              <input type="text" [id]="'newAbilityname'+i" [name]="'newAbilityName'+i" class="form-control mr-1" placeholder="Name"
                     [(ngModel)]="command.name" />
            </div>
            <div class="form-group pull-right add-command">
              <button class="btn icon icon-trash btn-primary pull-right" type="button" (click)="removeCommand(command)"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-separator"></div>

    <div class="form-row">
      <div class="col-12">
        <div class="form-group">
          <label for="newAbilityDescription">Description</label>
          <div [froalaEditor]="options('Description')" [(ngModel)]="abilityFormModal.description" name="description"></div>
          <!--<textarea id="newAbilityDescription" name="newAbilityDescription" class="form-control" placeholder="Description" rows="5"
            [(ngModel)]="abilityFormModal.description" #newAbilityDescription="ngModel"></textarea>-->
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="newAbilityStats">Stats</label>
          <div [froalaEditor]="options('Input stat')" [(ngModel)]="abilityFormModal.stats" name="stats"></div>
          <!--<textarea id="newAbilityStats" class="form-control" name="newAbilityStats" placeholder="Input stat" rows="5"
            [(ngModel)]="abilityFormModal.stats" #newAbilityStats="ngModel"></textarea>-->
        </div>
      </div>

      <!--GM Only-->
      <div class="col-12" *ngIf="(isFromCharacter && isGM_Only) || !isFromCharacter">
        <div class="form-group">
          <label for="GM_Only">GM Only</label>
          <div [froalaEditor]="options('GM Only')" [(ngModel)]="abilityFormModal.gmOnly" name="GMOnly"></div>
        </div>
      </div>

    </div>
    <div class="form-separator"></div>

    <div class="form-row">
      <div class="col-12 col-md-6">
        <!--<fieldset class="form-group input-switch input-switch-dual input-switch-muted">
            <legend>Enable?</legend>
            <ul class="input-switch-items">
                <li class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="IsEnable1" [checked]="abilityFormModal.isEnabled"
                               (click)="setEnableDisable(true)" />
                        <span>Yes</span>
                    </label>
                </li>
                <li class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="IsEnable2" [checked]="!abilityFormModal.isEnabled"
                               (click)="setEnableDisable(false)" />
                        <span>No</span>
                    </label>
                </li>
            </ul>
        </fieldset>-->
        <!--<div class="form-group">
            <label for="newAbilityAssocItem">Associated Item</label>
            <input type="text" id="newAbilityAssocItem" name="newAbilityAssocItem" class="form-control" placeholder="Name of the level" />
        </div>-->
        <!--<div class="form-group">
            <label for="newAbilityTiles">Tile(s)</label>
            <input type="text" id="newAbilityTiles" class="form-control" placeholder="Enter the tile descritption">
        </div>-->
      </div>

    </div>




    <div class="form-row" *ngIf="ruleSet?.isBuffAndEffectEnabled">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="newItemSpells">Associated Buffs And Effects</label>
          <angular2-multiselect id="buffAndEffectsList" [data]="buffAndEffectsList" [(ngModel)]="selectedBuffAndEffects" name="newItemBuffAndEffests" [settings]="buffAndEffectsSettings">
            <c-item id="spell">
              <ng-template let-item="item">
                <span class="associate-label-name">{{item.name}}</span>
                <img [src]="item.imageUrl" class="pull-right associate-img"
                     onerror="this.src = '../assets/images/BnE/Def_BnE.jpg'" />
              </ng-template>
            </c-item>
          </angular2-multiselect>
        </div>
      </div>
    </div>

  </div>

  <app-loader [isLoading]="isLoading"></app-loader>


  <div class="modal-footer">
    <button type="button" (click)="close()" class="btn btn-simple-accent">Cancel</button>
    <button type="submit" [disabled]="isLoading" class="btn btn-accent">{{button}}</button>
  </div>

</form>
