.input-image-buttons input {
  margin-top: -42px;
  opacity: 0;
}

.input-image-buttons .input-image-button-computer {
  margin-bottom: 10px;
}

.input-image-control {
  min-height: 13rem;
}

.character-img {
  max-width: 100%;
  max-height: 13rem;
}

.text-cut {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-cut em {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 60%;
  /* height: 1.2em; */
  white-space: nowrap;
}

.input-image-trigger {
  width: 100%;
  background: #c3c3c3;
  height: 13.5rem;
}

.input-image-trigger img {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.btn-primary {
  position: relative
}

.bg-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 100%;
  max-height: 100%;
}

.input-image-note .icon span {
  font-size: 1rem !important;
}

.input-image-note .icon small {
  font-size: 0.75rem !important;
}

.input-list-items span {
  height: 2.175rem;
}

.input-list-items {
  height: 13rem;
  overflow: hidden;
  overflow-y: scroll;
  background: transparent;
  border: 1px solid #938c88;
}

.input-list-items::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #F5F5F5;
}

.input-list-items::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.input-list-items::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #938c88;
}

.modal-footer {
  padding: 12px 15px 10px;
  border-top: 1px solid #dedbda;
}

.modal-footer .btn {
  margin-top: 0px !important;
}

@media(max-width: 767.98px) {
  .input-image-buttons input {
    margin-top: -50px;
    opacity: 0;
  }

  .input-image-trigger {
    height: 270px;
  }

  .input-image-control {
    height: 270px
  }
}

.search-rule-set {
  margin-bottom: 0.25rem;
}

.search-rule-set + .input-list-items {
  padding-top: 3px;
  height: 10.8rem;
}
@media (max-width: 767.5px) {
  .modal-footer > :not(:last-child) {
    margin-right:0px;
  }
  .small-btns{
    width:50% !important;
    margin:0px 0px 10px 0;
  }
}
.btn-buy-character {
  white-space: normal;
  font-size: 11px;
}
.btn-buy-character-green {
  background: none !important;
  border: 2px solid #29a745;
  color: #29a745 !important;
} 
