
<form name="customDiceForm" #f="ngForm" (ngSubmit)="f.form.valid && submitForm()">

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="customDiceTitle">
                {{view}} Custom Dice
                <div class="manage-ruleset-header">
                    <span>
                        <img *ngIf="ruleset?.imageUrl" [src]="ruleset?.imageUrl">
                    </span>
                    <span>{{ruleset?.ruleSetName}}</span>
                </div>
            </h5>
            <button type="button" class="btn icon icon-cross btn-simple-primary text-right close" (click)="close(ruleset)"></button>
        </div>
        <div class="modal-body">
            <div class="form-row">
                <div class="col-8">
                    <div class="form-group input-with-text">
                        <label for="editRulesetCurrency">Name</label>
                        <br />
                        D
                        <input type="text" id="name" name="name" class="form-control" placeholder="Name" (input)="checkName($event)"
                               [(ngModel)]="customDice.name" #name="ngModel" required [ngClass]="{ 'textbox-border-red': f.submitted && !customDice.name }"  maxlength="20" pattern="^[a-zA-Z0-9]+$" (change)="checkNameIsValid($event)">
                        <p *ngIf="IsFirstLetterNumeric" class="text-danger">&nbsp;&nbsp;&nbsp; Please make 1st Character Alpha (A-Z)</p>
                    </div>
                    <fieldset class="form-group input-switch input-switch-dual">
                        <legend>Numeric</legend>
                        <ul class="input-switch-items">
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="show" type="radio" [checked]="customDice.isNumeric" (change)="setNumeric(true)" [value]="customDice.isNumeric">
                                    <span>Yes</span>
                                </label>
                            </li>
                            <li class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="show" type="radio" [checked]="!customDice.isNumeric" (change)="setNumeric(false)" [value]="!customDice.isNumeric">
                                    <span>No</span>
                                </label>
                            </li>
                        </ul>
                    </fieldset>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <label for="editRulesetCurrency">Icon</label>
                        <div class="dice-icon-image icon btn icon-rsi" [ngClass]="customDice.icon" (click)="openSelectDiceIcon(ruleset,customDice)"></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12">
                    <div class="form-group input-command">
                        <label for="result">Results</label>
                        <div class="row" *ngFor="let result of customDice.results; let i=index">                                                  
                            <div class="form-group col-12" [ngClass]="i > 1 ? 'input-with-button' : ''">
                                <!--[ngClass]="(customDice.isNumeric && !result.IsNumeric)?'ng-invalid ng-touched':''"-->
                                <input *ngIf="!customDice.isNumeric" class="form-control mr-1" type="text" [name]="'result-'+i" placeholder="Result"
                                       [(ngModel)]="result.name" #resultModel="ngModel"  [ngClass]="{ 'textbox-border-red': f.submitted && !result.name }" maxlength="20">

                                <input *ngIf="customDice.isNumeric" class="form-control mr-1" type="text" [name]="'result-'+i" placeholder="Result"
                                       [(ngModel)]="result.name" #resultModel="ngModel"  [ngClass]="{ 'textbox-border-red': f.submitted && !result.name }" pattern="^-?[0-9]\d*(\\d+)?$"  maxlength="20">

                                <button (click)="removeResult(result)" *ngIf="i>1" class="btn icon icon-Gen-Trash btn-default text-orange" type="button"></button>
                                <!--<p *ngIf="customDice.isNumeric" class="text-danger">*Only numeric fields are allowed.</p>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-12 mb-3">
                    <button type="button" class="btn btn-accent" (click)="addResult(customDice.results)">ADD RESUlT</button>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-simple-accent" (click)="close(ruleset)">Cancel</button>
            <button type="submit" [disabled]="IsFirstLetterNumeric" class="btn btn-accent">{{view}}</button>
        </div>
    </div>

</form>
