<div class="page-search-result">
    <div class="container">
        <div class="page-toolbar-wrapper">
            <div class="page-toolbar-title">
                <a class="icon icon-back" [routerLink]="['/characters']"></a>
                <h1>Search {{defaultText}}</h1>
            </div>

            <div class="page-toolbar-dropdown">
                <!-- Filter dropdown -->
                <div class="dropdown">
                    <div class="dropdown-toggle" id="pageLayoutNavigationToggle" data-toggle="dropdown">
                        <span>Show <em>{{defaultText}}</em></span>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="pageLayoutNavigationToggle">
                        <ul class="dropdown-menu-list dropdown-menu-item-contain-actions">
                            <li class="dropdown-menu-item" *ngFor="let text of dropDownText" (click)="setText(text)" [ngClass]="{'active': text.selected }">
                                <span class="dropdown-menu-item-title">{{text.text}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of filter dropdown -->
            </div>
        </div>
    </div>
    <!-- End of toolbar -->
    <!-- Search field -->
    <div class="search-field">
        <div class="container">
            <form>
                <i class="icon icon-search"></i>
                <input type="search" placeholder="Search" [autofocus] [(ngModel)]="searchModal.searchText" name="searchText" (keyup.enter)="search(searchModal.searchText)">
            </form>
        </div>
    </div>
    <!-- End of search field -->
    <!-- Result cards -->
    <div class="cards" *ngIf="!isLoading">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngFor="let search of searchList">
                    <div class="card-wrapper">
                        <div class="card" (click)="gotoPage(search)">
                            <div class="card-image">
                                <img class="card-img-top" src="{{search.searchimage}}" alt="{{search.name}}">
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">{{search.name}}</h4>
                                <p class="card-text">{{search.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 col-xl-3" *ngIf="searchList?.length==0">No Record Found.</div>
            </div>
        </div>
    </div>
    <app-loader [isLoading]="isLoading"></app-loader>
</div>
