.linkli {
    width: 49.333333% !important;
}

.checkmark {
    display: inline-block;

    &:after {
        /*Add another block-level blank space*/
        content: '';
        display: block;
        width: 5px;
        height: 12px;
        border: solid #ffffff;
        border-width: 0 2px 3px 0;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

input.input-color-custom {
    opacity: 0;
    width: 0px;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    cursor: pointer;
}

.input-color-items {
    list-style: none
}

.input-color-items .form-check-label {
    margin-top: 10px;
}

.input-color-items li .tile {
    margin-top: 0px;
}

.modal-footer {
    padding: 12px 15px 10px;
    border-top: 1px solid #dedbda;
}

.modal-footer .btn {
    margin-top: 0px !important;
}
.input-expend-and-remove {
    flex-direction:unset;
    justify-content:space-between;
    display:block;
    float:left;
    width:100%;
}
.card-equip {
    border-color: #e7ce63 !important;
    background-color: #f8f1d2 !important;
}
