<form name="itemsForm" #f="ngForm" (ngSubmit)="f.form.valid && submitForm(itemsFormModal)">
    <div class="modal-header">
        <h5 class="modal-title" id="createItemPopupTitle">{{title}}</h5>
        <button type="button" (click)="close()" class="btn icon icon-cross btn-simple-primary close"></button>
    </div>
    <div class="modal-body">
        <div class="form-row">
            <div class="col-12 col-md-12">
                <div class="form-group">
                    <label for="newItemName">Name</label>
                    <input type="text" id="newItemName" name="newItemName" class="form-control" placeholder="Enter Item Name"
                           [ngStyle]="{'border-color': f.submitted && !newItemName.valid ? 'red' : '#d3cfce'}"
                           [(ngModel)]="itemsFormModal.itemName" #newItemName="ngModel" required>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-12">
                <div class="form-group">
                    <label for="newItemDescription">Description</label>
                    <textarea id="newItemDescription" name="newItemDescription" class="form-control" placeholder="Enter the description" rows="5"
                              [(ngModel)]="newItemDescription.description" #newAbilityDescription="ngModel"></textarea>
                </div>
            </div>
        </div>

        <div class="form-separator"></div>
        <div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="newQuantity">Quantity</label>
                    <input type="number" id="newQuantity" name="newQuantity" class="form-control" placeholder="Enter Value"
                           [(ngModel)]="itemsFormModal.quantity" #newQuantity="ngModel" [pattern]="numberRegex"
                           [ngStyle]="{'border-color': f.submitted && !newQuantity.valid ? 'red' : '#d3cfce'}" required>
                    <small style="color:#a94442;" [hidden]="newQuantity.valid || (newQuantity.pristine && !f.submitted)">
                        Only valid numbers are allowed.
                    </small>
                </div>
                <div class="form-group">
                    <label for="newTotalWeight">Total Weight</label>
                    <input type="number" id="newTotalWeight" name="newTotalWeight" class="form-control" placeholder="Enter Total Weight"
                           [(ngModel)]="itemsFormModal.TotalWeight" #newTotalWeight="ngModel" [pattern]="numberRegex"
                           [ngStyle]="{'border-color': f.submitted && !newTotalWeight.valid ? 'red' : '#d3cfce'}" required>
                    <small style="color:#a94442;" [hidden]="newTotalWeight.valid || (newTotalWeight.pristine && !f.submitted)">
                        Only valid numbers are allowed.
                    </small>
                </div>

            </div>
            <div class="col-12 col-md-12">
                <div class="form-group">
                    <label for="newConatainer">Conatainer</label>
                    <textarea id="newConatainer" name="newConatainer" class="form-control" placeholder="Enter the description" rows="5"
                              [(ngModel)]="newConatainer.Conatainer" #newAbilityDescription="ngModel"></textarea>
                </div>
            </div>

        </div>

        <div class="form-separator"></div>

        <!--TODO-->
        <div class="form-row">
            <div class="col">
                <!-- Item indicators -->
                <fieldset class="form-group input-list input-list-wrap indicators">
                    <legend>Indicators</legend>
                    <ul class="input-list-items">

                        <li class="form-check col-md-4 col-sm-12">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" [checked]="itemsFormModal.isIdentified" [value]="itemsFormModal.isIdentified"
                                       name="isIdentified" [(ngModel)]="itemsFormModal.isIdentified" #isIdentified="ngModel" />
                                <span>
                                    <em class="icon icon-with-text icon-unidentified icon-rsi">Identified?</em>
                                    <i class="icon"></i>
                                </span>
                            </label>
                        </li>
                        <li class="form-check col-md-4 col-sm-12">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" [checked]="itemsFormModal.isVisible" [value]="itemsFormModal.isVisible"
                                       name="isVisible" [(ngModel)]="itemsFormModal.isVisible" #isVisible="ngModel" />
                                <span>
                                    <em class="icon icon-with-text icon-visible icon-rsi">Visible?</em>
                                    <i class="icon"></i>
                                </span>
                            </label>
                        </li>

                        <li class="form-check col-md-4 col-sm-12">
                            <label class="form-check-label">
                                <input class="form-check-input" type="checkbox" [checked]="itemsFormModal.isEquipped" [value]="itemsFormModal.isEquipped"
                                       name="isEquipped" [(ngModel)]="itemsFormModal.isEquipped" #isEquipped="ngModel" />
                                <span>
                                    <em class="icon icon-with-text icon-equipped icon-rsi">Equipped?</em>
                                    <i class="icon"></i>
                                </span>
                            </label>
                        </li>
                    </ul>
                </fieldset>
                <!-- End of item indicators -->
            </div>
        </div>
        <div class="form-separator"></div>

        <!--<div class="form-row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <label for="newItemAbilities">Associated Item Template</label>
                    <select class='form-control' (change)='setAssociatedAbility($event, itemsFormModal.itemMasterId)' name="newItemAbilities">
                        <option value="Select Ability">Select Ability</option>
                        <option *ngFor='let ability of abilitiesList' [value]="ability.abilityId" [selected]="itemsFormModal.itemMasterAbilityId==ability.abilityId">{{ability.name}}</option>
                    </select>
                </div>
            </div>

        </div>-->
    </div>
    <div class="modal-footer">
        <button type="button" (click)="close()" class="btn btn-simple-accent">Cancel</button>
        <button type="submit" class="btn btn-accent">{{button}}</button>
    </div>
</form>
