
<form name="tileForm" #f="ngForm" (ngSubmit)="f.form.valid &&  submitForm()">

  <div class="modal-header">
    <h5 class="modal-title" id="newNoteTilePopupTitle"> {{title}} </h5>
    <a href="https://rpgsmith.com/helpb/#b5g" class="help-icon icon icon-Gen-Help crsr-pointer" target="_blank"></a>
    <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close" (click)="close()"></button>
  </div>
  <div class="modal-body" *ngIf="!isLoading">

    <!-- Search query -->
    <div class="form-group form-group-unlabelled" [ngClass]="{ 'has-success': f.submitted && query.valid, 'has-error': f.submitted && !query.valid }">
      <span class="input-group-btn">
        <button type="button" title="Search" data-toggle="tooltip" class="btn icon icon-search btn-simple-primary"></button>
      </span>
      <input type="text" id="imageSearchQuery" name="query" [autofocus] [(ngModel)]="query" class="form-control" placeholder="Type here to search">
    </div>

    <div class="form-row">
      <div class="col">
        <fieldset class="form-group input-switch">
          <legend>Property</legend>
          <ul class="input-switch-items">
            <li class="form-check" *ngIf="ruleSet?.isItemEnabled">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Items" [checked]="_linkType=='Item'" [value]="_linkType" (change)="showProperty('Items')">
                <span>Items</span>
              </label>
            </li>
            <li class="form-check" *ngIf="ruleSet?.isSpellEnabled">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Spells" [checked]="_linkType=='Spell'" [value]="_linkType" (change)="showProperty('Spells')">
                <span>Spells</span>
              </label>
            </li>
            <li class="form-check" *ngIf="ruleSet?.isAbilityEnabled">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Abilites" [checked]="_linkType=='Ability'" [value]="_linkType" (change)="showProperty('Abilites')">
                <span>Abilities</span>
              </label>
            </li>
            <li class="form-check" *ngIf="ruleSet?.isBuffAndEffectEnabled">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="BuffAndEffects" [checked]="_linkType=='BuffAndEffect'" [value]="_linkType" (change)="showProperty('BuffAndEffects')">
                <span>Buffs & Effects</span>
              </label>
            </li>
            <li class="form-check" *ngIf="doesCharacterHasAllies">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="Allies" [checked]="_linkType=='Allies'" [value]="_linkType" (change)="showProperty('Allies')">
                <span>Allies</span>
              </label>
            </li>
          </ul>
        </fieldset>
        <ng-container *ngIf="(isItemloaded && isIspellloaded && isAbilityloaded && isBuffAndEffectloaded && isAllyLoaded)">
          <fieldset class="form-group input-list input-list-wrap properties" *ngIf="_linkType=='Spell' && ruleSet?.isSpellEnabled">
            <ul class="input-list-items">
              <ng-container *ngFor="let spell of spells | filterTile : query : 'spell';let i=index;">
                <li class="form-check linkli" popover="{{spell.spell.name}}" triggers="hover" *ngIf="i<limitSpell">
                  <label class="form-check-label">
                    <input *ngIf="characterTileModel.view===VIEW.EDIT" class="form-check-input" type="radio" name="newLinkProperties" value="spell" (change)="getSpellValue(spell)"
                           [checked]="spell.characterSpellId == linkTileFormModal.spellId" />
                    <input *ngIf="characterTileModel.view===VIEW.ADD" class="form-check-input" type="checkbox" name="newLinkProperties" (change)="getSpellValueList($event,spell)" [checked]="spell.selected" />
                    <span [ngClass]="{'card-equip':spell.isMemorized}">
                      <img src="{{spell.spell.imageUrl}}" onerror="this.src='../assets/images/DefaultImages/Spell.jpg';">
                      <em>
                        {{spell.spell.name}}
                      </em>
                      <i class="icon"></i>
                    </span>
                  </label>
                </li>
              </ng-container>
              <li *ngIf="spells?.length == 0" style="list-style-type: none;">No Spells Available</li>
            </ul>
            <div class="input-extend">
              <button type="button" *ngIf="spells?.length > 4" class="btn icon icon-with-text icon-arrow-down btn-link-primary" [ngClass]="(limitSpell==4)?'icon-arrow-down':'icon-arrow-up'" (click)="showMoreCommands('spell', spells?.length,limitTextSpell)"><span>{{limitTextSpell}}</span></button>
            </div>
          </fieldset>

          <fieldset class="form-group input-list input-list-wrap properties" *ngIf="_linkType=='Item' && ruleSet?.isItemEnabled">
            <ul class="input-list-items">
              <ng-container *ngFor="let item of items | filterTile : query : 'item';let i=index;">
                <li class="form-check linkli" popover="{{item.name}}" triggers="hover" *ngIf="i<limitItem">
                  <label class="form-check-label">
                    <input *ngIf="characterTileModel.view===VIEW.EDIT" class="form-check-input" type="radio" name="newLinkProperties" value="item" (change)="getItemValue(item)" [checked]="item.itemId == linkTileFormModal.itemId" />
                    <input *ngIf="characterTileModel.view===VIEW.ADD" class="form-check-input" type="checkbox" name="newLinkProperties" (change)="getItemValueList($event,item)" [checked]="item.selected" />
                    <span [ngClass]="{'card-equip':item?.isEquipped}">
                      <img src="{{item.itemImage}}" onerror="this.src='../assets/images/DefaultImages/Item.jpg';">
                      <em>
                        {{item.name}}
                      </em>
                      <i class="icon"></i>
                    </span>
                  </label>
                </li>
              </ng-container>
              <li *ngIf="items?.length == 0" style="list-style-type: none;">No Items Available</li>
            </ul>
            <div class="input-extend">
              <button type="button" *ngIf="items?.length > 4" class="btn icon icon-with-text icon-arrow-down btn-link-primary" [ngClass]="(limitItem==4)?'icon-arrow-down':'icon-arrow-up'" (click)="showMoreCommands('item', items?.length,limitTextItem)"><span>{{limitTextItem}}</span></button>
            </div>
          </fieldset>

          <fieldset class="form-group input-list input-list-wrap properties" *ngIf="_linkType=='Ability' && ruleSet?.isAbilityEnabled">
            <ul class="input-list-items">
              <ng-container *ngFor="let ability of abilities | filterTile : query : 'ability';let i=index;">
                <li class="form-check linkli" popover="{{ability.ability.name}}" triggers="hover" *ngIf="i<limitAbility">
                  <label class="form-check-label">
                    <input *ngIf="characterTileModel.view===VIEW.EDIT" class="form-check-input" type="radio" name="newLinkProperties" value="ability" (change)="getAbilityValue(ability)" [checked]="ability.characterAbilityId == linkTileFormModal.abilityId" />

                    <input *ngIf="characterTileModel.view===VIEW.ADD" class="form-check-input" type="checkbox" name="newLinkProperties" (change)="getAbilityValueList($event,ability)" [checked]="ability.selected" />

                    <span [ngClass]="{'card-equip':ability.isEnabled}">
                      <img src="{{ability.ability.imageUrl}}" onerror="this.src='../assets/images/DefaultImages/ability.jpg';">
                      <em>
                        {{ability.ability.name}}
                      </em>
                      <i class="icon"></i>
                    </span>
                  </label>
                </li>
              </ng-container>
              <li *ngIf="abilities?.length == 0" style="list-style-type: none;">No Abilities Available</li>
            </ul>
            <div class="input-extend">
              <button type="button" *ngIf="abilities?.length > 4" class="btn icon icon-with-text icon-arrow-down btn-link-primary" [ngClass]="(limitAbility==4)?'icon-arrow-down':'icon-arrow-up'" (click)="showMoreCommands('ability', abilities?.length,limitTextAbility)"><span>{{limitTextAbility}}</span></button>
            </div>
          </fieldset>

          <fieldset class="form-group input-list input-list-wrap properties" *ngIf="_linkType=='BuffAndEffect' && ruleSet?.isBuffAndEffectEnabled">
            <ul class="input-list-items">
              <ng-container *ngFor="let be of BuffAndEffects | filterTile : query : 'buffAndEffect';let i=index;">
                <li class="form-check linkli" popover="{{be.name}}" triggers="hover" *ngIf="i<limitBuffAndEffect">
                  <label class="form-check-label">
                    <input *ngIf="characterTileModel.view===VIEW.EDIT" class="form-check-input" type="radio" name="newLinkProperties" value="ability" (change)="getBuffAndEffectValue(be)" [checked]="be.characterBuffAndEffectId == linkTileFormModal.buffAndEffectId" />

                    <input *ngIf="characterTileModel.view===VIEW.ADD" class="form-check-input" type="checkbox" name="newLinkProperties" (change)="getBuffAndEffectValueList($event,be)" [checked]="be.selected" />

                    <span>
                      <img src="{{be.imageUrl}}" onerror="this.src='https://rpgsmithsa.blob.core.windows.net/stock-defimg-rulesets/RS.png';">
                      <em>
                        {{be.name}}
                      </em>
                      <i class="icon"></i>
                    </span>
                  </label>
                </li>
              </ng-container>
              <li *ngIf="BuffAndEffects?.length == 0" style="list-style-type: none;">No Buffs & Effects Available</li>
            </ul>
            <div class="input-extend">
              <button type="button" *ngIf="BuffAndEffects?.length > 4" class="btn icon icon-with-text icon-arrow-down btn-link-primary" [ngClass]="(limitBuffAndEffect==4)?'icon-arrow-down':'icon-arrow-up'" (click)="showMoreCommands('BuffAndEffect', BuffAndEffects?.length,limitTextBuffAndEffect)"><span>{{limitTextBuffAndEffect}}</span></button>
            </div>
          </fieldset>
          <!--Allies-->
          <fieldset class="form-group input-list input-list-wrap properties" *ngIf="_linkType=='Allies' && doesCharacterHasAllies">
            <ul class="input-list-items">
              <ng-container *ngFor="let ally of Allies | filterTile : query : 'ally';let i=index;">
                <li class="form-check linkli" popover="{{ally.name}}" triggers="hover" *ngIf="i<limitAllies">
                  <label class="form-check-label">
                    <input *ngIf="characterTileModel.view===VIEW.EDIT" class="form-check-input" type="radio" name="newLinkProperties" value="ability" (change)="getAlliesValue(ally)" [checked]="ally.monsterId == linkTileFormModal.allyId" />

                    <input *ngIf="characterTileModel.view===VIEW.ADD" class="form-check-input" type="checkbox" name="newLinkProperties" (change)="getAlliesValueList($event,ally)" [checked]="ally.selected" />

                    <span>
                      <img src="{{ally.imageUrl}}" onerror="this.src='https://rpgsmithsa.blob.core.windows.net/stock-defimg-rulesets/RS.png';">
                      <em>
                        {{ally.name}}
                      </em>
                      <i class="icon"></i>
                    </span>
                  </label>
                </li>
              </ng-container>
              <li *ngIf="Allies?.length == 0" style="list-style-type: none;">No Allies Available</li>
            </ul>
            <div class="input-extend">
              <button type="button" *ngIf="Allies?.length > 4" class="btn icon icon-with-text icon-arrow-down btn-link-primary" [ngClass]="(limitAllies==4)?'icon-arrow-down':'icon-arrow-up'" (click)="showMoreCommands('Allies', Allies?.length,limitTextAllies)"><span>{{limitTextAllies}}</span></button>
            </div>
          </fieldset>

        </ng-container>
        <ng-container *ngIf="!(isItemloaded && isIspellloaded && isAbilityloaded && isBuffAndEffectloaded && isAllyLoaded)">
          <fieldset class="form-group input-list input-list-wrap properties">
            <app-loader [isLoading]="!(isItemloaded && isIspellloaded && isAbilityloaded && isBuffAndEffectloaded && isAllyLoaded)"></app-loader>
          </fieldset>
        </ng-container>

      </div>


    </div>
    <div class="form-row">
      <div class="col-12">
        <fieldset class="form-group input-switch input-switch-dual">
          <legend>Display link Image or Title</legend>
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="displayLinkImage" [checked]="!displayboth && !displayLinkImage" (change)="setShowTitle(true)" [value]="!displayboth && !displayLinkImage">
                <span>Title Only</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="displayLinkImage" [checked]="displayboth" (change)="setbothDisplayLinkImage(true)" [value]="displayboth">
                <span>Both Title and Image</span>
              </label>
            </li>

            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="displayLinkImage" [checked]="!displayboth && displayLinkImage" (change)="setDisplayLinkImage(true)" [value]="!displayboth && displayLinkImage">
                <span>Image Only </span>
              </label>
            </li>
          </ul>
        </fieldset>
        <!--<fieldset class="form-group input-switch input-switch-dual">
          <legend>Show Title</legend>
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="show" [checked]="showTitle" (change)="setShowTitle(true)" [value]="showTitle">
                <span>Yes</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" name="show" [checked]="!showTitle" (change)="setShowTitle(false)" [value]="!showTitle">
                <span>No</span>
              </label>
            </li>
          </ul>
        </fieldset>-->
        <!-- End of link show title switch -->
      </div>
    </div>
    <!--Start Font Control-->
    <div class="form-group">
      <fieldset class="form-group input-switch input-switch-dual">
        <div class="row">
          <div class="col-12 col-sm-5 col-md-6">
            <legend>Font Size</legend>
            <ul class="input-switch-items">
              <li class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="show" [checked]="!isManual" (change)="setFontSizeType(false)" [value]="showTitle">
                  <span>Automatic</span>
                </label>
              </li>
              <li class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="show" [checked]="isManual" (change)="setFontSizeType(true)" [value]="!showTitle">
                  <span>Manual</span>
                </label>
              </li>
            </ul>
          </div>
          <div *ngIf="isManual" class="col-12 col-sm-6 mt-3 mt-sm-0 align-self-end">
            <div class="row font-control-wrap">
              <div class="d-flex font-size-width col-6 pl-0">
                <span class="mt-1 title-span">Title</span>
                <angular2-multiselect [id]="fontSizeTitle" [data]="fontOptions" [(ngModel)]="selectedFontSizeTitle" name="fontStyleTitle" [settings]="fontSettingsTitle">
                  <c-item id="Records">
                    <ng-template let-item="item">
                      <span class="associate-label-name">{{item.value}}</span>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
              </div>
              <div class="d-flex font-size-width col-6 pl-0">
                <span class="mt-1 body-span">Body</span>
                <angular2-multiselect [id]="fontSize" [data]="fontOptions" [(ngModel)]="selectedFontSize" name="fontStyle" [settings]="fontSettings">
                  <c-item id="Records">
                    <ng-template let-item="item">
                      <span class="associate-label-name">{{item.value}}</span>
                    </ng-template>
                  </c-item>
                </angular2-multiselect>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
    <!--End Font Control-->
    <div class="form-row align-items-center">
      <div class="col-8 col-sm-8 col-lg-10 col-md-8">
        <fieldset class="form-group input-color w-100 mt-2 mb-1">
          <legend class="mb-0">Color</legend>
          <div class="row align-items-center">
            <!--<div class="col-12 col-sm-3 col-md-4">
                <legend class="mb-0"><small>Preset</small></legend>
            </div>-->
            <div class="col-12 col-sm-9 col-md-8 col-lg-12">
              <ul class="input-color-items">
                <li class="form-check" *ngFor="let color of defaultColorList;let i = index">
                  <label class="form-check-label">
                    <input class="form-check-input" [checked]="color.selected" (click)="setdefaultColor(color,i)" id="color" name="color" type="checkbox">
                    <i class="icon" [ngStyle]="{'background-color': color.bodyBgColor, 'color': (color.bodyBgColor == '#FFFFFF') ? '#000000' : '#ffffff'}"
                       [ngClass]="(color.bodyBgColor == '#FFFFFF') ?'black-check':''"></i>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </fieldset>
        <fieldset class="form-group input-color w-100 mb-1">
          <div class="row align-items-center">
            <div class="col-12 col-sm-3 col-md-4">
              <legend class="mb-0"><small>Last Used</small></legend>
            </div>
            <div class="col-12 col-sm-9 col-md-8 col-lg-8">
              <ul class="input-color-items">
                <li class="form-check" *ngFor="let color of colorList;let i = index">
                  <label class="form-check-label">
                    <input type="checkbox" [checked]="color.selected" class="form-check-input" name="tilePresetColor" id="favColor" (click)="setColor(color,i)">
                    <i class="icon" [ngStyle]="{'background-color': color.bodyBgColor}"
                       [ngClass]="(color.bodyBgColor == '#FFFFFF') ?'black-check':''"></i>
                  </label>
                </li>
              </ul>
            </div>
          </div>
        </fieldset>
      </div>
      <div class="col-4 col-sm-4 col-lg-2 col-md-4">
        <ul class="input-color-items">
          <li [ngClass]="shapeClass" class="d-block m-auto">
            <div class="tile">
              <span *ngIf="showTitle" [ngStyle]="{'color': colorModel.titleTextColor, 'background-color': colorModel.titleBgColor,'border-bottom': (colorModel.titleBgColor==colorModel.bodyBgColor) ? '1px solid rgba(255,255,255,.5)':''}"
                    class="tile-title wraptext">
                Title Text
              </span>
              <div class="tile-body">
                <div [style.background-color]="colorModel.bodyBgColor">
                  <div class="d-block h-100 w-100" [ngStyle]="{'background-color': (selectedStatType==2 || tile==1)?'#fff':colorModel.bodyBgColor}">
                    <p class="" [ngStyle]="{'color': (selectedStatType==2 || tile==1)?'#000':colorModel.bodyTextColor}">
                      Body Text
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="form-row">
      <div class="col-12 mb-3">
        <div class="input-extend">
          <button type="button" class="btn btn-link-primary btn-underline" (click)="showMoreColorFields()"><span>{{showMoreLessColorText}}</span></button>
        </div>
      </div>
    </div>
    <div class="form-row" *ngIf="!showMoreLessColorToggle">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="titleBackgroundColor">Title Background</label>
          <span class="input-group-btn">
            <label class="form-check-label">
              <i class="icon input-color-custom" role="button" title="Select Color" data-toggle="tooltip"></i>
            </label>
            <button type="button" title="Select Color" data-toggle="tooltip" class="btn icon icon-color-picker btn-simple-primary">
              <input class="icon input-color-custom" type="color" [(ngModel)]="colorModel.titleBgColor" name="titleBgColor" id="titleBgColor" (change)="setColor(colorModel)" />
            </button>
          </span>
          <input type="text" id="titleBackgroundColor" class="form-control" placeholder="Select color" [(ngModel)]="colorModel.titleBgColor" name="titleBgColor" (change)="setColor(colorModel)">
        </div>
      </div>

      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="titleTextColor">Title Text</label>
          <span class="input-group-btn">
            <button type="button" title="Select Color" data-toggle="tooltip" class="btn icon icon-color-picker btn-simple-primary">
              <input class="icon input-color-custom" type="color" [(ngModel)]="colorModel.titleTextColor" name="titleTextColor" id="titleTextColor" (change)="setColor(colorModel)" />
            </button>
          </span>
          <input type="text" id="titleTextColor" class="form-control" placeholder="Select color" [(ngModel)]="colorModel.titleTextColor" name="titleTextColor" (change)="setColor(colorModel)">
        </div>
      </div>
    </div>
    <div class="form-row" *ngIf="!showMoreLessColorToggle">
      <div class="col-12 col-md-6">
        <div class="form-group">
          <label for="bodyBackgroundColor">Body Background</label>
          <span class="input-group-btn">
            <button type="button" title="Select Color" data-toggle="tooltip" class="btn icon icon-color-picker btn-simple-primary">
              <input class="icon input-color-custom" type="color" [(ngModel)]="colorModel.bodyBgColor" name="bodyBgColor" id="bodyBgColor" (change)="setColor(colorModel)" />
            </button>
          </span>
          <input type="text" id="bodyBackgroundColor" class="form-control" placeholder="Select color" [(ngModel)]="colorModel.bodyBgColor" name="bodyBgColor" (change)="setColor(colorModel)">
        </div>
      </div>

      <div class="col-12 col-md-6" *ngIf="tile!==1">
        <div class="form-group">
          <label for="bodyTextColor">Body Text</label>
          <span class="input-group-btn">
            <button type="button" title="Select Color" data-toggle="tooltip" class="btn icon icon-color-picker btn-simple-primary">
              <input class="icon input-color-custom" type="color" [(ngModel)]="colorModel.bodyTextColor" name="bodyTextColor" id="bodyTextColor" (change)="setColor(colorModel)" />
            </button>
          </span>
          <input type="text" id="bodyTextColor" class="form-control" placeholder="Select color" [(ngModel)]="colorModel.bodyTextColor" name="bodyTextColor" (change)="setColor(colorModel)">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <fieldset class="form-group input-switch input-switch-dual">
          <legend>Shape</legend>
          <ul class="input-switch-items">
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" (change)="setShape(0)" [checked]="linkTileFormModal.shape===0">
                <span>SQUARE</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" (change)="setShape(50)" [checked]="linkTileFormModal.shape===50">
                <span>ROUNDED</span>
              </label>
            </li>
            <li class="form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" (change)="setShape(100)" [checked]="linkTileFormModal.shape===100">
                <span>CIRCLE</span>
              </label>
            </li>
          </ul>
        </fieldset>
      </div>
      <!--<div class="col-sm-2">
          <div [class]="shapeClass"></div>
          <div class="rangevalue"></div>
      </div>-->
    </div>
  </div>
  <app-loader [isLoading]="isLoading"></app-loader>
  <div class="modal-footer">
    <button type="button" class="btn btn-simple-accent" (click)="close()">Cancel</button>
    <button type="submit" [disabled]="isLoading" class="btn btn-accent">Save</button>
  </div>
</form>

