.form-check {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.indicators .input-list-items .form-check-label span em:before {
  padding-right: 8px;
  float: left;
}

.modal-footer {
  padding: 12px 15px 10px;
  border-top: 1px solid #dedbda;
}

.modal-footer .btn {
  margin-top: 0px !important;
}
