<div class="h-100vhm">
    <div class="row justify-content-center h-100 align-items-center">
        <div class="col-12 col-md-7 text-center browser-message">
            <p>RPGSmith Beta is currently only compatible with Chrome.<br />
            Many features are not functional or untested in other browsers. We recommend closing this browser and launching the app again in Chrome.</p>
            <a (click)="proceed()" class="btn btn-primary">I Understand, Proceed Anyways</a>
        </div>
    </div>
</div>

