.rpgs-login .login-form-1 .form-control{
    border: 1px solid #fff;
    border-radius: 0.2em;
    background: #fff;
    padding: 7px;
}

.btn-group-vertical {
    width: 100%;
    display: block;
    height: auto;
}

/* Update */
.update-button {
    background-color: #da7c47;
    background-image: linear-gradient(#da7c47, #da7c47);
    text-shadow: 0 -1px 0 #da7c47;
    width: 46%;
    font-size: 13px;
    text-align: -webkit-center;
    font-family: inherit;
    color: #ffffff;
}

.update-button:hover,
.update-button:focus {
    background-color: #da611d;
    background-image: linear-gradient(#da611d, #da611d);
}

/* Update */
.back-button {
    background-color: #cccccc;
    background-image: linear-gradient(#cccccc, #cccccc);
    text-shadow: 0 -1px 0 #cccccc;
    width: 47%;
    font-size: 13px;
    text-align: -webkit-center;
    font-family: inherit;
    color: #000000;
}

.back-button:hover,
.back-button:focus {
    background-color: #a5a2a2;
    background-image: linear-gradient(#a5a2a2, #a5a2a2);
}

.loginBtn {
    padding: 0 1px 0 1px;
}
