<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="colorSelectionPopupTitle">Initiative </h5>
    <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close" (click)="close()"></button>
  </div>
</div>
<div class="modal-body" >
  <div class="initiative-popup">
    <h2>ORDER</h2>
    <div class="row m-0"  *ngFor="let item of initiativeInfo; let i = index">
      <div class="col-12 col-sm-5 mb-2">
        <div class="initiative-title-box">
          <img  [src]="item.image" />
          <p [ngClass]="item.type == 'character'? 'character_p' : 'monsters_p' ">{{item.name}}</p>
        </div>
      </div>
      <div class="col-12 col-sm-7 mb-2">
        <div class="initiative-options-field">
          <input type="text" name="'value'+i" [(ngModel)]="item.initiativeValue" />
          <button class="btn-top icon-Gen-Down" (click)="upclick(i)"></button>
          <button class="btn-bottom icon-Gen-Down " (click)="downclick(i)" ></button>
          <button class="btn-dices icon-CharStat-Command" (click)="command(item)"></button>
        </div>
      </div>
    </div>
    <!--<div class="row m-0">
      <div class="col-12 col-sm-5 mb-2">
        <div class="initiative-title-box monsters-title-box">
          <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
          <p><span>BugBear</span></p>
        </div>
      </div>
      <div class="col-12 col-sm-7 mb-2">
        <div class="initiative-options-field">
          <input type="text" />
          <button class="btn-top icon-Gen-Down"></button>
          <button class="btn-bottom icon-Gen-Down "></button>
          <button class="btn-dices icon-CharStat-Command"></button>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-5 mb-2">
        <div class="initiative-title-box">
          <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
          <p><span>BugBear</span></p>
        </div>
      </div>
      <div class="col-12 col-sm-7 mb-2">
        <div class="initiative-options-field">
          <input type="text" />
          <button class="btn-top icon-Gen-Down"></button>
          <button class="btn-bottom icon-Gen-Down "></button>
          <button class="btn-dices icon-CharStat-Command"></button>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-5 mb-2">
        <div class="initiative-title-box monsters-title-box">
          <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
          <p><span>BugBear</span></p>
        </div>
      </div>
      <div class="col-12 col-sm-7 mb-2">
        <div class="initiative-options-field">
          <input type="text" />
          <button class="btn-top icon-Gen-Down"></button>
          <button class="btn-bottom icon-Gen-Down "></button>
          <button class="btn-dices icon-CharStat-Command"></button>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-5 mb-2">
        <div class="initiative-title-box">
          <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
          <p><span>BugBear</span></p>
        </div>
      </div>
      <div class="col-12 col-sm-7 mb-2">
        <div class="initiative-options-field">
          <input type="text" />
          <button class="btn-top icon-Gen-Down"></button>
          <button class="btn-bottom icon-Gen-Down "></button>
          <button class="btn-dices icon-CharStat-Command"></button>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-5 mb-2">
        <div class="initiative-title-box">
          <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
          <p><span>BugBear</span></p>
        </div>
      </div>
      <div class="col-12 col-sm-7 mb-2">
        <div class="initiative-options-field">
          <input type="text" />
          <button class="btn-top icon-Gen-Down"></button>
          <button class="btn-bottom icon-Gen-Down "></button>
          <button class="btn-dices icon-CharStat-Command"></button>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-5 mb-2">
        <div class="initiative-title-box">
          <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
          <p><span>BugBear</span></p>
        </div>
      </div>
      <div class="col-12 col-sm-7 mb-2">
        <div class="initiative-options-field">
          <input type="text" />
          <button class="btn-top icon-Gen-Down"></button>
          <button class="btn-bottom icon-Gen-Down "></button>
          <button class="btn-dices icon-CharStat-Command"></button>
        </div>
      </div>
    </div>
    <div class="row m-0">
      <div class="col-12 col-sm-5 mb-2">
        <div class="initiative-title-box">
          <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
          <p><span>BugBear</span></p>
        </div>
      </div>
      <div class="col-12 col-sm-7 mb-2">
        <div class="initiative-options-field">
          <input type="text" />
          <button class="btn-top icon-Gen-Down"></button>
          <button class="btn-bottom icon-Gen-Down "></button>
          <button class="btn-dices icon-CharStat-Command"></button>
        </div>
      </div>
    </div>-->
    <div class="row"><div class="col-12 p-0"><hr /></div></div>
    <h2>REROLL</h2>
    <div class="row m-0">
      <div class="col">
        <button class="btn-block btn-accent btn" (click)="allCharactersReroll()">Characters</button>
      </div>
      <div class="col">
        <button class="btn-block btn-accent btn" (click)="BothCharcterAndMonster()">ALL</button>
      </div>
      <div class="col">
        <button class="btn-block btn-accent btn" (click)="allMonstersReroll()">Monsters</button>
      </div>
    </div>
    <div class="row"><div class="col-12 p-0"><hr /></div></div>
  </div>
</div>
<div class="modal-footer" *ngIf="!isLoading">
  <button type="button" data-dismiss="modal" class="btn btn-simple-accent" (click)="close()">Cancel</button>
</div>
<app-loader [isLoading]="isLoading"></app-loader>
