
.register-confirm {
    max-width: 6in;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.register-confirm table tr td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-login {
    width: 150px;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #d35e3f;
}

.social{
    padding-top:5px;
    padding-bottom:10px;
}
.social a {
    padding: 2px;
}
