// Checkbox / radio
.input-check {
    &-items {
        display : flex;
        flex    : {direction: column}
        margin  : 0;
        padding : 0;

        // List item
        .form-check {
            margin: {bottom: rem(8px)}

            &:last-of-type {
                margin: {bottom: 0}
            }

            // Item wrapper
            &-label {
                display : flex;
                margin  : 0;
                padding : 0;
                color   : $color-dgray-d;

                span {
                    display : flex;
                    flex    : {grow: 1}
                    align   : {items: center}
                    cursor  : pointer;

                    // Item text
                    em {
                        margin  : {left: rem(8px)}
                        font    : {size: rem(14px); style: normal}

                        @include responsive(md) {
                            font: {size: rem(12px)}
                        }
                    }

                    // Item checkbox
                    i {
                        display     : flex;
                        justify     : {content: center}
                        align       : {items: center}
                        width       : rem(24px);
                        height      : rem(24px);
                        background  : {color: $color-lgray-xd}
                        transition  : $animation-duration;

                        @include responsive(md) {
                            width   : rem(20px);
                            height  : rem(20px);
                        }

                        &:before {
                            display : none;
                            font    : {size: rem(10px)}
                            content : map-get($font-icons-iconic, "tick");

                            @include responsive(md) {
                                font: {size: rem(8px)}
                            }
                        }
                    }

                    &:hover {
                        border: {color: $color-dgray-xl}

                        i {
                            &:before {
                                display: block;
                            }
                        }
                    }
                }
            }

            // Input control
            &-input {
                display: none;

                &[type="checkbox"], &[type="radio"] {
                    &:checked {
                        ~ span {
                            i {
                                background: {color: $color-dgray-d}

                                &:before {
                                    display : block;
                                    color   : $color-basic-white;
                                }
                            }
                        }
                    }
                }

                &[type="radio"] {
                    ~ span {
                        i {
                            border: {radius: rem(12px)}

                            @include responsive(md) {
                                border: {radius: rem(10px)}
                            }
                        }
                    }
                }
            }
        }
    }


    // Wrap items
    &-wrap {
        .input-check-items {
            flex    : {direction: row; wrap: wrap}
            margin  : {right: rem(-8px); bottom: rem(-8px)}

            .form-check {
                span {
                    margin: {right: rem(8px)}
                }
            }
        }
    }
}
