<form name="accountSettingsForm" #f="ngForm" (ngSubmit)="f.form.valid && submitForm()">
    
    <div class="modal-header">
        <h3 class="modal-title" id="newStatPopupTitle">Change Password</h3>
        <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary text-right close" (click)="close()"></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" [ngClass]="{ 'has-success': f.submitted && oldPassword.valid, 'has-error': f.submitted && !oldPassword.valid }">
                    <label for="OldPassword">Current Password</label>
                    <input id="old-password" name="oldPassword" type="password" class="form-control" placeholder="Enter Current password" [(ngModel)]="changePasswordModel.oldPassword"
                        [autofocus] #oldPassword="ngModel" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" [ngClass]="{ 'has-success': f.submitted && newPassword.valid, 'has-error': f.submitted && !newPassword.valid }">
                    <label for="NewPassword">New Password</label>
                    <input id="new-password" name="newPassword" type="password" class="form-control" placeholder="Enter new password"
                           [(ngModel)]="changePasswordModel.newPassword" #newPassword="ngModel" [pattern]="pwdPattern" validateEqual="confirmPassword" reverse="true" required>
                    <small style="color:#a94442;" [hidden]="newPassword.valid || (newPassword.pristine && !f.submitted)">
                        Mandate at least 8 characters in length & at least 1 Numeric & 1 Alpha Character.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group" [ngClass]="{ 'has-success': f.submitted && confirmPassword.valid, 'has-error': f.submitted && !confirmPassword.valid }">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <input id="confirm-password" name="confirmPassword" type="password" class="form-control" placeholder="Enter confirm password"
                           [(ngModel)]="changePasswordModel.confirmPassword" #confirmPassword="ngModel" [pattern]="pwdPattern" validateEqual="newPassword" required>
                    <small style="color:#a94442;" [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)">
                        Passwords does not match.
                    </small>
                </div>
            </div>
        </div>


    </div>

    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-simple-accent" (click)="close()">Cancel</button>
        <button type="submit" class="btn btn-accent">Change</button>
    </div>
</form>

