<div class="modal-content">
  <div class="modal-header" style="height:3rem">
    <h5 class="modal-title" id="dicePopupTitle">
      <span>{{title}}</span>
    </h5>
    <a href="https://rpgsmith.com/help/#Dice" class="help-icon icon icon-Gen-Help crsr-pointer" target="_blank"></a>
    <button type="button" (click)="close()" class="btn icon icon-cross btn-simple-primary close"></button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <form>
          <div class="form-group input-counter" *ngIf="combatInfo">
            <label _ngcontent-c6="" for="newItemWeight">Health Current</label>
            <div class="input-group">
              <button type="button" class="btn icon icon-minus btn-primary btn-plus-minus" (mousedown)="mouseDown(-1)" (mouseup)="mouseUp()" (click)="decrementhealthcurr()"></button>
              <input type="number" id="viewCounterValue" class="form-control" placeholder="Enter value" (change)="changeHealthCurrent($event)" [(ngModel)]="combatInfo.healthCurrent" name="currentValue">
              <button type="button" class="btn icon icon-plus btn-primary btn-plus-minus" (mousedown)="mouseDown(1)" (mouseup)="mouseUp()" (click)="incrementhealthcurr()"></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <form>
          <div class="form-group input-counter" *ngIf="combatInfo">
            <label _ngcontent-c6="" for="newItemWeight">Health Max</label>
            <div class="input-group">
              <button type="button" class="btn icon icon-minus btn-primary btn-plus-minus" (mousedown)="mouseDownHealthMax(-1)" (mouseup)="mouseUpHealthMax()" (click)="decrementHealthMax()"></button>
              <input type="number" id="viewCounterValue" class="form-control" placeholder="Enter value" (change)="changeHealthMax($event)" [(ngModel)]="combatInfo.healthMax" name="currentValue">
              <button type="button" class="btn icon icon-plus btn-primary btn-plus-minus" (mousedown)="mouseDownHealthMax(1)" (mouseup)="mouseUpHealthMax()" (click)="incrementHealthMax()"></button>
            </div>
          </div>
        </form>
      </div>
    </div>
   
  </div>
        <div class="modal-footer">
            <button type="button" (click)="close()" class="btn btn-simple-accent">Cancel</button>
            <button type="button" class="btn float-right btn-accent" (click)="saveCounter()">SAVE</button>
        </div>
    </div>

