.rangevalue {
  text-align: left;
  margin: 0px;
  padding-right: 0%;
  margin-top: -20px;
  color: #be8917;
}

.linkli {
  width: 49.333333% !important;
}

.modal-footer {
  padding: 12px 15px 10px;
  border-top: 1px solid #dedbda;
}

.modal-footer .btn {
  margin-top: 0px !important;
}

input.input-color-custom {
  opacity: 0;
  width: 0px;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  cursor: pointer;
}

.input-color-items {
  list-style: none
}

.input-color-items .form-check-label {
  margin-top: 10px;
}

.input-color-items li .tile {
  margin-top: 0px;
}

.card-equip {
  border-color: #e7ce63 !important;
  background-color: #f8f1d2 !important;
}

.title-span {
  margin-right: 8px;
  align-self: center;
  color: #be8917;
}

.body-span {
  margin-top: 12px;
  margin-right: 8px;
  align-self: center;
  color: #be8917;
}

.font-control-wrap {
  margin: 0;
}

@media screen and (max-width: 576px) {
  .font-size-width {
    justify-content: center;
  }
}
