<style>
    .modal-content {
        width: 1100px;
        left: -93px;
    }
</style>
<div class="container item_view item_properties">
    <div class="row">
        <div class="col-md-4 image">
            <div class="image">
                <img ng-src="{{Properties.AbilityProperties[1].Value.Image.image}}" class="img-resposive" width="120" height="120" />
            </div>
            <button class="btn btn-primary">{{Properties.AbilityProperties[0].Value.Text.value}}</button>
            <!--<div class="buttons-align">
                <button class="btn btn-warning">
                    <i class="fa fa-remove" aria-hidden="true"></i>
                    REMOVE
                </button>
                <button class="btn btn-warning">
                    <i class="fa fa-exchange" aria-hidden="true"></i>
                    UNMEMORIZE
                </button>
            </div>-->
        </div>
        <div class="col-md-4">
            <div class="text-design">
                <div class="text">
                    <h5>STATS</h5>
                    <p>
                        {{Properties.AbilityProperties[2].Value.Text.value}}
                    </p>
                </div>
                <div class="panels row">
                    <div class="blue">
                        <div class="col-md-6">
                            <div class="panel div_blue">
                                <div class="panel-heading text-center">CLASS</div>
                                <div class="panel-body text-center">{{Properties.AbilityProperties[10].Value.Text.value}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel div_red">
                                <div class="panel-heading text-center">ATTRIBUTES</div>
                                <div class="panel-body text-center">{{Properties.AbilityProperties[9].Value.Text.value}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="blue">
                        <div class="col-md-6">
                            <div class="panel div_green">
                                <div class="panel-heading text-center">USES ReEMAINING</div>
                                <div class="panel-body text-center">{{Properties.AbilityProperties[13].Value.Number.value}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel div_green">
                                <div class="panel-heading text-center">MAX USES</div>
                                <div class="panel-body text-center">{{Properties.AbilityProperties[12].Value.Number.value}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="text-design">
                <div class="text">
                    <h5>Description</h5>
                    <p>
                        {{Properties.AbilityProperties[14].Value.Text.value}}
                    </p>
                </div>
                <div class="panels row">
                    <div class="blue">
                        <div class="col-md-12">
                            <div class="panel panel-danger">
                                <div class="panel-heading text-center">TAGS</div>
                                <div class="panel-body text-center">{{Properties.AbilityProperties[17].Value.Number.value}}</div>
                            </div>
                        </div>
                        <!--<div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center" style="background-color: rgba(237, 20, 61, 0.67);">Attributes</div>
                                <div class="panel-body text-center" style="background-color: rgba(237, 20, 61, 0.58);"></div>
                            </div>
                        </div>-->
                    </div>
                    <div class="blue">
                        <div class="col-md-12">
                            <div class="panel panel-danger">
                                <div class="panel-heading text-center">REQUIREMENTS</div>
                                <div class="panel-body text-center">text</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>

    </div>

</div>
