<style>
    .modal-content {
        width: 1100px;
        left: -93px;
    }
</style>
<div class="container item_view">
    <div class="row">
        <div class="col-md-4 image">
            <div class="image">
                <img ng-src="{{Properties.ItemProperties[1].Value.Image.image}}" class="img-resposive" width="120" height="120" />
            </div>
            <button class="btn btn-primary">{{Properties.ItemProperties[0].Value.Text.value}}</button>
        </div>
        <div class="col-md-4">
            <div class="text-design">
                <div class="text">
                    <h5>STATS</h5>
                    <p>
                        {{Properties.ItemProperties[2].Value.Text.value}}
                    </p>
                </div>
                <div class="panels row">
                    <div class="blue">
                        <div class="col-md-6">
                            <div class="panel div_blue">
                                <div class="panel-heading text-center">WEIGHT</div>
                                <div class="panel-body text-center">{{Properties.ItemProperties[4].Value.Weight.value}}   {{Properties.ItemProperties[4].Value.Weight.units.selectedUnit}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel div_blue">
                                <div class="panel-heading text-center">VOLUME</div>
                                <div class="panel-body text-center">{{Properties.ItemProperties[5].Value.Volume.lenghtvalue}} {{Properties.ItemProperties[5].Value.Volume.heightvalue}} {{Properties.ItemProperties[5].Value.Volume.depthvalue}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="blue">
                        <div class="col-md-6">
                            <div class="panel div_red">
                                <div class="panel-heading text-center">ATTRIBUTES</div>
                                <div class="panel-body text-center">text</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel div_green">
                                <div class="panel-heading text-center">RARITY</div>
                                <div class="panel-body text-center">{{Properties.ItemProperties[6].Value.Choices.selectedchoice}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       
        </div>
        <div class="col-md-4">
            <div class="text-design">
                <div class="text">
                    <h5>Visible Description</h5>
                    <p>
                        {{Properties.ItemProperties[6].Value.Text.value}}
                    </p>
                </div>
                <div class="panels row">
                    <div class="blue">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">Associated Spell</div>
                                <div class="panel-body">
                                    <div class="text-center">None</div>
                                    <!--<div class="text-center" ng-if="RulesetContent.AssociatedSpells.length > 0">
                                     
                                            {{associatedSpell.SpellProperties[0].Value.Text.value}}
                                     
                                        <button ng-repeat="associatedSpell in RulesetContent.AssociatedSpells" class="btn btn-warning" ng-click="ShowAssociatedSpells($index)">
                                            {{associatedSpell.SpellProperties[0].Value.Text.value}}
                                        </button>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">Associated Ability</div>
                                <div class="panel-body text-center">None</div>
                            </div>
                        </div>
                    </div>
                    <div class="blue">
                        <div class="col-md-12">
                            <div class="panel panel-danger">
                                <div class="panel-heading text-center">TAGS</div>
                                <div class="panel-body text-center">{{Properties.ItemProperties[17].Value.Text.value}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </div>

    </div>

</div>
