<div class="modal-header">
    <h4 class="modal-title" style="text-align:center">
        {{Content.Value.Attribute.Title}}
    </h4>
</div>
<div class="modal-body attribute_tile">
    <div class="row">
        <div class="col-md-10 table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align:center">{{Content.Value.Attribute.AttributeContent.Name}}</td>
                        <td style="text-align:center">{{Content.Value.Attribute.AttributeContent.Description}}</td>
                        <td style="text-align:center">{{Content.Value.Attribute.CorestatValues}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
    <div ng-show="CurrentMax">
        <div class="row">
            <div class="col-md-12 box_design">
                <div class="form-group col-md-12">
                    <label class="control-label col-md-2">Max Value</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="Maxvalue" />
                    </div>
                    <div class="counter_div col-md-2">
                        <img ng-src="/wwwroot/images/Dice/dice_item.png" class="img-resposive img_center" width="60" height="60" ng-click="DiceRoll(1)" />

                    </div>
                    <div class="counter_design">
                        <span><i class="fa fa-minus fa-2x" ng-click="Decrement(1)"></i></span>
                        <span><i class="fa fa-plus fa-2x" ng-click="Increment(1)"></i></span>
                        <span><i class="fa fa fa-refresh fa-2x" ng-click="Reset(1)"></i></span>

                    </div>


                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 box_design">
                <div class="form-group col-md-12">
                    <label class="control-label col-md-2">Current Value</label>

                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="Currentvalue" />
                    </div>
                    <div class="col-md-2 counter_div">
                        <img ng-src="/wwwroot/images/Dice/dice_item.png" class="img-resposive img_center" width="60" height="60" ng-click="DiceRoll(2)" />

                    </div>
                    <div class="counter_design">
                        <span><i class="fa fa-minus fa-2x" ng-click="Decrement(2)"></i></span>
                        <span><i class="fa fa-plus fa-2x" ng-click="Increment(2)"></i></span>
                        <span><i class="fa fa fa-refresh fa-2x" ng-click="Reset(2)"></i></span>
                    </div>
                </div>
            </div>
        </div>


        <!--<label></label>
        <div class="counter"><span><i class="fa fa-minus fa-2x" ng-click="Decrement()"></i></span><span><i class="fa fa fa-refresh fa-2x" ng-click="Reset()"></i></span><span><i class="fa fa-plus fa-2x" ng-click="Increment()"></i></span></div><br />-->
    </div>
    <div ng-show="ValueSubValue">
        <div class="row">
            <div class="col-md-12 box_design">
                <div class="form-group col-md-12">
                    <label class="control-label col-md-2">Value</label>
                    <div class="col-md-2">
                        <input type="text" class="form-control" ng-model="Value" />
                    </div>
                    <div class="col-md-2 counter_div">
                        <img ng-src="/wwwroot/images/Dice/dice_item.png" class="img-resposive img_center" width="60" height="60" ng-click="DiceRoll(3)" />
                    </div>
                    <div class="counter_design">

                        <span><i class="fa fa-minus fa-2x" ng-click="Decrement(3)"></i></span>
                        <span><i class="fa fa-plus fa-2x" ng-click="Increment(3)"></i></span>
                        <span><i class="fa fa fa-refresh fa-2x" ng-click="Reset(3)"></i></span>
                        <br />

                    </div>
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Sub Value</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="Subvalue" />
                        </div>
                        <div class="col-md-2 counter_div">
                            <img ng-src="/wwwroot/images/Dice/dice_item.png" class="img-resposive img_center" width="60" height="60" ng-click="DiceRoll(4)" />
                        </div>
                        <div class="counter_design">
                            <span><i class="fa fa-minus fa-2x" ng-click="Decrement(4)"></i></span>
                            <span><i class="fa fa-plus fa-2x" ng-click="Increment(4)"></i></span>
                            <span><i class="fa fa fa-refresh fa-2x" ng-click="Reset(4)"></i></span>
                        </div>

                    </div>




                </div>
            </div>



        </div>
        <div ng-show="Number">

            <div class="row">
                <div class="col-md-12 box_design">
                    <div class="form-group col-md-12">
                        <label class="control-label col-md-2">Number</label>
                        <div class="col-md-2">
                            <input type="text" class="form-control" ng-model="Numbers" />
                        </div>
                        <div class="col-md-2 counter_div">
                            <img ng-src="/wwwroot/images/Dice/dice_item.png" class="img-resposive img_center" width="60" height="60" ng-click="DiceRoll(5)" />
                        </div>
                        <div class="counter_design">
                            <span><i class="fa fa-minus fa-2x" ng-click="Decrement(5)"></i></span>
                            <span><i class="fa fa-plus fa-2x" ng-click="Increment(5)"></i></span>
                            <span><i class="fa fa fa-refresh fa-2x" ng-click="Reset(5)"></i></span>
                        </div><br />

                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
        <button type="submit" class="btn btn-primary" ng-click="SaveAttributeCorestatValue()" ng-disabled="theForm.$invalid">Update</button>
    </div>

    <toaster-container toaster-options="{'position-class': 'toast-top-right','time-out':'1000'}" style=" left: 50%; position: fixed;"></toaster-container>
