<div class="modal-header">
    <h5 class="modal-title" id="newCharacterPopupTitle">{{pageHeading}}</h5>
    <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close" ng-click="cancel()"></button>
</div>

<div class="modal-body table_align">
    <form name="characterForm" novalidate>
        <div class="form-row">
            <div class="col">
                <!-- Character name -->
                <div class="form-group">
                    <label for="newCharacterName">Name</label>
                    <input type="text" name="CharacterName" ng-disabled="disableNameControl" ng-model="character.name" class="form-control" placeholder="Name of the character" required>
                </div>
                <!-- End of character name -->
            </div>
        </div>
        <div class="form-row">
            <div class="col-12 col-md-6">
                <!-- Character ruleset -->
                <fieldset class="form-group input-list">
                    <legend>Ruleset</legend>
                    <ul class="input-list-items">
                        <li class="form-check" ng-repeat="ruleSetItem in RuleSets">
                            <label class="form-check-label">
                                <!--<input class="form-check-input" type="radio" name="newCharacterRuleset" value="ruleSetItem.Id" ng-model="ruleSetItem.RulesetID">-->
                                <input class="form-check-input" type="radio" ng-disabled="disableAllControls" name="CharacterRuleset" value="{{ruleSetItem.Id}}" ng-model="$parent.character.RulesetID" />

                                <span>
                                    <img ng-src="{{ruleSetItem.Rulesetproperty[2].Value.Image.image?ruleSetItem.Rulesetproperty[2].Value.Image.image:'/wwwroot/images/not-available.jpg'}}" onerror="this.src='/wwwroot/images/not-available.jpg'"/>
                                    <em>{{ruleSetItem.Name}}</em>
                                    <i class="icon" ng-class="ruleSetItem.Id == character.RulesetID? 'input_selected':'ss'"></i>
                                </span>
                            </label>
                        </li>
						<li>
							<br />
						</li>
                    </ul>
                    <div class="input-extend">
                        <a ng-click="manageRuleSets()" class="btn icon icon-with-text icon-external btn-link-secondary"><span>Manage Rulesets</span></a>
                    </div>
                </fieldset>
                <!-- End of character ruleset -->
            </div>
            <div class="col-12 col-md-6">
                <!-- Character portrait -->
                
				<div class="form-group input-image input-image-alt">
					<label for="newRulesetImage">Portrait (optional)</label>
					<div class="input-image-control input-image-note input-image-trigger" ng-hide="showimagebtns || character.file" ng-click="showimagebtns=true">
						<div class="icon icon-upload"><span>Click here to upload.</span><small>(320 x 320 px)</small></div>

					</div>
					<div class="input-image-control input-image-buttons" ng-show="showimagebtns" style="display:block;background-size:cover;cursor: pointer ; background-repeat: no-repeat; background-image: url('{{character.file?character.file:''}}');">
						<button type="button" ng-click="OpenBingSearch()" class="btn icon icon-with-text icon-globe btn-primary btn-block input-image-button-web">From Web</button>
						<button type="button" ng-click="OpenFile()" class="btn icon icon-with-text icon-computer btn-primary btn-block input-image-trigger input-image-button-computer">From Computer</button>
						<button type="button" ng-show="showimagebtns && character.file" class="btn btn-primary btn-block input-image-button-close" ng-click="character.file = null">Delete</button>

						<button type="button" ng-click="showimagebtns = false" class="btn btn-outline-primary btn-block input-image-button-close">Cancel</button>
					</div>
					<div ng-click="showimagebtns=true" class="input-image-control input-image-buttons" ng-show="!showimagebtns && character.file" style="background-size:cover; cursor: pointer ; background-repeat: no-repeat; background-image: url('{{character.file?character.file:''}}'); padding-top: 100px;padding-left:20px;padding-right: 20px;max-height: 320px;max-width:320px;background-color: #d3cfce;vertical-align: middle">

					</div>
					<input type="file" id="newCharacterImage" onchange="angular.element(this).scope().characterImageUpload(this)" class="form-control-file">
				</div>
				<!-- End of ruleset image -->
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-simple-accent" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-accent" ng-click="save()" ng-disabled="characterForm.$invalid">Save</button>
</div>

<!--<toaster-container toaster-options="{'position-class': 'toast-top-right'}" style=" left: 50%; position: fixed;"></toaster-container>-->