<ng-form name="dlg" novalidate role="form" >

	<!--<div class="modal-dialog" role="document">
		<div class="modal-content">-->
			<div class="modal-header">
				<h5 class="modal-title" id="createItemPopupTitle">{{tabName}}</h5>
				<button type="button" data-dismiss="modal" ng-click="cancel()" class="btn icon icon-cross btn-simple-primary close"></button>
			</div>
			<div class="modal-body">

				
					<div class="form-row">
						<div class="col-12 col-md-6" ng-repeat="property in Properties" ng-if="property.Name != 'Tags' && (property.TypeId == 1 || property.TypeId == 15)">
							<!-- Item name -->
							<div class="form-group">
								<label for="newItemName">{{property.Name}}</label>
								<rpgsmithtype info="property" fullscope="Properties" mode="'{{OperationTypeMode}}'"></rpgsmithtype>
							</div>
							<!-- End of item name -->
						</div>
						
						<!--<div class="col-12 col-md-6">
							<!-- Item command -->
							<!--<div class="form-group">
								<label for="newItemCommand">Command</label>
								<span class="input-group-btn">
									<button type="button" title="Show Dice" data-toggle="tooltip" class="btn icon icon-dice icon-rsi btn-simple-primary"></button>
								</span>
								<input type="text" id="newItemCommand" class="form-control" placeholder="Select dice">
							</div>-->
							<!-- End of item command -->
						
					</div>
					<div class="form-row">
						<div class="col-12 col-md-6">
							<!-- Item stats -->
							<div class="form-group" ng-repeat="property in Properties" ng-if="property.Name != 'Quantity' && (property.TypeId == 19 || property.Name == 'Tags')">
								<label for="newItemStats">{{property.Name}} {{property.TypeId == 14?"("+property.Value.Text+")":""}}  {{property.TypeId == 7?"("+property.Value.Weight.units.selectedUnit+")":""}}</label>
								<rpgsmithtype info="property" fullscope="Properties" mode="'{{OperationTypeMode}}'"></rpgsmithtype>
							</div>
							
							<!-- End of item stats -->
							<!-- Item descriptopn 
							<div class="form-group">
								<label for="newItemDescription">Visible Description</label>
								<textarea id="newItemDescription" class="form-control" placeholder="About the item" rows="5"></textarea>
							</div>
							 End of item descriptopn -->
						</div>
						<div class="col-12 col-md-6">
							<!-- Image file -->
							<div class="form-group input-image input-image-alt">
								<label for="newItemImageFile">Image</label>
								<div class="input-image-control input-image-note input-image-trigger" style="width: 320px;height:320px" ng-hide="showimagebtns || Properties[1].Value.Image.image" ng-click="showimagebtns = true">
									<div class="icon icon-upload"><span>Click here to upload.</span><small>(320 x 320 px)</small></div>
								</div>
								<div class="input-image-control input-image-buttons" ng-show="showimagebtns" style="display:block;background-size:cover;cursor: pointer ; background-repeat: no-repeat; background-image: url('{{Properties[1].Value.Image.image?Properties[1].Value.Image.image:''}}');">
									<button type="button" ng-click="OpenBingSearch()" class="btn icon icon-with-text icon-globe btn-primary btn-block input-image-button-web">From Web</button>
									<button type="button" ng-click="OpenFile()" class="btn icon icon-with-text icon-computer btn-primary btn-block input-image-trigger input-image-button-computer">From Computer</button>
									<button type="button" ng-show="showimagebtns && Properties[1].Value.Image.image" class="btn btn-primary btn-block input-image-button-close" ng-click="Properties[1].Value.Image.image = null">Delete</button>

									<button type="button" ng-click="showimagebtns = false" class="btn btn-outline-primary btn-block input-image-button-close">Cancel</button>
								</div>
								<div ng-click="showimagebtns=true" class="input-image-control input-image-buttons" ng-show="!showimagebtns && Properties[1].Value.Image.image" style="background-size:cover; cursor: pointer ; background-repeat: no-repeat; background-image: url('{{Properties[1].Value.Image.image?Properties[1].Value.Image.image:''}}'); padding-top: 100px;padding-left:20px;padding-right: 20px;max-height: 320px;max-width:320px;background-color: #d3cfce;vertical-align: middle">

								</div>
								<input type="file" id="newRulesetImage" name="newRulesetImage" onchange="angular.element(this).scope().ItemImageUpload(this)" class="form-control-file">
							</div>
							<!-- End of image file -->
						</div>
					</div>
					<div class="form-separator"></div>
					<div class="form-row">
						
						<div class="col-12 col-md-6">
							<div class="form-group" ng-repeat="property in Properties" ng-if="property.Name != 'Quantity' && (property.TypeId == 7 || property.TypeId == 7 || property.TypeId == 14)">
								<label for="newItemStats">{{property.Name}} {{property.TypeId == 14?"("+property.Value.Text+")":""}}  {{property.TypeId == 7?"("+property.Value.Weight.units.selectedUnit+")":""}}</label>
								<rpgsmithtype info="property" fullscope="Properties" mode="'{{OperationTypeMode}}'"></rpgsmithtype>
							</div>
							
						</div>
						<div class="col-12 col-md-6">
							<div class="form-group" ng-repeat="property in Properties" ng-if="property.Name == 'Rarity'">
								<label for="newItemStats">{{property.Name}} </label>
								<rpgsmithtype info="property" fullscope="Properties" mode="'{{OperationTypeMode}}'"></rpgsmithtype>
							</div>
							
						</div>
					</div>
					<div class="form-row">
						<div class="col-12 col-md-6">
							<!-- Item bolume -->
							<div class="form-group">
								<label>Volume</label>
								<div class="form-row">
									<div class="col">
										<input type="text" id="newItemHeight" class="form-control" placeholder="Height">
									</div>
									<div class="col">
										<input type="text" id="newItemWidth" class="form-control" placeholder="Width">
									</div>
									<div class="col">
										<input type="text" id="newItemVolume" class="form-control" placeholder="Volume">
									</div>
								</div>
							</div>
							<!-- End of item volume -->
						</div>
						<div class="col-12 col-md-6">
							<div class="col-12 col-md-6">
								<div class="form-group" ng-repeat="property in Properties" ng-if="property.Name == 'Container'">
									<label for="newItemStats">{{property.Name}} </label>
									<rpgsmithtype info="property" fullscope="Properties" mode="'{{OperationTypeMode}}'"></rpgsmithtype>
								</div>

							</div>
							
						</div>
					</div>
					<div class="form-separator"></div>
					<div class="form-row">
						<div class="col">
							<!-- Item indicators -->
							<fieldset class="form-group input-list input-list-wrap indicators">
								<legend>Indicators</legend>
								<ul class="input-list-items">
									<!--<li class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="newItemIndicators[]">
											<span>
												<em class="icon icon-with-text icon-visible icon-rsi">Visible</em>
												<i class="icon"></i>
											</span>
										</label>
									</li>-->
									<li class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="newItemIndicators[]">
											<span>
												<em class="icon icon-with-text icon-consumable icon-rsi">Consumable</em>
												<i class="icon"></i>
											</span>
										</label>
									</li>
									<li class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="newItemIndicators[]">
											<span>
												<em class="icon icon-with-text icon-container icon-rsi">Container</em>
												<i class="icon"></i>
											</span>
										</label>
									</li>
									<li class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="newItemIndicators[]">
											<span>
												<em class="icon icon-with-text icon-magical icon-rsi">Magical</em>
												<i class="icon"></i>
											</span>
										</label>
									</li>
									<!--<li class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="newItemIndicators[]">
											<span>
												<em class="icon icon-with-text icon-equipped icon-rsi">Equipped</em>
												<i class="icon"></i>
											</span>
										</label>
									</li>-->
									<li class="form-check">
										<label class="form-check-label">
											<input class="form-check-input" type="checkbox" name="newItemIndicators[]">
											<span>
												<em class="icon icon-with-text icon-unidentified icon-rsi">Unidentified</em>
												<i class="icon"></i>
											</span>
										</label>
									</li>
								</ul>
							</fieldset>
							<!-- End of item indicators -->
						</div>
					</div>
					<div class="form-separator"></div>
					
					<div class="form-row">
						<div class="col-12 col-md-6">
							<!-- Item spells -->
							<div class="form-group">
								<label for="newItemSpells">Associated spell(s)</label>
								<span class="input-group-btn">
									<button type="button" class="btn icon icon-search btn-simple-primary" ng-click="OpenAssociatedSpells()"></button>
								</span>
								<input type="text" id="newItemSpells" class="form-control" placeholder="Search spell(s)">
							</div>
							<!-- End of item spells -->
						</div>
						<div class="col-12 col-md-6">
							<!-- Item abilities -->
							<div class="form-group">
								<label for="newItemAbilities">Associated abilit(ies)</label>
								<span class="input-group-btn">
									<button type="button" class="btn icon icon-search btn-simple-primary" ng-click="OpenAssociatedAbilities()"></button>
								</span>
								<input type="text" id="newItemAbilities" class="form-control" placeholder="Search abilit(ies)">
							</div>
							<!-- End of item abilities -->
						</div>
					</div>
				
			</div>
			<div class="modal-footer">
				<button type="button" data-dismiss="modal" ng-click="cancel()" class="btn btn-simple-accent">Cancel</button>
				<button type="button" ng-click="Create()" class="btn btn-accent">{{buttontext}}</button>
			</div>
		<!--</div>
	</div>-->
</ng-form>