<style>
    .modal-content {
        width: 700px;
        top: 34px;
        left: 72px;
    }
</style>
<div class="notetileView">
    <div class="modal-header">
        <h4 class="modal-title" style="text-align:center">
            {{Content.Value.Imagetile.Name}}
        </h4>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <img ng-src="{{Content.Value.Imagetile.Imagepath}}" class="img-resposive img_center" width="300" height="500" style="align-content:center" />
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-accent" ng-click="cancel()">Close</button>
        <!--<button type="submit" class="btn btn-primary" ng-click="SaveTile()" ng-disabled="theForm.$invalid">Save</button>-->
    </div>
</div>