<style>
    .modal-content {
        width: 500px;
        top: 34px;
        left: 72px;
    }
	.modal-footer {
		padding-top: 5px;
	}
	button {
		border-width: 1px;
		border-color: #ff6a00;
	}
</style>
<div class="notetileView">
    <div class="modal-header">
        <h4 class="modal-title" style="text-align:center">
            {{Content.Value.Note.Name}}
        </h4>
    </div>

    <div class="modal-body" >
        <div class="row" style="background-color: white;margin: 3px">
            <div class="col-md-12">
                <div class="form-horizontal">
                    <p ng-bind-html="Content.Value.Note.Text"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default-focus" ng-click="cancel()">Close</button>
        <!--<button type="submit" class="btn btn-primary" ng-click="SaveTile()" ng-disabled="theForm.$invalid">Save</button>-->
    </div>
</div>