<div class="modal-header" >
    <h5 class="modal-title" id="newRulesetPopupTitle">{{pageName}}</h5>
    <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close" ng-click="cancel()"></button>
</div>

<div class="modal-body table_align" style="overflow-y: auto; max-height: 670px;max-width: 600px;">
    <ng-form name="form">
        <div class="form-row">
            <div class="col">
                <!-- RuleSet name -->
                <div class="form-group">
                    <label for="newRulesetCharacterName">Name (required)</label>
                    <input type="text" class="form-control" name="name" id="name" ng-model="GeneralSettings[0].RulesetName" ng-class="{red: form.name.$dirty && form.name.$error.required}" ng-disabled={{DisableName}} required>
                </div>
                <!-- End of RuleSet name -->
            </div>
        </div>
		<div class="form-row">
			<div class="col">
				<div class="form-group">
					<label for="newRulesetDice">{{GeneralSettings[6].Name}}</label>
					<rpgsmithrulesettype info="GeneralSettings[6]" mode="'{{Disabled}}'"></rpgsmithrulesettype>
				</div>
			</div>
		</div>
        <div class="form-row" >
            <div class="col">
                <div class="form-group" >
                    <label for="newRulesetDice">{{GeneralSettings[0].Name}}</label>
                    <rpgsmithrulesettype info="GeneralSettings[0]" mode="'{{Disabled}}'"></rpgsmithrulesettype>
                </div>
            </div>
		</div>
		<div class="form-row">
			<div class="col" style="padding-right: 10px;">
				<div class="form-group">
					<label for="newRulesetDice">{{GeneralSettings[3].Name}}</label>
					<rpgsmithrulesettype info="GeneralSettings[3]" mode="'{{Disabled}}'"></rpgsmithrulesettype>
				</div>
				<div class="form-group">
					<label for="newRulesetDice">{{GeneralSettings[1].Name}}</label>
					<rpgsmithrulesettype info="GeneralSettings[1]" mode="'{{Disabled}}'"></rpgsmithrulesettype>
				</div>
				<div class="form-group">
					<label for="newRulesetDice">{{GeneralSettings[4].Name}}</label>
					<rpgsmithrulesettype info="GeneralSettings[4]" mode="'{{Disabled}}'"></rpgsmithrulesettype>
				</div>
				<div class="form-group">
					<label for="newRulesetDice">{{GeneralSettings[5].Name}}</label>
					<rpgsmithrulesettype info="GeneralSettings[5]" mode="'{{Disabled}}'"></rpgsmithrulesettype>
				</div>
			</div>
			
			<div class="col" >
				<!-- Ruleset image -->
				<div class="form-group input-image input-image-alt">
					<label for="newRulesetImage">Image</label>
					<div class="input-image-control input-image-note input-image-trigger" ng-hide="showimagebtns || GeneralSettings[2].Value.Image.image"   ng-click="showimagebtns=true">
						<div class="icon icon-upload"><span>Click here to upload.</span><small>(320 x 320 px)</small></div>
						
					</div>
					<div class="input-image-control input-image-buttons" ng-show="showimagebtns" style="display:block;background-size:cover;cursor: pointer ; background-repeat: no-repeat; background-image: url('{{GeneralSettings[2].Value.Image.image?GeneralSettings[2].Value.Image.image:''}}');" >
						<button type="button" ng-click="OpenBingSearch()" class="btn icon icon-with-text icon-globe btn-primary btn-block input-image-button-web">From Web</button>
						<button type="button" ng-click="OpenFile()" class="btn icon icon-with-text icon-computer btn-primary btn-block input-image-trigger input-image-button-computer">From Computer</button>
						<button type="button" ng-show="showimagebtns && GeneralSettings[2].Value.Image.image" class="btn btn-primary btn-block input-image-button-close" ng-click="GeneralSettings[2].Value.Image.image = null">Delete</button>

						<button type="button" ng-click="showimagebtns = false" class="btn btn-outline-primary btn-block input-image-button-close">Cancel</button>
					</div>
					<div ng-click="showimagebtns=true" class="input-image-control input-image-buttons" ng-show="!showimagebtns && GeneralSettings[2].Value.Image.image" style="background-size:cover; cursor: pointer ; background-repeat: no-repeat; background-image: url('{{GeneralSettings[2].Value.Image.image?GeneralSettings[2].Value.Image.image:''}}'); padding-top: 100px;padding-left:20px;padding-right: 20px;max-height: 320px;max-width:320px;background-color: #d3cfce;vertical-align: middle">

					</div>
					<input type="file" id="newRulesetImage" onchange="angular.element(this).scope().ItemImageUpload(this)" class="form-control-file">
				</div>
				<!-- End of ruleset image -->
				<!-- Ruleset image -->
				<!--<div class=" form-group input-image input-image-alt">
					<label for="newRulesetImage">Image</label>
					<div class="input-image-control input-image-note input-image-trigger" ng-hide="showimagebtns || GeneralSettings[2].Value.Image.image" ng-click="showimagebtns = true" style="padding-top: 60px;max-height: 320px;max-width:320px;background-color: #d3cfce;vertical-align: middle; ">
						<div class="icon icon-upload"><span>Click here to upload.</span><small>(320 x 320 px)</small></div>
					</div>
					<div class="input-image-control" ng-show="showimagebtns"   style="background-size:cover;cursor: pointer ; background-repeat: no-repeat; background-image: url('{{GeneralSettings[2].Value.Image.image?GeneralSettings[2].Value.Image.image:''}}'); top:0px;max-height: 320px;max-width:320px;background-color: #d3cfce;">
						<button type="button" ng-click="OpenBingSearch()" class="btn icon icon-with-text icon-globe btn-primary btn-block input-image-button-web">From Web</button>
						<button type="button" ng-click="OpenFile()" class="btn icon icon-with-text icon-computer btn-primary btn-block input-image-trigger input-image-button-computer">From Computer</button>
						<button type="button" ng-show="showimagebtns && GeneralSettings[2].Value.Image.image" class="btn btn-primary btn-block input-image-button-close" ng-click="GeneralSettings[2].Value.Image.image = null">Delete</button>
						<button type="button" class="btn btn-outline-primary btn-block input-image-button-close" ng-click="showimagebtns = false">Cancel</button>
					</div>
					<div ng-click="showimagebtns=true" class="input-image-control input-image-buttons" ng-show="!showimagebtns && GeneralSettings[2].Value.Image.image" style="background-size:cover; cursor: pointer ; background-repeat: no-repeat; background-image: url('{{GeneralSettings[2].Value.Image.image?GeneralSettings[2].Value.Image.image:''}}'); padding-top: 100px;padding-left:20px;padding-right: 20px;max-height: 320px;max-width:320px;background-color: #d3cfce;vertical-align: middle">
						
					</div>
					<input type="file" id="newRulesetImage" onchange="angular.element(this).scope().ItemImageUpload(this)" class="form-control-file">-->
					<!--<div ng-show="GeneralSettings[2].Value.Image.image" class="input-image-control input-image-buttons" style="padding: 0px;max-height: 320px;max-width:320px;background-color: #d3cfce;vertical-align: middle">
						<img class="card-img" ng-src="{{GeneralSettings[2].Value.Image.image?GeneralSettings[2].Value.Image.image:'/wwwroot/images/not-available.jpg'}}" onerror="this.src='/wwwroot/images/not-available.jpg'" alt="{{GeneralSettings[0].RulesetName}}" ng-click="showimagebtns = true" />
					</div>					
				</div>-->
				<!-- End of ruleset image -->


						<!--<rpgsmithrulesettype info="GeneralSettings[2]" mode="'{{Disabled}}'"></rpgsmithrulesettype>-->

			</div>
		</div>
		
		
</ng-form>
</div>

<div class="modal-footer">
	
	<button  type="button" data-dismiss="modal" class="btn btn-simple-accent" ng-click="cancel()">Cancel</button>
    <button  type="button" class="btn btn-accent" ng-click="ManageRuleset()" >{{buttontext}}</button>
</div>

<style>
	.modal-dialog .modal-lg .modal-content {
		max-width: 600px;
		height: 750px;
	}
	.modal-content {
		max-width: 600px;
		height:780px;
	}
	.input-image-control {
		width: 320px;
		height: 320px;
		background-color: #d3cfce;
	}
</style>









