<div class="modal-header">
    <h5 class="modal-title ng-binding" id="newCharacterPopupTitle"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp; Ruleset Import</h5>
    <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close" ng-click="cancel()"></button>

</div>

<div class="modal-body">
    <form name="RuleSetImportForm" novalidate>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <label for="newRulesetCharacterName">Name (required)</label><input type="text" class="form-control ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="name" id="name" ng-model="RuleSetName" ng-class="{red: dlg.name.$dirty &amp;&amp; dlg.name.$error.required}" required="" style="">
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <div class="form-group">
                    <input type="file" class="ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" onchange="angular.element(this).scope().rulesetFileUpload(this)" accept=".zip" />
                </div>
            </div>
        </div>
        </form>
</div>


<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-simple-accent" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-accent" ng-click="uploadFile()" ng-disabled="RuleSetImportForm.$invalid">Upload</button>
</div>




