<div class="modal-content_new" id="selectTile">
    <div class="modal-header">
        <h5 class="modal-title">Edit Borders</h5>
        <button type="button"  class="btn icon icon-cross btn-simple-primary close" ng-click="cancel()"></button>
    </div>
    <div class="modal-body">
        <div class="container">
            <div class="row">
                <div class="col-md-12 form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-4 col-xs-4">Style</label>
                        <div class="col-md-8 col-xs-8">
                            <select class="form-control" ng-options="item.Id as item.Name for item in TileBorders.StyleList" ng-model="TileBorders.style">
                                <option value="">--Select--</option>
                                <!--<option ng-repeat="x in TileBorders.StyleList">{{x.Name}}</option>-->
                                </se
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-xs-4">Color</label>
                        <div class="col-md-8 col-xs-8">
                            <div class="input-group">
                                <input type="text" id="bordercolor" color-picker
                                       color-picker-model="var" ng-model="TileBorders.color" class="form-control" />
                                <!--<input id="email" type="text" value="{{var}}" color-picker color-picker-model="var" class="form-control" name="email" placeholder="" style="z-index:1">
                                <span class="input-group-addon" color-picker color-picker-model="var"><i class="glyphicon glyphicon-user"></i></span>-->

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-xs-4">Width</label>
                        <div class="col-md-8 col-xs-8">
                            <select class="form-control" ng-options="item.Id as item.Name for item in TileBorders.WidthList" ng-model="TileBorders.width">
                                <!--<option ng-repeat="x in TileBorders.WidthList">{{x.Name}}</option>-->
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-xs-4">Radius</label>
                        <div class="col-md-8 col-xs-8">
                            <select class="form-control" ng-options="item.Id as item.Name for item in TileBorders.RadiusList" ng-model="TileBorders.radius">
                                <!--<option ng-repeat="x in TileBorders.RadiusList">{{x.Name}}</option>-->
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4 col-xs-4">Shadow</label>
                        <div class="col-md-8 col-xs-8">
                            <select class="form-control" ng-options="item.Id as item.Name for item in TileBorders.ShadowList" ng-model="TileBorders.shadow">
                                <!--<option ng-repeat="x in TileBorders.ShadowList">{{x.Name}}</option>-->
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="SaveTileBorder()">Ok</button>
        <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    </div>
</div>