<!--https://github.com/m-e-conroy/angular-dialog-service-->
<div class="modal-header">
    <h4 class="modal-title">
        <i class="fa fa-bars" aria-hidden="true"></i> Reorder
    </h4>
</div>
<div class="modal-body">
    <ul ui-sortable ng-model="items" class="reorder-tab-list">
        <li ng-repeat="item in items"><i class="fa fa-bars" aria-hidden="true"></i> {{ item.TabName }}</li>
    </ul>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
</div>