<div class="modal-header">
    <h5 class="modal-title" id="newCharacterPopupTitle">New Tile</h5>
    <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close"></button>
</div>
<div class="popup-new-tile">
    <div class="modal-body">
        <div class="container-fluid tile-picker-container">
            <div class="select-tile-tiles select-tile-characters">
                <ul>
                    <li ng-repeat="tile in tileTypes">
                        <button ng-click="choosetile(tile)" type="button" ng-class="'icon-' + tile.TileType.toLowerCase()" class="btn icon icon-with-text icon-rsi btn-accent">{{tile.TileType}}</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="modal-footer">
    <button type="button" data-dismiss="modal" class="btn btn-simple-accent" ng-click="cancel()">Cancel</button>
</div>