<div class="popup-new-tile">
    <div class="modal-header">
        <h5 class="modal-title">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            <span ng-show="isEdit" class="ng-hide" style=""> Edit Note Tile</span>
            <span ng-show="!isEdit"> Note Tile</span>
        </h5>
        <button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary close"></button>
        <div class="col-md-offset-6 col-md-2">
            <div class="">
                <span class="ng-isolate-scope" style="margin-right: 10px;">
                    <img src="/wwwroot/images/drop.png" ng-click="TileBorder()">
                </span>
                <span id="bckcolor" class="ng-isolate-scope">
                    <img src="/wwwroot/images/color.png" ng-click="TileTitleBackground()">
                </span>
            </div>
        </div>
    </div>
	



    <form name="theForm" novalidate>

        <div class="modal-body">

            <div class="form-horizontal">
                <!--<textarea rows="4" ui-tinymce="tinyMceOptions" ng-model="NewLayout.LayoutMetaData.Tile.Value.Note.Text" cols="50" style="visibility:visible"></textarea>-->
                <rpgsmithnotetype info="NoteTile" useoredit=1 class="form_inline"></rpgsmithnotetype>
				

            </div>
        </div>

        <div class="modal-footer">

            <button type="button" data-dismiss="modal" class="btn btn-simple-accent" ng-click="cancel()">Cancel</button>
            <button type="button" class="btn btn-accent" ng-click="SaveTile()">Save</button>
        </div>
    </form>

</div>
