<div class="page-inventory">
  <!-- Toolbar -->
  <div class="page-toolbar">
    <div class="container">
      <div class="page-toolbar-wrapper">
        <div class="page-toolbar-title">
          <a (click)="RedirectBack()" class="icon icon-back">
            <h1 class="d-none d-md-inline-block"> Back</h1>
          </a>
          <h1 class="d-md-none">Abilities</h1>
        </div>
        <!--<div class="page-toolbar-wrapper-toggle-trigger">
            <button type="button" class="btn icon icon-with-text btn-accent btn-block" (click)="showActionButtons(showActions)"
                    [ngClass]="{'icon-arrow-up' : showActions,  'icon-arrow-down' : !showActions}">
                {{actionText}}
            </button>
        </div>-->
        <div class="page-toolbar-wrapper initial show">
          <!-- Toolbar links -->
          <ul class="page-toolbar-links" *ngIf="!isLoading">
            <li *ngIf="ruleSet?.isItemEnabled" class="hidden-tab">
              <a [routerLink]="charNav?.items" class="btn btn-link-primary nav-redirection icon-Gen-Items"> <span>Inventory</span></a>
            </li>
            <li *ngIf="ruleSet?.isSpellEnabled" class="hidden-tab">
              <a [routerLink]="charNav?.spells" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> <span>Spells</span></a>
            </li>
            <li *ngIf="ruleSet?.isAbilityEnabled" class="hidden-tab">
              <a [routerLink]="charNav?.abilities" class="btn btn-link-primary nav-redirection selected icon-Gen-Ability"> <span>Abilities</span></a>
            </li>
            <li class="hidden-tab" *ngIf="doesCharacterHasAllies">
              <a [routerLink]="['/character/allies/', characterId]" class="btn btn-link-primary nav-redirection icon-Ally"> Allies</a>
            </li>
            <li *ngIf="ruleSet" class="hidden-tab">
              <a [routerLink]="['/character/character-stats/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-CharStat"> <span>Character Stats</span></a>
            </li>
            <li class="visible-tab mt-0">
              <div class="dropdown dropdown-buttons" [ngClass]="{'show': isDropdownOpen}">
                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-primary dropdown-toggle is-show">Records</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger" *ngIf="isDropdownOpen">
                  <ul class="dropdown-menu-list" *ngIf="!isLoading">
                    <li *ngIf="ruleSet?.isItemEnabled" class="dropdown-menu-item">
                      <a [routerLink]="charNav?.items" class="btn btn-link-primary nav-redirection icon-Gen-Items"> Inventory</a>
                    </li>
                    <li *ngIf="ruleSet?.isSpellEnabled" class="dropdown-menu-item">
                      <a [routerLink]="charNav?.spells" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> Spells</a>
                    </li>
                    <li *ngIf="ruleSet?.isAbilityEnabled" class="dropdown-menu-item">
                      <a [routerLink]="charNav?.abilities" class="btn btn-link-primary nav-redirection selected icon-Gen-Ability"> Abilities</a>
                    </li>
                    <li class="dropdown-menu-item" *ngIf="doesCharacterHasAllies">
                      <a [routerLink]="['/character/allies/', characterId]" class="btn btn-link-primary nav-redirection icon-Ally"> Allies</a>
                    </li>
                    <li *ngIf="ruleSet" class="dropdown-menu-item">
                      <a [routerLink]="['/character/character-stats/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-CharStat"> Character Stats</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <!--<div class="dropdown dropdown-buttons">
                  <button type="button" (click)="addAbility()" data-toggle="dropdown" aria-expanded="false" class="btn icon icon-with-text icon-plus btn-primary btn-block">Add Ability</button>
              </div>-->

              <div class="dropdown dropdown-buttons" [ngClass]="{'show': isDropdownOpen}">
                <button type="button" data-toggle="dropdown" aria-expanded="false" class="action-btn-font-size btn icon icon-with-text btn-primary dropdown-toggle is-show">A<span class="text-hide-tab  is-show">ACTIONS</span></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger" *ngIf="isDropdownOpen">
                  <ul class="dropdown-menu-list">
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="addAbility()" class="btn btn-accent icon-Rec-Add" [disabled]="pauseAbilityAdd"> Add Ability</button>
                    </li>
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="createAbility()" class="btn btn-accent icon-Gen-Edit" [disabled]="pauseAbilityCreate"> Create Ability</button>
                    </li>
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="RemoveAbility()" class="btn btn-accent icon icon-with-text icon-Rec-Remove"> Remove Abilities</button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <!-- End of toolbar links -->
        </div>
        <ul class="page-toolbar-actions">
          <li class="view-switch">
            <div class="btn-group" role="group">
              <!--<button type="button" id="filtersToggleBtn" class="btn filter-toggle-btn" [disabled]="isLoading"  (click)="applyFilters(abilityFilter.type,false,true)" popover="{{abilityFilter.name}}" triggers="hover click">
        &nbsp;{{abilityFilter.viewableCount}}
        <span *ngIf="abilityFilter.type == 1"><i>A</i></span>
        <span *ngIf="abilityFilter.type == 3"><i>L</i></span>
        <span [ngClass]="abilityFilter.icon"></span>
      </button>-->
              <!--<button type="button" id="gridViewTrigger" class="btn icon icon-grid btn-primary" [ngClass]="{'selected':!isListView}" (click)="showListView(false)"></button>
      <button type="button" id="listViewTrigger" class="btn icon icon-list btn-primary" [ngClass]="{'selected':isListView}" (click)="showListView(true)"></button>-->
              <div class="dropdown">
                <!--<button class="btn dropdown-toggle filter-toggle-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         30 <i>A</i>
        </button>-->
                <button class="btn dropdown-toggle filter-toggle-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" popover="{{abilityFilter.name}}" triggers="hover click">
                  &nbsp;{{abilityFilter.viewableCount}}
                  <span *ngIf="abilityFilter.type == 1"><i>A</i></span>
                  <span *ngIf="abilityFilter.type == 3"><i>L</i></span>
                  <span [ngClass]="abilityFilter.icon"></span>
                </button>
                <div class="dropdown-menu filter-toggle-btn-menu" aria-labelledby="dropdownMenuButton">
                  <button type="button" id="listViewTrigger" class="btn" [ngClass]="Alphabetical ? 'selected' :''" (click)="applyFilters(1,false,true)"><i>A</i>Alphabetical <span>{{AlphabeticalCount}}</span></button>
                  <button type="button" id="listViewTrigger" class="btn icon icon-Rec-Enabled" [ngClass]="Enabled ? 'selected' :''" (click)="applyFilters(2,false,true)">Enabled<span>{{EnableCount}} </span></button>
                  <button type="button" id="equippedViewTrigger" class="btn" [ngClass]="Level ? 'selected' :''" (click)="applyFilters(3,false,true)"><i>L</i>Level<span>{{LevelCount}}</span></button>
                  <!--<button type="button" id="gridViewTrigger" class="btn icon icon-Rec-Visible" (click)="applyFilters(abilityFilter.type)" popover="{{abilityFilter.name}}" triggers="hover click"> Visible <span>3</span></button>-->
                </div>
              </div>
              <div class="dropdown">
                <button class="btn dropdown-toggle filter-toggle-btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i [ngClass]="isDenseView ? 'icon icon-Rec-Dense': '' "></i>
                  <i [ngClass]="!isListView && !isDenseView ? 'icon icon-grid' :''"></i>
                  <i [ngClass]="isListView && !isDenseView ? 'icon icon-list' :''"></i>
                </button>
                <div class="dropdown-menu filter-toggle-btn-menu" aria-labelledby="dropdownMenuButton">
                  <button type="button" id="gridViewTrigger" class="btn icon icon-list" [ngClass]="isListView && !isDenseView ? 'selected' :''" (click)="showListView(true)"> List</button>
                  <button type="button" id="listViewTrigger" class="btn icon icon-grid" [ngClass]="!isListView && !isDenseView ? 'selected' :''" (click)="showListView(false)"> Grid </button>
                  <button type="button" id="denseViewTrigger" class="btn icon icon-Rec-Dense" [ngClass]="isDenseView ? 'selected': '' " (click)="showDenseview(true)"> Dense</button>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown dropdown-buttons" [ngClass]="{'show': isDropdownOpen}">
              <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn icon icon-with-text btn-primary dropdown-toggle is-show">
                <span class="text-hide-tab  is-show"> ACTIONS</span>
              </button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger" *ngIf="isDropdownOpen">
                <ul class="dropdown-menu-list">
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="addAbility()" class="btn btn-accent icon-Rec-Add" [disabled]="pauseAbilityAdd"> Add Ability</button>
                  </li>
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="createAbility()" class="btn btn-accent icon-Gen-Edit" [disabled]="pauseAbilityCreate"> Create Ability</button>
                  </li>
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="RemoveAbility()" class="btn btn-accent icon icon-with-text icon-Rec-Remove"> Remove Abilities</button>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <!-- *ngIf="pageRefresh" -->
          <li class="refresh-btn">
            <button type="button" class="btn btn-outline-primary icon icon-Gen-Refresh" (click)="refresh()"></button>
          </li>
          <li>
            <button type="button" (click)="openDiceRollModal()" class="btn icon icon-with-text icon-dice icon-rsi btn-primary">
              <span class="text-hide-tab"> Dice</span>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End of toolbar -->
  <!-- Inventory cards -->
  <div class="cards cards-inventory page-item-details" *ngIf="!isLoading" infiniteScroll (scrolled)="onScroll()" [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="300" [scrollWindow]="true">
    <div class="container">
      <div class="card-list justify-content-center justify-content-lg-start" [ngClass]="{'view-list':isListView, 'dense-list': isDenseView}">
        <p class="text-center py-5 w-100 d-block" *ngIf="noRecordFound">No Abilities have been added to this character. Click "+ACTIONS" to add some.</p>
        <ng-container *ngFor="let ability of abilitiesList | filter : searchText : 'name';let i = index;">
          <div class="card-wrapper tooltip1" >
            <div class="card" (mousedown)="editRecord(ability)" (mouseup)="clickAndHold(ability)" (mouseleave)="clickAndHold(ability)" [ngClass]="{'card-equip':ability.isEnabled}">
              <div class="card-image portrait" [ngClass]="{'thumbnail':!isListView, 'thumbnail-list':isListView}">
                <img class="card-img-top" [src]="ability.ability.imageUrl" [alt]="ability.ability.imageUrl"
                     onerror="this.src='./assets/images/DefaultImages/ability.jpg';" [routerLink]="['/character/ability-details', ability.characterAbilityId]">

                <div class="card-actions show" *ngIf="ability.showIcon && !isListView && !pauseAbilityCreate">
                  <button type="button" (click)="editAbility(ability)" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-simple-primary"></button>
                  <button type="button" (click)="duplicateAbility(ability)" title="Duplicate" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
                  <button type="button" (click)="deleteAbility(ability)" title="Delete" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary"></button>
                  <button type="button" (click)="manageIcon(false)" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary"></button>
                </div>
              </div>

              <div class="card-body" [routerLink]="['/character/ability-details', ability.characterAbilityId]">
                <h4 class="card-title">{{ability?.ability?.name}}</h4>
                <ul class="item-properties">
                  <li *ngIf="ability.ability.level" class="item-property item-property-text weight">{{ability?.ability?.level}}</li>
                </ul>
                <ul class="item-properties discription-tick" *ngIf="isListView">
                  <li *ngIf="ability.isEnabled" class="item-property item-property-icon icon-ico icon-Rec-Enabled" title="Enabled" data-toggle="tooltip"></li>
                </ul>
                <ul class="item-properties discription-tick" *ngIf="!isListView">
                  <li *ngIf="ability.isEnabled" class="item-property item-property-icon icon-ico icon-Rec-Enabled" title="Enabled" data-toggle="tooltip"></li>
                </ul>
                <div class="item-stats" [froalaView]="GetDescription(ability?.ability?.description)"></div>
              </div>
              <div class="card-actions-trigger" *ngIf="!ability.showIcon">
                <button type="button" (click)="manageIcon(ability.characterAbilityId)" title="Manage" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary"></button>
              </div>
              <div class="card-actions show" *ngIf="ability.showIcon && isListView && !pauseAbilityCreate">
                <button type="button" (click)="editAbility(ability)" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-simple-primary"></button>
                <button type="button" (click)="duplicateAbility(ability)" title="Duplicate" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
                <button type="button" (click)="deleteAbility(ability)" title="Delete" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary"></button>
                <button type="button" (click)="manageIcon(false)" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary"></button>
              </div>
              <div class="item-actions mobile-buttons" *ngIf="isListView">
                <button type="button" (click)="enableAbility(ability)" class="btn btn-accent icon-Rec-Enabled" *ngIf="!ability.isEnabled "> Enable</button>
                <button type="button" (click)="enableAbility(ability)" class="btn btn-accent icon-Rec-Disable" *ngIf="ability.isEnabled"> Disable</button>
                <button type="button" (click)="deleteAbility(ability)" class="btn btn-accent icon-Rec-Remove"> Remove</button>
                <button type="button" (click)="useAbility(ability)" class="btn btn-accent icon-Tile-Execute" *ngIf="ability.showUse"> Use</button>
              </div>
              <div class="item-actions" *ngIf="!isListView">
                <button type="button" (click)="enableAbility(ability)" class="btn btn-accent icon-Rec-Enabled" *ngIf="!ability.isEnabled"> Enable</button>
                <button type="button" (click)="enableAbility(ability)" class="btn btn-accent icon-Rec-Disable" *ngIf="ability.isEnabled"> Disable</button>
                <button type="button" (click)="deleteAbility(ability)" class="btn btn-accent icon-Rec-Remove"> Remove</button>
                <button type="button" (click)="useAbility(ability)" class="btn btn-accent icon-Tile-Execute" *ngIf="ability.showUse"> Use</button>
              </div>
            </div>
            <!--//////////-->
            <div class="top1" *ngIf="!ability.showIcon">
              <!-- Item info -->
              <div class="item-info mb-0" (mousedown)="editRecord(ability)" (mouseup)="clickAndHold(ability)" (mouseleave)="clickAndHold(ability)"
                   [routerLink]="['/character/ability-details', ability.characterAbilityId]">
                <div class="container px-0">
                  <div class="item-info-wrapper">
                    <div class="item-info-top-section">
                      <div class="row">
                        <div class="col">
                          <div class="item-info-banner">
                            <div class="item-info-image">
                              <img class="card-img-top" [src]="ability.ability.imageUrl" [alt]="ability?.ability?.name"
                                   onerror="this.src='../assets/images/DefaultImages/ability.jpg';" />
                            </div>
                            <h2 class="item-info-name mb-0">
                              {{ability?.ability?.name}}
                            </h2>
                            <div class="item-info-props-indics">
                              <ul class="item-info-props">
                                <li *ngIf="ability?.ability?.level">{{ability?.ability?.level}} Level</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 align-self-start">
                        <ul class="item-info-indics ml-3 w-100 mt-5 justify-content-start list-unstyled">
                          <li *ngIf="ability?.ability?.isEnabled"><i class="item-property item-property-icon icon-ico icon-Rec-Enabled"></i></li>
                        </ul>
                      </div>
                      <div class="col-9">
                        <div class="item-info-actions ml-0 h-100 w-100">
                          <div class="item-info-bottom-section px-2 pt-3">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="item-info-desc d-block mr-0">
                                  <h3>Description</h3>
                                  <p [froalaView]="GetDescription(ability?.ability?.description)"></p>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-md-6">
                                <div class="item-info-stats ml-0">
                                  <h3>Stats</h3>
                                  <p [froalaView]="GetDescription(ability?.ability?.stats)"></p>
                                </div>
                              </div>
                              <div class="col-12 col-md-6" *ngIf="isGM_Only">
                                <div class="item-info-stats mr-0">
                                  <h3>GM Only</h3>
                                  <p [froalaView]="GetDescription(ability?.ability?.gmOnly)"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of item info -->
            </div>
            <!--////////-->
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- End of inventory cards -->
  <app-loader [isLoading]="isLoading"></app-loader>
  <div class="spinner" *ngIf="scrollLoading">
    <img src="../../../../assets/images/PageLoader.gif" />
  </div>
</div>

