<form name="itemMasterForm" #f="ngForm" (ngSubmit)="f.form.valid && submitForm(monsterTemplateFormModal)">
  <div class="modal-header">
    <h5 class="modal-title" id="createItemPopupTitle">{{title}}</h5>
    <a href="https://rpgsmith.com/helpe/#e5b" class="help-icon icon icon-Gen-Help crsr-pointer" target="_blank"></a>
    <button type="button" (click)="close()" class="btn icon icon-cross btn-simple-primary close"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="!isLoading">
      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label for="newMonsterTemplateName">Name</label>
            <input *ngIf="monsterTemplateFormModal.view != 'edit'" type="text" id="newMonsterTemplateName" name="newMonsterTemplateName" class="form-control" placeholder="Name" [autofocus] [ngStyle]="{'border-color': f.submitted && !newMonsterTemplateName.valid ? 'red' : '#d3cfce'}"
                   [(ngModel)]="monsterTemplateFormModal.name" #newMonsterTemplateName="ngModel" required />
            <input *ngIf="monsterTemplateFormModal.view == 'edit'" type="text" id="newMonsterTemplateName" name="newMonsterTemplateName" class="form-control" placeholder="Name" [ngStyle]="{'border-color': f.submitted && !newMonsterTemplateName.valid ? 'red' : '#d3cfce'}"
                   [(ngModel)]="monsterTemplateFormModal.name" #newMonsterTemplateName="ngModel" required />
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-12 col-md-6">
          <div class="form-group">
            <div class="adjst-dice-position">
              <label>Health</label>
              <span class="input-group-btn">
                <button type="button" title="Show dice" tooltip="Show dice" class="btn icon icon-dice icon-rsi btn-simple-primary" (click)="openDiceModal(-2,monsterTemplateFormModal.health)"></button>
              </span>
              <input name="health" type="text" class="form-control" placeholder="Value"
                     [(ngModel)]="monsterTemplateFormModal.health" #health="ngModel" (change)="getHealthResult($event)" />
              <span *ngIf="monsterTemplateFormModal.health && !isValidSingleNumberCommand(monsterTemplateFormModal.health)" class="errorMessage text-danger">The 'And' and Text options are disallowed for this comand</span>
            </div>
            <!--<app-input-single-result-command _placeholder="Value" [command]="monsterTemplateFormModal.health"
        labelText="Health" (getResult)="getHealthResult($event)"></app-input-single-result-command>-->
          </div>

          <div class="form-group">
            <div class="adjst-dice-position">
              <label>Armor Class</label>
              <span class="input-group-btn">
                <button type="button" title="Show dice" tooltip="Show dice" class="btn icon icon-dice icon-rsi btn-simple-primary" (click)="openDiceModal(-3,monsterTemplateFormModal.armorClass)"></button>
              </span>
              <input name="armorClass" type="text" class="form-control" placeholder="Value"
                     [(ngModel)]="monsterTemplateFormModal.armorClass" #armorClass="ngModel" (change)="getArmorClassResult($event)" />
              <span *ngIf="monsterTemplateFormModal.armorClass && !isValidSingleNumberCommand(monsterTemplateFormModal.armorClass)" class="errorMessage text-danger">The 'And' and Text options are disallowed for this comand</span>
            </div>
            <!--<app-input-single-result-command _placeholder="Value" [command]="monsterTemplateFormModal.armorClass"
        labelText="Armor Class" (getResult)="getArmorClassResult($event)"></app-input-single-result-command>-->
          </div>

          <div class="form-group">
            <div class="adjst-dice-position">
              <label>Challenge Rating</label>
              <span class="input-group-btn">
                <button type="button" title="Show dice" tooltip="Show dice" class="btn icon icon-dice icon-rsi btn-simple-primary" (click)="openDiceModal(-4,monsterTemplateFormModal.challangeRating)"></button>
              </span>
              <input name="challangeRating" type="text" class="form-control" placeholder="Value"
                     [(ngModel)]="monsterTemplateFormModal.challangeRating" #challangeRating="ngModel" (change)="getChallangeRatingResult($event)" />
              <span *ngIf="monsterTemplateFormModal.challangeRating && !isValidSingleNumberCommand(monsterTemplateFormModal.challangeRating)" class="errorMessage text-danger">The 'And' and Text options are disallowed for this comand</span>
            </div>
            <!--<app-input-single-result-command _placeholder="Value" [command]="monsterTemplateFormModal.challangeRating"
        labelText="Challange Ratting" (getResult)="getChallangeRatingResult($event)"></app-input-single-result-command>-->
          </div>
        </div>
        <div class="col-12 col-md-6">
          <!-- Image file -->
          <div class="form-group input-image input-image-alt">
            <label for="newItemImageFile">Image (optional)</label>
            <div class="input-image-control input-image-note input-image-trigger" (click)="cropImage(null,true,'VIEW.ADD')"
                 *ngIf="((monsterTemplateFormModal.monsterTemplateId === undefined || monsterTemplateFormModal.monsterTemplateId === 0)
                            && !showWebButtons && monsterTemplateFormModal.imageUrl === undefined)
                            || (!showWebButtons && (monsterTemplateFormModal.imageUrl === undefined || monsterTemplateFormModal.imageUrl === null))">
              <div class="icon icon-upload"><span>Click here to upload.</span><small>(320 x 320 px)</small></div>
            </div>
            <div class="form-group input-image-note input-image-trigger" (click)="cropImage(monsterTemplateFormModal.imageUrl,true,'VIEW.EDIT')"
                 *ngIf="(!showWebButtons && monsterTemplateFormModal.imageUrl !== undefined && monsterTemplateFormModal.imageUrl !== null)">
              <img class="spell-img" [src]="monsterTemplateFormModal.imageUrl"
                   onerror="this.src='../assets/images/DefaultImages/monster.jpg';" />
            </div>
            <div class="input-image-control input-image-note input-image-buttons show" *ngIf="showWebButtons">
              <img [src]="monsterTemplateFormModal.imageUrl" class="bg-image" />
            </div>
            <input type="file" id="newItemImagePortrait" class="form-control-file">
          </div>
          <!-- End of image file -->
        </div>

        <div class="col-12 col-md-6">
          <div class="form-group">
            <div class="adjst-dice-position">
              <label>XP Value</label>
              <span class="input-group-btn">
                <button type="button" title="Show dice" tooltip="Show dice" class="btn icon icon-dice icon-rsi btn-simple-primary" (click)="openDiceModal(-5,monsterTemplateFormModal.xPValue)"></button>
              </span>
              <input name="xPValue" type="text" class="form-control" placeholder="Value"
                     [(ngModel)]="monsterTemplateFormModal.xPValue" #xPValue="ngModel" (change)="getXPValueResult($event)" />
              <span *ngIf="monsterTemplateFormModal.xPValue && !isValidSingleNumberCommand(monsterTemplateFormModal.xPValue)" class="errorMessage text-danger">The 'And' and Text options are disallowed for this comand</span>
            </div>
            <!--<app-input-single-result-command _placeholder="Value" [command]="monsterTemplateFormModal.xPValue"
        labelText="XP Value" (getResult)="getXPValueResult($event)"
        ></app-input-single-result-command>-->
          </div>
          <div class="form-group">
            <label for="newMonsterTemplateCommand">Initiative</label>
            <span class="input-group-btn">
              <button type="button" title="Show dice" tooltip="Show dice" (click)="openDiceModal(-6, monsterTemplateFormModal.initiativeCommand)" class="btn icon icon-dice icon-rsi btn-simple-primary"></button>
            </span>
            <input type="text" id="newMonsterTemplateInitiativeCommand" name="newMonsterTemplateInitiativeCommand" class="form-control mr-1" placeholder="Value"
                   [(ngModel)]="monsterTemplateFormModal.initiativeCommand" #newMonsterTemplateInitiativeCommand="ngModel" />
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="newMonsterTemplateTags">Tag(s)</label>
            <tag-input name="metatags" [(ngModel)]='metatags' separatorKeyCodes="[9]" editable="true" placeholder="Tags, [Tab] Separated" secondaryPlaceholder="Tags, [Tab] Separated"
                       inputId="metatags" inputClass="form-control metatags-field" class="form-control">
              <ng-template let-item="item" let-index="index">
                <delete-icon class="tagdeleteicon" (click)="removeTag(metatags,item,index)"></delete-icon>
                <span *ngIf="item.value;else other"> {{item.value}} </span>
                <ng-template #other> {{item}} </ng-template>
              </ng-template>
            </tag-input>
            <!--<rl-tag-input name="metatags" class="form-control" [(ngModel)]="metatags" placeholder="Tags"></rl-tag-input>-->
          </div>

        </div>



      </div>



      <div class="form-separator"></div>

      <div class="form-row">
        <div class="col-12">
          <div class="form-group">
            <label for="newMonsterTemplateDescription">Description</label>
            <div [froalaEditor]="options('Description')" [(ngModel)]="monsterTemplateFormModal.description" name="description"></div>
            <!--<textarea id="newMonsterTemplateDescription" name="newMonsterTemplateDescription" class="form-control" placeholder="Description" rows="5"
        [(ngModel)]="monsterTemplateFormModal.description" #newMonsterTemplateDescription="ngModel"></textarea>-->
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="newMonsterTemplateStats">Stats</label>
            <div [froalaEditor]="options('Input stat')" [(ngModel)]="monsterTemplateFormModal.stats" name="stats"></div>
            <!--<textarea id="newMonsterTemplateStats" class="form-control" name="newMonsterTemplateStats" placeholder="Input stat" rows="5"
        [(ngModel)]="monsterTemplateFormModal.stats" #newMonsterTemplateStats="ngModel"></textarea>-->
          </div>
        </div>

        <!--GM Only-->
        <div class="col-12">
          <div class="form-group">
            <label for="GM_Only">GM Only</label>
            <div [froalaEditor]="options('GM Only')" [(ngModel)]="monsterTemplateFormModal.gmOnly" name="GMOnly"></div>
          </div>
        </div>

      </div>
      <div class="form-separator"></div>

      <div class="form-row">
        <div class="col-12 col-md-6">
          <!--<fieldset class="form-group input-switch input-switch-dual input-switch-muted">
          <legend>Enable?</legend>
          <ul class="input-switch-items">
              <li class="form-check">
                  <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="IsEnable1" [checked]="monsterTemplateFormModal.isEnabled"
                             (click)="setEnableDisable(true)" />
                      <span>Yes</span>
                  </label>
              </li>
              <li class="form-check">
                  <label class="form-check-label">
                      <input class="form-check-input" type="radio" name="IsEnable2" [checked]="!monsterTemplateFormModal.isEnabled"
                             (click)="setEnableDisable(false)" />
                      <span>No</span>
                  </label>
              </li>
          </ul>
      </fieldset>-->
          <!--<div class="form-group">
          <label for="newMonsterTemplateAssocItem">Associated Item</label>
          <input type="text" id="newMonsterTemplateAssocItem" name="newMonsterTemplateAssocItem" class="form-control" placeholder="Name of the level" />
      </div>-->
          <!--<div class="form-group">
          <label for="newMonsterTemplateTiles">Tile(s)</label>
          <input type="text" id="newMonsterTemplateTiles" class="form-control" placeholder="Enter the tile descritption">
      </div>-->
        </div>

      </div>

      <div class="form-row">
        <div class="col-12">
          <div class="form-group input-command">
            <label for="newMonsterTemplateCommand">Command</label>
            <div class="row">
              <!--<div class="form-group col-11 mb-1" *ngIf="monsterTemplateFormModal.monsterTemplateCommandVM?.length == 0">
            <span class="input-group-btn command-dice">
              <button type="button" title="Show dice" tooltip="Show dice" (click)="openDiceModal(-1, monsterTemplateFormModal.command)" class="btn icon icon-dice icon-rsi btn-simple-primary"></button>
            </span>
            <input type="text" id="newMonsterTemplateCommand" name="newMonsterTemplateCommand" class="form-control mr-1" placeholder="Select Dice"
                   [(ngModel)]="monsterTemplateFormModal.command" #newMonsterTemplateCommand="ngModel" />
          </div>-->
              <!--<div class="form-group col-6 mb-1" *ngIf="monsterTemplateFormModal.monsterTemplateCommandVM?.length >= 1">-->
              <div class="form-group col-6 mb-1">
                <span class="input-group-btn command-dice">
                  <button type="button" title="Show dice" tooltip="Show dice" (click)="openDiceModal(-1, monsterTemplateFormModal.command)" class="btn icon icon-dice icon-rsi btn-simple-primary"></button>
                </span>
                <input type="text" id="newMonsterTemplateCommand" name="newMonsterTemplateCommand" class="form-control mr-1" placeholder="Select Dice"
                       [(ngModel)]="monsterTemplateFormModal.command" #newMonsterTemplateCommand="ngModel" />
              </div>
              <!--<div class="form-group col-5 mb-1 command-name" *ngIf="monsterTemplateFormModal.monsterTemplateCommandVM?.length >= 1">-->
              <div class="form-group col-5 mb-1 command-name">
                <input type="text" [id]="newMonsterTemplateName1" [name]="newMonsterTemplateName1" class="form-control mr-1" placeholder="Name"
                       [(ngModel)]="monsterTemplateFormModal.commandName" #newMonsterTemplateName1="ngModel" />
              </div>
              <div class="form-group pull-right add-command">
                <button class="btn icon icon-plus btn-primary" type="button" (click)="addCommand(monsterTemplateFormModal.monsterTemplateCommandVM)"></button>
              </div>
            </div>
            <!-- <div class="input-group mb-1" *ngFor="let command of monsterTemplateFormModal.abilityCommandVM;let i = index;">
            <input type="text" [id]="'newMonsterTemplateCommand'+i" [name]="'newMonsterTemplateCommand'+i" class="form-control mr-1" placeholder="Select dice"
                   [(ngModel)]="command.command" />

            <input type="text" [id]="'newMonsterTemplateCommand'+i" [name]="'newMonsterTemplateCommand'+i" class="form-control mr-1" placeholder="Name"
                   [(ngModel)]="command.name" />

            <span class="pull-right">
                <button class="btn icon icon-trash btn-primary pull-right" type="button" (click)="removeCommand(command)"></button>
            </span>
        </div> -->
            <div class="row" *ngFor="let command of monsterTemplateFormModal.monsterTemplateCommandVM;let i = index;">
              <div class="form-group col-6 mb-1">
                <span class="input-group-btn command-dice">
                  <button type="button" title="Show dice" tooltip="Show dice" (click)="openDiceModal(i, command.command)" class="btn icon icon-dice icon-rsi btn-simple-primary"></button>
                </span>
                <input type="text" [id]="'newMonsterTemplateCommand'+i" [name]="'newMonsterTemplateCommand'+i" class="form-control mr-1" placeholder="Select dice"
                       [(ngModel)]="command.command" />
              </div>
              <div class="form-group col-5 mb-1 command-name">
                <input type="text" [id]="'newMonsterTemplatename'+i" [name]="'newMonsterTemplateName'+i" class="form-control mr-1" placeholder="Name"
                       [(ngModel)]="command.name" />
              </div>
              <div class="form-group pull-right add-command">
                <button class="btn icon icon-trash btn-primary pull-right" type="button" (click)="removeCommand(command)"></button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="form-separator"></div>
      <div class="form-row">
        <div class="col-12 col-md-6" *ngIf="ruleSet?.isAbilityEnabled">
          <div class="form-group">
            <label for="newItemSpells">Abilities</label>
            <angular2-multiselect id="buffAndEffectsList" [data]="abilitiesList" [(ngModel)]="selectedAbilities" name="newAbilities"
                                  [settings]="abilitiesSettings">
              <c-item id="spell">
                <ng-template let-item="item">
                  <span class="associate-label-name">{{item.name}}</span>
                  <img [src]="item.imageUrl" class="pull-right associate-img"
                       onerror="this.src = '../assets/images/DefaultImages/ability.jpg'" />
                </ng-template>
              </c-item>
            </angular2-multiselect>
          </div>
        </div>
        <div class="col-12 col-md-6" *ngIf="ruleSet?.isSpellEnabled">
          <div class="form-group">
            <label for="newItemSpells">Spells</label>
            <angular2-multiselect id="associateSpellList" [data]="spellsList" [(ngModel)]="selectedSpells" name="newSpells" [settings]="spellsSettings">
              <c-item id="spell">
                <ng-template let-item="item">
                  <span class="associate-label-name">{{item.name}}</span>
                  <img [src]="item.imageUrl" class="pull-right associate-img"
                       onerror="this.src = '../assets/images/DefaultImages/Spell.jpg'" />
                </ng-template>
              </c-item>
            </angular2-multiselect>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group">
            <label for="newItemSpells">Associated Monsters</label>
            <angular2-multiselect id="associateMonsterTemplateList" [data]="associateMonsterTemplateList" [(ngModel)]="selectedAssociateMonsterTemplates" name="newMonsters" [settings]="associateMonsterTemplatesSettings">
              <c-item id="spell">
                <ng-template let-item="item">
                  <span class="associate-label-name">{{item.name}}</span>
                  <img [src]="item.imageUrl" class="pull-right associate-img"
                       onerror="this.src = '../assets/images/DefaultImages/monster.jpg'" />
                </ng-template>
              </c-item>
            </angular2-multiselect>
          </div>
        </div>
        <div class="col-12 col-md-6" *ngIf="ruleSet?.isBuffAndEffectEnabled">
          <div class="form-group">
            <label for="newItemSpells">Buffs And Effects</label>
            <angular2-multiselect id="buffAndEffectsList" [data]="buffAndEffectsList" [(ngModel)]="selectedBuffAndEffects" name="newItemBuffAndEffests" [settings]="buffAndEffectsSettings">
              <c-item id="spell">
                <ng-template let-item="item">
                  <span class="associate-label-name">{{item.name}}</span>
                  <img [src]="item.imageUrl" class="pull-right associate-img"
                       onerror="this.src = '../assets/images/BnE/Def_BnE.jpg'" />
                </ng-template>
              </c-item>
            </angular2-multiselect>
          </div>
        </div>
      </div>

      <!--Start Currency-->
      <div class="form-separator"></div>
      <div class="form-row mb-3">
        <div class="form-group col-12 mb-1">
          <label for="GM_Only">Currency</label>
        </div>
        <div class="row w-100">
          <div class="col-6" *ngFor="let currency of monsterTemplateFormModal.monsterTemplateCurrency;let i = index">
            <div class="row mb-2">
              <div class="col-7 pr-0">
                <input type="text" [name]="'amount-'+i" [(ngModel)]="currency.command" class="w-100 py-2 pr-4 pl-2" placeholder="Quantity" />
                <button type="button" [name]="'amount-btn-'+i" class="btn icon icon-dice icon-rsi btn-simple-primary pl-0 pr-2 currency-types"
                        (click)="openDiceModalForCurrency(i, currency)"></button>
              </div>
              <span class="col-5 align-self-center">{{currency.name}}</span>
            </div>
          </div>
        </div>
      </div>
      <!--End Currency-->

      <div class="form-separator"></div>
      <div class="form-row">
        <div class="col-12" *ngIf="ruleSet?.isItemEnabled">

          <div class="form-group form-row item-checkbox">
            <div class="col-md-6">
              <label for="newItemSpells" class="random-checkbox-span">Items</label>
            </div>
            <div class="col-md-6">
              <span class="custom-checkbox random-checkbox">
                <input type="checkbox" name="randomization" id="randomization" #randomization="ngModel" [(ngModel)]="monsterTemplateFormModal.isRandomizationEngine" />
                <span class="random-checkbox-span">Randomization Engine</span>
              </span>
            </div>
          </div>
          <div class="col-12 text-right pr-0" *ngIf="monsterTemplateFormModal.isRandomizationEngine">
            <ul class="list-unstyled mb-0 d-flex justify-content-end">
              <li (click)="SwitchTo(true)" [ngClass]="searchFilter ? '':'selectedBox'" class="ml-0 align-self-center crsr-pointer">
                Target Mode
              </li>
              <li (click)="SwitchTo(false)" [ngClass]="searchFilter ? 'selectedBox':''" class="mr-0 align-self-center crsr-pointer">
                Search Mode
              </li>
            </ul>
          </div>
          <div class="form-group form-group-unlabelled" *ngIf="!monsterTemplateFormModal.isRandomizationEngine" (click)="SelectBuffAndEffects()">
            <!---THIS TAG INPUT IS USED FOR CONTAINS ITEMS SELECTED FROM POPUP-->
            <tag-input name="contains"
                       (onRemove)="selectedBuffAndEffectsListChanged($event)"
                       [(ngModel)]='SelectedItemsList'
                       theme='dark'
                       inputId="contains"
                       inputClass="form-control metatags-field"
                       class="form-control"
                       [identifyBy]="'value'"
                       [displayBy]="'text'"
                       [placeholder]="''"
                       [secondaryPlaceholder]="'Select Item'">

            </tag-input>
          </div>
          <div *ngIf="monsterTemplateFormModal.isRandomizationEngine && !searchFilter">
            <div class="randominzation-engine-content">
              <!-- First section end -->
              <!-- After click or -->
              <div *ngIf="randomizationInfo.length >= 0 ">
                <div *ngFor="let item of randomizationInfo;let i = index">
                  <form>
                    <div *ngIf="item.isOr == undefined">
                      <h3>
                        This Monster has a
                        <input type="number" placeholder="0-100" [name]="'percentage_'+i" [value]="item.percentage" (change)="percentage($event, item)"
                               [ngStyle]="{'border-color': f.submitted && !item.percentage ? 'red' : '#d3cfce'}" required />
                        % chance of having
                        <span>
                          <input type="text" placeholder="Quantity" [name]="'Qty_'+i" [value]="item.qty" (keyup)="quantity($event, item)"
                                 [ngStyle]="{'border-color': f.submitted && !item.qty ? 'red' : '#d3cfce'}" required />
                          <i class="icon-CharStat-Command" [id]="'diceModal_'+i" (click)="openDiceModal(((i+10)*-1),item.qty)"></i>
                        </span>
                      </h3>
                      <!--validation message-->
                      <span *ngIf="item.qty && !isValidSingleNumberCommand(item.qty?item.qty.toString():'', item)" class="errorMessage text-danger">
                        The 'And' and Text options are disallowed for this comand
                      </span>
                      <div class="search-field-randominzation">
                        <div (click)="SelectItem(item,i)">
                          <tag-input name="name1" theme='dark' [(ngModel)]='item.selectedItem'
                                     inputClass="form-control metatags-field" class="form-control"
                                     [identifyBy]="'itemId'" [displayBy]="'text'" [placeholder]="''" [secondaryPlaceholder]="'Select Item'"
                                     style="width: 300px;">
                          </tag-input>
                        </div>
                        <!--Parent OR button-->
                        <button type="button" class="btn-orange-icons icon-Gen-Trash unvisible"></button>
                        <a href="javascript:void(0);" class="orange-text-randominzation visible" (click)="randomizationOR(i)">OR</a>
                      </div>

                    </div>
                    <div *ngIf="item.isOr">
                      <h3>
                        or a
                        <input type="number" placeholder="0-100" [name]="'percentage_'+i" [value]="item.percentage" (change)="percentage($event, item)"
                               [ngStyle]="{'border-color': f.submitted && !item.percentage ? 'red' : '#d3cfce'}" required />
                        % chance of having
                        <span>
                          <input type="text" placeholder="Quantity" [name]="'Qty_'+i" [value]="item.qty" (keyup)="quantity($event, item)"
                                 [ngStyle]="{'border-color': f.submitted && !item.qty ? 'red' : '#d3cfce'}" required />
                          <i class="icon-CharStat-Command" [id]="'diceModal_'+i" (click)="openDiceModal(((i+10)*-1),item.qty)"></i>
                        </span>
                      </h3>
                      <!--validation message-->
                      <span *ngIf="item.qty && !isValidSingleNumberCommand(item.qty?item.qty.toString():'', item)" class="errorMessage text-danger">
                        The 'And' and Text options are disallowed for this comand
                      </span>

                      <div class="search-field-randominzation">
                        <div (click)="SelectItem(item,i)">
                          <tag-input name="name2" theme='dark'
                                     [(ngModel)]='item.selectedItem' inputClass="form-control metatags-field" class="form-control"
                                     [identifyBy]="'itemId'" [displayBy]="'text'" [placeholder]="''" [secondaryPlaceholder]="'Select Item'"
                                     style="width: 300px;">
                          </tag-input>
                        </div>
                        <!--Child OR with Delete button-->
                        <button type="button" class="btn-orange-icons icon-Gen-Trash" (click)="removeRandom(item,i)"></button>
                        <a href="javascript:void(0);" class="orange-text-randominzation" (click)="randomizationOr(i)">OR</a>
                      </div>
                    </div>

                    <!--Start AND part-->
                    <div *ngIf="item.isOr == false">
                      <div class="adn-seprater"><span>and</span></div>
                      <h3>
                        This Monster has a
                        <input type="number" placeholder="0-100" [name]="'percentage_'+i" [value]="item.percentage" (change)="percentage($event, item)"
                               [ngStyle]="{'border-color': f.submitted && !item.percentage ? 'red' : '#d3cfce'}" required />
                        % chance of having
                        <span>
                          <input type="text" placeholder="Quantity" [name]="'Qty_'+i" [value]="item.qty" (keyup)="quantity($event, item)"
                                 [ngStyle]="{'border-color': f.submitted && !item.qty ? 'red' : '#d3cfce'}" required />
                          <i class="icon-CharStat-Command" [id]="'diceModal_'+i" (click)="openDiceModal(((i+10)*-1),item.qty)"></i>
                        </span>
                      </h3>
                      <!-- Quantity Validation Message-->
                      <span *ngIf="item.qty && !isValidSingleNumberCommand(item.qty?item.qty.toString():'', item)" class="errorMessage text-danger">
                        The 'And' and Text options are disallowed for this comand
                      </span>
                      <div class="search-field-randominzation">
                        <div (click)="SelectItem(item,i)">
                          <tag-input name="name3" theme='dark' [(ngModel)]='item.selectedItem'
                                     inputClass="form-control metatags-field" class="form-control"
                                     [identifyBy]="'itemId'" [displayBy]="'text'" [placeholder]="''" [secondaryPlaceholder]="'Select Item'"
                                     style="width: 300px;">
                          </tag-input>
                        </div>
                        <!--child OR-->
                        <button type="button" class="btn-orange-icons icon-Gen-Trash" (click)="removeRandom(item,i)"></button>
                        <a href="javascript:void(0);" class="orange-text-randominzation visible" (click)="randomizationOR(i)">OR</a>
                      </div>
                    </div>
                    <!--End AND part-->

                  </form>
                </div>
              </div>
              <!-- After Click And end-->
              <div class="and-field-randominzation">
                <a href="javascript:void(0);" class="orange-text-randominzation" (click)="randomizationAnd()">AND</a>
              </div>
            </div>
          </div>

          <!--SEARCH Filter-->
          <div class="randominzation-engine-content" *ngIf="searchFilter">
            <div *ngIf="randomizationSearchInfo.length >= 0 ">
              <div *ngFor="let item of randomizationSearchInfo;let i = index">
                <form>
                  <div *ngIf="item.isAnd == undefined">
                    <h3 class="record-dropdown">
                      Retrieve
                      <span class="mr-2">
                        <input type="text" placeholder="Quantity" [name]="'Qty_'+i" [value]="item.qty" (keyup)="quantity($event, item)" />
                        <i class="icon-CharStat-Command" [id]="'Qty__'+i" (click)="openDiceModal(((i+50)*-1),item.qty)"></i>
                      </span>
                      Item Records
                      <angular2-multiselect [id]="'Records_'+i" [data]="recordsOptions" [(ngModel)]="item.records" name="'RecordsName_'+i" [settings]="recordsSettings">
                        <c-item id="Records">
                          <ng-template let-item="item">
                            <span class="associate-label-name">{{item.name}}</span>
                          </ng-template>
                        </c-item>
                      </angular2-multiselect>
                    </h3>
                    <h3 class="mathing-string">
                      Matching the string
                      <input type="text" [name]="'MatchingString'+i" [value]="item.matchingString" (change)="matchingString($event, item)" />
                    </h3>
                    <h3 class="serch-dropdown">
                      From any of these Fields
                      <angular2-multiselect [id]="'SearchFields_'+i" [data]="searchFields" [(ngModel)]="item.searchFields" name="'SearchFieldsName_'+i" [settings]="searchFieldSettings">
                        <c-item id="item">
                          <ng-template let-item="item">
                            <span class="associate-label-name">{{item.name}}</span>
                          </ng-template>
                        </c-item>
                      </angular2-multiselect>
                    </h3>
                  </div>

                  <!--Start AND part-->
                  <div *ngIf="item.isAnd">
                    <div class="adn-seprater"><span>and</span></div>
                    <h3 class="search-field-randominzation new_serch-field">
                      Retrieve
                      <span class="mr-2">
                        <input type="text" placeholder="Quantity" [name]="'Qty_'+i" [value]="item.qty" (keyup)="quantity($event, item)" />
                        <i class="icon-CharStat-Command" [id]="'Qty__'+i" (click)="openDiceModal(((i+50)*-1),item.qty)"></i>
                      </span>
                      Item Records
                      <angular2-multiselect [id]="'Records_'+i" [data]="recordsOptions" [(ngModel)]="item.records" name="'RecordsName_'+i" [settings]="recordsSettings">
                        <c-item id="item">
                          <ng-template let-item="item">
                            <span class="associate-label-name">{{item.name}}</span>
                          </ng-template>
                        </c-item>
                      </angular2-multiselect>
                      <button type="button" class="btn-orange-icons icon-Gen-Trash" (click)="removeRandomSearch(item,i)"></button>
                    </h3>

                    <h3 class="mathing-string">
                      Matching the string
                      <input type="text" [name]="'MatchingString'+i" [value]="item.matchingString" (change)="matchingString($event, item)" />
                    </h3>

                    <h3 class="from-field">
                      From any of these Fields
                      <angular2-multiselect [id]="'SearchFields_'+i" [data]="searchFields" [(ngModel)]="item.searchFields" name="'SearchFieldsName_'+i" [settings]="searchFieldSettings">
                        <c-item id="item">
                          <ng-template let-item="item">
                            <span class="associate-label-name">{{item.name}}</span>
                          </ng-template>
                        </c-item>
                      </angular2-multiselect>
                    </h3>
                  </div>

                </form>
              </div>
            </div>
            <!-- Click AND-->
            <div class="and-field-randominzation">
              <a href="javascript:void(0);" class="orange-text-randominzation" (click)="randomizationSearchAnd()">AND</a>
            </div>
          </div>
          <!--SEARCH Filter-->

        </div>

      </div>

    </div>

    <app-loader [isLoading]="isLoading"></app-loader>
  </div>

  <div class="modal-footer">
    <button type="button" (click)="close()" class="btn btn-simple-accent">Cancel</button>
    <button type="submit" [disabled]="isLoading
              || (monsterTemplateFormModal.health && !isValidSingleNumberCommand(monsterTemplateFormModal.health))
              || (monsterTemplateFormModal.armorClass && !isValidSingleNumberCommand(monsterTemplateFormModal.armorClass))
              || (monsterTemplateFormModal.challangeRating && !isValidSingleNumberCommand(monsterTemplateFormModal.challangeRating))
              || (monsterTemplateFormModal.xPValue && !isValidSingleNumberCommand(monsterTemplateFormModal.xPValue))
              " class="btn btn-accent">
      {{button}}
    </button>
  </div>

</form>
