.card-wrapper {
  width: 100%;
  height: auto;
  max-height: 100%;
}

.card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}

.card-body {
  padding: 1rem;
}

.thumbnail {
  width: auto;
  height: 244px;
  overflow: hidden;
}

.card-image {
  background-color: #c3c3c3;
}

.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  max-width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.thumbnail img.portrait {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}

.card-img-top {
  width: auto;
  max-width: 100%;
}

.center-block {
  justify-content: center;
}

@media (min-width: 768px) {
  .center-block .page-toolbar-actions .btn-ruleset {
    width: 350px !important;
  }
}

.btn-ruleset {
  font-size: 1.25rem;
  text-transform: none;
}

.post-owner {
  border: 1px solid #c3c3c3;
}

.post-owner img {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0px;
}

.post-owner em {
  font-style: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: calc(98% - 2.6em);
  padding: 8px 5px;
  float: right;
  text-align: center;
}

.h-280 {
  height: 280px;
}

.addnew-icon {
  text-align: center;
  max-width: 227px;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  display: inline-block;
}

.addnew-icon span {
  display: block;
  margin: 0 auto;
  width: 180px;
  text-align: center;
  height: 180px;
  line-height: 180px;
  color: #7F7F7F;
}

.addnew-icon span:before {
  font-size: 150px;
  position: inherit;
  display: block;
}

.addnew-icon em {
  white-space: nowrap;
  margin-top: 15px;
  display: block;
  position: absolute;
  font-style: normal;
  font-size: 14px;
  left: 0px;
  width: 100%;
  bottom: -30px;
}

.comming-soon-text {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 121px;
  left: 50%;
  transform: translate(-50%,-0);
  color: #d15727;
  font-size: 16px;
}

.cards .card-wrapper .card-body {
  box-shadow: none !important
}

.alert-important {
  color: #fff;
  background-color: #d15727;
  border-color: #b03607;
}

.characters-description {
  position: absolute;
  top: 00%;
  width: 100%;
  bottom: 0px;
  padding: 15px;
  text-align: center;
  background: rgba(0,0,0,.4);
  color: #fff;
  display: none;
}

.characters-description-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%,-50%);
  width: 100%;
  max-height: 100%;
  overflow: hidden
}

.card-image.thumbnail:hover .characters-description {
  display: block
}

.font-weight-600 {
  font-weight: 600;
}

.text-black {
  color: #000 !important;
}

@media screen and (min-width: 768px) {
  .card-body .btn {
    font-size: 0.85rem;
  }
}

.text-limit {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-img-height {
  height: 200px;
}
