.modal-footer {
  padding: 12px 15px 10px;
  border-top: 1px solid #dedbda;
}

.modal-footer .btn {
  margin-top: 0px !important;
}

input.input-color-custom {
  opacity: 0;
  width: 0px;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  cursor: pointer;
}

.input-color-items {
  list-style: none
}

.input-color-items .form-check-label {
  margin-top: 10px;
}

.input-color-items li .tile {
  margin-top: 0px;
}

.tile-actions {
  display: block;
}

.tile-actions .btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0.25rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.tile-actions .delete-btn {
  display: block;
  right: 5px;
  z-index: 9;
  cursor: pointer;
  top: 0;
}

.remove-btn-box {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  right: 0px;
}

.remove-btn-box:hover {
  opacity: 1
}

.remove-btn-box .removebtn-img {
  width: 100%;
  background: #d25727;
  border: 0px;
  color: #fff;
  padding: 8px 0px;
  font-size: 15px;
  cursor: pointer
}

.input-image-trigger:hover + .remove-btn-box {
  opacity: 1;
}

.title-span {
  margin-right: 8px;
  align-self: center;
  color: #be8917;
}

.body-span {
  margin-top: 12px;
  margin-right: 8px;
  align-self: center;
  color: #be8917;
}

.font-control-wrap {
  margin: 0;
}

@media screen and (max-width: 576px) {
  .font-size-width {
    justify-content: center;
  }
}
