<form name="itemsForm" #f="ngForm" (ngSubmit)="f.form.valid && submitForm()">

  <div class="modal-header">
    <h5 class="modal-title" id="addItemPopupTitle">{{title}}</h5>
    <a href="https://rpgsmith.com/helpe/#e5d" class="help-icon icon icon-Gen-Help crsr-pointer" target="_blank"></a>
    <button type="button" (click)="close()" class="btn icon icon-cross btn-simple-primary close"></button>
  </div>
    <div class="modal-body" *ngIf="!isLoading">
        <div class="form-row">

            <div class="col-12 col-md-12 col-sm-12">
                <div class="form-group form-group-unlabelled">
                    <span class="input-group-btn">
                        <button type="button" title="Search" data-toggle="tooltip" class="btn icon icon-search btn-simple-primary"></button>
                    </span>
                    <input type="text" id="addItemSearchQuery" name="addItemSearchQuery" class="form-control" placeholder="Search Monsters"
                           [(ngModel)]="searchText" />

                </div>
            </div>

            <div class="col-12 col-md-12 col-sm-12">
                <fieldset class="form-group input-list input-list-wrap items">
                  <legend *ngIf="itemsList?.length == 0">No Monster Template Available</legend>
                    <legend *ngIf="itemsList?.length > 0">Select Monster Template</legend>
                    <ul class="input-list-items">
                        <li class="form-check col-md-6 col-sm-12" *ngFor="let item of itemsList | filter : searchText : 'name';let i = index;"  popover="{{item.name}}" triggers="hover">
                          <label class="form-check-label">
 
                            <input  class="form-check-input" type="checkbox" name="newItem" #chkEnable ngModel  [checked]="item.selected"  (change)="setMonsterTemplate($event,item)" />
                            <!--[checked]="characterItems | contains : item.itemMasterId : 'itemMasterId'" />
                              [disabled]="characterItems | contains : item.itemMasterId : 'itemMasterId'" />-->
                            <span>
                              <img [alt]="item.name" [src]="item.imageUrl"
                                   onerror="this.src = '../assets/images/DefaultImages/monster.jpg';">
                              <em>{{item.name}}</em>
                              <span class="input-box" *ngIf="chkEnable.checked">
                                <input type="number" max="9999" maxlength='4' class="w-100 h-100 text-center border-0" id="qty{{i}}" name="qty{{i}}" [(ngModel)]="item.quantity" #qty="ngModel" (ngModelChange)="quantityChanged(item.quantity,item)" />
                              </span>
                              <i class="icon monster-icon"></i>
                            </span>
                          </label>
                        </li>
                    </ul>
                </fieldset>
            </div>
        </div>
    </div>

    <app-loader [isLoading]="isLoading"></app-loader>


    <div class="modal-footer justify-content-between">
      <!--Start Combat-->
      <div class="form-check ">
        <div class="mb-3">
          <label class="check-box">
            <input class="form-check-input" type="checkbox" name="newItem" [checked]="addToCombat" (change)="changeCheckbox($event)" />
            <span class="checkmark"></span>
          </label>
          <em class="icon icon-with-text add-combat">Add To combat</em>
        </div>
        <div>
          <label class="check-box">
            <input class="form-check-input" [disabled]="selectedItemsList.length<1" type="checkbox" name="Ally" [checked]="assignAlly" (change)="assignAsAlly($event)" />
            <span class="checkmark"></span>
          </label>
          <em class="icon icon-with-text add-combat">Assign as Ally</em>
        </div>
      </div>
      <!--End Combat-->

      <!--Start Ally-->
      <!--End Ally-->
      <div class="form-check align-self-center mb-0 d-flex">
        <button type="button" (click)="close()" class="btn btn-simple-accent">Cancel</button>
        <button [disabled]="isLoading" type="submit" class="btn btn-accent">{{_view}}</button>
      </div>
    </div>
</form>
