@*@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet*@
<!doctype html>
<html ng-app="rpgsmith">
<head>


    <!-- UI-Router -->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.js"></script>*@


    @*<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>*@
    @*<meta http-equiv="x-ua-compatible" content="IE=edge">*@
    <base href="/">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RPGSmith</title>
	
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<script src="https://apis.google.com/js/api:client.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="apple-mobile-web-app-title" content="RPGSmith">
    <meta name="application-name" content="RPGSmith">
    <meta name="theme-color" content="#ffffff">
    <link href="~/wwwroot/lib/tinymce/skins/lightgray/skin.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/wwwroot/lib/gridstack/dist/gridstack.css" />
	<link rel="stylesheet" href="~/wwwroot/lib/gridstack/distS/gridstack-extra.css" />

	


    <link href="~/wwwroot/css/assets/css/bootstrap.css" rel="stylesheet" />
	@*<link href="~/wwwroot/css/assets/css/bootstrap.css" rel="stylesheet" />*@
	@*<link href="~/wwwroot/css/assets/css/style.css" rel="stylesheet" />*@
	<link href="~/wwwroot/css/assets/css/style.css" rel="stylesheet" />
    <environment names="Development">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        @*<link rel="stylesheet" href="~/lib/bootstrap-css-only/css/bootstrap.css" />*@
        @*<link rel="stylesheet" href="~/wwwroot/css/site.css" />*@
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css" />
        @*<link rel="stylesheet" href="~/bower_components/bootstrap-css-only/css/bootstrap.min.css" />*@
        @*<link rel="stylesheet" href="~/wwwroot/css/site.min.css" asp-append-version="true" />*@
    </environment>
	

    <style>
        #loading {
            /*top: calc(50% - 50px);
            left: calc(50% - 50px);
            position: fixed;
            z-index: 100;*/
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 100;
            position: fixed;
            display: block;
            opacity: 0.7;
            background-color: #fff;
            text-align: center;
        }

        #loading-indicator {
            opacity: 0.5;
            position: absolute;
            top: calc(50% - 50px);
            left: calc(50% - 50px);
            z-index: 100;
        }
    </style>


    @*@Html.Raw(JavaScriptSnippet.FullScript)*@
</head>
<body rpgsmith-body class="page-character-dashboard">
    <div id="loading">
        <img src="~/wwwroot/images/loader.gif" id="loading-indicator" alt="Loading..." />
    </div>
    @Html.AntiForgeryToken()
    <div ui-view></div>
    @*<environment names="Development">*@
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
	<script src="bower_components/jquery-ui/jquery-ui.js"></script>
	<script src="bower_components/lodash/dist/lodash.min.js"></script>
	@*<script src="bower_components/angular/angular.min.js"></script>*@
	<script src="~/Content/scripts/popper.js"></script>
	<script src="~/Content/scripts/bootstrap.js"></script>
	<script src="~/Content/scripts/script.js"></script>
	<script src="~/wwwroot/dist/vendor.js"></script>
	<script src="~/wwwroot/dist/app.js"></script>
	
	<script src="bower_components/gridstack/dist/gridstack.js"></script>

	<script type="text/javascript">
		var app = angular.module('GridStack', ['gridstack-angular']).
			controller('DemoCtrl', function ($scope, $log) {
				$scope.widgets = [{ x: 0, y: 0, width: 1, height: 1 }, { x: 0, y: 0, width: 3, height: 1 }];
				$scope.options = {
					cellHeight: 200,
					verticalMargin: 10
				};
				$scope.addWidget = function () {
					var newWidget = { x: 0, y: 0, width: 1, height: 1 };
					$scope.widgets.push(newWidget);
				};
				$scope.moveWidget = function () {
					//$scope.widgets[0].x = 1;
					//$scope.widgets[0].width = 2;
					//$scope.widgets[0].height = 2;
				};
				$scope.removeWidget = function (w) {
					var index = $scope.widgets.indexOf(w);
					$scope.widgets.splice(index, 1);
				};
				$scope.onChange = function (event, items) {
					$log.log("onChange event: " + event + " items:" + items);
				};
				$scope.onDragStart = function (event, ui) {
					$log.log("onDragStart event: " + event + " ui:" + ui);
				};
				$scope.onDragStop = function (event, ui) {
					$log.log("onDragStop event: " + event + " ui:" + ui);
				};
				$scope.onResizeStart = function (event, ui) {
					$log.log("onResizeStart event: " + event + " ui:" + ui);
				};
				$scope.onResizeStop = function (event, ui) {
					$log.log("onResizeStop event: " + event + " ui:" + ui);
				};
				$scope.onItemAdded = function (item) {
					$log.log("onItemAdded item: " + item);
				};
				$scope.onItemRemoved = function (item) {
					$log.log("onItemRemoved item: " + item);
				};
			});
	</script>


    @*</environment>*@
    @*<environment names="Staging,Production">
            <script src="~/wwwroot/dist/vendor.min.js" asp-append-version="true"></script>
            <script src="~/wwwroot/dist/app.min.js" asp-append-version="true"></script>
        </environment>*@
	<style type="text/css">
		.grid1 {
			background: #c6ecf1;
		}

		.grid-stack-item-content {
			color: black;
			text-align: center;
			background-color: gainsboro;
		}
	</style>

</body>
</html>