<div class="page-inventory">
  <!-- Toolbar -->
  <div class="page-toolbar">
    <div class="container">
      <div class="page-toolbar-wrapper">
        <div class="page-toolbar-title">
          <a [routerLink]="['/character/dashboard', characterId]" class="icon icon-back">
            <h1 class="d-none d-md-inline-block"> Back</h1>
          </a>
          <h1 class="d-md-none"> Inventory</h1>

        </div>
        <!--<div class="page-toolbar-wrapper-toggle-trigger">
            <button type="button" class="btn icon icon-with-text btn-accent btn-block" (click)="showActionButtons(showActions)"
                    [ngClass]="{'icon-arrow-up' : showActions,  'icon-arrow-down' : !showActions}">
                {{actionText}}
            </button>
        </div>-->
        <div class="page-toolbar-wrapper initial show">
          <!-- Toolbar links -->
          <ul class="page-toolbar-links">
            <li *ngIf="ruleSet?.isItemEnabled" class="hidden-tab">
              <a [routerLink]="charNav?.items" class="btn btn-link-primary nav-redirection selected icon-Gen-Items"> <span>Inventory</span></a>
            </li>
            <li *ngIf="ruleSet?.isSpellEnabled" class="hidden-tab">
              <a [routerLink]="charNav?.spells" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> <span>Spells</span></a>
            </li>
            <li *ngIf="ruleSet?.isAbilityEnabled" class="hidden-tab">
              <a [routerLink]="charNav?.abilities" class="btn btn-link-primary nav-redirection icon-Gen-Ability"> <span>Abilities</span></a>
            </li>

            <li *ngIf="ruleSet" class="hidden-tab">
              <a [routerLink]="['/character/character-stats/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-CharStat"> <span>Character Stats</span></a>
            </li>
            <li class="visible-tab mt-0">
              <div class="dropdown dropdown-buttons" [ngClass]="{'show': isDropdownOpen}">
                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-primary dropdown-toggle is-show">Records</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger" *ngIf="isDropdownOpen">
                  <ul class="dropdown-menu-list">
                    <li *ngIf="ruleSet?.isItemEnabled" class="dropdown-menu-item">
                      <a [routerLink]="charNav?.items" class="btn btn-link-primary nav-redirection selected icon-Gen-Items"> Inventory</a>
                    </li>
                    <li *ngIf="ruleSet?.isSpellEnabled" class="dropdown-menu-item">
                      <a [routerLink]="charNav?.spells" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> Spells</a>
                    </li>
                    <li *ngIf="ruleSet?.isAbilityEnabled" class="dropdown-menu-item">
                      <a [routerLink]="charNav?.abilities" class="btn btn-link-primary nav-redirection icon-Gen-Ability"> Abilities</a>
                    </li>

                    <li *ngIf="ruleSet" class="dropdown-menu-item">
                      <a [routerLink]="['/character/character-stats/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-CharStat"> Character Stats</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
              <div class="dropdown dropdown-buttons" [ngClass]="{'show': isDropdownOpen}">
                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn icon icon-with-text icon-plus btn-primary dropdown-toggle is-show"><span class="text-hide-tab is-show">New Item</span></button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger" *ngIf="isDropdownOpen">
                  <ul class="dropdown-menu-list">
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="addItem()" class="btn btn-accent icon-Rec-Add"> Add Item</button>
                    </li>
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="createItem()" class="btn btn-accent icon-Gen-Edit"> Create Item</button>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <!-- End of toolbar links -->
        </div>
        <ul class="page-toolbar-actions">
          <li class="view-switch">
            <div class="btn-group" role="group">
              <button type="button" id="filtersToggleBtn" class="btn filter-toggle-btn" [disabled]="isLoading" (click)="applyFilters(inventoryFilter.type,false,true)" popover="{{inventoryFilter.name}}" triggers="hover click">
                &nbsp;{{inventoryFilter.viewableCount}}
                <span *ngIf="inventoryFilter.type == 3 && !inventoryFilter.icon"><i>A</i></span>
                <span *ngIf="inventoryFilter.icon && inventoryFilter.type != 3" [ngClass]="inventoryFilter.icon"></span>
              </button>
              <button type="button" id="gridViewTrigger" class="btn icon icon-grid btn-primary" [ngClass]="{'selected':!isListView}" (click)="showListView(false)"></button>
              <button type="button" id="listViewTrigger" class="btn icon icon-list btn-primary" [ngClass]="{'selected':isListView}" (click)="showListView(true)"></button>
            </div>
          </li>
          <li>
            <div class="dropdown dropdown-buttons" [ngClass]="{'show': isDropdownOpen}">
              <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn icon icon-with-text icon-plus btn-primary dropdown-toggle is-show"><span class="text-hide-tab is-show">New Item</span></button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger" *ngIf="isDropdownOpen">
                <ul class="dropdown-menu-list">
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="addItem()" class="btn btn-accent icon-Rec-Add"> Add Item</button>
                  </li>
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="createItem()" class="btn btn-accent icon-Gen-Edit"> Create Item</button>
                  </li>
                </ul>
              </div>
            </div>
          </li>
          <li>
            <button type="button" (click)="openDiceRollModal()" class="btn icon icon-with-text icon-dice icon-rsi btn-primary"><span class="text-hide-tab">Dice</span></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End of toolbar -->
  <!-- Item Template -->
  <div class="cards cards-inventory" *ngIf="!isLoading" infiniteScroll (scrolled)="onScroll()" [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="300" [scrollWindow]="true">
    <div class="container">
      <div class="card-list justify-content-center justify-content-lg-start" [ngClass]="{'view-list':isListView}">
        <p class="text-center py-5 w-100 d-block" *ngIf="noRecordFound">No Items have been added to this character. Click "+NEW ITEM" to add some.</p>
        <ng-container *ngFor="let Item of ItemsList">
          <div class="card-wrapper" *ngIf="(this.inventoryFilter.type == 1 && Item.containedIn == 0) || (this.inventoryFilter.type != 1 && this.inventoryFilter.type != 4) || (this.inventoryFilter.type == 4 && Item.isVisible == 1)" (mousedown)="editRecord(Item)" (mouseup)="clickAndHold(Item)" (mouseleave)="clickAndHold(Item)">
            <div class="card" [ngClass]="{'card-equip':Item?.isEquipped}">
              <div class="card-image" [ngClass]="{'thumbnail':!isListView, 'thumbnail-list':isListView}">
                <img class="card-img-top portrait" [src]="Item?.itemImage" [alt]="Item?.name"
                     onerror="this.src='https://rpgsmithsa.blob.core.windows.net/stock-defimg-items/Quiver.jpg';" [routerLink]="['/character/inventory-details', Item?.itemId]" />
                <div class="card-actions show" *ngIf="Item?.showIcon && !isListView">
                  <button type="button" (click)="editItem(Item)" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-simple-primary"></button>
                  <button type="button" (click)="duplicateItem(Item)" title="Duplicate" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
                  <button type="button" (click)="deleteItem(Item)" title="Delete" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary"></button>
                  <button type="button" (click)="manageIcon(false)" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary"></button>
                </div>
              </div>
              <div class="card-body" [routerLink]="['/character/inventory-details', Item?.itemId]">
                <h4 class="card-title" *ngIf="Item?.quantity==1" popover="{{Item?.name}}" triggers="hover">{{Item?.name}}</h4>
                <h4 class="card-title" *ngIf="Item?.quantity!=1" popover="({{Item?.quantity}}) {{Item?.name}}" triggers="hover">({{Item?.quantity}}) {{Item?.name}}</h4>
                <ul class="item-properties">
                  <li *ngIf="Item?.value>=0" class="item-property item-property-text value " title="Value" data-toggle="Value">{{Item.value}} <small *ngIf="ruleSet?.currencyLabel">({{ruleSet?.currencyLabel}})</small></li>
                  <li *ngIf="Item?.totalWeight>=0" class="item-property item-property-text weight" title="Weight" data-toggle="Weight">{{Item.totalWeight}} <small *ngIf="ruleSet?.weightLabel">({{ruleSet?.weightLabel}})</small></li>
                  <li *ngIf="Item?.volume>=0" class="item-property item-property-text volume" title="Volume" data-toggle="Volume">{{Item.volume}} <small *ngIf="ruleSet?.volumeLabel">({{ruleSet?.volumeLabel}})</small></li>
                </ul>

                <ul class="item-properties " *ngIf="isListView">
                  <li *ngIf="Item?.isConsumable" title="Consumable" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-consumable icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.isContainer" title="Container" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Container icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.isMagical" title="Magical" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Magical icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.isIdentified" title="Unidentified" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Unidentified icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.isVisible" title="Visible" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Visible icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.isEquipped" title="Equipped" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Equipped icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.containedIn" title="Contained" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Contained icon-ico"></i>
                  </li>
                </ul>
                <ul class="item-properties" *ngIf="!isListView">
                  <li *ngIf="Item?.isConsumable" title="Consumable" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-consumable icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.isContainer" title="Container" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Container icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.isMagical" title="Magical" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Magical icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.isIdentified" title="Unidentified" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Unidentified icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.isVisible" title="Visible" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Visible icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.isEquipped" title="Equipped" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Equipped icon-ico"></i>
                  </li>
                  <li *ngIf="Item?.containedIn" title="Contained" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Rec-Contained icon-ico"></i>
                  </li>
                </ul>
                <div class="item-stats pl-0" [froalaView]="Item?.description"></div>
              </div>
              <div class="card-actions-trigger" *ngIf="!Item?.showIcon">
                <button type="button" (click)="manageIcon(Item?.itemId)" title="Manage" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary"></button>
              </div>
              <div class="card-actions show" *ngIf="Item?.showIcon && isListView">
                <button type="button" (click)="editItem(Item)" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-simple-primary"></button>
                <button type="button" (click)="duplicateItem(Item)" title="Duplicate" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
                <button type="button" (click)="deleteItem(Item)" title="Delete" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary"></button>
                <button type="button" (click)="manageIcon(false)" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary"></button>
              </div>
              <div class="item-actions mobile-buttons" *ngIf="isListView">
                <button *ngIf="Item?.isEquipped" type="button" (click)="equippedItem(Item)" class="btn btn-accent icon-Rec-UnEquip"> Unequip</button>
                <button *ngIf="!Item?.isEquipped" type="button" (click)="equippedItem(Item)" class="btn btn-accent icon-Rec-Equipped"> Equip</button>
                <button type="button" (click)="deleteItem(Item)" class="btn btn-accent icon-Rec-Drop"> Drop</button>
                <button *ngIf="Item?.showUse" type="button" (click)="useItem(Item)" class="btn btn-accent icon-Tile-Execute"> Use</button>
              </div>
              <div class="item-actions" *ngIf="!isListView">
                <button *ngIf="Item?.isEquipped" type="button" (click)="equippedItem(Item)" class="btn btn-accent icon-Rec-UnEquip"> Unequip</button>
                <button *ngIf="!Item?.isEquipped" type="button" (click)="equippedItem(Item)" class="btn btn-accent icon-Rec-Equipped"> Equip</button>
                <button type="button" (click)="deleteItem(Item)" class="btn btn-accent icon-Rec-Drop"> Drop</button>
                <button *ngIf="Item?.showUse" type="button" (click)="useItem(Item)" class="btn btn-accent icon-Tile-Execute"> Use</button>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- End of item template -->

  <app-loader [isLoading]="isLoading"></app-loader>
  <div class="spinner" *ngIf="scrollLoading">
    <img src="../../../../assets/images/PageLoader.gif" />
  </div>
</div>

