<div class="page-item-details">
  <!-- Toolbar -->
  <div class="page-toolbar">
    <div class="container">
      <div class="page-toolbar-wrapper">
        <div class="page-toolbar-title">
          <!--<a (click)="RedirectBack()" class="icon icon-back"></a>-->
          <!--<h1>Item Template Details</h1>-->
          <!--<h1>Back</h1>-->
          <a (click)="RedirectBack()" class="icon icon-back">
            <h1 class="d-inline-block"> Back</h1>
          </a>
        </div>
        <!--<div class="page-toolbar-wrapper-toggle-trigger">
            <button type="button" class="btn icon icon-with-text btn-accent btn-block" (click)="showActionButtons(showActions)"
                    [ngClass]="{'icon-arrow-up' : showActions,  'icon-arrow-down' : !showActions}">
                {{actionText}}
            </button>
        </div>-->
        <div class="page-toolbar-wrapper initial show recordes-menu">
          <ul class="page-toolbar-links" *ngIf="!isLoading">
            <!--<li *ngIf="rulesetModel">
                <a [routerLink]="['/ruleset/dashboard/', ruleSetId]" class="btn btn-link-primary nav-redirection">Layouts</a>
            </li>-->
            <li *ngIf="ruleset?.isItemEnabled" class="hidden-tab crsr-pointer">
              <a [routerLink]="charNav?.items" class="btn btn-link-primary nav-redirection selected icon-Gen-Items"> <span>Inventory</span></a>
            </li>
            <li *ngIf="ruleset?.isSpellEnabled" class="hidden-tab">
              <a [routerLink]="charNav?.spells" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> <span>Spells</span></a>
            </li>
            <li *ngIf="ruleset?.isAbilityEnabled" class="hidden-tab">
              <a [routerLink]="charNav?.abilities" class="btn btn-link-primary nav-redirection icon-Gen-Ability"> <span>Abilities</span></a>
            </li>
            <li *ngIf="ruleset" class="hidden-tab">
              <a [routerLink]="['/character/character-stats/', character.characterId]" class="btn btn-link-primary nav-redirection icon-Gen-CharStat"> <span>Character Stats</span></a>
            </li>
            <!--<li>
                <div class="dropdown dropdown-buttons">
                    <button type="button" (click)="createSpell()" data-toggle="dropdown" aria-expanded="false" class="btn icon icon-with-text icon-plus btn-primary btn-block"> <span>Create Spell</span></button>
                </div>
            </li>-->
            <li class="visible-tab mt-0">
              <div class="dropdown dropdown-buttons" [ngClass]="{'show': isDropdownOpen}">
                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-primary dropdown-toggle is-show">Records</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger" *ngIf="isDropdownOpen">
                  <ul class="dropdown-menu-list" *ngIf="!isLoading">
                    <li class="dropdown-menu-item crsr-pointer" *ngIf="ruleset?.isItemEnabled">
                      <a [routerLink]="charNav?.items" class="btn btn-link-primary nav-redirection selected icon-Gen-Items"> Inventory</a>
                    </li>
                    <li class="dropdown-menu-item" *ngIf="ruleset?.isSpellEnabled">
                      <a [routerLink]="charNav?.spells" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> Spells</a>
                    </li>
                    <li class="dropdown-menu-item" *ngIf="ruleset?.isAbilityEnabled">
                      <a [routerLink]="charNav?.abilities" class="btn btn-link-primary nav-redirection icon-Gen-Ability"> Abilities</a>
                    </li>

                    <li class="dropdown-menu-item" *ngIf="ruleset">
                      <a [routerLink]="['/character/character-stats/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-CharStat"> Character Stats</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <!-- Toolbar actions -->
          <ul class="page-toolbar-actions" *ngIf="showManage">
            <!--<li>
                <button type="button" id="manageTilesTrigger" class="btn btn-outline-primary">Manage Tiles</button>
            </li>-->
            <li>
              <!-- Manage item -->
              <div class="dropdown dropdown-buttons" *ngIf="!pauseItemCreate">
                <button type="button" id="manageItemTrigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle icon-Gen-Edit"> Manage Item</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger">
                  <ul class="dropdown-menu-list">
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="editItemTemplate(ItemMasterDetail)" class="btn icon icon-with-text icon-pencil btn-accent">Edit</button>
                    </li>
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="duplicateItemTemplate(ItemMasterDetail)" class="btn icon icon-with-text icon-copy icon-rsi btn-accent">Duplicate</button>
                    </li>
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="deleteItemTemplate(ItemMasterDetail)" class="btn icon icon-with-text icon-trash btn-accent">Delete</button>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Manage item -->
            </li>
            <li class="refresh-btn" *ngIf="pageRefresh">
              <button type="button" class="btn btn-outline-primary icon icon-Gen-Refresh" (click)="refresh()"></button>
            </li>
            <li>
              <button type="button" (click)="openDiceRollModal()" class="btn icon icon-with-text icon-dice icon-rsi btn-primary"><span class="text-hide-tab">Dice</span></button>
            </li>
          </ul>
          <!-- End of toolbar actions -->
        </div>
        <ul class="page-toolbar-actions web-view" *ngIf="showManage">
          <!--<li>
              <button type="button" id="manageTilesTrigger" class="btn btn-outline-primary">Manage Tiles</button>
          </li>-->
          <li>
            <!-- Manage item -->
            <div class="dropdown dropdown-buttons" *ngIf="!pauseItemCreate">
              <button type="button" id="manageItemTrigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle icon-Gen-Edit"> Manage Item</button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger">
                <ul class="dropdown-menu-list">
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="editItemTemplate(ItemMasterDetail)" class="btn icon icon-with-text icon-pencil btn-accent">Edit</button>
                  </li>
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="duplicateItemTemplate(ItemMasterDetail)" class="btn icon icon-with-text icon-copy icon-rsi btn-accent">Duplicate</button>
                  </li>
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="deleteItemTemplate(ItemMasterDetail)" class="btn icon icon-with-text icon-trash btn-accent">Delete</button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Manage item -->
          </li>
          <li class="refresh-btn" *ngIf="pageRefresh">
            <button type="button" class="btn btn-outline-primary icon icon-Gen-Refresh" (click)="refresh()"></button>
          </li>
          <li>
            <button type="button" (click)="openDiceRollModal()" class="btn icon icon-with-text icon-dice icon-rsi btn-primary"><span class="text-hide-tab">Dice</span></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End of toolbar -->
  <!-- Item info -->
  <div class="item-info" *ngIf="!isLoading">
    <div class="container">
      <div class="item-info-wrapper">
        <div class="item-info-top-section">
          <div class="row">
            <div class="col">
              <div class="item-info-banner">

                <div class="item-info-image">
                  <img class="card-img-top" [src]="ItemMasterDetail.itemImage" [alt]="ItemMasterDetail.itemName"
                       onerror="this.src='../assets/images/DefaultImages/Item.jpg';" #imgref (click)="ViewImage(imgref)" />
                </div>

                <h2 class="item-info-name"> {{ItemMasterDetail.itemName}} </h2>

                <div class="item-info-props-indics">
                  <ul class="item-info-props">
                    <li *ngIf="ItemMasterDetail.rarity" popover="{{ItemMasterDetail.rarity}}" triggers="hover" popoverTitle="RARITY">{{ItemMasterDetail.rarity}}</li>
                    <li *ngIf="ItemMasterDetail.value" popover="{{ItemMasterDetail.value}} {{ItemMasterDetail.currencyLabel}}" triggers="hover" popoverTitle="VALUE">{{ItemMasterDetail.value}} {{ItemMasterDetail.currencyLabel}}</li>
                    <li *ngIf="ItemMasterDetail.weight" popover="{{ItemMasterDetail.weight}} {{ItemMasterDetail.weightLabel}}" triggers="hover" popoverTitle="WEIGHT">{{ItemMasterDetail.weight}} {{ItemMasterDetail.weightLabel}}</li>
                    <li *ngIf="ItemMasterDetail.volume" popover="{{ItemMasterDetail.volume}} {{ItemMasterDetail.volumeLabel}}" triggers="hover" popoverTitle="VOLUME">{{ItemMasterDetail.volume}} {{ItemMasterDetail.volumeLabel}}</li>
                  </ul>
                  <ul class="item-info-indics">
                    <li *ngIf="ItemMasterDetail.isConsumable" title="Consumable" data-toggle="tooltip">
                      <i class="item-property item-property-icon icon icon-Rec-consumable icon-ico"></i>
                    </li>
                    <li *ngIf="ItemMasterDetail.isMagical" title="Magical" data-toggle="tooltip">
                      <i class="item-property item-property-icon icon icon-Rec-Magical icon-ico"></i>
                    </li>
                    <li *ngIf="ItemMasterDetail.isContainer" title="Container" data-toggle="tooltip">
                      <i class="item-property item-property-icon icon icon-Rec-Container icon-ico"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="item-info-actions d-none d-md-flex">
                <li>
                  <button type="button" *ngIf="!pauseItemAdd" (click)="AddItem(ItemMasterDetail)" class="btn btn-accent icon-Rec-Add">Add Item</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item-info-bottom-section">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="item-info-desc">
                <h3>Description</h3>
                <p [froalaView]="ItemMasterDetail?.itemVisibleDesc"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="item-info-stats">
                <h3>Stats</h3>
                <p [froalaView]="ItemMasterDetail?.itemStats"></p>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="item-info-tags">
                <h3>Tags</h3>
                <p>{{ItemMasterDetail.metatags}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6" *ngIf="ItemMasterDetail?.itemMasterAbilities?.length && ruleset?.isAbilityEnabled">
              <div class="item-info-abils">
                <h3>Abilities</h3>
                <div class="form-group output-list output-list-wrap">
                  <ul class="output-list-items">
                    <li class="output-list-item" *ngFor="let abilitiy of ItemMasterDetail.itemMasterAbilities">
                      <div [routerLink]="['/ruleset/ability-details', abilitiy.abilitiy.abilityId]" style="cursor:pointer;" popover="{{abilitiy.abilitiy.name}}" triggers="hover">
                        <img class="card-img-top" [src]="abilitiy.abilitiy.imageUrl" [alt]="abilitiy.abilitiy.name"
                             onerror="this.src='../assets/images/DefaultImages/ability.jpg';" />
                        <span>{{abilitiy.abilitiy.name}}</span>
                      </div>
                    </li>

                  </ul>
                  <!--<div class="input-extend">
                      <button type="button" class="btn icon icon-with-text icon-arrow-down btn-link-primary"><span>Show more</span></button>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6" *ngIf="ItemMasterDetail?.itemMasterSpell?.length && ruleset?.isSpellEnabled">
              <div class="item-info-spells">
                <h3>Spells</h3>
                <div class="form-group output-list output-list-wrap">
                  <ul class="output-list-items">
                    <li class="output-list-item" *ngFor="let spell of ItemMasterDetail.itemMasterSpell">
                      <div [routerLink]="['/ruleset/spell-details', spell.spell.spellId]" style="cursor:pointer;" popover="{{spell.spell.name}}" triggers="hover">
                        <img class="card-img-top" [src]="spell.spell.imageUrl" [alt]="spell.spell.name"
                             onerror="this.src='../assets/images/DefaultImages/Spell.jpg';" />
                        <span>{{spell.spell.name}}</span>
                      </div>
                    </li>
                  </ul>
                  <!--<div class="input-extend">
                      <button type="button" class="btn icon icon-with-text icon-arrow-down btn-link-primary"><span>Show more</span></button>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6" *ngIf="ItemMasterDetail?.itemMasterBuffAndEffects?.length && ruleset?.isBuffAndEffectEnabled">
              <div class="item-info-abils">
                <h3>Buffs & Effects</h3>
                <div class="form-group output-list output-list-wrap">
                  <ul class="output-list-items" *ngIf="ItemMasterDetail?.itemMasterBuffAndEffects !== undefined">
                    <li class="output-list-item" *ngFor="let rec of ItemMasterDetail?.itemMasterBuffAndEffects">
                      <div (click)="GoToRuleBuff(rec.buffAndEffectId)" style="cursor:pointer;" popover="{{rec?.buffAndEffect?.name}}" triggers="hover">
                        <img class="card-img-top" [src]="rec?.buffAndEffect?.imageUrl" [alt]="rec?.buffAndEffect?.name"
                             onerror="this.src='../assets/images/BnE/Def_BnE.jpg';" />
                        <span>{{rec?.buffAndEffect?.name}}</span>
                      </div>
                    </li>
                  </ul>

                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col-md-6">
              <div class="item-info-command">
                <h3>Command(s)</h3>
                <p><!--{{ItemMasterDetail.command}}--></p>
                <table class="table-striped w-100">
                  <tr *ngIf="ItemMasterDetail?.command">
                    <td class="py-1 px-2 border w-50 font-weight-bold">{{ItemMasterDetail?.commandName}}</td>
                    <td class="py-1 px-2 border w-50">{{ItemMasterDetail?.command}}</td>
                  </tr>
                  <tr *ngFor="let item of ItemMasterDetail?.itemMasterCommand; let i = index">
                    <td class="py-1 px-2 border w-50 font-weight-bold">{{item?.name}}</td>
                    <td class="py-1 px-2 border w-50">{{item?.command}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of item info -->
  <!-------

  <div class="tiles row">
      <div class="tile-group tile-group-apperance col-4">
          <div class="tile tile-type-note tile-color-3">
              <h5 class="tile-title">Apperance</h5>
              <div class="tile-body">
                  <div><p>Design is not just what it looks like and feels like. Design is how it works.</p><p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p><p>Pictures, abstract symbols, materials, and colors are among the ingredients with which a designer or engineer works. To design is to discover relationships and to make arrangements and rearrangements among these ingredients.</p><p>Design must be functional, and functionality must be translated into visual aesthetics without any reliance on gimmicks that have to be explained.</p></div>
              </div>
              <div class="tile-actions">
                  <button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-left" class="btn icon icon-arrow-resize btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-right" class="btn icon icon-arrow-resize btn-primary"></button>
              </div>
          </div>
      </div>
      <div class="tile-group tile-group-bg_story col-4">
          <div class="tile tile-type-note tile-color-6">
              <h5 class="tile-title">Background Story</h5>
              <div class="tile-body">
                  <div><p>Design is a way of life, a point of view. It involves the whole complex of visual communications: talent, creative ability, manual skill, and technical knowledge. Aesthetics and economics, technology and psychology are intrinsically related to the process.</p><p>The critical thing in developing software is not the program, it's the design. It is translating understanding of user needs into something that can be realized as a computer program.</p><p>To design is much more than simply to assemble, to order, or even to edit: it is to add value and meaning, to illuminate, to simplify, to clarify, to modify, to dignify, to dramatize, to persuade, and perhaps even to amuse.</p></div>
              </div>
              <div class="tile-actions">
                  <button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-left" class="btn icon icon-arrow-resize btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-right" class="btn icon icon-arrow-resize btn-primary"></button>
              </div>
          </div>
      </div>
      <div class="tile-group tile-group-seen_in_game col-4">
          <div class="tile tile-type-image tile-color-4">
              <h5 class="tile-title">Seen in the game</h5>
              <div class="tile-body">
                  <img src="./assets/images/tiles/clue.jpg" alt="Seen in the game">
              </div>
              <div class="tile-actions">
                  <button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-left" class="btn icon icon-arrow-resize btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-right" class="btn icon icon-arrow-resize btn-primary"></button>
              </div>
          </div>
      </div>
  </div>
      -->
</div>

<app-loader [isLoading]="isLoading"></app-loader>
<div class="notclickscreen" *ngIf="IsAddingRecord"></div>
