.modal-footer {
  padding: 12px 15px 10px;
  border-top: 1px solid #dedbda;
}

.modal-footer .btn {
  margin-top: 0px !important;
}

input.input-color-custom {
  opacity: 0;
  width: 0px;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  cursor: pointer;
}

.input-color-items {
  list-style: none
}

.input-color-items .form-check-label {
  margin-top: 10px;
}

.input-color-items li .tile {
  margin-top: 0px;
}

.remove-btn-box {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  right: 0px;
}

.remove-btn-box:hover {
  opacity: 1
}

.remove-btn-box .removebtn-img {
  width: 100%;
  background: #d25727;
  border: 0px;
  color: #fff;
  padding: 8px 0px;
  font-size: 15px;
  cursor: pointer
}

.input-image-trigger:hover + .remove-btn-box {
  opacity: 1;
}


.modal-footer {
  padding: 12px 15px 10px;
  border-top: 1px solid #dedbda;
  justify-content: flex-end;
  flex-direction: row;
}

.modal-footer .btn {
  margin-top: 0px !important;
}

.btn {
  padding-left: 10px;
  padding-right: 10px;
}

input.input-color-custom {
  opacity: 0;
  width: 0px;
  opacity: 0;
  width: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  height: 100%;
  cursor: pointer;
}

.input-color-items {
  list-style: none
}

.input-color-items .form-check-label {
  margin-top: 10px;
}

.input-color-items li .tile {
  margin-top: 0px;
}

@media screen and (min-width: 768px) {
  .properties .form-check {
    width: 50% !important;
  }
}

.tile-actions {
  display: block;
}

.tile-actions .btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  margin: 0.25rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.8);
}

.tile-actions .delete-btn {
  display: block;
  right: 5px;
  z-index: 9;
  cursor: pointer;
  top: 0;
}

.input-expend-and-remove {
  flex-direction: unset;
  justify-content: space-between;
}

.input-expend-and-remove {
  flex-direction: unset;
  justify-content: space-between;
  display: block;
  float: left;
  width: 100%;
}

.remove-btn-box {
  position: absolute;
  bottom: 0px;
  left: 0px;
  opacity: 0;
  right: 0px;
}

.remove-btn-box:hover {
  opacity: 1
}

.remove-btn-box .removebtn-img {
  width: 100%;
  background: #d25727;
  border: 0px;
  color: #fff;
  padding: 8px 0px;
  font-size: 15px;
  cursor: pointer
}

.input-image-trigger:hover + .remove-btn-box {
  opacity: 1;
}

.card-equip {
  border-color: #e7ce63 !important;
  background-color: #f8f1d2 !important;
}

.page-toolbar-title a {
  margin-top: 0.5rem;
}

.item-actions button {
  padding: 5px !important;
}

.page-inventory .cards-inventory .card-list .card-wrapper .card .item-actions .btn {
  margin-left: -10px;
  margin-right: 15px;
}

.page-inventory .cards-inventory .card-list .card-wrapper .card-actions-trigger {
  right: 0rem !important;
  top: 0rem !important;
}

.page-inventory .cards-inventory .card-list.view-list .card-wrapper .card-actions {
  right: 0rem !important;
  top: 0.5rem !important;
}

.item-properties li {
  display: inline;
}

.card-image {
  background-color: #c3c3c3;
}

.thumbnail {
  position: relative;
  width: 244px;
  height: 244px;
  overflow: hidden;
}

.thumbnail-list {
  position: relative !important;
  width: 137px;
  height: auto;
  overflow: hidden;
}

.thumbnail img, .thumbnail-list img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  max-width: 100%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}

.thumbnail img.portrait, .thumbnail-list img.portrait {
  max-width: 100%;
  height: auto;
  max-height: 100%;
}


.card-title {
  display: -webkit-box;
  height: 1.5rem;
  width: 100%;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item-stats {
  display: -webkit-box;
  height: 1.25rem;
  width: 165px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .view-list .card-title, .view-list .item-stats {
    max-width: 100% !important;
    width: auto;
  }

  .thumbnail {
    width: auto !important;
  }

  .item-properties .weight {
    display: none;
  }

  .thumbnail img.portrait {
    width: 230px;
  }

  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .view-list .card-title, .view-list .item-stats {
    max-width: 100% !important;
    width: auto;
  }

  .thumbnail {
    width: auto !important;
  }

  .desktop-view {
    display: block;
  }

  .mobile-view {
    display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .page-toolbar-wrapper-toggle-trigger {
    display: none;
  }

  .view-list .card-title, .view-list .item-stats {
    max-width: 100% !important;
    width: auto;
  }

  .btn1 {
    padding-right: 0.5rem;
  }

  .btn1.icon:before {
    margin-left: -14px;
  }

  .desktop-view {
    display: block;
  }

  .mobile-view {
    display: none;
  }

  .iconstat:before {
    font-size: 1.2rem !important;
  }
}

.card-actions-trigger {
  margin-top: 15.4rem;
}

.view-list .card-actions-trigger {
  margin-top: 0rem !important;
}

@media(max-width: 991.98px) {
  .page-inventory .cards-inventory .card-list .card-wrapper .card .item-actions .btn {
    margin-left: 10px;
  }

  .text-hide-tab {
    display: none
  }

  .site-header-user-name {
    display: none;
  }
}

//to retain image aspect ratio
.card-img-top {
  max-width: 100%;
  width: auto;
}

.page-toolbar-links {
  margin-top: 0.8rem;
  margin-top: 0px;
}

.page-toolbar-links .nav-redirection {
  color: #78706b;
  padding: 3px;
  margin-top: -5px;
  margin-top: 0px;
}

.nav-redirection.selected {
  border: 2px solid #cccc !important;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.form-row .form-group label {
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  cursor: pointer
}

.btn-accent {
  margin-left: 12px;
}

.btn-cancel {
  text-transform: uppercase;
  color: #205a86;
}

.width-control {
  width: 92%;
}


@media(max-width:767.98px) {
  .page-toolbar-wrapper-toggle-trigger {
    display: inline;
  }

  .initial.show {
    display: inline;
  }

  .initial {
    display: none;
  }

  .form-row .form-group label {
    margin-bottom: 0;
  }

  .form-row .form-group {
    margin-bottom: 1rem;
  }

  .form-row .form-group label {
    display: inline-block;
  }

  .width-control {
    width: 100%;
  }

  .icon-external {
    border-color: transparent;
  }

  .text-hide-tab {
    display: inline-block
  }
}


.dice-icon-margin-top {
  margin-top: -26px;
}

.item-properties .item-property-text {
  text-overflow: ellipsis;
  max-width: 95px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}


.edit-btn {
  background-color: #ff9166;
  color: white;
  width: auto;
  padding: 3px;
}

.edit-btn:before {
  font-size: 30px !important;
}

.rich-txt-disply-format {
  display: block;
  width: 100%;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #afa9a5;
  background-color: #dedbda;
}


.input-list-items1 {
  height: 13rem;
  overflow: hidden;
  overflow-y: scroll;
  background: transparent;
  height: auto;
  max-height: 500px;
}

.input-list-items1::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background-color: #F5F5F5;
}

.input-list-items1::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.input-list-items1::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #938c88;
}


.iconstat:before {
  font-size: 1.5rem !important;
}

.labelcharstat {
  margin-top: 10px;
  text-align: left;
}


@media(max-width:570px) {
  .btn-accent {
    margin-top: 15px;
    margin-left: 5px;
  }

  .form-row.margin-bottom {
    margin-bottom: 17px;
  }

  .btn-cancel {
    padding: 28px 15px;
  }

  .dice-icon-margin-top {
    margin-top: -35px !important;
  }


  .iconstat:before {
    font-size: 1.2rem !important;
  }
}

.icon-charstat {
  margin-top: 10px;
  color: #938c88;
  text-align: right;
}


.cal-formula-display {
  margin-top: 10px;
  text-align: center;
}

@media (max-width:1199px) and (min-width:992px) {
  .thumbnail {
    width: 100%
  }
}

@media (min-width:1200px) {
  .page-toolbar-links {
    /*margin-top: 0.8rem;*/
    height: auto;
    display: block;
  }

  .page-toolbar-links li {
    position: relative;
    display: inline-block;
    padding-left: 1rem;
    height: auto;
    margin-top: 0 !important;
    margin-left: 0px;
  }

  .page-toolbar-links li:before {
    position: absolute;
    left: 0;
    margin: 0pc;
    top: 50%;
    transform: translate(0,-50%);
  }

  .page-toolbar-links .nav-redirection {
    color: #78706b;
    padding: 3px;
    margin-top: -5px;
    margin-top: 0;
    display: block;
    height: auto;
  }
}

.rich-text {
  background-color: #fafafa !important;
}

.visible-tab {
  display: none !important;
}

.text-elips {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

@media(max-width:1024px) and (min-width:768px) {
  .hidden-tab {
    display: none;
  }

  .visible-tab {
    display: initial !important;
    margin-top: -10px;
  }

  .visible-tab .dropdown-buttons {
    display: block
  }

  .page-toolbar-links > li.visible-tab:before {
    display: none
  }
}

.spinner {
  width: 100%;
  position: relative;
  height: 70px;
  overflow: hidden;
  display: inline-block;
}

.spinner img {
  width: 300px;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%,-50%);
}

p.rich-text {
  overflow: hidden;
  line-height: 26px;
  width: 100%;
  background: none;
  margin: 0px;
}

.icon.chk-size:before {
  font-size: 1.8rem !important;
}

.imgwidth {
  max-width: 100% !important;
  max-height: 70% !important;
  position: absolute;
  left: calc(50% - 10px);
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto !important;
  height: auto !important;
}

.modifier-icon {
  width: 100%;
  text-align: right;
}

.modifier-icon > .card-icon {
  display: inline-flex;
  cursor: pointer
}

.input-counter .input-group .form-control {
  border-left: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
}

.form-group.input-counter small {
  color: #d15727;
}

.modal-footer span {
  justify-content: space-between;
  display: flex;
  width: 50%;
}

.btn-orange-outer {
  border: 1px solid #d15727;
  background: none;
  color: #d15727
}

.modal-body .user-login-details {
  max-width: 100%;
  margin-left: 0px !important
}

/* == Checkbox Design == */
.checkbox-design {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.checkbox-design label input {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 7px;
  top: 50%;
  transform: translate(0,-50%);
  z-index: 1;
  opacity: 0;
  cursor: pointer
}

.checkbox-design label span {
  padding: 5px 0px 5px 20px;
  position: relative;
  margin: 0px 0px 0px 0px;
}

.checkbox-design label {
  margin: 10px 12px;
  position: relative;
}

.toggle-checkbox label {
  margin: 10px 0px !important;
}

.checkbox-design label span:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 2px solid #b3b3b3;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translate(0,-50%);
  background: #d1d0ce;
}

.checkbox-design label span.display-option:before {
  background: none;
}

.checkbox-design label input[type=radio]:checked + span:before {
  border-color: #5a534d;
}

.checkbox-design label input[type=radio]:checked + span:after {
  content: '';
  border: 2px solid;
  width: 7px;
  height: 11px;
  position: absolute;
  left: 6.5px;
  top: 46%;
  transform: translate(0,-50%) rotate(-135deg);
  border-color: #5a534d transparent transparent #5a534d;
}

.checkbox-design label input[type=checkbox]:checked + span:before {
  border-color: #b3b3b3;
  background: #5a534d;
}

.checkbox-design label input[type=checkbox]:checked + span:after {
  content: '';
  border: 2px solid;
  width: 7px;
  height: 11px;
  position: absolute;
  left: 6.5px;
  top: 46%;
  transform: translate(0,-50%) rotate(-135deg);
  border-color: #fff transparent transparent #fff;
}

.image-icons:before {
  font-size: 30px !important;
}

.image-icons {
  margin-left: 5px;
  padding: 4px;
  border: 1px solid #d3cfce !important;
  background: none;
}
/* == Checkbox Design == */
@media (max-width:992px) {
  .modal-footer span {
    justify-content: flex-start;
    width: auto;
  }

  .modal-footer .btn {
    width: 6rem;
    margin: 0px 2px;
  }
}

@media (max-width:767.5px) {
  .input-counter .input-group .btn {
    width: auto
  }

  .input-counter .input-group .btn:before {
    font-size: 0.75rem;
  }
}

@media (max-width:575px) {
  .modal-footer {
    flex-direction: column;
  }

  .modal-footer span {
    justify-content: space-between;
    width: 100%;
    margin: 5px 0px;
  }

  .modal-footer .btn {
    width: 7rem;
    margin: 0px 2px;
  }

  .modal-body .user-login-details {
    width: 100%;
  }

  .modal-body .user-login-details span:last-child {
    display: block !important
  }
}

.form-group {
  margin-bottom: 0.5rem !important;
}

.title-span {
  margin-right: 8px;
  align-self: center;
  color: #be8917;
}

.body-span {
  margin-top: 12px;
  margin-right: 8px;
  align-self: center;
  color: #be8917;
}

.font-control-wrap {
  margin: 0;
}

@media screen and (max-width: 576px) {
  .font-size-width {
    justify-content: center;
  }
}
