<div class="container">
  <!--Loader-->
  <app-loader [isLoading]="isLoading"></app-loader>

  <div class="row" *ngIf="!isLoading">
    <div class="col-12">
      <ul class="btns-combat-actions">
        <li>
          <button class="btn-red-icons" (click)="endCombat()" *ngIf="showCombatOptions"><span class=" icon icon-CharStat-OnOff mr-2"></span> END COMBAT</button>
          <button class="btn-green-icons" (click)="startCombat()" *ngIf="!showCombatOptions"><span class=" icon icon-CharStat-OnOff mr-2"></span> START COMBAT</button>
          <!-- Mobile View-->
          <div class="btn-group d-lg-none">
            <button class="setting-btn icon-Settings dropdown-toggle" type="button" data-toggle="dropdown"></button>
            <div class="dropdown-menu">
              <div class="row m-0">
                <div class="col-12 col-sm-6 col-md-3">
                  <h3>INITIATIVE</h3>
                  <ul>
                    <li>
                      PC Initiative Formula
                      <input type="text" class="cust-txtbox" name="PCInitiative" [(ngModel)]="settings.pcInitiativeFormula"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.PC_INITIATIVE_FORMULA)" />
                    </li>
                    <li>
                      Roll Initiative for Player Characters
                      <input type="checkbox" name="RollInitiativePlayer" [(ngModel)]="settings.rollInitiativeForPlayer"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.ROLL_INITIATIVE_FOR_PLAYER_CHARACTERS)" />
                      <span></span>
                    </li>
                    <li>
                      Roll Initiative Every Round
                      <input type="checkbox" name="RollInitiativeEveryRound" [(ngModel)]="settings.rollInitiativeEveryRound"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.ROLL_INITIATIVE_EVERY_ROUND)" />
                      <span></span>
                    </li>
                    <li>
                      In-Game Round Length
                      <input type="text" class="sec-txtbox" name="GameRoundLength" [(ngModel)]="settings.gameRoundLength"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.IN_GAME_ROUND_LENGTH)" />
                      <label class="sec-label">Seconds</label>

                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                  <h3>PLAYER CHARACTER</h3>
                  <ul>
                    <li>
                      Auto XP Distribution for Deleted Monsters
                      <input type="checkbox" name="XPDistributionforDeletedMonster" [(ngModel)]="settings.xpDistributionforDeletedMonster"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.AUTO_XP_DISTRIBUTION_FOR_DELETED_MONSTERS)" />
                      <span></span>
                    </li>
                    <li>
                      Character XP Stat
                      <input type="text" class="cust-txtbox" name="CharcterXPStats" [(ngModel)]="settings.charcterXpStats"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.CHARACTER_TARGET_XP_STAT)" />
                    </li>
                    <li>
                      Character Health Stat
                      <input type="text" class="cust-txtbox" name="CharcterHealthStats" [(ngModel)]="settings.charcterHealthStats"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.CHARACTER_TARGET_HEALTH_STAT)" />
                    </li>
                    <li>
                      Access Monster Details
                      <input type="checkbox" name="AccessMonsterDetails" [(ngModel)]="settings.accessMonsterDetails"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.ACCESS_MONSTER_DETAILS)" />
                      <span></span>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                  <h3>MONSTER</h3>
                  <ul>
                    <li>
                      Group Initative
                      <input type="checkbox" name="GroupInitiative" [(ngModel)]="settings.groupInitiative"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.GROUP_INITIATIVE)" />
                      <span></span>
                    </li>
                    <li>
                      Group Init Formula
                      <input type="text" class="cust-txtbox" name="GroupInitFormula" [(ngModel)]="settings.groupInitFormula"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.GROUPINIT_FORMULA)" />
                    </li>
                    <li>
                      Auto-Drop Items for Deleted Monsters
                      <input type="checkbox" name="DropItemsForDeletedMonsters" [(ngModel)]="settings.dropItemsForDeletedMonsters"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.AUTO_DROP_ITEMS_FOR_DELETED_MONSTERS)" />
                      <span></span>
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-sm-6 col-md-3">
                  <h3>MONSTER VISIBILITY to PCs</h3>
                  <ul>
                    <li>
                      Monsters are Visible by Default
                      <input type="checkbox" name="MonsterVisibleByDefault" [(ngModel)]="settings.monsterVisibleByDefault"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.MONSTERS_ARE_VISIBLE_BY_DEFAULT)" />
                      <span></span>
                    </li>
                    <li>
                      Display Monster Roll Results in Chat
                      <input type="checkbox" name="displayMonsterRollResultInChat" [(ngModel)]="settings.displayMonsterRollResultInChat"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.DISPLAY_MONSTER_ROLL_RESULTS_IN_CHAT)" />
                      <span></span>
                    </li>
                    <li>
                      Show Monster Health
                      <input type="checkbox" name="ShowMonsterHealth" [(ngModel)]="settings.showMonsterHealth"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.SHOW_MONSTER_HEALTH)" />
                      <span></span>
                    </li>
                    <li>
                      See Monster Buffs & Effects
                      <input type="checkbox" name="SeeMonsterBuffEffects" [(ngModel)]="settings.seeMonsterBuffEffects"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.SEE_MONSTER_BUFFS_EFFECTS)" />
                      <span></span>
                    </li>
                    <li>
                      See Monster Items
                      <input type="checkbox" name="SeeMonsterItems" [(ngModel)]="settings.seeMonsterItems"
                             (change)="UpdateSettings($event, COMBAT_SETTINGS.SEE_MONSTER_ITEMS)" />
                      <span></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--Mobile View-->

        </li>
        <li>
          <ul>
            <li>
              <button class="btn-orange-icons" (click)="Init()" *ngIf="showCombatOptions"><span class="icon icon-CharStat-Command mr-2"></span> INIT</button>
            </li>
            <li>
              <button class="btn-orange-icons" (click)="prevTurn()" *ngIf="showCombatOptions"><span class="icon icon-Gen-LT mr-2"></span> PREV TURN</button>
            </li>
            <li>
              <button class="btn-orange-icons" (click)="nextTurn()" *ngIf="showCombatOptions">NEXT TURN <span class="icon icon-Gen-GT ml-2"></span></button>
            </li>
            <li>
              <button class="btn-orange-icons" (click)="monsterAdd()"><span class="icon icon-Rec-Add mr-2"></span> MONSTERS</button>
            </li>
            <li>
              <button class="btn-red-icons" (click)="monsterRemove()"><span class="icon icon-Rec-Remove mr-2"></span> MONSTERS</button>
            </li>
            <li>
              <button class="btn-orange-icons" (click)="openDiceRollModal()"><span class="icon icon-CharStat-Command mr-2"></span> DICE</button>
            </li>
            <li>
              <div class="btn-group" [ngClass]="{'open': isDropdownOpen}">
                <button class="setting-btn icon-Settings dropdown-toggle setting-toggle-btn" type="button" ></button>
                <div class="dropdown-menu setting-toggle">
                  <div class="row m-0">
                    <div class="col-12 col-sm-6 col-md-3">
                      <h3>INITIATIVE</h3>
                      <ul>
                        <li>
                          PC Initiative Formula
                          <input type="text" class="cust-txtbox" name="PCInitiative" [(ngModel)]="settings.pcInitiativeFormula"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.PC_INITIATIVE_FORMULA)" />
                        </li>
                        <li>
                          Roll Initiative for Player Characters
                          <input type="checkbox" name="RollInitiativePlayer" [(ngModel)]="settings.rollInitiativeForPlayer"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.ROLL_INITIATIVE_FOR_PLAYER_CHARACTERS)" />
                          <span></span>
                        </li>
                        <li>
                          Roll Initiative Every Round
                          <input type="checkbox" name="RollInitiativeEveryRound" [(ngModel)]="settings.rollInitiativeEveryRound"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.ROLL_INITIATIVE_EVERY_ROUND)" />
                          <span></span>
                        </li>
                        <li>
                          In-Game Round Length
                          <input type="text" class="sec-txtbox" name="GameRoundLength" [(ngModel)]="settings.gameRoundLength"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.IN_GAME_ROUND_LENGTH)" />
                          <label class="sec-label">Seconds</label>
                        </li>
                      </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                      <h3>PLAYER CHARACTER</h3>
                      <ul>
                        <li>
                          Auto XP Distribution for Deleted Monsters
                          <input type="checkbox" name="XPDistributionforDeletedMonster" [(ngModel)]="settings.xpDistributionforDeletedMonster"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.AUTO_XP_DISTRIBUTION_FOR_DELETED_MONSTERS)" />
                          <span></span>
                        </li>
                        <li *ngIf="settings.xpDistributionforDeletedMonster">
                          Character XP Stat
                          <input type="text" class="cust-txtbox" name="CharcterXPStats" [(ngModel)]="settings.charcterXpStats"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.CHARACTER_TARGET_XP_STAT)" />
                        </li>
                        <li>
                          Character Health Stat
                          <input type="text" class="cust-txtbox" name="CharcterHealthStats" [(ngModel)]="settings.charcterHealthStats"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.CHARACTER_TARGET_HEALTH_STAT)" />
                        </li>
                        <li>
                          Access Monster Details
                          <input type="checkbox" name="AccessMonsterDetails" [(ngModel)]="settings.accessMonsterDetails"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.ACCESS_MONSTER_DETAILS)" />
                          <span></span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                      <h3>MONSTER</h3>
                      <ul>
                        <li>
                          Group Initative
                          <input type="checkbox" name="GroupInitiative" [(ngModel)]="settings.groupInitiative"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.GROUP_INITIATIVE)" />
                          <span></span>
                        </li>
                        <li *ngIf="settings.groupInitiative">
                          Group Init Formula
                          <input type="text" class="cust-txtbox" name="GroupInitFormula" [(ngModel)]="settings.groupInitFormula"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.GROUPINIT_FORMULA)" />
                        </li>
                        <li>
                          Auto-Drop Items for Deleted Monsters
                          <input type="checkbox" name="DropItemsForDeletedMonsters" [(ngModel)]="settings.dropItemsForDeletedMonsters"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.AUTO_DROP_ITEMS_FOR_DELETED_MONSTERS)" />
                          <span></span>
                        </li>
                      </ul>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3">
                      <h3>MONSTER VISIBILITY to PCs</h3>
                      <ul>
                        <li>
                          Monsters are Visible by Default
                          <input type="checkbox" name="MonsterVisibleByDefault" [(ngModel)]="settings.monsterVisibleByDefault"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.MONSTERS_ARE_VISIBLE_BY_DEFAULT)" />
                          <span></span>
                        </li>
                        <li>
                          Display Monster Roll Results in Chat
                          <input type="checkbox" name="displayMonsterRollResultInChat" [(ngModel)]="settings.displayMonsterRollResultInChat"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.DISPLAY_MONSTER_ROLL_RESULTS_IN_CHAT)" />
                          <span></span>
                        </li>
                        <li>
                          Show Monster Health
                          <input type="checkbox" name="ShowMonsterHealth" [(ngModel)]="settings.showMonsterHealth"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.SHOW_MONSTER_HEALTH)" />
                          <span></span>
                        </li>
                        <li>
                          See Monster Buffs & Effects
                          <input type="checkbox" name="SeeMonsterBuffEffects" [(ngModel)]="settings.seeMonsterBuffEffects"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.SEE_MONSTER_BUFFS_EFFECTS)" />
                          <span></span>
                        </li>
                        <li>
                          See Monster Items
                          <input type="checkbox" name="SeeMonsterItems" [(ngModel)]="settings.seeMonsterItems"
                                 (change)="UpdateSettings($event, COMBAT_SETTINGS.SEE_MONSTER_ITEMS)" />
                          <span></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>

      </ul>
    </div>
    <div class="col-12 col-md-8">
      <div class="table-responsive combat-table">
        <table class="table">
          <thead>
            <tr>
              <th><span>NAME</span></th>
              <th><span>HP</span></th>
              <th><span>BUFFS / EFFECTS</span></th>
              <th><span>VISIBLE</span></th>
              <th><span>ACTIONS</span></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of combatants; let i = index"
                [ngClass]="{'black-outer-filed': item.isCurrentTurn, 'red-outer-filed': item.frameColor =='red', '': item.frameColor =='grey' }"
                (click)="frameClick(item)">
              <td>
                <div class="white-section name-data text-ellipsis" (click)="nameClicked(item);$event.stopPropagation()"
                     popover="{{item?.type == combatItemsType.CHARACTER ? item?.character?.characterName : item?.monster?.name}}" triggers="hover">
                  {{item?.type == combatItemsType.CHARACTER ? item?.character?.characterName : item?.monster?.name}}
                </div>
              </td>
              <td>
                <div class="white-section">
                  <div class="progress green" (click)="progressHealth(item);$event.stopPropagation()">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value" *ngIf="item.type==combatItemsType.CHARACTER">
                    <!--{{item?.character?.healthCurrent}}/{{item?.character?.healthMax}}-->
                      c/c
                    </div>
                    <div class="progress-value" *ngIf="item.type==combatItemsType.MONSTER">
                    {{item?.monster?.healthCurrent}}/{{item?.monster?.healthMax}}
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <!--<ul class="visiblity-list">
                    <li class="icon-Rec-Visible"> </li>
                    <li class="icon-CharStat-Command"></li>
                  </ul>-->
                  <ul class="visiblity-list">
                    <li class="icon-Rec-Visible" (click)="buffEffectclick();$event.stopPropagation()"> </li>
                    <li class="icon-CharStat-Command" (click)="buffEffectclick();$event.stopPropagation()"></li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <span class="visible-icon" *ngIf="item.visibleToPc" [style.background]="item.visibilityColor" (click)="changeColor(item);$event.stopPropagation()"></span>
                  <span class="visible-icon unvisible-Circle" [style.border-color]="item.visibilityColor" *ngIf="!item.visibleToPc" (click)="changeColor(item);$event.stopPropagation()"></span>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <ul class="action-buttons-table" *ngIf="item.type == combatItemsType.CHARACTER">
                    <li class="action-button-icon-orange icon-Gen-Items" [ngClass]="isCharacterItemEnabled ? 'crsr-pointer': 'disabled'" (click)="isCharacterItemEnabled && (redirectToItem(item));$event.stopPropagation()"></li>
                    <li class="action-button-icon-orange icon-Rec-Magical" [ngClass]="isCharacterSpellEnabled ? 'crsr-pointer': 'disabled'" (click)="isCharacterSpellEnabled && (redirectTospell(item));$event.stopPropagation()"></li>
                    <li class="action-button-icon-orange icon-Gen-Ability" [ngClass]="isCharacterAbilityEnabled ? 'crsr-pointer': 'disabled'" (click)="isCharacterAbilityEnabled && (redirectToAbility(item));$event.stopPropagation()"></li>
                    <li class="action-button-icon-orange icon-Gen-CharStat crsr-pointer" (click)="redirectToChracterstat(item);$event.stopPropagation()"></li>
                  </ul>
                  <ul class="action-buttons-table" id="'item'+i" *ngIf="item.type == combatItemsType.MONSTER">
                    <li class="action-button-icon-orange icon-CharStat-Command crsr-pointer" *ngIf="!item.hidebtns" (click)="monsterCommand(item);$event.stopPropagation()"></li>
                    <li class="action-button-icon-orange icon-Rec-Drop crsr-pointer" *ngIf="!item.hidebtns" (click)="dropMonsterItems(item);$event.stopPropagation()"></li>
                    <li class="action-button-icon-red icon-Rec-Remove crsr-pointer" *ngIf="!item.hidebtns" (click)="removeCurrentMonster(item);$event.stopPropagation()"></li>
                    <li class="action-button-icon-black icon-Gen-LT crsr-pointer" *ngIf="!item.hidebtns" (click)="Hidebtns(item)"></li>
                    <li class="action-button-icon-black icon-Gen-GT crsr-pointer" *ngIf="item.hidebtns" (click)="showbtns(item)"></li>
                    <li class="action-button-icon-orange icon-Gen-Edit crsr-pointer" *ngIf="item.hidebtns" (click)="editMonster(item);$event.stopPropagation()"></li>
                    <li class="action-button-icon-orange icon-Gen-Duplicate crsr-pointer" *ngIf="item.hidebtns" (click)="duplicateMonster(item);$event.stopPropagation()"></li>
                    <li class="action-button-icon-red icon-Gen-Trash crsr-pointer" *ngIf="item.hidebtns" (click)="deleteMonster(item);$event.stopPropagation()"></li>
                  </ul>
                </div>
              </td>
            </tr>
            <!--<tr class="black-outer-filed">
              <td>
                <div class="white-section name-data">Silven</div>
              </td>
              <td>
                <div class="white-section">
                  <div class="progress green">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">65%</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="white-section">

                </div>
              </td>
              <td>
                <div class="white-section">
                  <span class="unvisible-icon"></span>
                </div>
              </td>
              <td>
                <div class="white-section">

                </div>
              </td>
            </tr>
            <tr class="red-outer-filed">
              <td>
                <div class="white-section name-data">Silven</div>
              </td>
              <td>
                <div class="white-section">
                  <div class="progress green">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">65%</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="white-section">

                </div>
              </td>
              <td>
                <div class="white-section">
                  <span class="unvisible-icon"></span>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <ul class="action-buttons-table">
                    <li class="action-button-icon-orange icon-CharStat-Command"></li>
                    <li class="action-button-icon-orange icon-Rec-Drop"></li>
                    <li class="action-button-icon-red icon-Rec-Remove"></li>
                    <li class="action-button-icon-black icon-Gen-LT"></li>
                  </ul>
                </div>
              </td>
            </tr>-->
          </tbody>
        </table>
      </div>
      <div class="combat-round-count" *ngIf="showCombatOptions">
        <ul>
          <li class="round-count-icon-purple">ROUND <span>{{roundCounter}}</span></li>
          <li class="round-count-icon-purple">INIT COUNT <span>{{CurrentInitiativeValue}}</span></li>
          <li class="round-count-icon-purple">GAME Time <span>{{gametime}}</span></li>
          <li class="round-count-icon-red icon icon-Gen-LT" (click)="prevTurn()"></li>
          <li class="round-count-icon-red icon icon-Gen-GT" (click)="nextTurn()"></li>
          <li class="round-count-icon-orange icon icon-CharStat-OnOff" (click)="endCombat()"> END COMBAT</li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="image-section-combat">
        <img [src]="combatantDetails.image" />
        <span *ngIf="currentCombatantDetail?.type==combatItemsType.CHARACTER">{{currentCombatantDetail?.character?.characterName}}</span>
        <span *ngIf="currentCombatantDetail?.type==combatItemsType.MONSTER">{{currentCombatantDetail?.monster?.name}}</span>
      </div>
      <!--Monster-->
      <div class="row mt-3" *ngIf="currentCombatantDetail?.type==combatItemsType.MONSTER">
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pr-sm-1 px-md-3 pr-lg-1">
          <button class="btn-orange btn-block icon-CharStat-Command crsr-pointer" (click)="monsterCommand(currentCombatantDetail)"> Command</button>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pl-sm-1 px-md-3 pl-lg-1">
          <button class="btn-orange btn-block icon-Rec-Drop crsr-pointer" (click)="dropMonsterItems(currentCombatantDetail)"> Drop Items</button>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pr-sm-1 px-md-3 pr-lg-1">
          <button class="btn-black btn-block icon-Delay crsr-pointer" *ngIf="delayResumeTurn" (click)="DelayResumeTurn()"> Delay Turn</button>
          <button class="btn-black btn-block icon-Delay crsr-pointer" *ngIf="!delayResumeTurn" (click)="DelayResumeTurn()"> Resume Turn</button>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pl-sm-1 px-md-3 pl-lg-1">
          <button class="btn-red btn-block icon-Rec-Remove crsr-pointer" (click)="removeCurrentMonster(currentCombatantDetail)"> Remove</button>
        </div>
      </div>
      <!--Character-->
      <div class="row mt-3" *ngIf="currentCombatantDetail?.type==combatItemsType.CHARACTER">
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pr-sm-1 px-md-3 pr-lg-1">
          <button class="btn-orange btn-block icon-Gen-Items" [ngClass]="isCharacterItemEnabled ? 'crsr-pointer': 'disabled'" (click)="isCharacterItemEnabled && redirectToItem(currentCombatantDetail)"> Inventory</button>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pl-sm-1 px-md-3 pl-lg-1">
          <button class="btn-orange btn-block icon-Rec-Magical" [ngClass]="isCharacterSpellEnabled ? 'crsr-pointer': 'disabled'" (click)="isCharacterItemEnabled && redirectToSpell(currentCombatantDetail)"> Spells</button>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pr-sm-1 px-md-3 pr-lg-1">
          <button class="btn-black btn-block icon-Delay crsr-pointer" [ngClass]="isCharacterSpellEnabled ? 'crsr-pointer': 'disabled'" *ngIf="delayResumeTurn" (click)="DelayResumeTurn()"> Delay Turn</button>
          <button class="btn-black btn-block icon-Delay crsr-pointer" [ngClass]="isCharacterSpellEnabled ? 'crsr-pointer': 'disabled'" *ngIf="!delayResumeTurn" (click)="DelayResumeTurn()"> Resume Turn</button>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pl-sm-1 px-md-3 pl-lg-1">
          <button class="btn-orange btn-block icon-Gen-Ability crsr-pointer" [ngClass]="isCharacterAbilityEnabled ? 'crsr-pointer': 'disabled'" (click)="isCharacterItemEnabled && redirectToAbility(currentCombatantDetail)"> Abilities</button>
        </div>
      </div>

      <div class="combat-accordian">
        <accordion>
          <accordion-group #p1 heading="STATS">
            <div class="row">
              <div class="col-12">
                <!--<label for="Desc">Stats</label>-->
                <div [froalaView]="combatantDetails.stats" name="stat"></div>
              </div>
            </div>
          </accordion-group>
          <accordion-group #p2 heading="BUFFS & EFFECTS">
            <div class="row">
              <div class="text-center" *ngIf="combatantDetails.buffEffects?.length == 0">
                <legend>No Buffs & Effects Available</legend>
              </div>
              <div class="col-6 accordin-items" *ngFor="let item of  combatantDetails.buffEffects">
                <div class="accordin-box">
                  <img [src]="item.image" />
                  <p>{{item.name}}</p>
                </div>
              </div>
            </div>
          </accordion-group>
          <accordion-group #p3 heading="DESCRIPTION">
            <div class="row">
              <div class="col-12">
                <!--<label for="Desc">Description</label>-->

                <div [froalaView]="combatantDetails.desc" name="Desc"></div>
              </div>
            </div>
          </accordion-group>
          <accordion-group #p4 heading="ITEMS">
            <div class="row">
              <div class="text-center" *ngIf="combatantDetails.items?.length == 0">
                <legend>No Items  Available</legend>
              </div>
              <div class="col-6 accordin-items" *ngFor="let item of  combatantDetails.items">
                <div class="accordin-box ">
                  <img [src]="item.image" />
                  <p>{{item.name}}</p>
                </div>
              </div>
            </div>
          </accordion-group>
          <accordion-group #p5 heading="SPELLS">
            <div class="row">
              <div class="text-center" *ngIf="combatantDetails.spells?.length == 0">
                <legend>No Spells Available</legend>
              </div>
              <div class="col-6 accordin-items" *ngFor="let item of  combatantDetails.spells">
                <div class="accordin-box">
                  <img [src]="item.image" />
                  <p>{{item.name}}</p>
                </div>
              </div>
            </div>
          </accordion-group>
          <accordion-group #p5 heading="ABILITIES">
            <div class="row">
              <div lass="text-center" *ngIf="combatantDetails.abilites?.length == 0">
                <legend>No Abilities Available</legend>
              </div>
              <div class="col-6 accordin-items" *ngFor="let item of  combatantDetails.abilites">
                <div class="accordin-box">
                  <img [src]="item.image" />
                  <p>{{item.name}}</p>
                </div>
              </div>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>


<!-- Popup Html Start Here -->
<!--<div class="initiative-popup">
  <h2>ORDER</h2>
  <div class="row m-0">
    <div class="col-12 col-sm-5 mb-2">
      <div class="initiative-title-box">
        <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
        <p>BugBear</p>
      </div>
    </div>
    <div class="col-12 col-sm-7 mb-2">
      <div class="initiative-options-field">
        <input type="text" />
        <button class="btn-top icon-Gen-Down"></button>
        <button class="btn-bottom icon-Gen-Down "></button>
        <button class="btn-dices icon-CharStat-Command"></button>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-5 mb-2">
      <div class="initiative-title-box monsters-title-box">
        <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
        <p><span>BugBear</span></p>
      </div>
    </div>
    <div class="col-12 col-sm-7 mb-2">
      <div class="initiative-options-field">
        <input type="text" />
        <button class="btn-top icon-Gen-Down"></button>
        <button class="btn-bottom icon-Gen-Down "></button>
        <button class="btn-dices icon-CharStat-Command"></button>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-5 mb-2">
      <div class="initiative-title-box">
        <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
        <p><span>BugBear</span></p>
      </div>
    </div>
    <div class="col-12 col-sm-7 mb-2">
      <div class="initiative-options-field">
        <input type="text" />
        <button class="btn-top icon-Gen-Down"></button>
        <button class="btn-bottom icon-Gen-Down "></button>
        <button class="btn-dices icon-CharStat-Command"></button>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-5 mb-2">
      <div class="initiative-title-box monsters-title-box">
        <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
        <p><span>BugBear</span></p>
      </div>
    </div>
    <div class="col-12 col-sm-7 mb-2">
      <div class="initiative-options-field">
        <input type="text" />
        <button class="btn-top icon-Gen-Down"></button>
        <button class="btn-bottom icon-Gen-Down "></button>
        <button class="btn-dices icon-CharStat-Command"></button>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-5 mb-2">
      <div class="initiative-title-box">
        <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
        <p><span>BugBear</span></p>
      </div>
    </div>
    <div class="col-12 col-sm-7 mb-2">
      <div class="initiative-options-field">
        <input type="text" />
        <button class="btn-top icon-Gen-Down"></button>
        <button class="btn-bottom icon-Gen-Down "></button>
        <button class="btn-dices icon-CharStat-Command"></button>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-5 mb-2">
      <div class="initiative-title-box">
        <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
        <p><span>BugBear</span></p>
      </div>
    </div>
    <div class="col-12 col-sm-7 mb-2">
      <div class="initiative-options-field">
        <input type="text" />
        <button class="btn-top icon-Gen-Down"></button>
        <button class="btn-bottom icon-Gen-Down "></button>
        <button class="btn-dices icon-CharStat-Command"></button>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-5 mb-2">
      <div class="initiative-title-box">
        <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
        <p><span>BugBear</span></p>
      </div>
    </div>
    <div class="col-12 col-sm-7 mb-2">
      <div class="initiative-options-field">
        <input type="text" />
        <button class="btn-top icon-Gen-Down"></button>
        <button class="btn-bottom icon-Gen-Down "></button>
        <button class="btn-dices icon-CharStat-Command"></button>
      </div>
    </div>
  </div>
  <div class="row m-0">
    <div class="col-12 col-sm-5 mb-2">
      <div class="initiative-title-box">
        <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
        <p><span>BugBear</span></p>
      </div>
    </div>
    <div class="col-12 col-sm-7 mb-2">
      <div class="initiative-options-field">
        <input type="text" />
        <button class="btn-top icon-Gen-Down"></button>
        <button class="btn-bottom icon-Gen-Down "></button>
        <button class="btn-dices icon-CharStat-Command"></button>
      </div>
    </div>
  </div>
  <div class="row"><div class="col-12 p-0"><hr /></div></div>
  <h2>REROLL</h2>
  <div class="row m-0">
    <div class="col">
      <button class="btn-block btn-accent btn">Characters</button>
    </div>
    <div class="col">
      <button class="btn-block btn-accent btn">ALL</button>
    </div>
    <div class="col">
      <button class="btn-block btn-accent btn">Monsters</button>
    </div>
  </div>
  <div class="row"><div class="col-12 p-0"><hr /></div></div>
</div>-->
<!-- Popup Html End Here -->
<!-- Expandable Section Html Start -->
<!--<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="table-responsive combat-table">
        <table class="table">
          <thead>
            <tr>
              <th><span>NAME</span></th>
              <th><span>HEALTH</span></th>
              <th><span>TEAM</span></th>
              <th><span>BUFFS & EFFECTS</span></th>
              <th><span>TARGET</span></th>
              <th><span>ACTIONS</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <div class="white-section name-data">Silven</div>
              </td>
              <td>
                <div class="white-section">
                  <div class="progress green">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                  </div>
                </div>
              </td>

              <td>
                <div class="white-section">
                  <span class="visible-icon"></span>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <ul class="visiblity-list">
                    <li class="icon-Rec-Visible"></li> /
                    <li class="icon-CharStat-Command"></li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <div _ngcontent-c1="" class="initiative-title-box monsters-title-box">
                    <img _ngcontent-c1="" class="ng-tns-c1-0" src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg">
                    <p _ngcontent-c1="" class="ng-tns-c1-0"><span _ngcontent-c1="" class="ng-tns-c1-0">BugBear</span></p>
                  </div>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <ul class="action-buttons-table">
                    <li class="action-button-icon-orange icon-Gen-Chat"></li>
                    <li class="action-button-icon-orange icon-MarkTarget"></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="blue-outer-filed">
              <td>
                <div class="white-section name-data">Silven</div>
              </td>
              <td>
                <div class="white-section">
                  <div class="progress green">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                  </div>
                </div>
              </td>

              <td>
                <div class="white-section">
                  <span class="visible-icon"></span>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <ul class="visiblity-list">
                    <li class="icon-Rec-Visible"></li> /
                    <li class="icon-CharStat-Command"></li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <div _ngcontent-c1="" class="initiative-title-box monsters-title-box">
                    <img _ngcontent-c1="" class="ng-tns-c1-0" src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg">
                    <p _ngcontent-c1="" class="ng-tns-c1-0"><span _ngcontent-c1="" class="ng-tns-c1-0">BugBear</span></p>
                  </div>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <ul class="action-buttons-table">
                    <li class="action-button-icon-orange icon-Gen-Chat"></li>
                    <li class="action-button-icon-orange icon-MarkTarget"></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="white-section name-data">Silven</div>
              </td>
              <td>
                <div class="white-section">
                  <div class="progress green">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">90%</div>
                  </div>
                </div>
              </td>

              <td>
                <div class="white-section">
                  <span class="visible-icon"></span>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <ul class="visiblity-list">
                    <li class="icon-Rec-Visible"></li> /
                    <li class="icon-CharStat-Command"></li>
                  </ul>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <div _ngcontent-c1="" class="initiative-title-box monsters-title-box">
                    <img _ngcontent-c1="" class="ng-tns-c1-0" src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg">
                    <p _ngcontent-c1="" class="ng-tns-c1-0"><span _ngcontent-c1="" class="ng-tns-c1-0">BugBear</span></p>
                  </div>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <ul class="action-buttons-table">
                    <li class="action-button-icon-orange icon-Gen-Chat"></li>
                    <li class="action-button-icon-orange icon-MarkTarget"></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="black-outer-filed">
              <td>
                <div class="white-section name-data">Silven</div>
              </td>
              <td>
                <div class="white-section">
                  <div class="progress green">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">65%</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="white-section">

                </div>
              </td>
              <td>
                <div class="white-section">
                  <span class="unvisible-icon"></span>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <div _ngcontent-c1="" class="initiative-title-box monsters-title-box">
                    <img _ngcontent-c1="" class="ng-tns-c1-0" src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg">
                    <p _ngcontent-c1="" class="ng-tns-c1-0"><span _ngcontent-c1="" class="ng-tns-c1-0">BugBear</span></p>
                  </div>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <ul class="action-buttons-table">
                    <li class="action-button-icon-orange icon-Gen-Chat"></li>
                    <li class="action-button-icon-orange icon-MarkTarget"></li>
                  </ul>
                </div>
              </td>
            </tr>
            <tr class="red-outer-filed">
              <td>
                <div class="white-section name-data">Silven</div>
              </td>
              <td>
                <div class="white-section">
                  <div class="progress green">
                    <span class="progress-left">
                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value">65%</div>
                  </div>
                </div>
              </td>
              <td>
                <div class="white-section">

                </div>
              </td>
              <td>
                <div class="white-section">
                  <span class="unvisible-icon"></span>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <div _ngcontent-c1="" class="initiative-title-box monsters-title-box">
                    <img _ngcontent-c1="" class="ng-tns-c1-0" src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg">
                    <p _ngcontent-c1="" class="ng-tns-c1-0"><span _ngcontent-c1="" class="ng-tns-c1-0">BugBear</span></p>
                  </div>
                </div>
              </td>
              <td>
                <div class="white-section">
                  <ul class="action-buttons-table">
                    <li class="action-button-icon-orange icon-Gen-Chat"></li>
                    <li class="action-button-icon-orange icon-MarkTarget"></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <div class="col-12 col-md-4">
      <div class="combat-round-count small-count-size mb-3">
        <ul>
          <li class="round-count-icon-purple">ROUND <span>5</span></li>
          <li class="round-count-icon-purple">INIT COUNT <span>15</span></li>
          <li class="round-count-icon-purple">GAME Time <span>00:32</span></li>
        </ul>
      </div>
      <div class="image-section-combat">
        <img src="https://rpgsmithsa.blob.core.windows.net/user-248c6bae-fab3-4e1f-b91b-f674de70a65d/e21b5355-9824-4aa0-b3c0-274cf9255e45.jpg" />
        <span>ORC SHAMAN</span>
      </div>
      <div class="row mt-3 ">
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pr-sm-1 px-md-3 pr-lg-1">
          <button class="btn-orange btn-block icon-CharStat-Command"> Command</button>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pl-sm-1 px-md-3 pl-lg-1">
          <button class="btn-orange btn-block icon-Rec-Drop"> Drop Items</button>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pr-sm-1 px-md-3 pr-lg-1">
          <button class="btn-black btn-block  icon-Health"> Health</button>
        </div>
        <div class="col-12 col-sm-6 col-md-12 col-lg-6 mb-2 pl-sm-1 px-md-3 pl-lg-1">
          <button class="btn-red btn-block icon-Rec-Remove"> Remove</button>
        </div>
      </div>
      <div class="combat-accordian">
        <accordion>
          <accordion-group #p1 heading="STATS">Panel 1 </accordion-group>
          <accordion-group #p2 heading="BUFFS & EFFECTS">Panel 2</accordion-group>
          <accordion-group #p3 heading="DESCRIPTION">Panel 2</accordion-group>
          <accordion-group #p4 heading="ITEMS">Panel 2</accordion-group>
          <accordion-group #p5 heading="SPELLS">Panel 2</accordion-group>
          <accordion-group #p5 heading="ABILITIES">Panel 2</accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>-->
<!-- Expandable Section Html End-->
<!--<button (click)="openpopup()">popup</button>-->
