<div class="modal-header">
<h5 class="modal-title">View File</h5>
<button type="button" data-dismiss="modal" class="btn icon icon-cross btn-simple-primary text-right close" (click)="close()"></button>
</div>
<div class="modal-body text-center">
  <!-- Search query -->
  <!--<p>Image here</p>-->
    <iframe  class="doc"  [src]="iframe"></iframe>
</div>
<!--<div class="modal-footer">
  <button type="button" [ngStyle]="{'cursor': 'pointer'}" class="btn btn-accent" (click)="close()">Close</button>
</div>-->
