.loading-container{
    margin-top: 100px;
    height: 200px;
    width: 100%;
}

.loading{
    text-align: center;
    font-size: 5rem;
}

.loading img{
    width: 100px;
    height: 100px;
}

.loading-message {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}
