
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewCounterPopupTitle">{{counterFormModel.title}}</h5>
        <a href=" https://rpgsmith.com/help/#countertile" class="help-icon icon icon-Gen-Help crsr-pointer" target="_blank"></a>
        <button type="button" class="btn icon icon-cross btn-simple-primary close" (click)="close()"></button>
      </div>
        <div class="modal-body">
            <form>
                <div class="form-group input-counter">
                    <div class="input-group">
                        <button type="button" class="btn icon icon-minus btn-primary btn-plus-minus" (click)="decrement()"></button>
                        <input type="number" id="viewCounterValue" class="form-control" placeholder="Enter value" (change)="changeCurrentValue($event)" [(ngModel)]="counterFormModel.currentValue" name="currentValue">
                        <button type="button" class="btn icon icon-plus btn-primary btn-plus-minus" (click)="increment()"></button>
                    </div>
                    <div class="input-extend">
                        <button type="button" class="btn icon icon-with-text icon-reset btn-link-primary" (click)="resetValue()"><span>Reset to {{value}}</span></button>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <div class="w-100 m-0">
                <button type="button" class="btn float-left btn btn-edit" (click)="edit()">Edit</button>
                <button type="button" class="btn float-right btn-accent" (click)="saveCounter()">SAVE</button>
                <button type="button" class="btn float-right btn-simple-accent" (click)="close()">Cancel</button>

                <!--<button type="button" class="btn btn-outline-accent" (click)="close()">Close</button>-->
            </div>
        </div>
    </div>

