
<div class="container-fluid login_page">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center rpgs-login">
                <div class="logo">
                    <img [src]="appLogo" alt="logo">
                </div>
                <div class="login-form-1">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <form class="text-left" name="forgotPasswordForm" #f="ngForm" (ngSubmit)="f.form.valid ? forgotPassword() :
                                (!email.valid && showErrorAlert('Email is required', 'Please enter a valid email'))">
                                <div class="main-login-form">
                                    <div class="login-group ">
                                        <div class="form-group has-feedback login-input" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                                            <input type="email" id="forgot-email" name="email" placeholder="Enter email" class="form-control" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                                                   [autofocus] [(ngModel)]="forgotPasswordModel.email" #email="ngModel" required [email]="true" />
                                            <span *ngIf="f.submitted" class="glyphicon form-control-feedback" [ngClass]="{'glyphicon-ok ': email.valid, 'glyphicon-remove' : !email.valid}" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <button [disabled]="isLoading" class="login-button"><i class="fa fa-chevron-right"></i></button>
                                </div>
                                <div class="login-form-forgot">
                                    <p class="login-input"> new user? <a [routerLink]="['/register']"> create new account </a>  </p>
                                    <p class="login-input"> have an account? <a [routerLink]="['/login']"> sign in! </a></p>
                                </div>
                            </form>
                            <div class="col-md-12 col-sm-12">
                                <table>
                                    <tr style="width:100%">
                                        <td style="width:50%"><hr class="divider_line"></td>
                                        <td>or</td>
                                        <td style="width:50%"><hr class="divider_line"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><br></td>
                                    </tr>
                                    <tr> <td colspan="3"></td></tr>
                                </table>
                            </div>
                            <!--TODO-NJ: These buttons could be moved to SocialLoginComponent. Duplicated on Login page too -->
                            <div class="col-md-12 col-sm-12 btn-group-vertical">
                                <button (click)="loginWithGoogle()" class="loginBtn loginBtn--google">Log in with Google</button>
                                <button (click)="loginWithFacebook()" class="loginBtn loginBtn--facebook">Log in with Facebook</button>
                            </div>
                            <div class="col-md-12 col-sm-12 p-10">
                              <!--TODO-NJ: This is not needed here -->
                                <p class="login-input login-footer"> <span>By logging in you agree to the</span>
                                    <span><a [routerLink]="['/termscondition']"> Terms and Conditions </a></span>
                                    <span>  View the <a [routerLink]="['/privacypolicy']"> Privacy Policy </a></span> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
