<div class="page-inventory">
  <!-- Toolbar -->
  <div class="page-toolbar">
    <div class="container">
      <div class="page-toolbar-wrapper">
        <div class="page-toolbar-title">
          <a (click)="RedirectBack()" class="icon icon-back">
            <h1 class="d-none d-md-inline-block"> Back</h1>
          </a>
          <h1 class="d-md-none">Allies</h1>
        </div>
        <div class="page-toolbar-wrapper initial show recordes-menu">
          <!-- Toolbar links -->
          <ul class="page-toolbar-links" *ngIf="!isLoading">
            <li *ngIf="rulesetModel?.isItemEnabled" class="hidden-tab">
              <a [routerLink]="['/character/inventory/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-Items"> <span>Inventory</span></a>
            </li>
            <li *ngIf="rulesetModel?.isSpellEnabled" class="hidden-tab">
              <a [routerLink]="['/character/spell/', characterId]" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> <span>Spells</span></a>
            </li>
            <li *ngIf="rulesetModel?.isAbilityEnabled" class="hidden-tab">
              <a [routerLink]="['/character/ability/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-Ability"> <span>Abilities</span></a>
            </li>
            <li class="hidden-tab">
              <a class="btn btn-link-primary nav-redirection selected icon-Ally"> <span>Allies</span></a>
            </li>
            <li *ngIf="rulesetModel" class="hidden-tab">
              <a [routerLink]="['/character/character-stats/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-CharStat"> <span>Character Stats</span></a>
            </li>
            <li class="visible-tab mt-0">
              <div class="dropdown dropdown-buttons" [ngClass]="{'show': isDropdownOpen}">
                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-primary dropdown-toggle is-show">Records</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger" *ngIf="isDropdownOpen">
                  <ul class="dropdown-menu-list" *ngIf="!isLoading">
                    <li *ngIf="rulesetModel?.isItemEnabled" class="dropdown-menu-item">
                      <a [routerLink]="['/character/inventory/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-Items"> Inventory</a>
                    </li>
                    <li *ngIf="rulesetModel?.isSpellEnabled" class="dropdown-menu-item">
                      <a [routerLink]="['/character/spell/', characterId]" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> Spells</a>
                    </li>
                    <li *ngIf="rulesetModel?.isAbilityEnabled" class="dropdown-menu-item">
                      <a [routerLink]="['/character/ability/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-Ability"> Abilities</a>
                    </li>
                    <li class="dropdown-menu-item">
                      <a class="btn btn-link-primary nav-redirection selected icon-Ally"> Allies</a>
                    </li>
                    <li *ngIf="rulesetModel" class="dropdown-menu-item">
                      <a [routerLink]="['/character/character-stats/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-CharStat"> Character Stats</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
            <li>
            </li>
          </ul>
          <!-- End of toolbar links -->
        </div>
        <ul class="page-toolbar-actions" *ngIf="!isLoading">
          <li class="view-switch">
            <div class="btn-group" role="group">
              <div class="dropdown">
                <button class="btn dropdown-toggle filter-toggle-btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" popover="{{monstersFilter.name}}" triggers="hover click">
                  &nbsp;{{monstersFilter.viewableCount}}
                  <span *ngIf="monstersFilter.type == 1"><i>A</i></span>
                  <span *ngIf="monstersFilter.type == 2"><i>CR</i></span>
                  <span *ngIf="monstersFilter.type == 3"><i class="icon icon-Health"> </i></span>
                </button>
                <div class="dropdown-menu filter-toggle-btn-menu" aria-labelledby="dropdownMenuButton">
                  <button type="button" id="listViewTrigger" class="btn" [ngClass]="Alphabetical ? 'selected' :''" (click)="applyFilters(1,false,true)"><i>A</i>Alphabetical <span>{{alphabetCount}}</span></button>
                  <button type="button" id="challageViewTrigger" class="btn" [ngClass]="ChallangeRating ? 'selected' :''" (click)="applyFilters(2,false,true)"><i>CR</i>Challenge Rating <span>{{ChallangeRatingCount}}</span></button>
                  <button type="button" id="HealthViewTrigger" class="btn icon icon-Health" [ngClass]="Health ? 'selected' :''" (click)="applyFilters(3,false,true)">Health <span>{{HealthCount}}</span></button>
                </div>
              </div>

              <div class="dropdown">
                <button class="btn dropdown-toggle filter-toggle-btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i [ngClass]="isDenseView ? 'icon-Rec-Dense': '' "></i>
                  <i [ngClass]="!isListView && !isDenseView ? 'icon icon-grid' :''"></i>
                  <i [ngClass]="isListView && !isDenseView ? 'icon icon-list' :''"></i>
                </button>
                <div class="dropdown-menu filter-toggle-btn-menu" aria-labelledby="dropdownMenuButton">
                  <button type="button" id="gridViewTrigger" class="btn icon icon-list" [ngClass]="isListView && !isDenseView ? 'selected' :''" (click)="showListView(true)"> List</button>
                  <button type="button" id="listViewTrigger" class="btn icon icon-grid" [ngClass]="!isListView && !isDenseView ? 'selected' :''" (click)="showListView(false)"> Grid </button>
                  <button type="button" id="denseViewTrigger" class="btn icon icon-Rec-Dense" [ngClass]="isDenseView ? 'selected': '' " (click)="showDenseview(true)"> Dense</button>
                </div>
              </div>
            </div>
          </li>
          <li>
          </li>
          <li>
            <button type="button" *ngIf="!isLoading" (click)="openDiceRollModal()" class="btn icon icon-with-text icon-dice icon-rsi btn-primary">Dice</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- End of toolbar -->
  <!-- Inventory cards -->
  <div class="cards cards-inventory form-row page-item-details" *ngIf="!isLoading" infiniteScroll (scrolled)="onScroll()" [infiniteScrollDistance]="1"
       [infiniteScrollThrottle]="300" [scrollWindow]="true">
    <div class="container">
      <div class="card-list justify-content-center justify-content-lg-start" [ngClass]="{'view-list':isListView, 'dense-list': isDenseView}">
        <p class="text-center py-5 w-100 d-block" *ngIf="noRecordFound">No Monster have been assigned to this character.</p>
        <ng-container *ngFor="let monster of monsterList | filter : searchText : 'name';let i = index;">
          <div class="card-wrapper tooltip1">
            <div class="card" (mousedown)="editRecord(monster)" (mouseup)="clickAndHold(monster)" (mouseleave)="clickAndHold(monster)" [ngClass]="{'card-equip':monster?.addToCombatTracker}">
              <div class="card-image" [ngClass]="{'thumbnail':!isListView, 'thumbnail-list':isListView}">

                <img class="card-img-top portrait" [src]="monster?.imageUrl" [alt]="monster?.imageUrl"
                     onerror="this.src='./assets/images/DefaultImages/monster.jpg';" [routerLink]="['/character/allies-detail', monster?.monsterId]">

                <div class="card-actions show" *ngIf="monster?.showIcon && !isListView">
                  <button type="button" (click)="editMonster(monster)" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-simple-primary"></button>
                  <button *ngIf="isGM_Only" type="button" (click)="duplicateMonster(monster)" title="Duplicate" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
                  <button *ngIf="isGM_Only" type="button" (click)="deleteMonster(monster)" title="Delete" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary"></button>
                  <button type="button" (click)="manageIcon(false)" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary"></button>
                </div>
              </div>


              <div class="card-body" [routerLink]="['/character/allies-detail', monster?.monsterId]">
                <h4 class="card-title">{{monster?.name}}</h4> 
                <ul class="item-properties">
                  <li class="item-property item-property-text weight" *ngIf="monster?.challangeRating">CR: {{monster?.challangeRating}}</li>
                  <li class="item-property item-property-text weight" *ngIf="monster?.armorClass">AC: {{monster?.armorClass}}</li>
                  <li class="item-property item-property-text weight" *ngIf="monster?.healthCurrent || monster?.healthMax">H: {{monster?.healthCurrent}} /  {{monster?.healthMax}}</li>
                </ul>
                <ul class="item-properties " *ngIf="isListView || isDenseView">
                  <li *ngIf="monster?.addToCombatTracker" title="Combat" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Combat icon-ico"></i>
                  </li>
                </ul>
                <ul class="item-properties" *ngIf="!isListView">
                  <li *ngIf="monster?.addToCombatTracker" title="Combat" data-toggle="tooltip">
                    <i class="item-property item-property-icon icon icon-Combat icon-ico"></i>
                  </li>
                </ul>
                <div class="item-stats pl-0" *ngIf="monster?.description" [froalaView]="monster?.monsterTemplate?.description"></div>
              </div>
              <div class="card-actions-trigger" *ngIf="!monster?.showIcon">
                <button type="button" (click)="manageIcon(monster?.monsterId)" title="Manage" data-toggle="tooltip" class="btn icon icon-more btn-simple-primary"></button>
              </div>
              <div class="card-actions show" *ngIf="monster?.showIcon && isListView">
                <button type="button" (click)="editMonster(monster)" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-simple-primary"></button>
                <button *ngIf="isGM_Only" type="button" (click)="duplicateMonster(monster)" title="Duplicate" data-toggle="tooltip" data-action="duplicate" class="btn icon icon-copy icon-rsi btn-simple-primary"></button>
                <button *ngIf="isGM_Only" type="button" (click)="deleteMonster(monster)" title="Delete" data-toggle="tooltip" data-action="delete" class="btn icon icon-trash btn-simple-primary"></button>
                <button type="button" (click)="manageIcon(false)" title="Close" data-toggle="tooltip" data-action="close" class="btn icon icon-cross btn-simple-primary"></button>
              </div>
              <div class="item-actions mobile-buttons">
                <button type="button" (click)="enableCombatTracker(monster)" class="btn btn-accent" [ngClass]="{'icon-Rec-Add':!monster?.addToCombatTracker,'icon-Rec-Remove':monster?.addToCombatTracker}"> COMBAT</button>
                <!--<button *ngIf="monster?.itemsCount" type="button" (click)="dropMonsterItems(monster)" class="btn btn-accent icon-Rec-Drop"> DROP</button>-->
                <button *ngIf="monster?.monsterTemplate?.command" type="button" (click)="useMonster(monster)" class="btn btn-accent icon-Tile-Execute"> ATTACK</button>
              </div>
              <div class="item-actions">
                <button type="button" (click)="enableCombatTracker(monster)" class="btn btn-accent" [ngClass]="{'icon-Rec-Add':!monster?.addToCombatTracker,'icon-Rec-Remove':monster?.addToCombatTracker}"> COMBAT</button>
                <!--<button *ngIf="monster?.itemsCount" type="button" (click)="dropMonsterItems(monster)" class="btn btn-accent icon-Rec-Drop"> DROP</button>-->
                <button *ngIf="monster?.monsterTemplate?.command" type="button" (click)="useMonster(monster)" class="btn btn-accent icon-Tile-Execute"> ATTACK</button>
              </div>
            </div>
            <!--//////////-->
            <div class="top1" *ngIf="!monster.showIcon">
              <!-- Item info -->
              <div class="item-info mb-0" (mousedown)="editRecord(monster)" (mouseup)="clickAndHold(monster)" (mouseleave)="clickAndHold(monster)"
                   [routerLink]="['/character/allies-detail', monster?.monsterId]">
                <div class="container px-0">
                  <div class="item-info-wrapper">
                    <div class="item-info-top-section">
                      <div class="row">
                        <div class="col">
                          <div class="item-info-banner">
                            <div class="item-info-image">
                              <img class="card-img-top" [src]="monster?.imageUrl" [alt]="monster?.name"
                                   onerror="this.src='../assets/images/DefaultImages/monster.jpg';" />
                            </div>
                            <h2 class="item-info-name mb-0">
                              {{monster?.name}}
                            </h2>
                            <div class="item-info-props-indics">
                              <ul class="item-info-props">
                                <li *ngIf="monster?.level">{{monster?.level}} Level</li>
                                <li *ngIf="monster?.challangeRating">CR:{{monster?.challangeRating}}</li>
                                <li *ngIf="monster?.armorClass">AC :{{monster?.armorClass}}</li>
                                <li *ngIf="monster?.healthCurrent">{{monster?.healthCurrent}}/{{monster?.healthMax}}</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-3 align-self-start">
                        <ul class="item-info-indics ml-3 w-100 mt-5 justify-content-start list-unstyled">
                          <li *ngIf="monster?.isEnabled">
                            <i class="icon icon-ico icon-Rec-Enabled"></i>
                          </li>
                          <li *ngIf="monster?.addToCombatTracker">
                            <i class="icon icon-with-text icon-Combat icon-rsi"></i>
                          </li>
                        </ul>
                      </div>
                      <div class="col-9">
                        <div class="item-info-actions ml-0 h-100 w-100">
                          <div class="item-info-bottom-section px-2 pt-3">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="item-info-desc d-block mr-0">
                                  <h3>Description</h3>
                                  <p [froalaView]="monster?.monsterTemplate?.description"></p>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-12 col-md-6">
                                <div class="item-info-stats ml-0">
                                  <h3>Stats</h3>
                                  <p [froalaView]="monster?.monsterTemplate?.stats"></p>
                                </div>
                              </div>
                              <div class="col-12 col-md-6">
                                <div class="item-info-stats mr-0">
                                  <h3>GM Only</h3>
                                  <p [froalaView]="monster?.monsterTemplate?.gmOnly"></p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End of item info -->
            </div>
            <!--////////-->
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <!-- End of inventory cards -->

  <app-loader [isLoading]="isLoading"></app-loader>
  <div class="spinner" *ngIf="scrollLoading">
    <img src="../../../../assets/images/PageLoader.gif" />
  </div>

</div>

