USE [master]
GO
/****** Object:  Database [rpgsmith]    Script Date: 6/22/2018 8:32:18 AM ******/
CREATE DATABASE [rpgsmith]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RPG18062018', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\RPG18062018.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RPG18062018_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\RPG18062018_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [rpgsmith].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [rpgsmith]
GO
USE [rpgsmith]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Abilities]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Abilities](
	[AbilityId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Level] [decimal](18, 2) NOT NULL,
	[Command] [nvarchar](max) NULL,
	[MaxNumberOfUsers] [int] NOT NULL,
	[CurrentNumberOfUsers] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Stats] [nvarchar](max) NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsEnabled] [bit] NOT NULL,
 CONSTRAINT [PK_Abilities] PRIMARY KEY CLUSTERED 
(
	[AbilityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[UpdatedBy] [nvarchar](max) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](50) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](500) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[JobTitle] [nvarchar](150) NULL,
	[FullName] [nvarchar](150) NULL,
	[Configuration] [nvarchar](max) NULL,
	[IsEnabled] [bit] NOT NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[UpdatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[UpdatedDate] [datetime2](7) NOT NULL,
	[ProfileImage] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](50) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Characters]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Characters](
	[CharacterId] [int] IDENTITY(1,1) NOT NULL,
	[CharacterName] [nvarchar](100) NOT NULL,
	[CharacterDescription] [nvarchar](4000) NULL,
	[UserId] [nvarchar](50) NOT NULL,
	[RuleSetId] [int] NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[ThumbnailUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_Characters] PRIMARY KEY CLUSTERED 
(
	[CharacterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CharacterStatCalcs]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterStatCalcs](
	[CharacterStatCalcId] [int] IDENTITY(1,1) NOT NULL,
	[StatCalculation] [nvarchar](500) NOT NULL,
	[CharacterStatId] [int] NOT NULL,
 CONSTRAINT [PK_CharacterStatCalcs] PRIMARY KEY CLUSTERED 
(
	[CharacterStatCalcId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CharacterStatChoices]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterStatChoices](
	[CharacterStatChoiceId] [int] IDENTITY(1,1) NOT NULL,
	[StatChoiceValue] [nvarchar](100) NULL,
	[CharacterStatId] [int] NOT NULL,
 CONSTRAINT [PK_CharacterStatChoices] PRIMARY KEY CLUSTERED 
(
	[CharacterStatChoiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CharacterStats]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterStats](
	[CharacterStatId] [int] IDENTITY(1,1) NOT NULL,
	[RuleSetId] [int] NOT NULL,
	[isActive] [bit] NOT NULL,
	[StatName] [nvarchar](100) NOT NULL,
	[CharacterStatTypeId] [smallint] NOT NULL,
	[StatDesc] [nvarchar](4000) NULL,
	[OwnerId] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[isMultiSelect] [bit] NOT NULL,
	[ParentCharacterStatId] [int] NULL,
	[SortOrder] [smallint] NOT NULL,
 CONSTRAINT [PK_CharacterStats] PRIMARY KEY CLUSTERED 
(
	[CharacterStatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CharacterStatTypes]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharacterStatTypes](
	[CharacterStatTypeId] [smallint] IDENTITY(1,1) NOT NULL,
	[StatTypeName] [nvarchar](255) NOT NULL,
	[StatTypeDesc] [nvarchar](4000) NULL,
	[isNumeric] [bit] NOT NULL,
 CONSTRAINT [PK_CharacterStatTypes] PRIMARY KEY CLUSTERED 
(
	[CharacterStatTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemMaster_Abilities]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMaster_Abilities](
	[ItemMasterId] [int] NOT NULL,
	[AbilityId] [int] NOT NULL,
 CONSTRAINT [PK_ItemMaster_Abilities] PRIMARY KEY CLUSTERED 
(
	[AbilityId] ASC,
	[ItemMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemMaster_Players]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMaster_Players](
	[PlayerId] [nvarchar](50) NOT NULL,
	[ItemMasterId] [int] NOT NULL,
	[isVisable] [bit] NOT NULL,
 CONSTRAINT [PK_ItemMaster_Players] PRIMARY KEY CLUSTERED 
(
	[PlayerId] ASC,
	[ItemMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemMaster_Spells]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMaster_Spells](
	[ItemMasterId] [int] NOT NULL,
	[SpellId] [int] NOT NULL,
 CONSTRAINT [PK_ItemMaster_Spells] PRIMARY KEY CLUSTERED 
(
	[SpellId] ASC,
	[ItemMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemMasters]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemMasters](
	[ItemMasterId] [int] IDENTITY(1,1) NOT NULL,
	[RuleSetId] [int] NOT NULL,
	[ItemName] [nvarchar](255) NOT NULL,
	[ItemImage] [nvarchar](max) NULL,
	[ItemStats] [nvarchar](1024) NULL,
	[ItemVisibleDesc] [nvarchar](4000) NOT NULL,
	[Command] [nvarchar](max) NULL,
	[ItemCalculation] [nvarchar](500) NULL,
	[Value] [decimal](18, 8) NOT NULL,
	[Volume] [decimal](18, 3) NOT NULL,
	[Weight] [decimal](18, 3) NOT NULL,
	[IsContainer] [bit] NOT NULL,
	[ContainerWeightMax] [decimal](18, 3) NOT NULL,
	[ContainerWeightModifier] [decimal](5, 2) NOT NULL,
	[ContainerVolumeMax] [decimal](18, 3) NOT NULL,
	[IsMagical] [bit] NOT NULL,
	[IsConsumable] [bit] NOT NULL,
	[Metatags] [nvarchar](4000) NULL,
	[Rarity] [nvarchar](20) NULL,
 CONSTRAINT [PK_ItemMasters] PRIMARY KEY CLUSTERED 
(
	[ItemMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpenIddictApplications]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpenIddictApplications](
	[ClientId] [nvarchar](450) NOT NULL,
	[ClientSecret] [nvarchar](max) NULL,
	[ConcurrencyToken] [nvarchar](max) NULL,
	[ConsentType] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Id] [nvarchar](450) NOT NULL,
	[Permissions] [nvarchar](max) NULL,
	[PostLogoutRedirectUris] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
	[RedirectUris] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_OpenIddictApplications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpenIddictAuthorizations]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpenIddictAuthorizations](
	[ApplicationId] [nvarchar](450) NULL,
	[ConcurrencyToken] [nvarchar](max) NULL,
	[Id] [nvarchar](450) NOT NULL,
	[Properties] [nvarchar](max) NULL,
	[Scopes] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NOT NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_OpenIddictAuthorizations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpenIddictScopes]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpenIddictScopes](
	[ConcurrencyToken] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[DisplayName] [nvarchar](max) NULL,
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Properties] [nvarchar](max) NULL,
	[Resources] [nvarchar](max) NULL,
 CONSTRAINT [PK_OpenIddictScopes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OpenIddictTokens]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OpenIddictTokens](
	[ApplicationId] [nvarchar](450) NULL,
	[AuthorizationId] [nvarchar](450) NULL,
	[CreationDate] [datetimeoffset](7) NULL,
	[ExpirationDate] [datetimeoffset](7) NULL,
	[ConcurrencyToken] [nvarchar](max) NULL,
	[Id] [nvarchar](450) NOT NULL,
	[Payload] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
	[ReferenceId] [nvarchar](450) NULL,
	[Status] [nvarchar](max) NULL,
	[Subject] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_OpenIddictTokens] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RuleSetGenres]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleSetGenres](
	[RuleSetGenreId] [smallint] IDENTITY(1,1) NOT NULL,
	[GenreName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_RuleSetGenres] PRIMARY KEY CLUSTERED 
(
	[RuleSetGenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RuleSets]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleSets](
	[RuleSetId] [int] IDENTITY(1,1) NOT NULL,
	[RuleSetName] [nvarchar](255) NOT NULL,
	[RuleSetDesc] [nvarchar](4000) NULL,
	[isActive] [bit] NOT NULL,
	[DefaultDice] [nvarchar](255) NULL,
	[CurrencyLabel] [nvarchar](20) NULL,
	[WeightLabel] [nvarchar](20) NULL,
	[DistanceLabel] [nvarchar](20) NULL,
	[VolumeLabel] [nvarchar](20) NULL,
	[OwnerId] [nvarchar](50) NOT NULL,
	[CreatedBy] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [nvarchar](50) NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[SortOrder] [int] NULL,
	[RuleSetGenreId] [smallint] NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[IsCoreContent] [bit] NULL,
	[ParentRuleSetId] [int] NULL,
	[ThumbnailUrl] [nvarchar](max) NULL,
 CONSTRAINT [PK_RuleSets] PRIMARY KEY CLUSTERED 
(
	[RuleSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Spells]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Spells](
	[SpellId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[School] [nvarchar](255) NOT NULL,
	[Class] [nvarchar](255) NOT NULL,
	[Levels] [nvarchar](255) NOT NULL,
	[Command] [nvarchar](max) NULL,
	[MaterialComponent] [nvarchar](max) NULL,
	[IsSomaticComponent] [bit] NOT NULL,
	[IsVerbalComponent] [bit] NOT NULL,
	[CastingTime] [decimal](18, 3) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Stats] [nvarchar](max) NULL,
	[HitEffect] [ntext] NULL,
	[MissEffect] [ntext] NULL,
	[EffectDescription] [ntext] NULL,
	[ShouldCast] [bit] NOT NULL,
	[ImageUrl] [nvarchar](255) NULL,
	[Memorized] [bit] NOT NULL,
 CONSTRAINT [PK_Spells] PRIMARY KEY CLUSTERED 
(
	[SpellId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users_RuleSets]    Script Date: 6/22/2018 8:32:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_RuleSets](
	[UserId] [nvarchar](50) NOT NULL,
	[RuleSetId] [int] NOT NULL,
 CONSTRAINT [PK_Users_RuleSets] PRIMARY KEY CLUSTERED 
(
	[RuleSetId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180523183213_InitialModels', N'2.1.0-rtm-30799')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180523183651_UpdateModels', N'2.1.0-rtm-30799')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20180525071451_Add_CharacterModel', N'2.1.0-rtm-30799')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp], [Description], [CreatedBy], [UpdatedBy], [CreatedDate], [UpdatedDate]) VALUES (N'009b9335-143e-4d54-912d-c0579df1f2cf', N'user', N'USER', N'67d31eb3-27ab-4f0c-aa9f-05ce1c8ffbd2', N'Default user', NULL, NULL, CAST(N'2018-05-17T00:06:40.0000000' AS DateTime2), CAST(N'2018-05-17T00:06:40.0000000' AS DateTime2))
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'979685ce-6883-4d19-bd83-3149913448e2', N'009b9335-143e-4d54-912d-c0579df1f2cf')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b9312e10-cc79-4ab0-aa6e-d3753a44eee6', N'009b9335-143e-4d54-912d-c0579df1f2cf')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'bb9446df-cded-4b81-9946-7a7cd824c213', N'009b9335-143e-4d54-912d-c0579df1f2cf')
SET IDENTITY_INSERT [dbo].[Characters] ON 

INSERT [dbo].[Characters] ([CharacterId], [CharacterName], [CharacterDescription], [UserId], [RuleSetId], [ImageUrl], [ThumbnailUrl]) VALUES (1, N'Zarruth', NULL, N'979685ce-6883-4d19-bd83-3149913448e2', 5, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Characters] OFF
SET IDENTITY_INSERT [dbo].[ItemMasters] ON 

INSERT [dbo].[ItemMasters] ([ItemMasterId], [RuleSetId], [ItemName], [ItemImage], [ItemStats], [ItemVisibleDesc], [Command], [ItemCalculation], [Value], [Volume], [Weight], [IsContainer], [ContainerWeightMax], [ContainerWeightModifier], [ContainerVolumeMax], [IsMagical], [IsConsumable], [Metatags], [Rarity]) VALUES (1, 8, N'1', NULL, N'3', N'3434', N'45', NULL, CAST(34.00000000 AS Decimal(18, 8)), CAST(34.000 AS Decimal(18, 3)), CAST(4.000 AS Decimal(18, 3)), 0, CAST(0.000 AS Decimal(18, 3)), CAST(0.00 AS Decimal(5, 2)), CAST(0.000 AS Decimal(18, 3)), 0, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[ItemMasters] OFF
INSERT [dbo].[OpenIddictAuthorizations] ([ApplicationId], [ConcurrencyToken], [Id], [Properties], [Scopes], [Status], [Subject], [Type]) VALUES (NULL, N'36e59609-0f27-432e-b3e3-fdd423a00cac', N'00ec1a35-c597-4466-9701-cf30a5ab367e', NULL, N'["openid","offline_access"]', N'valid', N'b9312e10-cc79-4ab0-aa6e-d3753a44eee6', N'ad-hoc')
INSERT [dbo].[OpenIddictAuthorizations] ([ApplicationId], [ConcurrencyToken], [Id], [Properties], [Scopes], [Status], [Subject], [Type]) VALUES (NULL, N'fddb460d-763e-4207-9fca-27a3ce99b38b', N'00f8ba6b-9fa8-4d38-98ba-ba4fee85f0db', NULL, N'["openid","offline_access"]', N'valid', N'979685ce-6883-4d19-bd83-3149913448e2', N'ad-hoc')
INSERT [dbo].[OpenIddictAuthorizations] ([ApplicationId], [ConcurrencyToken], [Id], [Properties], [Scopes], [Status], [Subject], [Type]) VALUES (NULL, N'2e74ebd8-e8a7-42a6-b30f-739cbdc6c290', N'1112b529-9f1d-4b36-a53c-26780bf83112', NULL, N'["openid","offline_access"]', N'valid', N'b9312e10-cc79-4ab0-aa6e-d3753a44eee6', N'ad-hoc')
INSERT [dbo].[OpenIddictTokens] ([ApplicationId], [AuthorizationId], [CreationDate], [ExpirationDate], [ConcurrencyToken], [Id], [Payload], [Properties], [ReferenceId], [Status], [Subject], [Type]) VALUES (NULL, N'7e3e0f9a-571d-48c3-b696-5ba2fae9f04b', CAST(N'2018-06-19T18:07:23.0000000+00:00' AS DateTimeOffset), CAST(N'2018-07-03T18:07:23.0000000+00:00' AS DateTimeOffset), N'c64ccdf9-0a0f-420e-ad49-0fc21549b04d', N'042f5ffb-c059-4f67-99fe-81ba5702ea4a', NULL, NULL, NULL, N'valid', N'979685ce-6883-4d19-bd83-3149913448e2', N'refresh_token')
INSERT [dbo].[OpenIddictTokens] ([ApplicationId], [AuthorizationId], [CreationDate], [ExpirationDate], [ConcurrencyToken], [Id], [Payload], [Properties], [ReferenceId], [Status], [Subject], [Type]) VALUES (NULL, N'41d45c88-ee7e-4fa6-99b1-2ba7871bedab', CAST(N'2018-06-21T16:20:12.0000000+00:00' AS DateTimeOffset), CAST(N'2018-07-05T16:20:12.0000000+00:00' AS DateTimeOffset), N'6579d9a7-756a-4e81-8058-1f57eab9d1ec', N'057dc8f6-79b4-437b-8384-421ac9ff0373', NULL, NULL, NULL, N'valid', N'979685ce-6883-4d19-bd83-3149913448e2', N'refresh_token')
INSERT [dbo].[OpenIddictTokens] ([ApplicationId], [AuthorizationId], [CreationDate], [ExpirationDate], [ConcurrencyToken], [Id], [Payload], [Properties], [ReferenceId], [Status], [Subject], [Type]) VALUES (NULL, N'6b9d51d1-63cb-4608-9fc5-7ec3bd403821', CAST(N'2018-06-21T17:56:57.0000000+00:00' AS DateTimeOffset), CAST(N'2018-07-05T17:56:57.0000000+00:00' AS DateTimeOffset), N'b2ec38a8-e6ea-4339-9f8d-419ca6869154', N'05ed2c4a-869f-4a39-85d6-9d8dc1571ad4', NULL, NULL, NULL, N'valid', N'979685ce-6883-4d19-bd83-3149913448e2', N'refresh_token')
SET IDENTITY_INSERT [dbo].[RuleSets] ON 

SET IDENTITY_INSERT [dbo].[RuleSets] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [EmailIndex]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Characters_RuleSetId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_Characters_RuleSetId] ON [dbo].[Characters]
(
	[RuleSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UIX_Characters_UserId_CharacterName]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UIX_Characters_UserId_CharacterName] ON [dbo].[Characters]
(
	[UserId] ASC,
	[CharacterName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CharacterStatCalcs_CharacterStatId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_CharacterStatCalcs_CharacterStatId] ON [dbo].[CharacterStatCalcs]
(
	[CharacterStatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CharacterStatChoices_CharacterStatId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_CharacterStatChoices_CharacterStatId] ON [dbo].[CharacterStatChoices]
(
	[CharacterStatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CharacterStats_CharacterStatTypeId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_CharacterStats_CharacterStatTypeId] ON [dbo].[CharacterStats]
(
	[CharacterStatTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CharacterStats_CreatedBy]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_CharacterStats_CreatedBy] ON [dbo].[CharacterStats]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CharacterStats_ModifiedBy]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_CharacterStats_ModifiedBy] ON [dbo].[CharacterStats]
(
	[ModifiedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_CharacterStats_OwnerId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_CharacterStats_OwnerId] ON [dbo].[CharacterStats]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CharacterStats_ParentCharacterStatId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_CharacterStats_ParentCharacterStatId] ON [dbo].[CharacterStats]
(
	[ParentCharacterStatId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CharacterStats_RuleSetId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_CharacterStats_RuleSetId] ON [dbo].[CharacterStats]
(
	[RuleSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemMaster_Abilities_ItemMasterId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemMaster_Abilities_ItemMasterId] ON [dbo].[ItemMaster_Abilities]
(
	[ItemMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemMaster_Players_ItemMasterId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemMaster_Players_ItemMasterId] ON [dbo].[ItemMaster_Players]
(
	[ItemMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemMaster_Spells_ItemMasterId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemMaster_Spells_ItemMasterId] ON [dbo].[ItemMaster_Spells]
(
	[ItemMasterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ItemMasters_RuleSetId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_ItemMasters_RuleSetId] ON [dbo].[ItemMasters]
(
	[RuleSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OpenIddictApplications_ClientId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OpenIddictApplications_ClientId] ON [dbo].[OpenIddictApplications]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OpenIddictAuthorizations_ApplicationId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_OpenIddictAuthorizations_ApplicationId] ON [dbo].[OpenIddictAuthorizations]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OpenIddictScopes_Name]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OpenIddictScopes_Name] ON [dbo].[OpenIddictScopes]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OpenIddictTokens_ApplicationId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_OpenIddictTokens_ApplicationId] ON [dbo].[OpenIddictTokens]
(
	[ApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OpenIddictTokens_AuthorizationId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_OpenIddictTokens_AuthorizationId] ON [dbo].[OpenIddictTokens]
(
	[AuthorizationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_OpenIddictTokens_ReferenceId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_OpenIddictTokens_ReferenceId] ON [dbo].[OpenIddictTokens]
(
	[ReferenceId] ASC
)
WHERE ([ReferenceId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RuleSets_CreatedBy]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_RuleSets_CreatedBy] ON [dbo].[RuleSets]
(
	[CreatedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RuleSets_ModifiedBy]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_RuleSets_ModifiedBy] ON [dbo].[RuleSets]
(
	[ModifiedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RuleSets_OwnerId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_RuleSets_OwnerId] ON [dbo].[RuleSets]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RuleSets_ParentRuleSetId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_RuleSets_ParentRuleSetId] ON [dbo].[RuleSets]
(
	[ParentRuleSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RuleSets_RuleSetGenreId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_RuleSets_RuleSetGenreId] ON [dbo].[RuleSets]
(
	[RuleSetGenreId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Users_RuleSets_UserId]    Script Date: 6/22/2018 8:32:19 AM ******/
CREATE NONCLUSTERED INDEX [IX_Users_RuleSets_UserId] ON [dbo].[Users_RuleSets]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD  CONSTRAINT [FK_Characters_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Characters] CHECK CONSTRAINT [FK_Characters_AspNetUsers]
GO
ALTER TABLE [dbo].[Characters]  WITH CHECK ADD  CONSTRAINT [FK_Characters_RuleSets] FOREIGN KEY([RuleSetId])
REFERENCES [dbo].[RuleSets] ([RuleSetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Characters] CHECK CONSTRAINT [FK_Characters_RuleSets]
GO
ALTER TABLE [dbo].[CharacterStatCalcs]  WITH CHECK ADD  CONSTRAINT [FK_CharacterStatCalcs_CharacterStats_CharacterStatId] FOREIGN KEY([CharacterStatId])
REFERENCES [dbo].[CharacterStats] ([CharacterStatId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CharacterStatCalcs] CHECK CONSTRAINT [FK_CharacterStatCalcs_CharacterStats_CharacterStatId]
GO
ALTER TABLE [dbo].[CharacterStatChoices]  WITH CHECK ADD  CONSTRAINT [FK_CharacterStatChoices_CharacterStats_CharacterStatId] FOREIGN KEY([CharacterStatId])
REFERENCES [dbo].[CharacterStats] ([CharacterStatId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CharacterStatChoices] CHECK CONSTRAINT [FK_CharacterStatChoices_CharacterStats_CharacterStatId]
GO
ALTER TABLE [dbo].[CharacterStats]  WITH CHECK ADD  CONSTRAINT [FK_CharacterStats_AspNetUsers_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CharacterStats] CHECK CONSTRAINT [FK_CharacterStats_AspNetUsers_CreatedBy]
GO
ALTER TABLE [dbo].[CharacterStats]  WITH CHECK ADD  CONSTRAINT [FK_CharacterStats_AspNetUsers_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[CharacterStats] CHECK CONSTRAINT [FK_CharacterStats_AspNetUsers_ModifiedBy]
GO
ALTER TABLE [dbo].[CharacterStats]  WITH CHECK ADD  CONSTRAINT [FK_CharacterStats_AspNetUsers_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CharacterStats] CHECK CONSTRAINT [FK_CharacterStats_AspNetUsers_OwnerId]
GO
ALTER TABLE [dbo].[CharacterStats]  WITH CHECK ADD  CONSTRAINT [FK_CharacterStats_CharacterStats_ParentCharacterStatId] FOREIGN KEY([ParentCharacterStatId])
REFERENCES [dbo].[CharacterStats] ([CharacterStatId])
GO
ALTER TABLE [dbo].[CharacterStats] CHECK CONSTRAINT [FK_CharacterStats_CharacterStats_ParentCharacterStatId]
GO
ALTER TABLE [dbo].[CharacterStats]  WITH CHECK ADD  CONSTRAINT [FK_CharacterStats_CharacterStatTypes_CharacterStatTypeId] FOREIGN KEY([CharacterStatTypeId])
REFERENCES [dbo].[CharacterStatTypes] ([CharacterStatTypeId])
GO
ALTER TABLE [dbo].[CharacterStats] CHECK CONSTRAINT [FK_CharacterStats_CharacterStatTypes_CharacterStatTypeId]
GO
ALTER TABLE [dbo].[CharacterStats]  WITH CHECK ADD  CONSTRAINT [FK_CharacterStats_RuleSets_RuleSetId] FOREIGN KEY([RuleSetId])
REFERENCES [dbo].[RuleSets] ([RuleSetId])
GO
ALTER TABLE [dbo].[CharacterStats] CHECK CONSTRAINT [FK_CharacterStats_RuleSets_RuleSetId]
GO
ALTER TABLE [dbo].[ItemMaster_Abilities]  WITH CHECK ADD  CONSTRAINT [FK_ItemMaster_Abilities_Abilities_AbilityId] FOREIGN KEY([AbilityId])
REFERENCES [dbo].[Abilities] ([AbilityId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemMaster_Abilities] CHECK CONSTRAINT [FK_ItemMaster_Abilities_Abilities_AbilityId]
GO
ALTER TABLE [dbo].[ItemMaster_Abilities]  WITH CHECK ADD  CONSTRAINT [FK_ItemMaster_Abilities_ItemMasters_ItemMasterId] FOREIGN KEY([ItemMasterId])
REFERENCES [dbo].[ItemMasters] ([ItemMasterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemMaster_Abilities] CHECK CONSTRAINT [FK_ItemMaster_Abilities_ItemMasters_ItemMasterId]
GO
ALTER TABLE [dbo].[ItemMaster_Players]  WITH CHECK ADD  CONSTRAINT [FK_ItemMaster_Players_AspNetUsers_PlayerId] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[ItemMaster_Players] CHECK CONSTRAINT [FK_ItemMaster_Players_AspNetUsers_PlayerId]
GO
ALTER TABLE [dbo].[ItemMaster_Players]  WITH CHECK ADD  CONSTRAINT [FK_ItemMaster_Players_ItemMasters_ItemMasterId] FOREIGN KEY([ItemMasterId])
REFERENCES [dbo].[ItemMasters] ([ItemMasterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemMaster_Players] CHECK CONSTRAINT [FK_ItemMaster_Players_ItemMasters_ItemMasterId]
GO
ALTER TABLE [dbo].[ItemMaster_Spells]  WITH CHECK ADD  CONSTRAINT [FK_ItemMaster_Spells_ItemMasters_ItemMasterId] FOREIGN KEY([ItemMasterId])
REFERENCES [dbo].[ItemMasters] ([ItemMasterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemMaster_Spells] CHECK CONSTRAINT [FK_ItemMaster_Spells_ItemMasters_ItemMasterId]
GO
ALTER TABLE [dbo].[ItemMaster_Spells]  WITH CHECK ADD  CONSTRAINT [FK_ItemMaster_Spells_Spells_SpellId] FOREIGN KEY([SpellId])
REFERENCES [dbo].[Spells] ([SpellId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemMaster_Spells] CHECK CONSTRAINT [FK_ItemMaster_Spells_Spells_SpellId]
GO
ALTER TABLE [dbo].[ItemMasters]  WITH CHECK ADD  CONSTRAINT [FK_ItemMasters_RuleSets_RuleSetId] FOREIGN KEY([RuleSetId])
REFERENCES [dbo].[RuleSets] ([RuleSetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ItemMasters] CHECK CONSTRAINT [FK_ItemMasters_RuleSets_RuleSetId]
GO
ALTER TABLE [dbo].[OpenIddictAuthorizations]  WITH CHECK ADD  CONSTRAINT [FK_OpenIddictAuthorizations_OpenIddictApplications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[OpenIddictApplications] ([Id])
GO
ALTER TABLE [dbo].[OpenIddictAuthorizations] CHECK CONSTRAINT [FK_OpenIddictAuthorizations_OpenIddictApplications_ApplicationId]
GO
ALTER TABLE [dbo].[OpenIddictTokens]  WITH CHECK ADD  CONSTRAINT [FK_OpenIddictTokens_OpenIddictApplications_ApplicationId] FOREIGN KEY([ApplicationId])
REFERENCES [dbo].[OpenIddictApplications] ([Id])
GO
ALTER TABLE [dbo].[OpenIddictTokens] CHECK CONSTRAINT [FK_OpenIddictTokens_OpenIddictApplications_ApplicationId]
GO
ALTER TABLE [dbo].[OpenIddictTokens]  WITH CHECK ADD  CONSTRAINT [FK_OpenIddictTokens_OpenIddictAuthorizations_AuthorizationId] FOREIGN KEY([AuthorizationId])
REFERENCES [dbo].[OpenIddictAuthorizations] ([Id])
GO
ALTER TABLE [dbo].[OpenIddictTokens] CHECK CONSTRAINT [FK_OpenIddictTokens_OpenIddictAuthorizations_AuthorizationId]
GO
ALTER TABLE [dbo].[RuleSets]  WITH CHECK ADD  CONSTRAINT [FK_RuleSets_AspNetUsers_CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[RuleSets] CHECK CONSTRAINT [FK_RuleSets_AspNetUsers_CreatedBy]
GO
ALTER TABLE [dbo].[RuleSets]  WITH CHECK ADD  CONSTRAINT [FK_RuleSets_AspNetUsers_ModifiedBy] FOREIGN KEY([ModifiedBy])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[RuleSets] CHECK CONSTRAINT [FK_RuleSets_AspNetUsers_ModifiedBy]
GO
ALTER TABLE [dbo].[RuleSets]  WITH CHECK ADD  CONSTRAINT [FK_RuleSets_AspNetUsers_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RuleSets] CHECK CONSTRAINT [FK_RuleSets_AspNetUsers_OwnerId]
GO
ALTER TABLE [dbo].[RuleSets]  WITH CHECK ADD  CONSTRAINT [FK_RuleSets_RuleSetGenres_RuleSetGenreId] FOREIGN KEY([RuleSetGenreId])
REFERENCES [dbo].[RuleSetGenres] ([RuleSetGenreId])
GO
ALTER TABLE [dbo].[RuleSets] CHECK CONSTRAINT [FK_RuleSets_RuleSetGenres_RuleSetGenreId]
GO
ALTER TABLE [dbo].[RuleSets]  WITH CHECK ADD  CONSTRAINT [FK_RuleSets_RuleSets_ParentRuleSetId] FOREIGN KEY([ParentRuleSetId])
REFERENCES [dbo].[RuleSets] ([RuleSetId])
GO
ALTER TABLE [dbo].[RuleSets] CHECK CONSTRAINT [FK_RuleSets_RuleSets_ParentRuleSetId]
GO
ALTER TABLE [dbo].[Users_RuleSets]  WITH CHECK ADD  CONSTRAINT [FK_Users_RuleSets_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[Users_RuleSets] CHECK CONSTRAINT [FK_Users_RuleSets_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Users_RuleSets]  WITH CHECK ADD  CONSTRAINT [FK_Users_RuleSets_RuleSets_RuleSetId] FOREIGN KEY([RuleSetId])
REFERENCES [dbo].[RuleSets] ([RuleSetId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users_RuleSets] CHECK CONSTRAINT [FK_Users_RuleSets_RuleSets_RuleSetId]
GO
USE [master]
GO
