.form-check{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.modal-footer {
    padding: 12px 15px 10px;
    border-top: 1px solid #dedbda;
}

.modal-footer .btn {
    margin-top: 0px !important;
}
