<div class="page-item-details">
  <!-- Toolbar -->
  <div class="page-toolbar">
    <div class="container">
      <div class="page-toolbar-wrapper">
        <div class="page-toolbar-title">
          <!--<a (click)="RedirectBack()" class="icon icon-back"></a>-->
          <!--<h1>Ability Details</h1>-->
          <!--<h1>Back</h1>-->
          <a (click)="RedirectBack()" class="icon icon-back">
            <h1 class="d-inline-block"> Back</h1>
          </a>
        </div>
        <!--<div class="page-toolbar-wrapper-toggle-trigger">
            <button type="button" class="btn icon icon-with-text btn-accent btn-block" (click)="showActionButtons(showActions)"
                    [ngClass]="{'icon-arrow-up' : showActions,  'icon-arrow-down' : !showActions}">
                {{actionText}}
            </button>
        </div>-->
        <div class="page-toolbar-wrapper initial show recordes-menu">
          <!-- Toolbar links -->
          <!--if !GM-->
          <ul class="page-toolbar-links" *ngIf="!isLoading && !IsGm">
            <li *ngIf="AbilityDetail?.ruleset" class="hidden-tab">
              <a *ngIf="!IsGm" [routerLink]="['/ruleset/dashboard/', ruleSetId]" class="btn btn-link-primary nav-redirection">Layouts</a>
              <a *ngIf="IsGm" [routerLink]="['/ruleset/campaign-dashboard/', ruleSetId]" class="btn btn-link-primary nav-redirection">Layouts</a>
            </li>
            <li (click)="Redirect('/ruleset/item-master/')" class="hidden-tab" *ngIf="AbilityDetail?.ruleset?.isItemEnabled">
              <a [routerLink]="['/ruleset/item-master/', ruleSetId]" class="btn btn-link-primary nav-redirection icon-Gen-Items"> <span>Item Templates</span></a>
            </li>
            <li *ngIf="AbilityDetail?.ruleset?.isSpellEnabled" (click)="Redirect('/ruleset/spell/')" class="hidden-tab">
              <a [routerLink]="['/ruleset/spell/', ruleSetId]" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> <span>Spells</span></a>
            </li>
            <li *ngIf="AbilityDetail?.ruleset?.isAbilityEnabled" (click)="Redirect('/ruleset/ability/')" class="hidden-tab crsr-pointer">
              <a [routerLink]="['/ruleset/ability/', ruleSetId]" class="btn btn-link-primary nav-redirection selected icon-Gen-Ability"> <span>Abilities</span></a>
            </li>
            <li *ngIf="AbilityDetail?.ruleset?.isBuffAndEffectEnabled" (click)="Redirect('/ruleset/buff-effect/')" class="hidden-tab">
              <a [routerLink]="['/ruleset/buff-effect/', ruleSetId]" class="btn btn-link-primary nav-redirection icon-BnE"> <span>Buffs/Effects</span></a>
            </li>
            <li class="hidden-tab" *ngIf="AbilityDetail?.ruleset">
              <a [routerLink]="['/ruleset/character-stats/', ruleSetId]" class="btn btn-link-primary nav-redirection icon-Gen-CharStat"> <span>Character Stats</span></a>
            </li>
            <li class="visible-tab mt-0">
              <div class="dropdown dropdown-buttons" [ngClass]="{'show': isDropdownOpen}">
                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-primary dropdown-toggle is-show">Records</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger" *ngIf="isDropdownOpen">
                  <ul class="dropdown-menu-list" *ngIf="!isLoading">
                    <li *ngIf="AbilityDetail?.ruleset" class="dropdown-menu-item">
                      <a *ngIf="!IsGm" [routerLink]="['/ruleset/dashboard/', ruleSetId]" class="btn btn-link-primary nav-redirection">Layouts</a>
                      <a *ngIf="IsGm" [routerLink]="['/ruleset/campaign-dashboard/', ruleSetId]" class="btn btn-link-primary nav-redirection">Layouts</a>
                    </li>
                    <li class="dropdown-menu-item" *ngIf="AbilityDetail?.ruleset">
                      <a [routerLink]="charNav?.items" class="btn btn-link-primary nav-redirection  icon-Gen-Items"> Inventory</a>
                    </li>
                    <li class="dropdown-menu-item" *ngIf="AbilityDetail?.ruleset?.isSpellEnabled">
                      <a [routerLink]="charNav?.spells" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> Spells</a>
                    </li>
                    <li class="dropdown-menu-item crsr-pointer" *ngIf="AbilityDetail?.ruleset?.isAbilityEnabled">
                      <a [routerLink]="charNav?.abilities" class="btn btn-link-primary nav-redirection selected icon-Gen-Ability"> Abilities</a>
                    </li>
                    <li class="dropdown-menu-item" *ngIf="AbilityDetail?.ruleset?.isBuffAndEffectEnabled">
                      <a [routerLink]="['/ruleset/buff-effect/', ruleSetId]" class="btn btn-link-primary nav-redirection icon-BnE"> Buffs/Effects</a>
                    </li>

                    <li class="dropdown-menu-item" *ngIf="AbilityDetail?.ruleset">
                      <a [routerLink]="['/character/character-stats/', characterId]" class="btn btn-link-primary nav-redirection icon-Gen-CharStat"> Character Stats</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>

          <!--if GM-->
          <ul class="page-toolbar-links" *ngIf="!isLoading && IsGm">
            <li (click)="Redirect('/ruleset/monster/')" class="hidden-tab show-first-child" *ngIf="AbilityDetail?.ruleset">
              <a [routerLink]="['/ruleset/monster/', ruleSetId]" class="btn btn-link-primary nav-redirection icon icon-Monster"> <span>Monsters</span></a>
            </li>
            <li *ngIf="AbilityDetail?.ruleset?.isSpellEnabled" (click)="Redirect('/ruleset/spell/')" class="hidden-tab">
              <a [routerLink]="['/ruleset/spell/', ruleSetId]" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> <span>Spells</span></a>
            </li>
            <li *ngIf="AbilityDetail?.ruleset?.isAbilityEnabled" (click)="Redirect('/ruleset/ability/')" class="hidden-tab crsr-pointer">
              <a [routerLink]="['/ruleset/ability/', ruleSetId]" class="btn btn-link-primary nav-redirection selected icon-Gen-Ability"> <span>Abilities</span></a>
            </li>
            <li class="hidden-tab" *ngIf="AbilityDetail?.ruleset?.isBuffAndEffectEnabled">
              <a [routerLink]="['/ruleset/buff-effect/', ruleSetId]" class="btn btn-link-primary nav-redirection icon-BnE"> <span>Buffs/Effects</span></a>
            </li>
            <li class="hidden-tab" *ngIf="AbilityDetail?.ruleset?.isItemEnabled">
              <a [routerLink]="['/ruleset/loot/', ruleSetId]" class="btn btn-link-primary nav-redirection icon-Gen-Pouch"> <span>Loot</span></a>
            </li>
            <li class="visible-tab mt-0">
              <div class="dropdown dropdown-buttons" [ngClass]="{'show': isDropdownOpen}">
                <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-primary dropdown-toggle is-show">Records</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger" *ngIf="isDropdownOpen">
                  <ul class="dropdown-menu-list" *ngIf="!isLoading">
                    <li class="dropdown-menu-item" *ngIf="AbilityDetail?.ruleset">
                      <a [routerLink]="['/ruleset/monster/', ruleSetId]" class="btn btn-link-primary nav-redirection icon icon-Monster"> Monsters</a>
                    </li>
                    <li class="dropdown-menu-item" *ngIf="AbilityDetail?.ruleset?.isSpellEnabled">
                      <a [routerLink]="charNav?.spells" class="btn btn-link-primary nav-redirection icon-Rec-Magical"> Spells</a>
                    </li>
                    <li class="dropdown-menu-item crsr-pointer" *ngIf="AbilityDetail?.ruleset?.isAbilityEnabled">
                      <a [routerLink]="charNav?.abilities" class="btn btn-link-primary nav-redirection selected icon-Gen-Ability"> Abilities</a>
                    </li>
                    <li class="dropdown-menu-item" *ngIf="AbilityDetail?.ruleset?.isBuffAndEffectEnabled">
                      <a [routerLink]="['/ruleset/buff-effect/', ruleSetId]" class="btn btn-link-primary nav-redirection icon-BnE"> Buffs/Effects</a>
                    </li>
                    <li class="dropdown-menu-item" *ngIf="AbilityDetail?.ruleset?.isItemEnabled">
                      <a [routerLink]="['/ruleset/loot/', ruleSetId]" class="btn btn-link-primary nav-redirection icon-Gen-Pouch"> Loot</a>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
          <!-- End of toolbar links -->
          <!-- Toolbar actions -->
          <ul class="page-toolbar-actions" *ngIf="!isLoading">
            <!--<li>
                <button type="button" id="manageTilesTrigger" class="btn btn-outline-primary">Manage Tiles1</button>
            </li>-->
            <li>
              <!-- Manage item -->
              <div class="dropdown dropdown-buttons">
                <button type="button" id="manageItemTrigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle is-show icon-Gen-Edit"> Manage Ability</button>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger">
                  <ul class="dropdown-menu-list">
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="editAbility(AbilityDetail)" class="btn icon icon-with-text icon-pencil btn-accent"> Edit</button>
                    </li>
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="duplicateAbility(AbilityDetail)" class="btn icon icon-with-text icon-copy icon-rsi btn-accent"> Duplicate</button>
                    </li>
                    <li class="dropdown-menu-item">
                      <button type="button" (click)="deleteAbility(AbilityDetail)" class="btn icon icon-with-text icon-trash btn-accent"> Delete</button>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- Manage item -->
            </li>
            <li>
              <button type="button" *ngIf="IsGm && !isLoading" (click)="openDiceRollModal()" class="btn icon icon-with-text icon-dice icon-rsi btn-primary">Dice</button>
            </li>
          </ul>
          <!-- End of toolbar actions -->
        </div>
        <!-- Toolbar actions -->
        <ul class="page-toolbar-actions web-view" *ngIf="!isLoading">
          <!--<li>
              <button type="button" id="manageTilesTrigger" class="btn btn-outline-primary">Manage Tiles</button>
          </li>-->
          <li>
            <!-- Manage item -->
            <div class="dropdown dropdown-buttons">
              <button type="button" id="manageItemTrigger" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-primary dropdown-toggle icon-Gen-Edit"> Manage Ability</button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="newItemTrigger">
                <ul class="dropdown-menu-list">
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="editAbility(AbilityDetail)" class="btn icon icon-with-text icon-pencil btn-accent"> Edit</button>
                  </li>
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="duplicateAbility(AbilityDetail)" class="btn icon icon-with-text icon-copy icon-rsi btn-accent"> Duplicate</button>
                  </li>
                  <li class="dropdown-menu-item">
                    <button type="button" (click)="deleteAbility(AbilityDetail)" class="btn icon icon-with-text icon-trash btn-accent"> Delete</button>
                  </li>
                </ul>
              </div>
            </div>
            <!-- Manage item -->
          </li>
          <li>
            <button type="button" *ngIf="IsGm && !isLoading" (click)="openDiceRollModal()" class="btn icon icon-with-text icon-dice icon-rsi btn-primary">Dice</button>
          </li>
        </ul>
        <!-- End of toolbar actions -->
      </div>
    </div>
  </div>
  <!-- End of toolbar -->
  <!-- Item info -->
  <div class="item-info" *ngIf="!isLoading">
    <div class="container">
      <div class="item-info-wrapper">
        <div class="item-info-top-section">
          <div class="row">
            <div class="col">
              <div class="item-info-banner">
                <div class="item-info-image">
                  <img class="card-img-top" [src]="AbilityDetail?.imageUrl" [alt]="AbilityDetail?.name"
                       onerror="this.src='../assets/images/DefaultImages/ability.jpg';" #imgref (click)="ViewImage(imgref)" />
                </div>
                <h2 class="item-info-name">
                  {{AbilityDetail?.name}}
                </h2>
                <div class="item-info-props-indics">
                  <ul class="item-info-props">
                    <li *ngIf="AbilityDetail?.level" popover="{{AbilityDetail?.level}} Level" triggers="hover" popoverTitle="LEVEL">{{AbilityDetail?.level}} Level</li>
                  </ul>
                  <ul class="item-info-indics">
                    <li *ngIf="AbilityDetail.isEnabled">
                      <i class="icon icon-ico icon-Rec-Enabled"></i>
                    </li>
                  </ul>
                </div>
              </div>
              <ul class="item-info-actions d-none d-md-flex">
                <li>
                  <button type="button" (click)="editAbility(AbilityDetail)" class="btn icon icon-with-text icon-pencil btn-accent"> Edit</button>
                </li>
                <li>
                  <button type="button" (click)="deleteAbility(AbilityDetail)" class="btn icon  icon-with-text icon-trash btn-accent"> Delete</button>
                </li>
                <li>
                  <button type="button" (click)="duplicateAbility(AbilityDetail)" class="btn  icon icon-with-text icon-copy icon-rsi btn-accent"> Duplicate</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="item-info-bottom-section">
          <div class="row">
            <div class="col-md-12">
              <div class="item-info-desc">
                <h3>Description</h3>
                <p [froalaView]="AbilityDetail?.description"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="item-info-stats">
                <h3>Stats</h3>
                <p [froalaView]="AbilityDetail?.stats"></p>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="item-info-stats">
                <h3>Command(s)</h3>
                <!--<p>{{AbilityDetail?.command}}</p>-->
                <table class="table-striped w-100">
                  <tr *ngIf="AbilityDetail?.command">
                    <td class="py-1 px-2 border font-weight-bold">{{AbilityDetail?.commandName}}</td>
                    <td class="py-1 px-2 border">{{AbilityDetail?.command}}</td>
                  </tr>
                  <tr *ngFor="let item of AbilityDetail?.abilityCommandVM; let i = index">
                    <td class="py-1 px-2 border font-weight-bold">{{item?.name}}</td>
                    <td class="py-1 px-2 border">{{item?.command}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="item-info-desc">
                <h3>GM Only</h3>
                <p [froalaView]="AbilityDetail?.gmOnly"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="item-info-tags">
                <h3>Tags</h3>
                <p>{{AbilityDetail?.metatags}}</p>
              </div>
            </div>
          </div>
          <div class="row page-item-details">
            <div class="col-12 col-md-6" *ngIf="AbilityDetail?.abilityBuffAndEffects?.length && AbilityDetail?.ruleset?.isBuffAndEffectEnabled">
              <div class="item-info-abils">
                <h3>Buffs & Effects</h3>
                <div class="form-group output-list output-list-wrap">
                  <ul class="output-list-items1 list-unstyled" *ngIf="AbilityDetail?.abilityBuffAndEffects !== undefined">
                    <li class="output-list-item tooltip1" *ngFor="let rec of AbilityDetail?.abilityBuffAndEffects">
                      <div (click)="GoToRuleBuff(rec.buffAndEffectId)" class="crsr-pointer li-items-hover">
                        <img class="card-img-top" [src]="rec?.buffAndEffect?.imageUrl" [alt]="rec?.buffAndEffect?.name"
                             onerror="this.src='../assets/images/BnE/Def_BnE.jpg';" />
                        <span>{{rec?.buffAndEffect?.name}}</span>
                      </div>
                      <!--//////////-->
                      <div class="top1">
                        <!-- Item info -->
                        <div class="item-info mb-0" [routerLink]="['/ruleset/buff-effect-details', rec?.buffAndEffectId]">
                          <div class="container px-0">
                            <div class="item-info-wrapper">
                              <div class="item-info-top-section">
                                <div class="row">
                                  <div class="col">
                                    <div class="item-info-banner">
                                      <div class="item-info-image">
                                        <img class="card-img-top" [src]="rec?.buffAndEffect?.imageUrl" [alt]="rec?.buffAndEffect?.name"
                                             onerror="this.src='../assets/images/BnE/Def_BnE.jpg';" />
                                      </div>
                                      <h2 class="item-info-name mb-0">
                                        {{rec?.buffAndEffect?.name}}
                                      </h2>
                                      <div class="item-info-props-indics">
                                        <ul class="item-info-props">
                                          <li *ngIf="rec?.buffAndEffect?.level">{{rec?.buffAndEffect?.level}} Level</li>
                                        </ul>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-3 align-self-start">
                                  <ul class="item-info-indics ml-3 w-100 mt-5 justify-content-start list-unstyled">
                                    <li *ngIf="rec?.buffAndEffect?.isEnabled">
                                      <i class="icon icon-ico icon-Rec-Enabled"></i>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-9">
                                  <div class="item-info-actions ml-0 h-100 w-100">
                                    <div class="item-info-bottom-section px-2 pt-3">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="item-info-desc d-block mr-0">
                                            <h3>Description</h3>
                                            <p [froalaView]="rec?.buffAndEffect?.description"></p>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-12 col-md-6">
                                          <div class="item-info-stats ml-0">
                                            <h3>Stats</h3>
                                            <p [froalaView]="rec?.buffAndEffect?.stats"></p>
                                          </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                          <div class="item-info-stats mr-0">
                                            <h3>GM Only</h3>
                                            <p [froalaView]="rec?.buffAndEffect?.gmOnly"></p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <!-- End of item info -->
                      </div>
                      <!--////////-->
                    </li>
                  </ul>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End of item info -->
  <!-----------
  <div class="tiles row">
      <div class="tile-group tile-group-apperance col-4">
          <div class="tile tile-type-note tile-color-3">
              <h5 class="tile-title">Apperance</h5>
              <div class="tile-body">
                  <div><p>Design is not just what it looks like and feels like. Design is how it works.</p><p>Good design is making something intelligible and memorable. Great design is making something memorable and meaningful.</p><p>Pictures, abstract symbols, materials, and colors are among the ingredients with which a designer or engineer works. To design is to discover relationships and to make arrangements and rearrangements among these ingredients.</p><p>Design must be functional, and functionality must be translated into visual aesthetics without any reliance on gimmicks that have to be explained.</p></div>
              </div>
              <div class="tile-actions">
                  <button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-left" class="btn icon icon-arrow-resize btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-right" class="btn icon icon-arrow-resize btn-primary"></button>
              </div>
          </div>
      </div>

      <div class="tile-group tile-group-bg_story col-4">
          <div class="tile tile-type-note tile-color-6">
              <h5 class="tile-title">Background Story</h5>
              <div class="tile-body">
                  <div><p>Design is a way of life, a point of view. It involves the whole complex of visual communications: talent, creative ability, manual skill, and technical knowledge. Aesthetics and economics, technology and psychology are intrinsically related to the process.</p><p>The critical thing in developing software is not the program, it's the design. It is translating understanding of user needs into something that can be realized as a computer program.</p><p>To design is much more than simply to assemble, to order, or even to edit: it is to add value and meaning, to illuminate, to simplify, to clarify, to modify, to dignify, to dramatize, to persuade, and perhaps even to amuse.</p></div>
              </div>
              <div class="tile-actions">
                  <button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-left" class="btn icon icon-arrow-resize btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-right" class="btn icon icon-arrow-resize btn-primary"></button>
              </div>
          </div>
      </div>

      <div class="tile-group tile-group-seen_in_game col-4">
          <div class="tile tile-type-image tile-color-4">
              <h5 class="tile-title">Seen in the game</h5>
              <div class="tile-body">
                  <img src="./assets/images/tiles/clue.jpg" alt="Seen in the game">
              </div>
              <div class="tile-actions">
                  <button type="button" title="Edit" data-toggle="tooltip" data-action="edit" class="btn icon icon-pencil btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-left" class="btn icon icon-arrow-resize btn-primary"></button>
                  <button type="button" title="Resize" data-toggle="tooltip" data-action="resize-right" class="btn icon icon-arrow-resize btn-primary"></button>
              </div>
          </div>
      </div>


  </div>
  ------ -->
</div>

<app-loader [isLoading]="isLoading"></app-loader>
