<div class="email-confirm">

    <table width="100%" style="padding: 0 20px">

        <tr>
            <td align="center" style="padding-top: 1em">
                <a href="https://www.facebook.com/RPG-Smith-1625592264372389" title="RPGSmith">
                <img width="252" height="127" title="RPGSmith" alt="RPGSmith" onerror="this.src='../../../assets/images/logo-full.png'"
                     src="https://lh3.googleusercontent.com/QEifSn90PEjjSZ-5d3yhXoVp6ixxojV6Jo3P_lKUvvBTqxFsWmLjHllW0HrLji6hM5lgEYv3cCuWE_dDo3hzyevV_RyQZf4fA0JRHr7Y6bV0oX9Mjc3O5ZlLKzkF9sfnjkpM_YmNmLJ2SX2MmjwteXop2spQACXtsQgSOM0Sc0K94F-JFC2NcSTHwqTerHPgG-T2PSG2qINGcSdgn2m7AMkq1tSqKds5x1Ovic9auo7NkNomKTgw2WvCsoR96g9TkJRqi-viX38qbJkl3RJySoqycBoSULmZ8WaIb3gMcBM4CJFEHiVZx9a1qfpxibE_iMARM4PdP8GOiGZkqLt4NNI2rs7ojnvpXIagmS0OuUyZtXt8yw0egJWadSM_K3N_vDFE_fPt4I0RU7CDgPlD-UgjvuZ7om7c-448MOtbR4lVqFyGKyYnxxruPwtr966PpXQ3NpQpHmhfMbqSnseYJ512_aeg1ohlKpUhknsSS2WBRhTcfBo14t1f1VEyNOnd8bPx0jEUQhx4euqH8raDO6W7MxOR666SWFAlLiNJdA=w702-h353-no" /></a>
            </td>
        </tr>
        <tr>
            <td>
                <div style="font-size: 1.4em;font-weight: 500" mc:edit="rem_title"><b>Account Verification</b></div>
            </td>
        </tr>

        <tr>
            <td>
                <div style="font-weight: 300" mc:edit="rem_notes">
                Thank You for Signing Up.
                    <p style="padding:2px">Please Confirm Your Email Address by Clicking the Button Below.</p></div>
            </td>
        </tr>

        <tr>
            <td align="center">
                <button type="button" class="btn-login">
                    <a (click)="confirm()" style="text-decoration:none;color:#fff">Confirm</a>
                </button>
            </td>
        </tr>

        <tr>
            <td align="center" style="font-weight: 300;font-size: 0.8em;padding-bottom: 1em">
                Copyright &#169;2018 <a href="https://www.facebook.com/RPG-Smith-1625592264372389" title="RPGSmith" style="text-decoration: none;color: #34AADC;"><span class="RPGSmith" style="color: #D2602A;font-weight: 700;">RPG<b style="color: #000000;font-weight: 700;">&#8226;Smith</b></span></a>, LLC All rights reserved.<br>
                <div class="social" style="padding-top: 1.0em">
                    <a href="https://www.facebook.com/RPG-Smith-1625592264372389" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/facebook.png" border="0" alt="Facebook" /></a>
                    <a href="https://twitter.com/RpgSmith" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/twitter.png" border="0" alt="Twitter" /></a>
                    <a href="https://plus.google.com/u/2/communities/101062066525142446219" target="_blank"><img src="https://cache.addthiscdn.com/icons/v2/thumbs/32x32/google_plusone_share.png" border="0" alt="Google+" /></a>
                </div>
            </td>
        </tr>
    </table>

</div>
